XSPEC_HOME/Supplier/schemas/EDIFACT_D96A/SCHEMA_UN-EDIFACT_D96A_CONTRL^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:sap.com:typesystem:b2b:6:un-edifact:contrl:d.96a" xmlns:nestor="http://sap.com/nestor" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap.com:typesystem:b2b:6:un-edifact:contrl:d.96a">
	<xs:annotation>
		<xs:appinfo>
			<nestor:resourceinfo>
				<nestor:info key="typeSystem" value="UN-EDIFACT"/>
				<nestor:info key="typeSystemVersion" value="3"/>
				<nestor:info key="category" value="Template"/>
				<nestor:info key="rootNode" value="Interchange"/>
				<nestor:info key="responsibleAgencyName" value="UN/ECE (United Nations - Economic Commission for Europe)"/>
				<nestor:info key="responsibleAgencyCode" value="6"/>
				<nestor:info key="messageType" value="CONTRL"/>
				<nestor:info key="messageName" value="Syntax and service report message"/>
			   <nestor:info key="documentNumber" value="/M_CONTRL/S_UCI/D_0020"/>
			</nestor:resourceinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Interchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_UNA" type="S_UNA" minOccurs="0"/>
				<xs:element name="S_UNB" type="S_UNB"/>
				<xs:element name="M_CONTRL" type="M_CONTRL"/>
				<xs:element name="S_UNZ" type="S_UNZ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="C_S001">
		<xs:sequence>
			<xs:element name="D_0001" type="D_0001"/>
			<xs:element name="D_0002" type="D_0002"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S002">
		<xs:sequence>
			<xs:element name="D_0004" type="D_0004"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0008" type="D_0008" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S003">
		<xs:sequence>
			<xs:element name="D_0010" type="D_0010"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0014" type="D_0014" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S004">
		<xs:sequence>
			<xs:element name="D_0017" type="D_0017"/>
			<xs:element name="D_0019" type="D_0019"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S005">
		<xs:sequence>
			<xs:element name="D_0022" type="D_0022"/>
			<xs:element name="D_0025" type="D_0025" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S006">
		<xs:sequence>
			<xs:element name="D_0040" type="D_0040"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S007">
		<xs:sequence>
			<xs:element name="D_0044" type="D_0044"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S009">
		<xs:sequence>
			<xs:element name="D_0065" type="D_0065"/>
			<xs:element name="D_0052" type="D_0052"/>
			<xs:element name="D_0054" type="D_0054"/>
			<xs:element name="D_0051" type="D_0051"/>
			<xs:element name="D_0057" type="D_0057" minOccurs="0"/>
			<xs:element name="D_0110" type="D_0110" minOccurs="0"/>
			<xs:element name="D_0113" type="D_0113" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S010">
		<xs:sequence>
			<xs:element name="D_0070" type="D_0070"/>
			<xs:element name="D_0073" type="D_0073"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S011">
		<xs:sequence>
			<xs:element name="D_0098" type="D_0098"/>
			<xs:element name="D_0104" type="D_0104" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S016">
		<xs:sequence>
			<xs:element name="D_0115" type="D_0115"/>
			<xs:element name="D_0116" type="D_0116" minOccurs="0"/>
			<xs:element name="D_0118" type="D_0118" minOccurs="0"/>
			<xs:element name="D_0051" type="D_0051" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S017">
		<xs:sequence>
			<xs:element name="D_0121" type="D_0121"/>
			<xs:element name="D_0122" type="D_0122" minOccurs="0"/>
			<xs:element name="D_0124" type="D_0124" minOccurs="0"/>
			<xs:element name="D_0051" type="D_0051" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S018">
		<xs:sequence>
			<xs:element name="D_0127" type="D_0127"/>
			<xs:element name="D_0128" type="D_0128" minOccurs="0"/>
			<xs:element name="D_0130" type="D_0130" minOccurs="0"/>
			<xs:element name="D_0051" type="D_0051" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G_SG1">
		<xs:sequence>
			<xs:element name="S_UCM" type="S_UCM"/>
			<xs:element name="G_SG2" type="G_SG2" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G_SG2">
		<xs:sequence>
			<xs:element name="S_UCS" type="S_UCS"/>
			<xs:element name="S_UCD" type="S_UCD" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G_SG3">
		<xs:sequence>
			<xs:element name="S_UCF" type="S_UCF"/>
			<xs:element name="G_SG4" type="G_SG4" minOccurs="0" maxOccurs="999999"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G_SG4">
		<xs:sequence>
			<xs:element name="S_UCM" type="S_UCM"/>
			<xs:element name="G_SG5" type="G_SG5" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="G_SG5">
		<xs:sequence>
			<xs:element name="S_UCS" type="S_UCS"/>
			<xs:element name="S_UCD" type="S_UCD" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_CONTRL">
		<xs:sequence>
			<xs:element name="S_UNH" type="S_UNH"/>
			<xs:element name="S_UCI" type="S_UCI"/>
			<xs:element name="G_SG1" type="G_SG1" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="G_SG3" type="G_SG3" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="S_UNT" type="S_UNT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UCD">
		<xs:sequence>
			<xs:element name="D_0085" type="D_0085"/>
			<xs:element name="C_S011" type="C_S011"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UCF">
		<xs:sequence>
			<xs:element name="D_0048" type="D_0048"/>
			<xs:element name="C_S006" type="C_S006"/>
			<xs:element name="C_S007" type="C_S007"/>
			<xs:element name="D_0083" type="D_0083"/>
			<xs:element name="D_0085" type="D_0085" minOccurs="0"/>
			<xs:element name="D_0013" type="D_0013" minOccurs="0"/>
			<xs:element name="C_S011" type="C_S011" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UCI">
		<xs:sequence>
			<xs:element name="D_0020" type="D_0020"/>
			<xs:element name="C_S002" type="C_S002"/>
			<xs:element name="C_S003" type="C_S003"/>
			<xs:element name="D_0083" type="D_0083"/>
			<xs:element name="D_0085" type="D_0085" minOccurs="0"/>
			<xs:element name="D_0013" type="D_0013" minOccurs="0"/>
			<xs:element name="C_S011" type="C_S011" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UCM">
		<xs:sequence>
			<xs:element name="D_0062" type="D_0062"/>
			<xs:element name="C_S009" type="C_S009"/>
			<xs:element name="D_0083" type="D_0083"/>
			<xs:element name="D_0085" type="D_0085" minOccurs="0"/>
			<xs:element name="D_0013" type="D_0013" minOccurs="0"/>
			<xs:element name="C_S011" type="C_S011" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UCS">
		<xs:sequence>
			<xs:element name="D_0096" type="D_0096"/>
			<xs:element name="D_0085" type="D_0085" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNB">
		<xs:sequence>
			<xs:element name="C_S001" type="C_S001"/>
			<xs:element name="C_S002" type="C_S002"/>
			<xs:element name="C_S003" type="C_S003"/>
			<xs:element name="C_S004" type="C_S004"/>
			<xs:element name="D_0020" type="D_0020"/>
			<xs:element name="C_S005" type="C_S005" minOccurs="0"/>
			<xs:element name="D_0026" type="D_0026" minOccurs="0"/>
			<xs:element name="D_0029" type="D_0029" minOccurs="0"/>
			<xs:element name="D_0031" type="D_0031" minOccurs="0"/>
			<xs:element name="D_0032" type="D_0032" minOccurs="0"/>
			<xs:element name="D_0035" type="D_0035" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNH">
		<xs:sequence>
			<xs:element name="D_0062" type="D_0062"/>
			<xs:element name="C_S009" type="C_S009"/>
			<xs:element name="D_0068" type="D_0068" minOccurs="0"/>
			<xs:element name="C_S010" type="C_S010" minOccurs="0"/>
			<xs:element name="C_S016" type="C_S016" minOccurs="0"/>
			<xs:element name="C_S017" type="C_S017" minOccurs="0"/>
			<xs:element name="C_S018" type="C_S018" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNT">
		<xs:sequence>
			<xs:element name="D_0074" type="D_0074"/>
			<xs:element name="D_0062" type="D_0062"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNZ">
		<xs:sequence>
			<xs:element name="D_0036" type="D_0036"/>
			<xs:element name="D_0020" type="D_0020"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="D_0001">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0002">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0007">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0008">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0010">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0013">
		<xs:restriction base="xs:string">
			<xs:minLength value="3" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0014">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0017">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0019">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0020">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0022">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0025">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0026">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0029">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0031">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0032">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0035">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0036">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0040">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="35" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0044">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="35" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0048">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="14" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0051">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0052">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0054">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0057">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="6" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0062">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="14" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0065">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="6" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0068">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="35" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0070">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="2" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0073">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="1" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0074">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="10" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0083">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0085">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0096">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="6" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0098">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0104">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0110">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="6" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0113">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="6" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0115">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="14" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0116">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0118">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0121">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="14" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0122">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0124">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0127">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="14" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0128">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0130">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" fixed="false"/>
			<xs:maxLength value="3" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S_UNA">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>