XSPEC_HOME/Supplier/schemas/EDIFACT_D96A/SCHEMA_UN-EDIFACT_D96A_DESADV^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:sap.com:typesystem:b2b:6:un-edifact:desadv:d.96a" xmlns:nestor="http://sap.com/nestor" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap.com:typesystem:b2b:6:un-edifact:desadv:d.96a">
	<xs:annotation>
		<xs:appinfo>
			<nestor:resourceinfo>
				<nestor:info key="typeSystem" value="UN-EDIFACT"/>
				<nestor:info key="category" value="Template"/>
				<nestor:info key="rootNode" value="Interchange"/>
				<nestor:info key="responsibleAgencyName" value="UN/ECE (United Nations - Economic Commission for Europe)"/>
				<nestor:info key="responsibleAgencyCode" value="6"/>
				<nestor:info key="typeSystemVersion" value="D.96A"/>
				<nestor:info key="messageType" value="DESADV"/>
				<nestor:info key="messageName" value="Despatch advice message"/>
				<nestor:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:6:un-edifact:desadv:d.96a"/>
				<nestor:info key="documentNumber" value="/M_DESADV/S_BGM/D_1004"/>
			</nestor:resourceinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Interchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_UNA" type="S_UNA" minOccurs="0"/>
				<xs:element name="S_UNB" type="S_UNB"/>
				<xs:element name="M_DESADV" type="M_DESADV" maxOccurs="unbounded"/>
				<xs:element name="S_UNZ" type="S_UNZ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="C_C002">
		<xs:sequence>
			<xs:element name="D_1001" type="D_1001" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_1000" type="D_1000" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C040">
		<xs:sequence>
			<xs:element name="D_3127" type="D_3127" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3128" type="D_3128" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C056">
		<xs:sequence>
			<xs:element name="D_3413" type="D_3413" minOccurs="0"/>
			<xs:element name="D_3412" type="D_3412" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C058">
		<xs:sequence>
			<xs:element name="D_3124_1" type="D_3124"/>
			<xs:element name="D_3124_2" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_3" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_4" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_5" type="D_3124" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C059">
		<xs:sequence>
			<xs:element name="D_3042_1" type="D_3042"/>
			<xs:element name="D_3042_2" type="D_3042" minOccurs="0"/>
			<xs:element name="D_3042_3" type="D_3042" minOccurs="0"/>
			<xs:element name="D_3042_4" type="D_3042" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C076">
		<xs:sequence>
			<xs:element name="D_3148" type="D_3148"/>
			<xs:element name="D_3155" type="D_3155"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C080">
		<xs:sequence>
			<xs:element name="D_3036_1" type="D_3036"/>
			<xs:element name="D_3036_2" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_3" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_4" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_5" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3045" type="D_3045" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C082">
		<xs:sequence>
			<xs:element name="D_3039" type="D_3039"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C100">
		<xs:sequence>
			<xs:element name="D_4053" type="D_4053" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4052_1" type="D_4052" minOccurs="0"/>
			<xs:element name="D_4052_2" type="D_4052" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C107">
		<xs:sequence>
			<xs:element name="D_4441" type="D_4441"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C108">
		<xs:sequence>
			<xs:element name="D_4440_1" type="D_4440"/>
			<xs:element name="D_4440_2" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_3" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_4" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_5" type="D_4440" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C174">
		<xs:sequence>
			<xs:element name="D_6411" type="D_6411"/>
			<xs:element name="D_6314" type="D_6314" minOccurs="0"/>
			<xs:element name="D_6162" type="D_6162" minOccurs="0"/>
			<xs:element name="D_6152" type="D_6152" minOccurs="0"/>
			<xs:element name="D_6432" type="D_6432" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C186">
		<xs:sequence>
			<xs:element name="D_6063" type="D_6063"/>
			<xs:element name="D_6060" type="D_6060"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C202">
		<xs:sequence>
			<xs:element name="D_7065" type="D_7065" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7064" type="D_7064" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C205">
		<xs:sequence>
			<xs:element name="D_8351" type="D_8351"/>
			<xs:element name="D_8078" type="D_8078" minOccurs="0"/>
			<xs:element name="D_8092" type="D_8092" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C206">
		<xs:sequence>
			<xs:element name="D_7402" type="D_7402"/>
			<xs:element name="D_7405" type="D_7405" minOccurs="0"/>
			<xs:element name="D_4405" type="D_4405" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C208">
		<xs:sequence>
			<xs:element name="D_7402_1" type="D_7402"/>
			<xs:element name="D_7402_2" type="D_7402" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C210">
		<xs:sequence>
			<xs:element name="D_7102_1" type="D_7102"/>
			<xs:element name="D_7102_2" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_3" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_4" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_5" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_6" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_7" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_8" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_9" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_10" type="D_7102" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C212">
		<xs:sequence>
			<xs:element name="D_7140" type="D_7140" minOccurs="0"/>
			<xs:element name="D_7143" type="D_7143" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C214">
		<xs:sequence>
			<xs:element name="D_7161" type="D_7161" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7160_1" type="D_7160" minOccurs="0"/>
			<xs:element name="D_7160_2" type="D_7160" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C215">
		<xs:sequence>
			<xs:element name="D_9303" type="D_9303" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_9302" type="D_9302" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C218">
		<xs:sequence>
			<xs:element name="D_7419" type="D_7419" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C220">
		<xs:sequence>
			<xs:element name="D_8067" type="D_8067" minOccurs="0"/>
			<xs:element name="D_8066" type="D_8066" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C222">
		<xs:sequence>
			<xs:element name="D_8213" type="D_8213" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_8212" type="D_8212" minOccurs="0"/>
			<xs:element name="D_8453" type="D_8453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C223">
		<xs:sequence>
			<xs:element name="D_7106" type="D_7106" minOccurs="0"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C224">
		<xs:sequence>
			<xs:element name="D_8155" type="D_8155" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_8154" type="D_8154" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C228">
		<xs:sequence>
			<xs:element name="D_8179" type="D_8179" minOccurs="0"/>
			<xs:element name="D_8178" type="D_8178" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C234">
		<xs:sequence>
			<xs:element name="D_7124" type="D_7124" minOccurs="0"/>
			<xs:element name="D_7088" type="D_7088" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C235">
		<xs:sequence>
			<xs:element name="D_8158" type="D_8158" minOccurs="0"/>
			<xs:element name="D_8186" type="D_8186" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C236">
		<xs:sequence>
			<xs:element name="D_8246_1" type="D_8246" minOccurs="0"/>
			<xs:element name="D_8246_2" type="D_8246" minOccurs="0"/>
			<xs:element name="D_8246_3" type="D_8246" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C237">
		<xs:sequence>
			<xs:element name="D_8260" type="D_8260" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3207" type="D_3207" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C270">
		<xs:sequence>
			<xs:element name="D_6069" type="D_6069"/>
			<xs:element name="D_6066" type="D_6066"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C273">
		<xs:sequence>
			<xs:element name="D_7009" type="D_7009" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7008_1" type="D_7008" minOccurs="0"/>
			<xs:element name="D_7008_2" type="D_7008" minOccurs="0"/>
			<xs:element name="D_3453" type="D_3453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C279">
		<xs:sequence>
			<xs:element name="D_6064" type="D_6064"/>
			<xs:element name="D_6063" type="D_6063" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C401">
		<xs:sequence>
			<xs:element name="D_8457" type="D_8457"/>
			<xs:element name="D_8459" type="D_8459"/>
			<xs:element name="D_7130" type="D_7130" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C402">
		<xs:sequence>
			<xs:element name="D_7077" type="D_7077"/>
			<xs:element name="D_7064_1" type="D_7064"/>
			<xs:element name="D_7143_1" type="D_7143" minOccurs="0"/>
			<xs:element name="D_7064_2" type="D_7064" minOccurs="0"/>
			<xs:element name="D_7143_2" type="D_7143" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C501">
		<xs:sequence>
			<xs:element name="D_5245" type="D_5245"/>
			<xs:element name="D_5482" type="D_5482" minOccurs="0"/>
			<xs:element name="D_5249" type="D_5249" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C502">
		<xs:sequence>
			<xs:element name="D_6313" type="D_6313" minOccurs="0"/>
			<xs:element name="D_6321" type="D_6321" minOccurs="0"/>
			<xs:element name="D_6155" type="D_6155" minOccurs="0"/>
			<xs:element name="D_6154" type="D_6154" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C506">
		<xs:sequence>
			<xs:element name="D_1153" type="D_1153"/>
			<xs:element name="D_1154" type="D_1154" minOccurs="0"/>
			<xs:element name="D_1156" type="D_1156" minOccurs="0"/>
			<xs:element name="D_4000" type="D_4000" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C507">
		<xs:sequence>
			<xs:element name="D_2005" type="D_2005"/>
			<xs:element name="D_2380" type="D_2380" minOccurs="0"/>
			<xs:element name="D_2379" type="D_2379" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C516">
		<xs:sequence>
			<xs:element name="D_5025" type="D_5025"/>
			<xs:element name="D_5004" type="D_5004" minOccurs="0"/>
			<xs:element name="D_6345" type="D_6345" minOccurs="0"/>
			<xs:element name="D_6343" type="D_6343" minOccurs="0"/>
			<xs:element name="D_4405" type="D_4405" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C517">
		<xs:sequence>
			<xs:element name="D_3225" type="D_3225" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3224" type="D_3224" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C519">
		<xs:sequence>
			<xs:element name="D_3223" type="D_3223" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3222" type="D_3222" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C522">
		<xs:sequence>
			<xs:element name="D_4403" type="D_4403"/>
			<xs:element name="D_4401" type="D_4401" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4400" type="D_4400" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C524">
		<xs:sequence>
			<xs:element name="D_4079" type="D_4079" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4078" type="D_4078" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C531">
		<xs:sequence>
			<xs:element name="D_7075" type="D_7075" minOccurs="0"/>
			<xs:element name="D_7233" type="D_7233" minOccurs="0"/>
			<xs:element name="D_7073" type="D_7073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C532">
		<xs:sequence>
			<xs:element name="D_8395" type="D_8395" minOccurs="0"/>
			<xs:element name="D_8393" type="D_8393" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C553">
		<xs:sequence>
			<xs:element name="D_3233" type="D_3233" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3232" type="D_3232" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C827">
		<xs:sequence>
			<xs:element name="D_7511" type="D_7511"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C829">
		<xs:sequence>
			<xs:element name="D_5495" type="D_5495" minOccurs="0"/>
			<xs:element name="D_1082" type="D_1082" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C960">
		<xs:sequence>
			<xs:element name="D_4295" type="D_4295" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4294" type="D_4294" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S001">
		<xs:sequence>
			<xs:element name="D_0001" type="D_0001"/>
			<xs:element name="D_0002" type="D_0002"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S002">
		<xs:sequence>
			<xs:element name="D_0004" type="D_0004"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0008" type="D_0008" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S003">
		<xs:sequence>
			<xs:element name="D_0010" type="D_0010"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0014" type="D_0014" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S004">
		<xs:sequence>
			<xs:element name="D_0017" type="D_0017"/>
			<xs:element name="D_0019" type="D_0019"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S005">
		<xs:sequence>
			<xs:element name="D_0022" type="D_0022"/>
			<xs:element name="D_0025" type="D_0025" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S009">
		<xs:sequence>
			<xs:element name="D_0065" type="D_0065"/>
			<xs:element name="D_0052" type="D_0052"/>
			<xs:element name="D_0054" type="D_0054"/>
			<xs:element name="D_0051" type="D_0051"/>
			<xs:element name="D_0057" type="D_0057" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S010">
		<xs:sequence>
			<xs:element name="D_0070" type="D_0070"/>
			<xs:element name="D_0073" type="D_0073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_DESADV">
		<xs:sequence>
			<xs:element name="S_UNH" type="S_UNH"/>
			<xs:element name="S_BGM" type="S_BGM"/>
			<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
			<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="5"/>
			<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="5"/>
			<xs:element name="S_MOA" type="S_MOA" minOccurs="0" maxOccurs="5"/>
			<xs:element name="G_SG1" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_RFF" type="S_RFF"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG2" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_NAD" type="S_NAD"/>
						<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="10"/>
						<xs:element name="G_SG3" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG4" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_CTA" type="S_CTA"/>
									<xs:element name="S_COM" type="S_COM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG5" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TOD" type="S_TOD"/>
						<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG6" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TDT" type="S_TDT"/>
						<xs:element name="S_PCD" type="S_PCD" minOccurs="0" maxOccurs="6"/>
						<xs:element name="G_SG7" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LOC" type="S_LOC"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG8" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_EQD" type="S_EQD"/>
						<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_SEL" type="S_SEL" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_EQA" type="S_EQA" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG9" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_HAN" type="S_HAN"/>
									<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG10" minOccurs="0" maxOccurs="9999">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_CPS" type="S_CPS"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG11" minOccurs="0" maxOccurs="9999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PAC" type="S_PAC"/>
									<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="10"/>
									<xs:element name="G_SG12" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_HAN" type="S_HAN"/>
												<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG13" minOccurs="0" maxOccurs="1000">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_PCI" type="S_PCI"/>
												<xs:element name="S_RFF" type="S_RFF" minOccurs="0"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
												<xs:element name="S_GIR" type="S_GIR" minOccurs="0" maxOccurs="99"/>
												<xs:element name="G_SG14" minOccurs="0" maxOccurs="99">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="S_GIN" type="S_GIN"/>
															<xs:element name="S_DLM" type="S_DLM" minOccurs="0" maxOccurs="10"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG15" minOccurs="0" maxOccurs="9999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LIN" type="S_LIN"/>
									<xs:element name="S_PIA" type="S_PIA" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_IMD" type="S_IMD" minOccurs="0" maxOccurs="25"/>
									<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_GIN" type="S_GIN" minOccurs="0" maxOccurs="100"/>
									<xs:element name="S_GIR" type="S_GIR" minOccurs="0" maxOccurs="100"/>
									<xs:element name="S_DLM" type="S_DLM" minOccurs="0" maxOccurs="100"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_MOA" type="S_MOA" minOccurs="0" maxOccurs="5"/>
									<xs:element name="G_SG16" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_RFF" type="S_RFF"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG17" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_DGS" type="S_DGS"/>
												<xs:element name="S_QTY" type="S_QTY" minOccurs="0"/>
												<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG18" minOccurs="0" maxOccurs="100">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_LOC" type="S_LOC"/>
												<xs:element name="S_NAD" type="S_NAD" minOccurs="0"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0"/>
												<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG19" minOccurs="0" maxOccurs="1000">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_SGP" type="S_SGP"/>
												<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG20" minOccurs="0" maxOccurs="9999">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_PCI" type="S_PCI"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
												<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="10"/>
												<xs:element name="S_QTY" type="S_QTY" minOccurs="0"/>
												<xs:element name="G_SG21" minOccurs="0" maxOccurs="10">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="S_GIN" type="S_GIN"/>
															<xs:element name="S_DLM" type="S_DLM" minOccurs="0" maxOccurs="100"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="G_SG22" minOccurs="0" maxOccurs="10">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="S_HAN" type="S_HAN"/>
															<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
															<xs:element name="S_GIN" type="S_GIN" minOccurs="0" maxOccurs="1000"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG23" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_QVR" type="S_QVR"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_CNT" type="S_CNT" minOccurs="0" maxOccurs="5"/>
			<xs:element name="S_UNT" type="S_UNT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ALI">
		<xs:sequence>
			<xs:element name="D_3239" type="D_3239" minOccurs="0"/>
			<xs:element name="D_9213" type="D_9213" minOccurs="0"/>
			<xs:element name="D_4183_1" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_2" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_3" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_4" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_5" type="D_4183" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_BGM">
		<xs:sequence>
			<xs:element name="C_C002" type="C_C002" minOccurs="0"/>
			<xs:element name="D_1004" type="D_1004" minOccurs="0"/>
			<xs:element name="D_1225" type="D_1225" minOccurs="0"/>
			<xs:element name="D_4343" type="D_4343" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CNT">
		<xs:sequence>
			<xs:element name="C_C270" type="C_C270"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_COM">
		<xs:sequence>
			<xs:element name="C_C076" type="C_C076"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CPS">
		<xs:sequence>
			<xs:element name="D_7164" type="D_7164"/>
			<xs:element name="D_7166" type="D_7166" minOccurs="0"/>
			<xs:element name="D_7075" type="D_7075" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CTA">
		<xs:sequence>
			<xs:element name="D_3139" type="D_3139" minOccurs="0"/>
			<xs:element name="C_C056" type="C_C056" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DGS">
		<xs:sequence>
			<xs:element name="D_8273" type="D_8273" minOccurs="0"/>
			<xs:element name="C_C205" type="C_C205" minOccurs="0"/>
			<xs:element name="C_C234" type="C_C234" minOccurs="0"/>
			<xs:element name="C_C223" type="C_C223" minOccurs="0"/>
			<xs:element name="D_8339" type="D_8339" minOccurs="0"/>
			<xs:element name="D_8364" type="D_8364" minOccurs="0"/>
			<xs:element name="D_8410" type="D_8410" minOccurs="0"/>
			<xs:element name="D_8126" type="D_8126" minOccurs="0"/>
			<xs:element name="C_C235" type="C_C235" minOccurs="0"/>
			<xs:element name="C_C236" type="C_C236" minOccurs="0"/>
			<xs:element name="D_8255" type="D_8255" minOccurs="0"/>
			<xs:element name="D_8325" type="D_8325" minOccurs="0"/>
			<xs:element name="D_8211" type="D_8211" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DLM">
		<xs:sequence>
			<xs:element name="D_4455" type="D_4455" minOccurs="0"/>
			<xs:element name="C_C522" type="C_C522" minOccurs="0"/>
			<xs:element name="C_C214" type="C_C214" minOccurs="0"/>
			<xs:element name="D_4457" type="D_4457" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DTM">
		<xs:sequence>
			<xs:element name="C_C507" type="C_C507"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_EQA">
		<xs:sequence>
			<xs:element name="D_8053" type="D_8053"/>
			<xs:element name="C_C237" type="C_C237" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_EQD">
		<xs:sequence>
			<xs:element name="D_8053" type="D_8053"/>
			<xs:element name="C_C237" type="C_C237" minOccurs="0"/>
			<xs:element name="C_C224" type="C_C224" minOccurs="0"/>
			<xs:element name="D_8077" type="D_8077" minOccurs="0"/>
			<xs:element name="D_8249" type="D_8249" minOccurs="0"/>
			<xs:element name="D_8169" type="D_8169" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FTX">
		<xs:sequence>
			<xs:element name="D_4451" type="D_4451"/>
			<xs:element name="D_4453" type="D_4453" minOccurs="0"/>
			<xs:element name="C_C107" type="C_C107" minOccurs="0"/>
			<xs:element name="C_C108" type="C_C108" minOccurs="0"/>
			<xs:element name="D_3453" type="D_3453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GIN">
		<xs:sequence>
			<xs:element name="D_7405" type="D_7405"/>
			<xs:element name="C_C208_1" type="C_C208"/>
			<xs:element name="C_C208_2" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_3" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_4" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_5" type="C_C208" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GIR">
		<xs:sequence>
			<xs:element name="D_7297" type="D_7297"/>
			<xs:element name="C_C206_1" type="C_C206"/>
			<xs:element name="C_C206_2" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_3" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_4" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_5" type="C_C206" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_HAN">
		<xs:sequence>
			<xs:element name="C_C524" type="C_C524" minOccurs="0"/>
			<xs:element name="C_C218" type="C_C218" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IMD">
		<xs:sequence>
			<xs:element name="D_7077" type="D_7077" minOccurs="0"/>
			<xs:element name="D_7081" type="D_7081" minOccurs="0"/>
			<xs:element name="C_C273" type="C_C273" minOccurs="0"/>
			<xs:element name="D_7383" type="D_7383" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LIN">
		<xs:sequence>
			<xs:element name="D_1082" type="D_1082" minOccurs="0"/>
			<xs:element name="D_1229" type="D_1229" minOccurs="0"/>
			<xs:element name="C_C212" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C829" type="C_C829" minOccurs="0"/>
			<xs:element name="D_1222" type="D_1222" minOccurs="0"/>
			<xs:element name="D_7083" type="D_7083" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LOC">
		<xs:sequence>
			<xs:element name="D_3227" type="D_3227"/>
			<xs:element name="C_C517" type="C_C517" minOccurs="0"/>
			<xs:element name="C_C519" type="C_C519" minOccurs="0"/>
			<xs:element name="C_C553" type="C_C553" minOccurs="0"/>
			<xs:element name="D_5479" type="D_5479" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MEA">
		<xs:sequence>
			<xs:element name="D_6311" type="D_6311"/>
			<xs:element name="C_C502" type="C_C502" minOccurs="0"/>
			<xs:element name="C_C174" type="C_C174" minOccurs="0"/>
			<xs:element name="D_7383" type="D_7383" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MOA">
		<xs:sequence>
			<xs:element name="C_C516" type="C_C516"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_NAD">
		<xs:sequence>
			<xs:element name="D_3035" type="D_3035"/>
			<xs:element name="C_C082" type="C_C082" minOccurs="0"/>
			<xs:element name="C_C058" type="C_C058" minOccurs="0"/>
			<xs:element name="C_C080" type="C_C080" minOccurs="0"/>
			<xs:element name="C_C059" type="C_C059" minOccurs="0"/>
			<xs:element name="D_3164" type="D_3164" minOccurs="0"/>
			<xs:element name="D_3229" type="D_3229" minOccurs="0"/>
			<xs:element name="D_3251" type="D_3251" minOccurs="0"/>
			<xs:element name="D_3207" type="D_3207" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAC">
		<xs:sequence>
			<xs:element name="D_7224" type="D_7224" minOccurs="0"/>
			<xs:element name="C_C531" type="C_C531" minOccurs="0"/>
			<xs:element name="C_C202" type="C_C202" minOccurs="0"/>
			<xs:element name="C_C402" type="C_C402" minOccurs="0"/>
			<xs:element name="C_C532" type="C_C532" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PCD">
		<xs:sequence>
			<xs:element name="C_C501" type="C_C501"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PCI">
		<xs:sequence>
			<xs:element name="D_4233" type="D_4233" minOccurs="0"/>
			<xs:element name="C_C210" type="C_C210" minOccurs="0"/>
			<xs:element name="D_8275" type="D_8275" minOccurs="0"/>
			<xs:element name="C_C827" type="C_C827" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PIA">
		<xs:sequence>
			<xs:element name="D_4347" type="D_4347"/>
			<xs:element name="C_C212_1" type="C_C212"/>
			<xs:element name="C_C212_2" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_3" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_4" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_5" type="C_C212" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_QTY">
		<xs:sequence>
			<xs:element name="C_C186" type="C_C186"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_QVR">
		<xs:sequence>
			<xs:element name="C_C279" type="C_C279" minOccurs="0"/>
			<xs:element name="D_4221" type="D_4221" minOccurs="0"/>
			<xs:element name="C_C960" type="C_C960" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_RFF">
		<xs:sequence>
			<xs:element name="C_C506" type="C_C506"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SEL">
		<xs:sequence>
			<xs:element name="D_9308" type="D_9308"/>
			<xs:element name="C_C215" type="C_C215" minOccurs="0"/>
			<xs:element name="D_4517" type="D_4517" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SGP">
		<xs:sequence>
			<xs:element name="C_C237" type="C_C237"/>
			<xs:element name="D_7224" type="D_7224" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TDT">
		<xs:sequence>
			<xs:element name="D_8051" type="D_8051"/>
			<xs:element name="D_8028" type="D_8028" minOccurs="0"/>
			<xs:element name="C_C220" type="C_C220" minOccurs="0"/>
			<xs:element name="C_C228" type="C_C228" minOccurs="0"/>
			<xs:element name="C_C040" type="C_C040" minOccurs="0"/>
			<xs:element name="D_8101" type="D_8101" minOccurs="0"/>
			<xs:element name="C_C401" type="C_C401" minOccurs="0"/>
			<xs:element name="C_C222" type="C_C222" minOccurs="0"/>
			<xs:element name="D_8281" type="D_8281" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TOD">
		<xs:sequence>
			<xs:element name="D_4055" type="D_4055" minOccurs="0"/>
			<xs:element name="D_4215" type="D_4215" minOccurs="0"/>
			<xs:element name="C_C100" type="C_C100" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNB">
		<xs:sequence>
			<xs:element name="C_S001" type="C_S001"/>
			<xs:element name="C_S002" type="C_S002"/>
			<xs:element name="C_S003" type="C_S003"/>
			<xs:element name="C_S004" type="C_S004"/>
			<xs:element name="D_0020" type="D_0020"/>
			<xs:element name="C_S005" type="C_S005" minOccurs="0"/>
			<xs:element name="D_0026" type="D_0026" minOccurs="0"/>
			<xs:element name="D_0029" type="D_0029" minOccurs="0"/>
			<xs:element name="D_0031" type="D_0031" minOccurs="0"/>
			<xs:element name="D_0032" type="D_0032" minOccurs="0"/>
			<xs:element name="D_0035" type="D_0035" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNH">
		<xs:sequence>
			<xs:element name="D_0062" type="D_0062"/>
			<xs:element name="C_S009" type="C_S009"/>
			<xs:element name="D_0068" type="D_0068" minOccurs="0"/>
			<xs:element name="C_S010" type="C_S010" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNS">
		<xs:sequence>
			<xs:element name="D_0081" type="D_0081"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNT">
		<xs:sequence>
			<xs:element name="D_0074" type="D_0074"/>
			<xs:element name="D_0062" type="D_0062"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNZ">
		<xs:sequence>
			<xs:element name="D_0036" type="D_0036"/>
			<xs:element name="D_0020" type="D_0020"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="D_0001">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0002">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0007">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0008">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0010">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0014">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0017">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0019">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0020">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0022">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0025">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0026">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0029">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0031">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0032">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0035">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0036">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0051">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0052">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0054">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0057">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0062">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0065">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0068">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0070">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0073">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0074">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0081">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1001">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1082">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1131">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1153">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1156">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1222">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1225">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1229">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2005">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2379">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2380">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3035">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3036">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3039">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3042">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3045">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3055">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3124">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3127">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3128">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3139">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3148">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3164">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3207">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3222">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3223">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3224">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3225">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3227">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3229">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3232">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3239">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3251">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3412">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3413">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4052">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4053">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4055">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4078">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4079">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4183">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4215">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4221">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4294">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4295">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4343">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4347">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4400">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4401">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4403">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4405">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4440">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4441">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4451">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4455">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4457">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4517">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5004">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5025">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5245">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5249">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5479">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5482">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5495">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6060">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6063">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6064">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6066">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6069">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6152">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6162">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6311">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6313">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6314">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6321">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6343">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6345">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6411">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6432">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7008">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7009">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7064">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7065">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7073">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7075">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7077">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7081">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7083">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7088">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7102">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7106">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7124">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7130">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7140">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7143">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7160">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7161">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7164">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7166">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7224">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7297">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7383">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7402">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7405">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7419">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7511">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8028">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8051">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8053">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8066">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8067">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8077">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8078">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8092">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8101">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8126">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8158">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8169">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8178">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8179">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8186">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8211">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="D_8212">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8213">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8246">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8249">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8255">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8260">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8273">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8275">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8281">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8325">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8339">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8351">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8364">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8393">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8395">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8410">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8457">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8459">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_9213">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_9302">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_9303">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_9308">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S_UNA">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
