XSPEC_HOME/Supplier/schemas/EDIFACT_D96A/SCHEMA_UN-EDIFACT_D96A_INVOIC^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:sap.com:typesystem:b2b:6:un-edifact:invoic:d.96a" xmlns:nestor="http://sap.com/nestor" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap.com:typesystem:b2b:6:un-edifact:invoic:d.96a">
	<xs:annotation>
		<xs:appinfo>
			<nestor:resourceinfo>
				<nestor:info key="typeSystem" value="UN-EDIFACT"/>
				<nestor:info key="category" value="Template"/>
				<nestor:info key="rootNode" value="Interchange"/>
				<nestor:info key="responsibleAgencyName" value="UN/ECE (United Nations - Economic Commission for Europe)"/>
				<nestor:info key="responsibleAgencyCode" value="6"/>
				<nestor:info key="typeSystemVersion" value="D.96A"/>
				<nestor:info key="messageType" value="INVOIC"/>
				<nestor:info key="messageName" value="Invoice message"/>
				<nestor:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:6:un-edifact:invoic:d.96a"/>
			   <nestor:info key="documentNumber" value="/M_INVOIC/S_BGM/D_1004"/>
			</nestor:resourceinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Interchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_UNA" type="S_UNA" minOccurs="0"/>
				<xs:element name="S_UNB" type="S_UNB"/>
				<xs:element name="M_INVOIC" type="M_INVOIC" maxOccurs="unbounded"/>
				<xs:element name="S_UNZ" type="S_UNZ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="C_C002">
		<xs:sequence>
			<xs:element name="D_1001" type="D_1001" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_1000" type="D_1000" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C040">
		<xs:sequence>
			<xs:element name="D_3127" type="D_3127" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3128" type="D_3128" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C056">
		<xs:sequence>
			<xs:element name="D_3413" type="D_3413" minOccurs="0"/>
			<xs:element name="D_3412" type="D_3412" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C058">
		<xs:sequence>
			<xs:element name="D_3124_1" type="D_3124"/>
			<xs:element name="D_3124_2" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_3" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_4" type="D_3124" minOccurs="0"/>
			<xs:element name="D_3124_5" type="D_3124" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C059">
		<xs:sequence>
			<xs:element name="D_3042_1" type="D_3042"/>
			<xs:element name="D_3042_2" type="D_3042" minOccurs="0"/>
			<xs:element name="D_3042_3" type="D_3042" minOccurs="0"/>
			<xs:element name="D_3042_4" type="D_3042" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C076">
		<xs:sequence>
			<xs:element name="D_3148" type="D_3148"/>
			<xs:element name="D_3155" type="D_3155"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C078">
		<xs:sequence>
			<xs:element name="D_3194" type="D_3194" minOccurs="0"/>
			<xs:element name="D_3192_1" type="D_3192" minOccurs="0"/>
			<xs:element name="D_3192_2" type="D_3192" minOccurs="0"/>
			<xs:element name="D_6345" type="D_6345" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C080">
		<xs:sequence>
			<xs:element name="D_3036_1" type="D_3036"/>
			<xs:element name="D_3036_2" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_3" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_4" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3036_5" type="D_3036" minOccurs="0"/>
			<xs:element name="D_3045" type="D_3045" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C082">
		<xs:sequence>
			<xs:element name="D_3039" type="D_3039"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C088">
		<xs:sequence>
			<xs:element name="D_3433" type="D_3433" minOccurs="0"/>
			<xs:element name="D_1131_1" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055_1" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3434" type="D_3434" minOccurs="0"/>
			<xs:element name="D_1131_2" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055_2" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3432" type="D_3432" minOccurs="0"/>
			<xs:element name="D_3436" type="D_3436" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C100">
		<xs:sequence>
			<xs:element name="D_4053" type="D_4053" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4052_1" type="D_4052" minOccurs="0"/>
			<xs:element name="D_4052_2" type="D_4052" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C107">
		<xs:sequence>
			<xs:element name="D_4441" type="D_4441"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C108">
		<xs:sequence>
			<xs:element name="D_4440_1" type="D_4440"/>
			<xs:element name="D_4440_2" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_3" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_4" type="D_4440" minOccurs="0"/>
			<xs:element name="D_4440_5" type="D_4440" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C110">
		<xs:sequence>
			<xs:element name="D_4277" type="D_4277"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4276_1" type="D_4276" minOccurs="0"/>
			<xs:element name="D_4276_2" type="D_4276" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C112">
		<xs:sequence>
			<xs:element name="D_2475" type="D_2475"/>
			<xs:element name="D_2009" type="D_2009" minOccurs="0"/>
			<xs:element name="D_2151" type="D_2151" minOccurs="0"/>
			<xs:element name="D_2152" type="D_2152" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C128">
		<xs:sequence>
			<xs:element name="D_5419" type="D_5419"/>
			<xs:element name="D_5420" type="D_5420"/>
			<xs:element name="D_5284" type="D_5284" minOccurs="0"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C138">
		<xs:sequence>
			<xs:element name="D_5394" type="D_5394"/>
			<xs:element name="D_5393" type="D_5393" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C174">
		<xs:sequence>
			<xs:element name="D_6411" type="D_6411"/>
			<xs:element name="D_6314" type="D_6314" minOccurs="0"/>
			<xs:element name="D_6162" type="D_6162" minOccurs="0"/>
			<xs:element name="D_6152" type="D_6152" minOccurs="0"/>
			<xs:element name="D_6432" type="D_6432" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C186">
		<xs:sequence>
			<xs:element name="D_6063" type="D_6063"/>
			<xs:element name="D_6060" type="D_6060"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C202">
		<xs:sequence>
			<xs:element name="D_7065" type="D_7065" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7064" type="D_7064" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C206">
		<xs:sequence>
			<xs:element name="D_7402" type="D_7402"/>
			<xs:element name="D_7405" type="D_7405" minOccurs="0"/>
			<xs:element name="D_4405" type="D_4405" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C208">
		<xs:sequence>
			<xs:element name="D_7402_1" type="D_7402"/>
			<xs:element name="D_7402_2" type="D_7402" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C210">
		<xs:sequence>
			<xs:element name="D_7102_1" type="D_7102"/>
			<xs:element name="D_7102_2" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_3" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_4" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_5" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_6" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_7" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_8" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_9" type="D_7102" minOccurs="0"/>
			<xs:element name="D_7102_10" type="D_7102" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C212">
		<xs:sequence>
			<xs:element name="D_7140" type="D_7140" minOccurs="0"/>
			<xs:element name="D_7143" type="D_7143" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C214">
		<xs:sequence>
			<xs:element name="D_7161" type="D_7161" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7160_1" type="D_7160" minOccurs="0"/>
			<xs:element name="D_7160_2" type="D_7160" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C220">
		<xs:sequence>
			<xs:element name="D_8067" type="D_8067" minOccurs="0"/>
			<xs:element name="D_8066" type="D_8066" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C222">
		<xs:sequence>
			<xs:element name="D_8213" type="D_8213" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_8212" type="D_8212" minOccurs="0"/>
			<xs:element name="D_8453" type="D_8453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C224">
		<xs:sequence>
			<xs:element name="D_8155" type="D_8155" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_8154" type="D_8154" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C228">
		<xs:sequence>
			<xs:element name="D_8179" type="D_8179" minOccurs="0"/>
			<xs:element name="D_8178" type="D_8178" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C237">
		<xs:sequence>
			<xs:element name="D_8260" type="D_8260" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3207" type="D_3207" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C241">
		<xs:sequence>
			<xs:element name="D_5153" type="D_5153" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_5152" type="D_5152" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C243">
		<xs:sequence>
			<xs:element name="D_5279" type="D_5279" minOccurs="0"/>
			<xs:element name="D_1131_1" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055_1" type="D_3055" minOccurs="0"/>
			<xs:element name="D_5278" type="D_5278" minOccurs="0"/>
			<xs:element name="D_5273" type="D_5273" minOccurs="0"/>
			<xs:element name="D_1131_2" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055_2" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C270">
		<xs:sequence>
			<xs:element name="D_6069" type="D_6069"/>
			<xs:element name="D_6066" type="D_6066"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C273">
		<xs:sequence>
			<xs:element name="D_7009" type="D_7009" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7008_1" type="D_7008" minOccurs="0"/>
			<xs:element name="D_7008_2" type="D_7008" minOccurs="0"/>
			<xs:element name="D_3453" type="D_3453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C279">
		<xs:sequence>
			<xs:element name="D_6064" type="D_6064"/>
			<xs:element name="D_6063" type="D_6063" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C280">
		<xs:sequence>
			<xs:element name="D_6411" type="D_6411"/>
			<xs:element name="D_6162" type="D_6162" minOccurs="0"/>
			<xs:element name="D_6152" type="D_6152" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C401">
		<xs:sequence>
			<xs:element name="D_8457" type="D_8457"/>
			<xs:element name="D_8459" type="D_8459"/>
			<xs:element name="D_7130" type="D_7130" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C402">
		<xs:sequence>
			<xs:element name="D_7077" type="D_7077"/>
			<xs:element name="D_7064_1" type="D_7064"/>
			<xs:element name="D_7143_1" type="D_7143" minOccurs="0"/>
			<xs:element name="D_7064_2" type="D_7064" minOccurs="0"/>
			<xs:element name="D_7143_2" type="D_7143" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C501">
		<xs:sequence>
			<xs:element name="D_5245" type="D_5245"/>
			<xs:element name="D_5482" type="D_5482" minOccurs="0"/>
			<xs:element name="D_5249" type="D_5249" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C502">
		<xs:sequence>
			<xs:element name="D_6313" type="D_6313" minOccurs="0"/>
			<xs:element name="D_6321" type="D_6321" minOccurs="0"/>
			<xs:element name="D_6155" type="D_6155" minOccurs="0"/>
			<xs:element name="D_6154" type="D_6154" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C503">
		<xs:sequence>
			<xs:element name="D_1004" type="D_1004" minOccurs="0"/>
			<xs:element name="D_1373" type="D_1373" minOccurs="0"/>
			<xs:element name="D_1366" type="D_1366" minOccurs="0"/>
			<xs:element name="D_3453" type="D_3453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C504">
		<xs:sequence>
			<xs:element name="D_6347" type="D_6347"/>
			<xs:element name="D_6345" type="D_6345" minOccurs="0"/>
			<xs:element name="D_6343" type="D_6343" minOccurs="0"/>
			<xs:element name="D_6348" type="D_6348" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C506">
		<xs:sequence>
			<xs:element name="D_1153" type="D_1153"/>
			<xs:element name="D_1154" type="D_1154" minOccurs="0"/>
			<xs:element name="D_1156" type="D_1156" minOccurs="0"/>
			<xs:element name="D_4000" type="D_4000" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C507">
		<xs:sequence>
			<xs:element name="D_2005" type="D_2005"/>
			<xs:element name="D_2380" type="D_2380" minOccurs="0"/>
			<xs:element name="D_2379" type="D_2379" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C509">
		<xs:sequence>
			<xs:element name="D_5125" type="D_5125"/>
			<xs:element name="D_5118" type="D_5118" minOccurs="0"/>
			<xs:element name="D_5375" type="D_5375" minOccurs="0"/>
			<xs:element name="D_5387" type="D_5387" minOccurs="0"/>
			<xs:element name="D_5284" type="D_5284" minOccurs="0"/>
			<xs:element name="D_6411" type="D_6411" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C516">
		<xs:sequence>
			<xs:element name="D_5025" type="D_5025"/>
			<xs:element name="D_5004" type="D_5004" minOccurs="0"/>
			<xs:element name="D_6345" type="D_6345" minOccurs="0"/>
			<xs:element name="D_6343" type="D_6343" minOccurs="0"/>
			<xs:element name="D_4405" type="D_4405" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C517">
		<xs:sequence>
			<xs:element name="D_3225" type="D_3225" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3224" type="D_3224" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C519">
		<xs:sequence>
			<xs:element name="D_3223" type="D_3223" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3222" type="D_3222" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C522">
		<xs:sequence>
			<xs:element name="D_4403" type="D_4403"/>
			<xs:element name="D_4401" type="D_4401" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4400" type="D_4400" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C531">
		<xs:sequence>
			<xs:element name="D_7075" type="D_7075" minOccurs="0"/>
			<xs:element name="D_7233" type="D_7233" minOccurs="0"/>
			<xs:element name="D_7073" type="D_7073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C532">
		<xs:sequence>
			<xs:element name="D_8395" type="D_8395" minOccurs="0"/>
			<xs:element name="D_8393" type="D_8393" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C533">
		<xs:sequence>
			<xs:element name="D_5289" type="D_5289"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C534">
		<xs:sequence>
			<xs:element name="D_4439" type="D_4439" minOccurs="0"/>
			<xs:element name="D_4431" type="D_4431" minOccurs="0"/>
			<xs:element name="D_4461" type="D_4461" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4435" type="D_4435" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C550">
		<xs:sequence>
			<xs:element name="D_7295" type="D_7295"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_7294" type="D_7294" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C552">
		<xs:sequence>
			<xs:element name="D_1230" type="D_1230" minOccurs="0"/>
			<xs:element name="D_5189" type="D_5189" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C553">
		<xs:sequence>
			<xs:element name="D_3233" type="D_3233" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_3232" type="D_3232" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C827">
		<xs:sequence>
			<xs:element name="D_7511" type="D_7511"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C829">
		<xs:sequence>
			<xs:element name="D_5495" type="D_5495" minOccurs="0"/>
			<xs:element name="D_1082" type="D_1082" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C849">
		<xs:sequence>
			<xs:element name="D_3301" type="D_3301"/>
			<xs:element name="D_3285" type="D_3285" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C850">
		<xs:sequence>
			<xs:element name="D_4405" type="D_4405"/>
			<xs:element name="D_3036" type="D_3036" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C960">
		<xs:sequence>
			<xs:element name="D_4295" type="D_4295" minOccurs="0"/>
			<xs:element name="D_1131" type="D_1131" minOccurs="0"/>
			<xs:element name="D_3055" type="D_3055" minOccurs="0"/>
			<xs:element name="D_4294" type="D_4294" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S001">
		<xs:sequence>
			<xs:element name="D_0001" type="D_0001"/>
			<xs:element name="D_0002" type="D_0002"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S002">
		<xs:sequence>
			<xs:element name="D_0004" type="D_0004"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0008" type="D_0008" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S003">
		<xs:sequence>
			<xs:element name="D_0010" type="D_0010"/>
			<xs:element name="D_0007" type="D_0007" minOccurs="0"/>
			<xs:element name="D_0014" type="D_0014" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S004">
		<xs:sequence>
			<xs:element name="D_0017" type="D_0017"/>
			<xs:element name="D_0019" type="D_0019"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S005">
		<xs:sequence>
			<xs:element name="D_0022" type="D_0022"/>
			<xs:element name="D_0025" type="D_0025" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S009">
		<xs:sequence>
			<xs:element name="D_0065" type="D_0065"/>
			<xs:element name="D_0052" type="D_0052"/>
			<xs:element name="D_0054" type="D_0054"/>
			<xs:element name="D_0051" type="D_0051"/>
			<xs:element name="D_0057" type="D_0057" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_S010">
		<xs:sequence>
			<xs:element name="D_0070" type="D_0070"/>
			<xs:element name="D_0073" type="D_0073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_INVOIC">
		<xs:sequence>
			<xs:element name="S_UNH" type="S_UNH"/>
			<xs:element name="S_BGM" type="S_BGM"/>
			<xs:element name="S_DTM" type="S_DTM" maxOccurs="35"/>
			<xs:element name="S_PAI" type="S_PAI" minOccurs="0"/>
			<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="5"/>
			<xs:element name="S_IMD" type="S_IMD" minOccurs="0"/>
			<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="10"/>
			<xs:element name="G_SG1" minOccurs="0" maxOccurs="99">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_RFF" type="S_RFF"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG2" minOccurs="0" maxOccurs="99">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_NAD" type="S_NAD"/>
						<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_FII" type="S_FII" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG3" minOccurs="0" maxOccurs="9999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG4" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_DOC" type="S_DOC"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG5" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_CTA" type="S_CTA"/>
									<xs:element name="S_COM" type="S_COM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG6" minOccurs="0" maxOccurs="5">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TAX" type="S_TAX"/>
						<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
						<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG7" minOccurs="0" maxOccurs="5">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_CUX" type="S_CUX"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG8" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_PAT" type="S_PAT"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_PCD" type="S_PCD" minOccurs="0"/>
						<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
						<xs:element name="S_PAI" type="S_PAI" minOccurs="0"/>
						<xs:element name="S_FII" type="S_FII" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG9" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TDT" type="S_TDT"/>
						<xs:element name="G_SG10" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LOC" type="S_LOC"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG11" minOccurs="0" maxOccurs="9999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG12" minOccurs="0" maxOccurs="5">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TOD" type="S_TOD"/>
						<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG13" minOccurs="0" maxOccurs="1000">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_PAC" type="S_PAC"/>
						<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG14" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PCI" type="S_PCI"/>
									<xs:element name="S_RFF" type="S_RFF" minOccurs="0"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_GIN" type="S_GIN" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG15" minOccurs="0" maxOccurs="9999">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_ALC" type="S_ALC"/>
						<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG16" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG17" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_QTY" type="S_QTY"/>
									<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG18" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PCD" type="S_PCD"/>
									<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG19" minOccurs="0" maxOccurs="2">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_MOA" type="S_MOA"/>
									<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG20" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RTE" type="S_RTE"/>
									<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG21" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_TAX" type="S_TAX"/>
									<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG22" minOccurs="0" maxOccurs="100">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_RCS" type="S_RCS"/>
						<xs:element name="S_RFF" type="S_RFF" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG23" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_AJT" type="S_AJT"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG24" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_INP" type="S_INP"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG25" minOccurs="0" maxOccurs="9999999">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_LIN" type="S_LIN"/>
						<xs:element name="S_PIA" type="S_PIA" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_IMD" type="S_IMD" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_PCD" type="S_PCD" minOccurs="0"/>
						<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="35"/>
						<xs:element name="S_GIN" type="S_GIN" minOccurs="0" maxOccurs="1000"/>
						<xs:element name="S_GIR" type="S_GIR" minOccurs="0" maxOccurs="1000"/>
						<xs:element name="S_QVR" type="S_QVR" minOccurs="0"/>
						<xs:element name="S_EQD" type="S_EQD" minOccurs="0"/>
						<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
						<xs:element name="G_SG26" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_MOA" type="S_MOA"/>
									<xs:element name="S_CUX" type="S_CUX" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG27" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PAT" type="S_PAT"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_PCD" type="S_PCD" minOccurs="0"/>
									<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG28" minOccurs="0" maxOccurs="25">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PRI" type="S_PRI"/>
									<xs:element name="S_APR" type="S_APR" minOccurs="0"/>
									<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG29" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG30" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PAC" type="S_PAC"/>
									<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="10"/>
									<xs:element name="G_SG31" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_PCI" type="S_PCI"/>
												<xs:element name="S_RFF" type="S_RFF" minOccurs="0"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
												<xs:element name="S_GIN" type="S_GIN" minOccurs="0" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG32" minOccurs="0" maxOccurs="9999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LOC" type="S_LOC"/>
									<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="100"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG33" minOccurs="0" maxOccurs="99">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_TAX" type="S_TAX"/>
									<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
									<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG34" minOccurs="0" maxOccurs="20">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_NAD" type="S_NAD"/>
									<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="5"/>
									<xs:element name="G_SG35" minOccurs="0" maxOccurs="5">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_RFF" type="S_RFF"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG36" minOccurs="0" maxOccurs="5">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_DOC" type="S_DOC"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG37" minOccurs="0" maxOccurs="5">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_CTA" type="S_CTA"/>
												<xs:element name="S_COM" type="S_COM" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG38" minOccurs="0" maxOccurs="15">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_ALC" type="S_ALC"/>
									<xs:element name="S_ALI" type="S_ALI" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
									<xs:element name="G_SG39" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_QTY" type="S_QTY"/>
												<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG40" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_PCD" type="S_PCD"/>
												<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG41" minOccurs="0" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_MOA" type="S_MOA"/>
												<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG42" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_RTE" type="S_RTE"/>
												<xs:element name="S_RNG" type="S_RNG" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="G_SG43" minOccurs="0" maxOccurs="5">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_TAX" type="S_TAX"/>
												<xs:element name="S_MOA" type="S_MOA" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG44" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_TDT" type="S_TDT"/>
									<xs:element name="G_SG45" minOccurs="0" maxOccurs="10">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="S_LOC" type="S_LOC"/>
												<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG46" minOccurs="0" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_TOD" type="S_TOD"/>
									<xs:element name="S_LOC" type="S_LOC" minOccurs="0" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SG47" minOccurs="0" maxOccurs="100">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RCS" type="S_RCS"/>
									<xs:element name="S_RFF" type="S_RFF" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_FTX" type="S_FTX" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_UNS" type="S_UNS"/>
			<xs:element name="S_CNT" type="S_CNT" minOccurs="0" maxOccurs="10"/>
			<xs:element name="G_SG48" maxOccurs="100">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_MOA" type="S_MOA"/>
						<xs:element name="G_SG49" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_RFF" type="S_RFF"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="5"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG50" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_TAX" type="S_TAX"/>
						<xs:element name="S_MOA" type="S_MOA" minOccurs="0" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_SG51" minOccurs="0" maxOccurs="15">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_ALC" type="S_ALC"/>
						<xs:element name="S_ALI" type="S_ALI" minOccurs="0"/>
						<xs:element name="S_MOA" type="S_MOA" minOccurs="0" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_UNT" type="S_UNT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_AJT">
		<xs:sequence>
			<xs:element name="D_4465" type="D_4465"/>
			<xs:element name="D_1082" type="D_1082" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ALC">
		<xs:sequence>
			<xs:element name="D_5463" type="D_5463"/>
			<xs:element name="C_C552" type="C_C552" minOccurs="0"/>
			<xs:element name="D_4471" type="D_4471" minOccurs="0"/>
			<xs:element name="D_1227" type="D_1227" minOccurs="0"/>
			<xs:element name="C_C214" type="C_C214" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ALI">
		<xs:sequence>
			<xs:element name="D_3239" type="D_3239" minOccurs="0"/>
			<xs:element name="D_9213" type="D_9213" minOccurs="0"/>
			<xs:element name="D_4183_1" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_2" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_3" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_4" type="D_4183" minOccurs="0"/>
			<xs:element name="D_4183_5" type="D_4183" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_APR">
		<xs:sequence>
			<xs:element name="D_4043" type="D_4043" minOccurs="0"/>
			<xs:element name="C_C138" type="C_C138" minOccurs="0"/>
			<xs:element name="C_C960" type="C_C960" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_BGM">
		<xs:sequence>
			<xs:element name="C_C002" type="C_C002" minOccurs="0"/>
			<xs:element name="D_1004" type="D_1004" minOccurs="0"/>
			<xs:element name="D_1225" type="D_1225" minOccurs="0"/>
			<xs:element name="D_4343" type="D_4343" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CNT">
		<xs:sequence>
			<xs:element name="C_C270" type="C_C270"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_COM">
		<xs:sequence>
			<xs:element name="C_C076" type="C_C076"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CTA">
		<xs:sequence>
			<xs:element name="D_3139" type="D_3139" minOccurs="0"/>
			<xs:element name="C_C056" type="C_C056" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CUX">
		<xs:sequence>
			<xs:element name="C_C504_1" type="C_C504" minOccurs="0"/>
			<xs:element name="C_C504_2" type="C_C504" minOccurs="0"/>
			<xs:element name="D_5402" type="D_5402" minOccurs="0"/>
			<xs:element name="D_6341" type="D_6341" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DOC">
		<xs:sequence>
			<xs:element name="C_C002" type="C_C002"/>
			<xs:element name="C_C503" type="C_C503" minOccurs="0"/>
			<xs:element name="D_3153" type="D_3153" minOccurs="0"/>
			<xs:element name="D_1220" type="D_1220" minOccurs="0"/>
			<xs:element name="D_1218" type="D_1218" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DTM">
		<xs:sequence>
			<xs:element name="C_C507" type="C_C507"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_EQD">
		<xs:sequence>
			<xs:element name="D_8053" type="D_8053"/>
			<xs:element name="C_C237" type="C_C237" minOccurs="0"/>
			<xs:element name="C_C224" type="C_C224" minOccurs="0"/>
			<xs:element name="D_8077" type="D_8077" minOccurs="0"/>
			<xs:element name="D_8249" type="D_8249" minOccurs="0"/>
			<xs:element name="D_8169" type="D_8169" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FII">
		<xs:sequence>
			<xs:element name="D_3035" type="D_3035"/>
			<xs:element name="C_C078" type="C_C078" minOccurs="0"/>
			<xs:element name="C_C088" type="C_C088" minOccurs="0"/>
			<xs:element name="D_3207" type="D_3207" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FTX">
		<xs:sequence>
			<xs:element name="D_4451" type="D_4451"/>
			<xs:element name="D_4453" type="D_4453" minOccurs="0"/>
			<xs:element name="C_C107" type="C_C107" minOccurs="0"/>
			<xs:element name="C_C108" type="C_C108" minOccurs="0"/>
			<xs:element name="D_3453" type="D_3453" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GIN">
		<xs:sequence>
			<xs:element name="D_7405" type="D_7405"/>
			<xs:element name="C_C208_1" type="C_C208"/>
			<xs:element name="C_C208_2" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_3" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_4" type="C_C208" minOccurs="0"/>
			<xs:element name="C_C208_5" type="C_C208" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GIR">
		<xs:sequence>
			<xs:element name="D_7297" type="D_7297"/>
			<xs:element name="C_C206_1" type="C_C206"/>
			<xs:element name="C_C206_2" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_3" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_4" type="C_C206" minOccurs="0"/>
			<xs:element name="C_C206_5" type="C_C206" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IMD">
		<xs:sequence>
			<xs:element name="D_7077" type="D_7077" minOccurs="0"/>
			<xs:element name="D_7081" type="D_7081" minOccurs="0"/>
			<xs:element name="C_C273" type="C_C273" minOccurs="0"/>
			<xs:element name="D_7383" type="D_7383" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_INP">
		<xs:sequence>
			<xs:element name="C_C849" type="C_C849" minOccurs="0"/>
			<xs:element name="C_C522" type="C_C522" minOccurs="0"/>
			<xs:element name="C_C850" type="C_C850" minOccurs="0"/>
			<xs:element name="D_1229" type="D_1229" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LIN">
		<xs:sequence>
			<xs:element name="D_1082" type="D_1082" minOccurs="0"/>
			<xs:element name="D_1229" type="D_1229" minOccurs="0"/>
			<xs:element name="C_C212" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C829" type="C_C829" minOccurs="0"/>
			<xs:element name="D_1222" type="D_1222" minOccurs="0"/>
			<xs:element name="D_7083" type="D_7083" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LOC">
		<xs:sequence>
			<xs:element name="D_3227" type="D_3227"/>
			<xs:element name="C_C517" type="C_C517" minOccurs="0"/>
			<xs:element name="C_C519" type="C_C519" minOccurs="0"/>
			<xs:element name="C_C553" type="C_C553" minOccurs="0"/>
			<xs:element name="D_5479" type="D_5479" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MEA">
		<xs:sequence>
			<xs:element name="D_6311" type="D_6311"/>
			<xs:element name="C_C502" type="C_C502" minOccurs="0"/>
			<xs:element name="C_C174" type="C_C174" minOccurs="0"/>
			<xs:element name="D_7383" type="D_7383" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MOA">
		<xs:sequence>
			<xs:element name="C_C516" type="C_C516"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_NAD">
		<xs:sequence>
			<xs:element name="D_3035" type="D_3035"/>
			<xs:element name="C_C082" type="C_C082" minOccurs="0"/>
			<xs:element name="C_C058" type="C_C058" minOccurs="0"/>
			<xs:element name="C_C080" type="C_C080" minOccurs="0"/>
			<xs:element name="C_C059" type="C_C059" minOccurs="0"/>
			<xs:element name="D_3164" type="D_3164" minOccurs="0"/>
			<xs:element name="D_3229" type="D_3229" minOccurs="0"/>
			<xs:element name="D_3251" type="D_3251" minOccurs="0"/>
			<xs:element name="D_3207" type="D_3207" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAC">
		<xs:sequence>
			<xs:element name="D_7224" type="D_7224" minOccurs="0"/>
			<xs:element name="C_C531" type="C_C531" minOccurs="0"/>
			<xs:element name="C_C202" type="C_C202" minOccurs="0"/>
			<xs:element name="C_C402" type="C_C402" minOccurs="0"/>
			<xs:element name="C_C532" type="C_C532" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAI">
		<xs:sequence>
			<xs:element name="C_C534" type="C_C534"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAT">
		<xs:sequence>
			<xs:element name="D_4279" type="D_4279"/>
			<xs:element name="C_C110" type="C_C110" minOccurs="0"/>
			<xs:element name="C_C112" type="C_C112" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PCD">
		<xs:sequence>
			<xs:element name="C_C501" type="C_C501"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PCI">
		<xs:sequence>
			<xs:element name="D_4233" type="D_4233" minOccurs="0"/>
			<xs:element name="C_C210" type="C_C210" minOccurs="0"/>
			<xs:element name="D_8275" type="D_8275" minOccurs="0"/>
			<xs:element name="C_C827" type="C_C827" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PIA">
		<xs:sequence>
			<xs:element name="D_4347" type="D_4347"/>
			<xs:element name="C_C212_1" type="C_C212"/>
			<xs:element name="C_C212_2" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_3" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_4" type="C_C212" minOccurs="0"/>
			<xs:element name="C_C212_5" type="C_C212" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PRI">
		<xs:sequence>
			<xs:element name="C_C509" type="C_C509" minOccurs="0"/>
			<xs:element name="D_5213" type="D_5213" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_QTY">
		<xs:sequence>
			<xs:element name="C_C186" type="C_C186"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_QVR">
		<xs:sequence>
			<xs:element name="C_C279" type="C_C279" minOccurs="0"/>
			<xs:element name="D_4221" type="D_4221" minOccurs="0"/>
			<xs:element name="C_C960" type="C_C960" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_RCS">
		<xs:sequence>
			<xs:element name="D_7293" type="D_7293"/>
			<xs:element name="C_C550" type="C_C550" minOccurs="0"/>
			<xs:element name="D_1229" type="D_1229" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_RFF">
		<xs:sequence>
			<xs:element name="C_C506" type="C_C506"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_RNG">
		<xs:sequence>
			<xs:element name="D_6167" type="D_6167"/>
			<xs:element name="C_C280" type="C_C280" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_RTE">
		<xs:sequence>
			<xs:element name="C_C128" type="C_C128"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TAX">
		<xs:sequence>
			<xs:element name="D_5283" type="D_5283"/>
			<xs:element name="C_C241" type="C_C241" minOccurs="0"/>
			<xs:element name="C_C533" type="C_C533" minOccurs="0"/>
			<xs:element name="D_5286" type="D_5286" minOccurs="0"/>
			<xs:element name="C_C243" type="C_C243" minOccurs="0"/>
			<xs:element name="D_5305" type="D_5305" minOccurs="0"/>
			<xs:element name="D_3446" type="D_3446" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TDT">
		<xs:sequence>
			<xs:element name="D_8051" type="D_8051"/>
			<xs:element name="D_8028" type="D_8028" minOccurs="0"/>
			<xs:element name="C_C220" type="C_C220" minOccurs="0"/>
			<xs:element name="C_C228" type="C_C228" minOccurs="0"/>
			<xs:element name="C_C040" type="C_C040" minOccurs="0"/>
			<xs:element name="D_8101" type="D_8101" minOccurs="0"/>
			<xs:element name="C_C401" type="C_C401" minOccurs="0"/>
			<xs:element name="C_C222" type="C_C222" minOccurs="0"/>
			<xs:element name="D_8281" type="D_8281" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TOD">
		<xs:sequence>
			<xs:element name="D_4055" type="D_4055" minOccurs="0"/>
			<xs:element name="D_4215" type="D_4215" minOccurs="0"/>
			<xs:element name="C_C100" type="C_C100" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNB">
		<xs:sequence>
			<xs:element name="C_S001" type="C_S001"/>
			<xs:element name="C_S002" type="C_S002"/>
			<xs:element name="C_S003" type="C_S003"/>
			<xs:element name="C_S004" type="C_S004"/>
			<xs:element name="D_0020" type="D_0020"/>
			<xs:element name="C_S005" type="C_S005" minOccurs="0"/>
			<xs:element name="D_0026" type="D_0026" minOccurs="0"/>
			<xs:element name="D_0029" type="D_0029" minOccurs="0"/>
			<xs:element name="D_0031" type="D_0031" minOccurs="0"/>
			<xs:element name="D_0032" type="D_0032" minOccurs="0"/>
			<xs:element name="D_0035" type="D_0035" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNH">
		<xs:sequence>
			<xs:element name="D_0062" type="D_0062"/>
			<xs:element name="C_S009" type="C_S009"/>
			<xs:element name="D_0068" type="D_0068" minOccurs="0"/>
			<xs:element name="C_S010" type="C_S010" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNS">
		<xs:sequence>
			<xs:element name="D_0081" type="D_0081"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNT">
		<xs:sequence>
			<xs:element name="D_0074" type="D_0074"/>
			<xs:element name="D_0062" type="D_0062"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_UNZ">
		<xs:sequence>
			<xs:element name="D_0036" type="D_0036"/>
			<xs:element name="D_0020" type="D_0020"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="D_0001">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>






		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0002">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>


		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0007">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>




































		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0008">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0010">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0014">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0017">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0019">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0020">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0022">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0025">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>


		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0026">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0029">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>

		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0031">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>

		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0032">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0035">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>

		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0036">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0051">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>




















		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0052">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>

		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0054">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>

		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0057">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0062">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0065">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>





























































































































		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0068">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0070">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0073">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>


		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0074">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_0081">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1001">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1082">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1131">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1153">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1156">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1218">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1220">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1222">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1225">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1227">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1229">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1230">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1366">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1373">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2005">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2009">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2151">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2152">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2379">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2380">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_2475">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3035">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3036">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3039">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3042">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3045">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3055">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3124">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3127">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3128">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3139">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3148">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3153">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3164">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3192">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3194">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3207">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3222">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3223">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3224">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3225">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3227">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3229">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3232">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3239">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3251">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3285">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3301">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3412">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3413">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3432">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3433">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3434">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3436">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3446">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4043">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4052">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4053">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4055">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4183">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4215">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4221">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4276">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4277">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4279">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4294">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4295">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4343">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4347">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4400">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4401">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4403">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4405">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4431">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4435">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4439">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4440">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4441">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4451">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4461">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4465">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_4471">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5004">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5025">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5118">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5125">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5152">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5153">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5189">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5213">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5245">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5249">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5273">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5278">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5279">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5283">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5284">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5286">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5289">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5305">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5375">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5387">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5393">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5394">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5402">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5419">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5420">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5463">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5479">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5482">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_5495">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6060">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6063">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6064">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6066">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6069">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6152">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6162">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6167">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6311">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6313">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6314">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6321">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6341">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6343">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6345">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6347">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6348">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6411">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_6432">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7008">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7009">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7064">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7065">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7073">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7075">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7077">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7081">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7083">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7102">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7130">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7140">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7143">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7160">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7161">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7224">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7233">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7293">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7294">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7295">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7297">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7383">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7402">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7405">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_7511">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8028">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8051">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8053">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8066">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8067">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8077">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8101">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8154">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8155">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8169">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8178">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8179">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8212">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8213">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8249">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8260">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8275">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8281">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8393">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8395">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8453">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8457">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_8459">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_9213">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S_UNA">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>