XSPEC_HOME/Buyer/schemas/s4HanaBuyer/SCHEMA_S4HANA_0000_PaymentRemittance^PaymentAdviceNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:element name="PaymentAdviceNotification" type="PaymentAdviceNotificationMessage"/>
   <xsd:complexType name="AcademicTitleCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AcademicTitleCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AcademicTitleCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Address">
    <xsd:sequence>
     <xsd:element name="OrganisationFormOfAddress" minOccurs="0" type="FormOfAddress"/>
     <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PersonName" minOccurs="0" type="PersonName"/>
     <xsd:element name="FunctionalTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="DepartmentName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="Office" minOccurs="0" type="Office"/>
     <xsd:element name="PhysicalAddress" minOccurs="0" type="PhysicalAddress"/>
     <xsd:element name="TaxJurisdictionCode" minOccurs="0" type="TaxJurisdictionCode"/>
     <xsd:element name="TimeZoneDifferenceValue" minOccurs="0" type="TimeZoneDifferenceValue"/>
     <xsd:element name="GeoCoordinates" minOccurs="0" type="GeoCoordinates"/>
     <xsd:element name="Communication" minOccurs="0" type="Communication"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="AddressHostTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Amount">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Amount.Content">
      <xsd:attribute name="currencyCode" use="required" type="CurrencyCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Amount.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="28"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999999999999999.999999"/>
     <xsd:minInclusive value="-9999999999999999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Bank">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="BankInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" type="BankStandardID"/>
     <xsd:element name="RoutingID" minOccurs="0" type="BankRoutingID"/>
     <xsd:element name="RoutingIDTypeCode" minOccurs="0" type="BankRoutingIDTypeCode"/>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="Address" minOccurs="0" type="Address"/>
     <xsd:element name="BranchAdress" minOccurs="0" maxOccurs="unbounded" type="Address"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="BankAccountHolderName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankAccountID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankAccountIDCheckDigitValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BankAccountInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BankAccountInternalID.Content">
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BankAccountInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankAccountStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="34"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankAccountTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BankInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BankInternalID.Content">
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BankInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="18"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankRoutingID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankRoutingIDTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BankStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="11"/>
     <xsd:minLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="UUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
     <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
     <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
     <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessObjectTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
     <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessTransactionDocumentBankAccount">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BankAccountID"/>
     <xsd:element name="IDCheckDigitValue" minOccurs="0" type="BankAccountIDCheckDigitValue"/>
     <xsd:element name="InternalID" minOccurs="0" type="BankAccountInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" type="BankAccountStandardID"/>
     <xsd:element name="TypeCode" minOccurs="0" type="BankAccountTypeCode"/>
     <xsd:element name="CurrencyCode" minOccurs="0" type="CurrencyCode"/>
     <xsd:element name="HolderName" minOccurs="0" type="BankAccountHolderName"/>
     <xsd:element name="Description" minOccurs="0" type="Description"/>
     <xsd:element name="Bank" minOccurs="0" type="Bank"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessTransactionDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessTransactionDocumentID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessTransactionDocumentID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessTransactionDocumentParty">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
     <xsd:element name="BuyerID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="SellerID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="ProductRecipientID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="VendorID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="BillToID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="BillFromID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="BidderID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="PaymentTransactionInitiatorID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="PaymentTransactionDestinatedID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="TaxID" minOccurs="0" type="PartyTaxID"/>
     <xsd:element name="ClearingHouseID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="TypeCode" minOccurs="0" type="BusinessObjectTypeCode"/>
     <xsd:element name="DeterminationMethodCode" minOccurs="0" type="LocationDeterminationMethodCode"/>
     <xsd:element name="AddressReference" minOccurs="0" type="PartyAddressReference"/>
     <xsd:element name="Address" minOccurs="0" type="Address"/>
     <xsd:element name="ContactPerson" minOccurs="0" maxOccurs="unbounded" type="ContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessTransactionDocumentReference">
    <xsd:sequence>
     <xsd:element name="ID" type="BusinessTransactionDocumentID"/>
     <xsd:element name="UUID" minOccurs="0" type="UUID"/>
     <xsd:element name="TypeCode" minOccurs="0" type="BusinessTransactionDocumentTypeCode"/>
     <xsd:element name="ItemID" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="ItemUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ItemTypeCode" minOccurs="0" type="BusinessTransactionDocumentItemTypeCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="BusinessTransactionDocumentTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Communication">
    <xsd:sequence>
     <xsd:element name="CorrespondenceLanguageCode" minOccurs="0" type="LanguageCode"/>
     <xsd:element name="CorrespondenceLanguageName" minOccurs="0" type="MEDIUM_Name"/>
     <xsd:element name="Telephone" minOccurs="0" maxOccurs="unbounded" type="Telephone"/>
     <xsd:element name="MobilePhone" minOccurs="0" maxOccurs="unbounded" type="Telephone"/>
     <xsd:element name="Facsimile" minOccurs="0" maxOccurs="unbounded" type="Facsimile"/>
     <xsd:element name="Email" minOccurs="0" maxOccurs="unbounded" type="Email"/>
     <xsd:element name="Web" minOccurs="0" maxOccurs="unbounded" type="Web"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="CompanyPaymentFileRegisterFileID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
     <xsd:element name="BuyerID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="SellerID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="ProductRecipientID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="VendorID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="BillToID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="BillFromID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="BidderID" minOccurs="0" type="ContactPersonPartyID"/>
     <xsd:element name="AddressReference" minOccurs="0" type="PartyAddressReference"/>
     <xsd:element name="Address" minOccurs="0" type="Address"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ContactPersonPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Description">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Email">
    <xsd:sequence>
     <xsd:element name="URI" type="EmailURI"/>
     <xsd:element name="URIDefaultIndicator" type="Indicator"/>
     <xsd:element name="URIDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
     <xsd:element name="URIUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Facsimile">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
     <xsd:element name="NumberDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
     <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FamilyNamePrefixCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FamilyNamePrefixCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FamilyNamePrefixCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="FormOfAddress">
    <xsd:sequence>
     <xsd:element name="Code" minOccurs="0" type="FormOfAddressCode"/>
     <xsd:element name="Name" minOccurs="0" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FormOfAddressCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FormOfAddressCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="GeoCoordinates">
    <xsd:sequence>
     <xsd:element name="LatitudeMeasure" type="Measure"/>
     <xsd:element name="LongitudeMeasure" type="Measure"/>
     <xsd:element name="AltitudeMeasure" minOccurs="0" type="Measure"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="HouseID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InhouseMailID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LocationDeterminationMethodCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Measure">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Measure.Content">
      <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Measure.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Note">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Office">
    <xsd:sequence>
     <xsd:element name="BuildingID" minOccurs="0" type="BuildingID"/>
     <xsd:element name="FloorID" minOccurs="0" type="FloorID"/>
     <xsd:element name="RoomID" minOccurs="0" type="RoomID"/>
     <xsd:element name="InhouseMailID" minOccurs="0" type="InhouseMailID"/>
     <xsd:element name="CorrespondenceShortName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="POBoxID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyAddressReference">
    <xsd:sequence>
     <xsd:element name="AddressHostUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="AddressHostTypeCode" minOccurs="0" type="AddressHostTypeCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartyPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyTaxID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyTaxID.Content">
      <xsd:attribute name="schemeID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyTaxID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentAdvice">
    <xsd:sequence>
     <xsd:element name="ID" type="BusinessTransactionDocumentID"/>
     <xsd:element name="IncomingCompanyPaymentFileRegisterFileUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="IncomingCompanyPaymentFileRegisterFileID" minOccurs="0" type="CompanyPaymentFileRegisterFileID"/>
     <xsd:element name="TypeCode" type="PaymentAdviceTypeCode"/>
     <xsd:element name="PaymentConfirmedIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="AccountDebitIndicator" type="Indicator"/>
     <xsd:element name="Date" minOccurs="0" type="Date"/>
     <xsd:element name="PaymentFormCode" type="PaymentFormCode"/>
     <xsd:element name="PaymentDate" type="Date"/>
     <xsd:element name="PaymentTransactionInitiatorBankAccountValueDate" minOccurs="0" type="Date"/>
     <xsd:element name="PaymentTransactionDestinatedBankAccountValueDate" minOccurs="0" type="Date"/>
     <xsd:element name="BillOfExchangeDueDate" minOccurs="0" type="Date"/>
     <xsd:element name="NetAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="GrossAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="CashDiscountAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="WithholdingTaxAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="BankFeeAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="Note" minOccurs="0" type="Note"/>
     <xsd:element name="PaymentTransactionInitiatorParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="PaymentTransactionDestinatedParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="OriginalPaymentTransactionInitiatorParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="FinalPaymentTransactionDestinatedParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="PaymentTransactionInitiatorBankAccount" minOccurs="0" type="BusinessTransactionDocumentBankAccount"/>
     <xsd:element name="PaymentTransactionDestinatedBankAccount" minOccurs="0" type="BusinessTransactionDocumentBankAccount"/>
     <xsd:element name="BankTransferReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="DirectDebitReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="ChequeDepositReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="BillOfExchangePresentationReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="ChequeReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="BillOfExchangeReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentExplanationItem" minOccurs="0" maxOccurs="unbounded" type="PaymentExplanationItem"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PaymentAdviceNotificationMessage">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="PaymentAdvice" maxOccurs="unbounded" type="PaymentAdvice"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PaymentAdviceTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentBaseBusinessTransactionTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PaymentBaseBusinessTransactionTypeCode.Content">
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PaymentBaseBusinessTransactionTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentDifferenceExplanationItem">
    <xsd:sequence>
     <xsd:element name="OffsettingIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="Amount" type="Amount"/>
     <xsd:element name="PaymentDifferenceReasonCode" minOccurs="0" type="PaymentDifferenceReasonCode"/>
     <xsd:element name="PaymentTransactionInitiatorInvoiceReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedInvoiceReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionInitiatorContractReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedContractReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionInitiatorPurchaseOrderReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedPurchaseOrderReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PaymentDifferenceReasonCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentExplanationItem">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="OffsettingIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="BusinessTransactionDocumentDate" minOccurs="0" type="Date"/>
     <xsd:element name="PaymentBaseBusinessTransactionTypeCode" minOccurs="0" type="PaymentBaseBusinessTransactionTypeCode"/>
     <xsd:element name="TradeReceivablesPayablesRegisterItemTypeCode" minOccurs="0" type="TradeReceivablesPayablesRegisterItemTypeCode"/>
     <xsd:element name="NetAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="GrossAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="TransactionCurrencyGrossAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="CashDiscountAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="TransactionCurrencyCashDiscountAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="WithholdingTaxAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="BankFeeAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="ScandinavianPaymentReferenceID" minOccurs="0" type="PaymentReferenceID"/>
     <xsd:element name="SwissPaymentReferenceID" minOccurs="0" type="PaymentReferenceID"/>
     <xsd:element name="PaymentReferenceID" minOccurs="0" type="PaymentReferenceID"/>
     <xsd:element name="PaymentReferenceTypeCode" minOccurs="0" type="PaymentReferenceTypeCode"/>
     <xsd:element name="Note" minOccurs="0" type="Note"/>
     <xsd:element name="OriginalPaymentTransactionInitiatorParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="FinalPaymentTransactionDestinatedParty" minOccurs="0" type="BusinessTransactionDocumentParty"/>
     <xsd:element name="PaymentTransactionInitiatorInvoiceReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedInvoiceReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionInitiatorContractReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedContractReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionInitiatorPurchaseOrderReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentTransactionDestinatedPurchaseOrderReference" minOccurs="0" type="BusinessTransactionDocumentReference"/>
     <xsd:element name="PaymentDifferenceExplanationItem" minOccurs="0" maxOccurs="unbounded" type="PaymentDifferenceExplanationItem"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PaymentFormCode">
    <xsd:restriction base="xsd:token">
     <xsd:length value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PaymentReferenceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PaymentReferenceTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonName">
    <xsd:sequence>
     <xsd:element name="FormOfAddressCode" minOccurs="0" type="FormOfAddressCode"/>
     <xsd:element name="FormOfAddressName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="GivenName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="MiddleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="FamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalFamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="BirthName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NickName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="InitialsName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
     <xsd:element name="AcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
     <xsd:element name="AcademicTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalAcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
     <xsd:element name="AdditionalAcademicTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
     <xsd:element name="NamePrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalNamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
     <xsd:element name="AdditionalNamePrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NameSupplementCode" minOccurs="0" type="PersonNameSupplementCode"/>
     <xsd:element name="NameSupplementName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="DeviatingFullName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="NameFormatCountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="NameFormatCode" minOccurs="0" type="PersonNameFormatCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonNameFormatCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameFormatCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameFormatCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameSupplementCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameSupplementCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameSupplementCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
     <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
     <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
     <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhysicalAddress">
    <xsd:sequence>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
     <xsd:element name="RegionCode" minOccurs="0" type="RegionCode"/>
     <xsd:element name="RegionName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="StreetPostalCode" minOccurs="0" type="PostalCode"/>
     <xsd:element name="POBoxPostalCode" minOccurs="0" type="PostalCode"/>
     <xsd:element name="CompanyPostalCode" minOccurs="0" type="PostalCode"/>
     <xsd:element name="CityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalCityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="DistrictName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="POBoxID" minOccurs="0" type="POBoxID"/>
     <xsd:element name="POBoxIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="POBoxCountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="POBoxCountryName" minOccurs="0" type="MEDIUM_Name"/>
     <xsd:element name="POBoxRegionCode" minOccurs="0" type="RegionCode"/>
     <xsd:element name="POBoxRegionName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="POBoxCityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="StreetName" minOccurs="0" type="StreetName"/>
     <xsd:element name="StreetPrefixName" minOccurs="0" maxOccurs="2" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="StreetSuffixName" minOccurs="0" maxOccurs="2" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="HouseID" minOccurs="0" type="HouseID"/>
     <xsd:element name="AdditionalHouseID" minOccurs="0" type="HouseID"/>
     <xsd:element name="BuildingID" minOccurs="0" type="BuildingID"/>
     <xsd:element name="FloorID" minOccurs="0" type="FloorID"/>
     <xsd:element name="RoomID" minOccurs="0" type="RoomID"/>
     <xsd:element name="CareOfName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PostalCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="RegionCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="6"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoomID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StreetName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TaxJurisdictionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="TaxJurisdictionCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="TaxJurisdictionCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="15"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Telephone">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="SMSEnabledIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
     <xsd:element name="NumberDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
     <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="TimeZoneDifferenceValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="2"/>
     <xsd:maxInclusive value="99.99"/>
     <xsd:minInclusive value="-99.99"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TradeReceivablesPayablesRegisterItemTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Web">
    <xsd:sequence>
     <xsd:element name="URI" type="WebURI"/>
     <xsd:element name="URIDefaultIndicator" type="Indicator"/>
     <xsd:element name="URIDescription" minOccurs="0" maxOccurs="unbounded" type="Description"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="WebURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
  </xsd:schema>

