XSPEC_HOME/Buyer/schemas/s4HanaBuyer/SCHEMA_S4HANA_0000_deliveryrequest^DeliveryRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--<wsdl:definitions targetNamespace="http://sap.com/xi/EDI/Buyer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/EDI/Buyer" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://sap.com/xi/EDI" xmlns:n2="http://sap.com/xi/SAPGlobal/Global">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="OP_IF_OP_DeliveryRequest_In">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>-->

<xsd:schema targetNamespace="http://sap.com/xi/EDI" xmlns="http://sap.com/xi/EDI" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xi0="http://sap.com/xi/EDI" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global">
   <xsd:import namespace="http://sap.com/xi/EDI/Buyer"/>
   <xsd:element name="DeliveryRequest" type="InboundDeliveryMessage"/>
   <xsd:complexType name="Address">
    <xsd:sequence>
     <xsd:element name="FormOfAddress" minOccurs="0" type="FormOfAddressCode"/>
     <xsd:element name="FormOfAddressName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AddressName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AddressAdditionalName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="StreetName" minOccurs="0" type="StreetName"/>
     <xsd:element name="HouseNumber" minOccurs="0" type="HouseID"/>
     <xsd:element name="StreetAddressName" minOccurs="0" type="StreetAddressName"/>
     <xsd:element name="PostalCode" minOccurs="0" type="PostalCode"/>
     <xsd:element name="CityName" minOccurs="0" type="CityName"/>
     <xsd:element name="Country" minOccurs="0" type="CountryCode"/>
     <xsd:element name="District" minOccurs="0" type="CityName"/>
     <xsd:element name="Region" minOccurs="0" type="RegionCode"/>
     <xsd:element name="PhoneNumber" minOccurs="0" type="FormattedPhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" type="FormattedPhoneNumber"/>
     <xsd:element name="FaxExtension" minOccurs="0" type="FaxNumberExtension_GFN"/>
     <xsd:element name="FaxCountryDialingCode" minOccurs="0" type="TelephoneCountryCodePrefix_GFN"/>
     <xsd:element name="FaxCountry" minOccurs="0" type="CountryCode"/>
     <xsd:element name="EmailAddress" minOccurs="0" type="EmailAddress_GFN"/>
     <xsd:element name="CorrespondenceLanguage" minOccurs="0" type="LanguageCode"/>
     <xsd:element name="AddressTimeZone" minOccurs="0" type="AddressTimeZone_GFN"/>
     <xsd:element name="ExternalAddressParserCode" minOccurs="0" type="ExternalAddressParserCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="AddressTimeZone_GFN">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="6"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AlternativeHandlingUnitID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AttachmentSD">
    <xsd:simpleContent>
     <xsd:extension base="xsd:base64Binary">
      <xsd:attribute name="FileName">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="255"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="MimeType">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="128"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="FileSize">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="12"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BatchID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
     <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
     <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
     <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
     <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CityName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Code">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token"/>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CustomerGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="DateTime.Content">
      <xsd:attribute name="timeZoneCode" type="TimeZoneCode"/>
      <xsd:attribute name="daylightSavingTimeIndicator" type="xsd:boolean"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="DateTime.Content">
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DeliveryGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="DeliveryItemBatch">
    <xsd:sequence>
     <xsd:element name="Batch" minOccurs="0" type="BatchID"/>
     <xsd:element name="BatchBySupplier" minOccurs="0" type="BatchID"/>
     <xsd:element name="ManufactureDate" minOccurs="0" type="Date"/>
     <xsd:element name="ShelfLifeExpirationDate" minOccurs="0" type="Date"/>
     <xsd:element name="Characteristics" minOccurs="0" maxOccurs="unbounded" type="DeliveryItemBatchCharacteristic"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DeliveryItemBatchCharacteristic">
    <xsd:sequence>
     <xsd:element name="CharcValueDescription" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Text"/>
     <xsd:element name="CharcValue" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Text"/>
     <xsd:element name="CharcDescription" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Text"/>
     <xsd:element name="Characteristic" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Text"/>
     <xsd:element name="CharcInternalID" minOccurs="0" type="DocumentID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DeliveryItemHierarchyRelationship">
    <xsd:sequence>
     <xsd:element name="HigherLevelItem" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="HierarchyItemCode" type="Code"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DeliveryItemSerial">
    <xsd:sequence>
     <xsd:element name="SerialNumber" type="SerialID"/>
     <xsd:element name="UniqueItemIdentifier" minOccurs="0" type="ProductStandardID_V1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Denominator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DistributionChannelCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DivisionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="EmailAddress_GFN">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="241"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
     <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" minOccurs="0" type="xsd:string"/>
     <xsd:element name="id" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ExternalAddressParserCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FaxNumberExtension_GFN">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FormattedPhoneNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GoodsMovementReferenceDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="16"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="HU_Product">
    <xsd:sequence>
     <xsd:element name="HU_GlobalTradeItemNumber" minOccurs="0" type="ProductStandardID"/>
     <xsd:element name="HU_BuyerProductID" minOccurs="0" type="ProductPartyID"/>
     <xsd:element name="HU_SupplierProductID" minOccurs="0" type="ProductPartyID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitASN">
    <xsd:sequence>
     <xsd:element name="HU_ID" type="HandlingUnitID"/>
     <xsd:element name="HU_AlternativeID" minOccurs="0" type="AlternativeHandlingUnitID"/>
     <xsd:element name="HU_ID_Type" minOccurs="0" type="HandlingUnitIDType"/>
     <xsd:element name="HU_LoadCarrier" type="HandlingUnitLoadCarrierASN"/>
     <xsd:element name="HU_HeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_LengthMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_WidthMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_GrossVolumeMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_NetVolumeMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_GrossWeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_NetWeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="HU_AdditionalPackaging" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitAdditionalPackaging"/>
     <xsd:element name="HU_LowerLevelHandlingUnit" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitLowerLevelHandlingUnitASN"/>
     <xsd:element name="HU_Load" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitLoad"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitAdditionalPackaging">
    <xsd:sequence>
     <xsd:element name="Product" type="Product"/>
     <xsd:element name="Quantity" type="Quantity"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="HandlingUnitID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="HandlingUnitIDType">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="HandlingUnitItemSerial">
    <xsd:sequence>
     <xsd:element name="SerialNumber" type="SerialID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitLoad">
    <xsd:sequence>
     <xsd:element name="BusinessTransactionDocumentReference" type="HandlingUnitLoadBusinessTransactionDocumentReference"/>
     <xsd:element name="Quantity" type="Quantity"/>
     <xsd:element name="SerialID" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitItemSerial"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitLoadBusinessTransactionDocumentReference">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessTransactionDocumentID"/>
     <xsd:element name="ItemID" type="BusinessTransactionDocumentItemID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitLoadCarrierASN">
    <xsd:sequence>
     <xsd:element name="HU_Product" type="HU_Product"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitLowerLevelHandlingUnitASN">
    <xsd:sequence>
     <xsd:element name="LowerLevelHandlingUnitId" type="HandlingUnitID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="HouseID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IDLSubcontrgComp">
    <xsd:sequence>
     <xsd:element name="SubcontrgProductID" type="ProductPartyID"/>
     <xsd:element name="SubcontrgSupplierProductID" minOccurs="0" type="ProductPartyID"/>
     <xsd:element name="SubcontrgBatch" minOccurs="0" type="BatchID"/>
     <xsd:element name="SubcontrgBatchBySupplier" minOccurs="0" type="BatchID"/>
     <xsd:element name="QuantityInEntryUnit" type="Quantity"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InboundDelivery">
    <xsd:sequence>
     <xsd:element name="DeliveryDocument" minOccurs="0" type="BusinessTransactionDocumentID"/>
     <xsd:element name="DeliveryDocumentBySupplier" minOccurs="0" type="BusinessTransactionDocumentID"/>
     <xsd:element name="SalesOrganization" minOccurs="0" type="Organisation"/>
     <xsd:element name="SalesOffice" minOccurs="0" type="SalesOfficeCode"/>
     <xsd:element name="ShippingPoint" minOccurs="0" type="LocationInternalID"/>
     <xsd:element name="Party" maxOccurs="unbounded" type="Party"/>
     <xsd:element name="LoadingPoint" minOccurs="0" type="LocationInternalID"/>
     <xsd:element name="UnloadingPointName" minOccurs="0" type="LocationPoint"/>
     <xsd:element name="PickingDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="LoadingDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="GoodsIssueDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="ProofOfDeliveryDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="ActualGoodsMovementDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="DeliveryDateTime" minOccurs="0" type="DateTime"/>
     <xsd:element name="DocumentDate" minOccurs="0" type="Date"/>
     <xsd:element name="IsCopyWeightVolumeRequested" minOccurs="0" type="Indicator"/>
     <xsd:element name="HeaderGrossWeight" minOccurs="0" type="Measure"/>
     <xsd:element name="HeaderNetWeight" minOccurs="0" type="Measure"/>
     <xsd:element name="HeaderVolume" minOccurs="0" type="Measure"/>
     <xsd:element name="Incoterms" minOccurs="0" type="Incoterms"/>
     <xsd:element name="BillOfLading" minOccurs="0" type="BusinessTransactionDocumentID"/>
     <xsd:element name="MeansOfTransportType" minOccurs="0" type="TransportMeansDescriptionCode"/>
     <xsd:element name="MeansOfTransport" minOccurs="0" type="TransportMeansID"/>
     <xsd:element name="ProposedDeliveryRoute" minOccurs="0" type="RouteID"/>
     <xsd:element name="ShippingCondition" minOccurs="0" type="TransportServiceLevelCode"/>
     <xsd:element name="GoodsIssueOrReceiptSlipNumberID" minOccurs="0" type="GoodsMovementReferenceDocumentID"/>
     <xsd:element name="Text" minOccurs="0" maxOccurs="unbounded" type="Text"/>
     <xsd:element name="DeliveryItem" minOccurs="0" maxOccurs="unbounded" type="InboundDeliveryItem"/>
     <xsd:element name="HandlingUnits" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitASN"/>
     <xsd:element name="HandlingUnit" minOccurs="0" maxOccurs="unbounded" type="HandlingUnit"/>
     <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="AttachmentSD"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InboundDeliveryItem">
    <xsd:sequence>
     <xsd:element name="DeliveryDocumentItem" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="DeliveryDocumentItemBySupplier" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="Material" minOccurs="0" type="Product"/>
     <xsd:element name="ActualDeliveryQuantity" minOccurs="0" type="Quantity"/>
     <xsd:element name="ActualDeliveredQtyInBaseUnit" minOccurs="0" type="Quantity"/>
     <xsd:element name="OriginalDeliveryQuantity" minOccurs="0" type="Quantity"/>
     <xsd:element name="DeliveryDocumentItemCategory" minOccurs="0" type="BusinessTransactionDocumentTypeCode"/>
     <xsd:element name="DeliveryDocumentItemText" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Text"/>
     <xsd:element name="ItemNetWeight" minOccurs="0" type="Measure"/>
     <xsd:element name="ItemGrossWeight" minOccurs="0" type="Measure"/>
     <xsd:element name="ItemVolume" minOccurs="0" type="Measure"/>
     <xsd:element name="Batch" minOccurs="0" type="DeliveryItemBatch"/>
     <xsd:element name="Plant" minOccurs="0" type="PlantID"/>
     <xsd:element name="StorageLocation" minOccurs="0" type="LocationInternalID"/>
     <xsd:element name="StorageBin" minOccurs="0" type="StorageBinCode"/>
     <xsd:element name="DistributionChannel" minOccurs="0" type="DistributionChannelCode"/>
     <xsd:element name="Division" minOccurs="0" type="DivisionCode"/>
     <xsd:element name="SalesOffice" minOccurs="0" type="SalesOfficeCode"/>
     <xsd:element name="SalesGroup" minOccurs="0" type="SalesGroupCode"/>
     <xsd:element name="ReceivingPoint" minOccurs="0" type="LocationPoint"/>
     <xsd:element name="LoadingGroup" minOccurs="0" type="LoadingGroupCode"/>
     <xsd:element name="TransportationGroup" minOccurs="0" type="TransportationProfileGroupCode"/>
     <xsd:element name="DeliveryGroup" minOccurs="0" type="DeliveryGroupCode"/>
     <xsd:element name="HierarchyRelationship" minOccurs="0" maxOccurs="unbounded" type="DeliveryItemHierarchyRelationship"/>
     <xsd:element name="UnderlyingPurchaseOrder" minOccurs="0" type="UnderlyingPurchaseOrderID"/>
     <xsd:element name="UnderlyingPurchaseOrderItem" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="ReferenceSDDocument" minOccurs="0" type="DocumentID"/>
     <xsd:element name="ReferenceSDDocumentItem" minOccurs="0" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="DeliveryToBaseQuantityDnmntr" minOccurs="0" type="Denominator"/>
     <xsd:element name="DeliveryToBaseQuantityNmrtr" minOccurs="0" type="Numerator"/>
     <xsd:element name="SalesDocumentItemType" minOccurs="0" type="BusinessTransactionDocumentItemTypeCode"/>
     <xsd:element name="UnlimitedOverdeliveryIsAllowed" minOccurs="0" type="Indicator"/>
     <xsd:element name="UnderdelivTolrtdLmtRatioInPct" minOccurs="0" type="Percent"/>
     <xsd:element name="OverdelivTolrtdLmtRatioInPct" minOccurs="0" type="Percent"/>
     <xsd:element name="MaterialGroup" minOccurs="0" type="MaterialGroup"/>
     <xsd:element name="InventorySpecialStockType" minOccurs="0" type="InventorySpecialStockTypeCode"/>
     <xsd:element name="AdditionalCustomerGroup1" minOccurs="0" type="CustomerGroupCode"/>
     <xsd:element name="AdditionalCustomerGroup2" minOccurs="0" type="CustomerGroupCode"/>
     <xsd:element name="AdditionalCustomerGroup3" minOccurs="0" type="CustomerGroupCode"/>
     <xsd:element name="AdditionalCustomerGroup4" minOccurs="0" type="CustomerGroupCode"/>
     <xsd:element name="AdditionalCustomerGroup5" minOccurs="0" type="CustomerGroupCode"/>
     <xsd:element name="AdditionalMaterialGroup1" minOccurs="0" type="MaterialGroupCode"/>
     <xsd:element name="AdditionalMaterialGroup2" minOccurs="0" type="MaterialGroupCode"/>
     <xsd:element name="AdditionalMaterialGroup3" minOccurs="0" type="MaterialGroupCode"/>
     <xsd:element name="AdditionalMaterialGroup4" minOccurs="0" type="MaterialGroupCode"/>
     <xsd:element name="AdditionalMaterialGroup5" minOccurs="0" type="MaterialGroupCode"/>
     <xsd:element name="Serial" minOccurs="0" maxOccurs="unbounded" type="DeliveryItemSerial"/>
     <xsd:element name="SubcontractingComponent" minOccurs="0" maxOccurs="unbounded" type="IDLSubcontrgComp"/>
     <xsd:element name="Text" minOccurs="0" maxOccurs="unbounded" type="Text"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InboundDeliveryMessage">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="Delivery" type="InboundDelivery"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Incoterms">
    <xsd:sequence>
     <xsd:element name="IncotermsVersion" minOccurs="0" type="IncotermsVersion"/>
     <xsd:element name="IncotermsClassification" minOccurs="0" type="IncotermsClassificationCode"/>
     <xsd:element name="IncotermsLocation1" minOccurs="0" type="IncotermsLocationName1"/>
     <xsd:element name="IncotermsLocation2" minOccurs="0" type="IncotermsLocationName1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="IncotermsClassificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IncotermsLocationName1">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="70"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IncotermsVersion">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InventorySpecialStockTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Text">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LoadingGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LocationInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LocationPoint">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="25"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ManufacturerName_GFN">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ManufacturerPartNmbr_GFN">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Manufacturer_GFN">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MaterialGroup">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MaterialGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Measure">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Measure.Content">
      <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Measure.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Numerator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Organisation">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Party">
    <xsd:sequence>
     <xsd:element name="GlobalLocationNumber" minOccurs="0" type="PartyStandardID"/>
     <xsd:element name="BuyerPartyID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="SupplierPartyID" minOccurs="0" type="PartyPartyID"/>
     <xsd:element name="Address" minOccurs="0" type="Address"/>
    </xsd:sequence>
    <xsd:attribute name="PartyType" use="required">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="10"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartyPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Percent">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="16"/>
     <xsd:fractionDigits value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
     <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
     <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
     <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PlantID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="50"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PostalCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Product">
    <xsd:sequence>
     <xsd:element name="GlobalTradeItemNumber" minOccurs="0" type="ProductStandardID"/>
     <xsd:element name="BuyerProductID" minOccurs="0" type="ProductPartyID"/>
     <xsd:element name="SupplierProductID" minOccurs="0" type="ProductPartyID"/>
     <xsd:element name="ManufacturerPartNumber" minOccurs="0" type="ManufacturerPartNmbr_GFN"/>
     <xsd:element name="Manufacturer" minOccurs="0" type="Manufacturer_GFN"/>
     <xsd:element name="ManufacturerName" minOccurs="0" type="ManufacturerName_GFN"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ProductPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ProductStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="14"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ProductStandardID_V1">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="50"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Quantity">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Quantity.Content">
      <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Quantity.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RegionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="6"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RouteID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="22"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SalesGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SalesOfficeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SerialID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StorageBinCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StreetAddressName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StreetName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TelephoneCountryCodePrefix_GFN">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Text">
    <xsd:sequence>
     <xsd:element name="BuyerTextElementID" minOccurs="0" type="TextElement"/>
     <xsd:element name="SupplierTextElementID" minOccurs="0" type="TextElement"/>
     <xsd:element name="TextElementLanguage" minOccurs="0" type="LanguageCode"/>
     <xsd:element name="TextElementText" minOccurs="0" type="TextElementText"/>
     <xsd:element name="TextElementTextFormat" minOccurs="0" type="TextElementTextFormat"/>
    </xsd:sequence>
    <xsd:attribute name="Type" type="TextType"/>
   </xsd:complexType>
   <xsd:simpleType name="TextElement">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TextElementText">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="TextElementTextFormat">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TextType">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeZoneCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TransportMeansDescriptionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TransportMeansID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TransportServiceLevelCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TransportationProfileGroupCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UnderlyingPurchaseOrderID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
<!--  </xsd:schema>-->
<!--<xsd:schema targetNamespace="http://sap.com/xi/EDI/Buyer"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/EDI/Buyer" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/EDI" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global">-->
   <!--<xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="AlternativeHandlingUnitID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <xsd:simpleType name="AssemblyLocation">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <!--<xsd:simpleType name="BusinessTransactionDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <xsd:simpleType name="ComponentGroupNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CustomerComponentGroupMaterial">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CustomerNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ExtJITCallItemNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="HandlingUnit">
    <xsd:sequence>
     <xsd:element name="ID" type="HandlingUnitID"/>
     <xsd:element name="AlternativeID" type="AlternativeHandlingUnitID"/>
     <xsd:element name="ID_Type" minOccurs="0" type="HandlingUnitIDType"/>
     <xsd:element name="LoadCarrier" type="HandlingUnitLoadCarrier"/>
     <xsd:element name="HeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="LengthMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="WidthMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="GrossVolumeMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="NetVolumeMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="GrossWeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="NetWeightMeasure" minOccurs="0" type="Measure"/>
     <xsd:element name="AdditionalPackaging" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitAdditionalPackaging"/>
     <xsd:element name="LowerLevelHandlingUnit" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitLowerLevelHandlingUnit"/>
     <xsd:element name="Load" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitLoad"/>
     <xsd:element name="JITData" minOccurs="0" type="JITHeaderOutboundHandlingUnit"/>
    </xsd:sequence>
   </xsd:complexType>
   <!--<xsd:complexType name="HandlingUnitAdditionalPackaging">
    <xsd:sequence>
     <xsd:element name="Product" type="Product"/>
     <xsd:element name="Quantity" type="Quantity"/>
    </xsd:sequence>
   </xsd:complexType>-->
   <!--<xsd:simpleType name="HandlingUnitID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="HandlingUnitIDType">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:complexType name="HandlingUnitItemSerial">
    <xsd:sequence>
     <xsd:element name="SerialNumber" type="SerialID"/>
    </xsd:sequence>
   </xsd:complexType>-->
   <!--<xsd:complexType name="HandlingUnitLoad">
    <xsd:sequence>
     <xsd:element name="BusinessTransactionDocumentReference" type="HandlingUnitLoadBusinessTransactionDocumentReference"/>
     <xsd:element name="Quantity" type="Quantity"/>
     <xsd:element name="SerialID" minOccurs="0" maxOccurs="unbounded" type="HandlingUnitItemSerial"/>
    </xsd:sequence>
   </xsd:complexType>-->
  <!-- <xsd:complexType name="HandlingUnitLoadBusinessTransactionDocumentReference">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessTransactionDocumentID"/>
     <xsd:element name="ItemID" type="BusinessTransactionDocumentItemID"/>
    </xsd:sequence>
   </xsd:complexType>-->
   <xsd:complexType name="HandlingUnitLoadCarrier">
    <xsd:sequence>
     <xsd:element name="Product" type="Product"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="HandlingUnitLowerLevelHandlingUnit">
    <xsd:sequence>
     <xsd:element name="ID" type="HandlingUnitID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Identifier">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:token">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <!--<xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>-->
   <xsd:complexType name="JITCallItemData">
    <xsd:sequence>
     <xsd:element name="ExternalJITCallNumber" type="Identifier"/>
     <xsd:element name="ItemNumber" type="ExtJITCallItemNumber"/>
     <xsd:element name="Quantity" type="Quantity"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="JITCallSlotData">
    <xsd:sequence>
     <xsd:element name="SlotID" type="JustInTimePackageGroupCellNumber"/>
     <xsd:element name="HandlingUnitID" minOccurs="0" type="HandlingUnitID"/>
     <xsd:element name="ExternalJITCallNumber" type="Identifier"/>
     <xsd:element name="JITCallType" type="TextType"/>
     <xsd:element name="SequenceNumber" type="JustInTimeInternalSequenceNumber"/>
     <xsd:element name="ReorderIndicator" type="Indicator"/>
     <xsd:element name="ComponentGroupNumber" type="ComponentGroupNumber"/>
     <xsd:element name="CustomerComponentGroupMaterial" type="CustomerComponentGroupMaterial"/>
     <xsd:element name="CustomerNumber" type="CustomerNumber"/>
     <xsd:element name="BuyerID" type="SoldToParty"/>
     <xsd:element name="SupplierID" type="SoldToParty"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="JITHeaderOutboundHandlingUnit">
    <xsd:sequence>
     <xsd:element name="SupplyArea" type="ProductionSupplyAreaName"/>
     <xsd:element name="SupplyAreaDescription" minOccurs="0" type="TextElement"/>
     <xsd:element name="AssemblyLocation" minOccurs="0" type="AssemblyLocation"/>
     <xsd:element name="ExternalJITCallNumber" type="Identifier"/>
     <xsd:element name="JITCallType" type="TextType"/>
     <xsd:element name="ComponentGroupNumber" type="ComponentGroupNumber"/>
     <xsd:element name="JITCallSlotData" minOccurs="0" maxOccurs="unbounded" type="JITCallSlotData"/>
     <xsd:element name="JITCallItemData" minOccurs="0" maxOccurs="unbounded" type="JITCallItemData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="JustInTimeInternalSequenceNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="JustInTimePackageGroupCellNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <!--<xsd:complexType name="Measure">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Measure.Content">
      <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>-->
   <!--<xsd:simpleType name="Measure.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:complexType name="Product">
    <xsd:sequence>
     <xsd:element name="GlobalTradeItemNumber" minOccurs="0" type="ProductStandardID"/>
     <xsd:element name="BuyerProductID" minOccurs="0" type="ProductPartyID"/>
     <xsd:element name="SupplierProductID" minOccurs="0" type="ProductPartyID"/>
    </xsd:sequence>
   </xsd:complexType>-->
   <!--<xsd:simpleType name="ProductPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="ProductStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="14"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <xsd:simpleType name="ProductionSupplyAreaName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <!--<xsd:complexType name="Quantity">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Quantity.Content">
      <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>-->
   <!--<xsd:simpleType name="Quantity.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="SerialID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <xsd:simpleType name="SoldToParty">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
  <!-- <xsd:simpleType name="TextElement">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>-->
   <!--<xsd:simpleType name="TextType">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>-->
<!--  </xsd:schema>-->
<!--  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/Global" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/EDI" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global">-->
<!--   <xsd:import namespace="http://sap.com/xi/EDI"/>-->
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="xi0:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
<!-- </wsdl:types>
 <wsdl:message name="DeliveryRequest">
  <wsdl:part name="DeliveryRequest" element="n1:DeliveryRequest"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part name="StandardMessageFault" element="n2:StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="DeliveryRequest_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="LE-SHP-GF-ES"/>
   </sapdoc:sapdoc>-->
<!--  </wsdl:documentation>
  <wsdl:operation name="DeliveryRequest_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_DeliveryRequest_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:DeliveryRequest"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>-->
