XSPEC_HOME/Buyer/schemas/s4HanaBuyer/SCHEMA_S4HANA_0000_RequestForQuotation^RequestForQuotationS4Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/Procurement" xmlns="http://sap.com/xi/Procurement"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
 <xsd:element name="RequestForQuotationS4Request" type="RequestForQuotationS4Message"/>
 <xsd:complexType name="AddressExtended">
  <xsd:sequence>
   <xsd:element name="FormOfAddress" minOccurs="0" type="FormOfAddressCode"/>
   <xsd:element name="FormOfAddressName" minOccurs="0" type="FormOfAddressName_GFN"/>
   <xsd:element name="FullName" minOccurs="0" type="FullName_GFN"/>
   <xsd:element name="StreetName" minOccurs="0" type="StreetName"/>
   <xsd:element name="HouseNumber" minOccurs="0" type="HouseNumber_GFN"/>
   <xsd:element name="PostalCode" minOccurs="0" type="PostalCode"/>
   <xsd:element name="CityName" minOccurs="0" type="CityName"/>
   <xsd:element name="Country" minOccurs="0" type="CountryCode"/>
   <xsd:element name="Region" minOccurs="0" type="AddressRegion_GFN"/>
   <xsd:element name="District" minOccurs="0" type="District"/>
   <xsd:element name="County" minOccurs="0" type="County"/>
   <xsd:element name="Building" minOccurs="0" type="Building_GFN"/>
   <xsd:element name="Floor" minOccurs="0" type="Floor_GFN"/>
   <xsd:element name="RoomNumber" minOccurs="0" type="RoomNumber_GFN"/>
   <xsd:element name="FormattedPhoneNumber" minOccurs="0" type="FormattedPhoneNumber"/>
   <xsd:element name="PhoneNumber" minOccurs="0" type="PhoneNumber"/>
   <xsd:element name="FormattedFaxNumber" minOccurs="0" type="FormattedPhoneNumber"/>
   <xsd:element name="FaxNumber" minOccurs="0" type="PhoneNumber"/>
   <xsd:element name="EmailAddress" minOccurs="0" type="EmailAddress_GFN"/>
   <xsd:element name="CorrespondenceLanguage" minOccurs="0" type="LanguageCode_GFN"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="AddressRegion_GFN">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="AgencyIdentificationCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="Attachment">
  <xsd:simpleContent>
   <xsd:extension base="xsd:base64Binary">
    <xsd:attribute name="FileName">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="255"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="MimeType">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="128"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="FileSize">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="12"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="Building_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="20"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessDocumentMessageHeader">
  <xsd:sequence>
   <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
   <xsd:element name="UUID" minOccurs="0" type="UUID"/>
   <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
   <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
   <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
   <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
   <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
   <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
   <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
   <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
   <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded"
    type="BusinessDocumentMessageHeaderParty"/>
   <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageHeaderParty">
  <xsd:sequence>
   <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
   <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
   <xsd:element name="ContactPerson" minOccurs="0"
    type="BusinessDocumentMessageHeaderPartyContactPerson"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
  <xsd:sequence>
   <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
   <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4"
    type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
   <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4"
    type="LANGUAGEINDEPENDENT_LONG_Name"/>
   <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
   <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
   <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessDocumentMessageID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessDocumentMessageID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="35"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScope">
  <xsd:sequence>
   <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
   <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
   <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessScopeID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="36"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScopeInstanceID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeInstanceID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeInstanceID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="36"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScopeTypeCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeTypeCode.Content">
    <xsd:attribute name="listID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listVersionID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="15"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencySchemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeTypeCode.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="BusinessSystemID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="60"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CityName">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CompanyCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ContactPersonInternalID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="ContactPersonInternalID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="ContactPersonInternalID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="32"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ContentText">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="CountryCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="2"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CountryDiallingCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="County">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CurrencyCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:length value="3"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Description">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="District">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="EmailAddress_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="241"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="EmailURI">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="xsd:anyURI">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="EmployeeID">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="12"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="EmployeeResponsible">
  <xsd:sequence>
   <xsd:element name="Employee" type="EmployeeID"/>
   <xsd:element name="Address" minOccurs="0" type="AddressExtended"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="Floor_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="FormOfAddressCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="FormOfAddressName_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="30"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="FormattedPhoneNumber">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="30"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="FullName_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="80"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="GLOBAL_DateTime">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:dateTime">
   <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="HeaderIncoterms">
  <xsd:sequence>
   <xsd:element name="IncotermsClassification" minOccurs="0" type="IncotermsClassificationCode"/>
   <xsd:element name="IncotermsVersion" minOccurs="0" type="IncotermsVersion"/>
   <xsd:element name="IncotermsLocation1" minOccurs="0" type="IncotermsDestinationLocationName"/>
   <xsd:element name="IncotermsLocation2" minOccurs="0" type="IncotermsDestinationLocationName"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="HouseNumber_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="IncotermsClassificationCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="IncotermsDestinationLocationName">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="70"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="IncotermsVersion">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Indicator">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:boolean"/>
 </xsd:simpleType>
 <xsd:complexType name="ItemIncoterms">
  <xsd:sequence>
   <xsd:element name="IncotermsClassification" minOccurs="0" type="IncotermsClassificationCode"/>
   <xsd:element name="IncotermsVersion" minOccurs="0" type="IncotermsVersion"/>
   <xsd:element name="IncotermsLocation1" minOccurs="0" type="IncotermsDestinationLocationName"/>
   <xsd:element name="IncotermsLocation2" minOccurs="0" type="IncotermsDestinationLocationName"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="80"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Text">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="LEN40_Description">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="LEN40_Description.Content">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="LEN40_Description.Content">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="LEN60_Description">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="LEN60_Description.Content">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="LEN60_Description.Content">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="60"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LanguageCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:language">
   <xsd:maxLength value="9"/>
   <xsd:minLength value="2"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LanguageCode_GFN">
  <xsd:restriction base="xsd:language">
   <xsd:length value="2"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="MEDIUM_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="MEDIUM_Name.Content">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="MEDIUM_Name.Content">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Material">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="MaterialGroup_GFN">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="9"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="MeasureUnitCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="MimeType">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="128"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="PartyInternalID">
  <xsd:simpleContent>
   <xsd:extension base="PartyInternalID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="PartyInternalID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="32"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PartyStandardID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="13"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="PhoneNumber">
  <xsd:sequence>
   <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
   <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
   <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
   <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
   <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
   <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="PhoneNumberAreaID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PhoneNumberExtensionID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PhoneNumberSubscriberID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="30"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Plant_GFN">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PostalCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="ProductType">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="2"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PurchasingCategoryCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:length value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PurchasingDocumentTypeCode">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PurchasingGroup">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PurchasingOrganization_GFN">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="Quantity">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="Quantity.Content">
    <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="Quantity.Content">
  <xsd:restriction base="xsd:decimal">
   <xsd:totalDigits value="31"/>
   <xsd:fractionDigits value="14"/>
   <xsd:maxInclusive value="99999999999999999.99999999999999"/>
   <xsd:minInclusive value="-99999999999999999.99999999999999"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="RFQBidderParty">
  <xsd:sequence>
   <xsd:element name="Supplier" type="Supplier"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="RFQCategory">
  <xsd:restriction base="xsd:string">
   <xsd:length value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="RequestForQuotationID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="RequestForQuotationItemID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="5"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="RequestForQuotationItemS4">
  <xsd:sequence>
   <xsd:element name="RequestForQuotationItemID" type="RequestForQuotationItemID"/>
   <xsd:element name="PurchasingDocumentItemText" type="LANGUAGEINDEPENDENT_MEDIUM_Text"/>
   <xsd:element name="Plant" type="Plant_GFN"/>
   <xsd:element name="Material" minOccurs="0" type="Material"/>
   <xsd:element name="MaterialDescription" minOccurs="0" maxOccurs="unbounded"
    type="LEN40_Description"/>
   <xsd:element name="MaterialGroup" type="MaterialGroup_GFN"/>
   <xsd:element name="MaterialGroupDescription" minOccurs="0" maxOccurs="unbounded"
    type="LEN60_Description"/>
   <xsd:element name="RequestedQuantity" type="Quantity"/>
   <xsd:element name="ProductType" type="ProductType"/>
   <xsd:element name="DeliveryDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="PerformancePeriodStartDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="PerformancePeriodEndDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="DeliveryAddress" type="AddressExtended"/>
   <xsd:element name="ItemIncoterms" minOccurs="0" type="ItemIncoterms"/>
   <xsd:element name="TextCollection" minOccurs="0" maxOccurs="unbounded"
    type="SimpleTextCollection"/>
   <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="Attachment"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RequestForQuotationS4">
  <xsd:sequence>
   <xsd:element name="RequestForQuotationID" type="RequestForQuotationID"/>
   <xsd:element name="RequestForQuotationName" minOccurs="0" type="Description"/>
   <xsd:element name="RFQDocumentType" type="PurchasingDocumentTypeCode"/>
   <xsd:element name="RFQCategory" minOccurs="0" type="RFQCategory"/>
   <xsd:element name="Language" type="LanguageCode"/>
   <xsd:element name="CreationDate" type="GLOBAL_DateTime"/>
   <xsd:element name="RFQPublishingDate" type="GLOBAL_DateTime"/>
   <xsd:element name="QuotationLatestSubmissionDate" type="GLOBAL_DateTime"/>
   <xsd:element name="BindingPeriodEndDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="LatestRegistrationDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="DocumentCurrency" type="CurrencyCode"/>
   <xsd:element name="CompanyCode" type="CompanyCode"/>
   <xsd:element name="PurchasingOrganization" minOccurs="0" type="PurchasingOrganization_GFN"/>
   <xsd:element name="PurchasingGroup" minOccurs="0" type="PurchasingGroup"/>
   <xsd:element name="HeaderIncoterms" minOccurs="0" type="HeaderIncoterms"/>
   <xsd:element name="FollowOnDocumentType" minOccurs="0" type="PurchasingDocumentTypeCode"/>
   <xsd:element name="FollowOnDocumentCategory" minOccurs="0" type="PurchasingCategoryCode"/>
   <xsd:element name="RFQBidder" minOccurs="0" maxOccurs="unbounded" type="RFQBidderParty"/>
   <xsd:element name="SupplierSelectorMatchingType" type="SupplierSelectorMatchingType"/>
   <xsd:element name="EmployeeResponsible" minOccurs="0" type="EmployeeResponsible"/>
   <xsd:element name="TextCollection" minOccurs="0" maxOccurs="unbounded"
    type="SimpleTextCollection"/>
   <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="Attachment"/>
   <xsd:element name="RequestForQuotationItem" maxOccurs="unbounded"
    type="RequestForQuotationItemS4"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RequestForQuotationS4Message">
  <xsd:sequence>
   <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
   <xsd:element name="RequestForQuotation" type="RequestForQuotationS4"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="RoomNumber_GFN">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="SimpleTextCollection">
  <xsd:sequence>
   <xsd:element name="ContentText" type="ContentText"/>
   <xsd:element name="TypeCode" minOccurs="0" type="TypeCode"/>
   <xsd:element name="MimeType" minOccurs="0" type="MimeType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="StreetName">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="60"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Supplier">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="SupplierSelectorMatchingType">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="TypeCode">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="5"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="UUID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
    <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
   </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="UUID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="UUID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:length value="36"/>
   <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
   />
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
