XSPEC_HOME/Buyer/schemas/s4HanaBuyer/SCHEMA_S4HANA_0000_supplierquotations4request^SupplierQuotationS4Request.xsd

<?xml version="1.0" encoding="utf-8"?>
  <xsd:schema targetNamespace="http://sap.com/xi/Procurement"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/Procurement"
 xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
 xmlns:xi0="http://sap.com/xi/CRM/Global" xmlns:xi1="http://sap.com/xi/AB/FS/VP">
 <xsd:element name="SupplierQuotationS4Request" type="SupplierQuotationS4Message"/>
 <xsd:simpleType name="AgencyIdentificationCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="Attachment">
  <xsd:simpleContent>
   <xsd:extension base="xsd:base64Binary">
    <xsd:attribute name="FileName">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="255"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="MimeType">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="128"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="FileSize">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="12"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageHeader">
  <xsd:sequence>
   <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
   <xsd:element name="UUID" minOccurs="0" type="UUID"/>
   <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
   <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
   <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
   <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
   <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
   <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
   <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
   <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
   <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded"
    type="BusinessDocumentMessageHeaderParty"/>
   <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageHeaderParty">
  <xsd:sequence>
   <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
   <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
   <xsd:element name="ContactPerson" minOccurs="0"
    type="BusinessDocumentMessageHeaderPartyContactPerson"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
  <xsd:sequence>
   <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
   <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4"
    type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
   <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4"
    type="LANGUAGEINDEPENDENT_LONG_Name"/>
   <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
   <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
   <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessDocumentMessageID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessDocumentMessageID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessDocumentMessageID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="35"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScope">
  <xsd:sequence>
   <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
   <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
   <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BusinessScopeID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="36"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScopeInstanceID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeInstanceID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeInstanceID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="36"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="BusinessScopeTypeCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="BusinessScopeTypeCode.Content">
    <xsd:attribute name="listID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listVersionID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="15"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencySchemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="BusinessScopeTypeCode.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="BusinessSystemID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="60"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ConditionQuantity">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="ConditionQuantity.Content">
    <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="ConditionQuantity.Content">
  <xsd:restriction base="xsd:decimal">
   <xsd:totalDigits value="5"/>
   <xsd:fractionDigits value="0"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="ConditionRateValue_GFN">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:decimal">
   <xsd:totalDigits value="28"/>
   <xsd:fractionDigits value="6"/>
   <xsd:maxInclusive value="9999999999999999999999.999999"/>
   <xsd:minInclusive value="-9999999999999999999999.999999"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="ConditionType">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ContactPersonInternalID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="ContactPersonInternalID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="ContactPersonInternalID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="32"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="ContentText">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="xsd:string">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="CountryCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="2"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CountryDiallingCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="CurrencyCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:length value="3"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="EmailURI">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="xsd:anyURI">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="GLOBAL_DateTime">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:dateTime">
   <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Indicator">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:boolean"/>
 </xsd:simpleType>
 <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="80"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="LanguageCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:language">
   <xsd:maxLength value="9"/>
   <xsd:minLength value="2"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="MEDIUM_Name">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="MEDIUM_Name.Content">
    <xsd:attribute name="languageCode" type="LanguageCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="MEDIUM_Name.Content">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="Manufacturer">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="ManufacturerPartNumber">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="MeasureUnitCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="3"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="MimeType">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="128"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="PartyInternalID">
  <xsd:simpleContent>
   <xsd:extension base="PartyInternalID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="PartyInternalID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="32"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PartyStandardID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="13"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="PhoneNumber">
  <xsd:sequence>
   <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
   <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
   <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
   <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
   <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
   <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="PhoneNumberAreaID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PhoneNumberExtensionID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PhoneNumberSubscriberID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="30"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="PricingElement">
  <xsd:sequence>
   <xsd:element name="ConditionType" minOccurs="0" type="ConditionType"/>
   <xsd:element name="ConditionTypeName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
   <xsd:element name="ConditionRateValue" minOccurs="0" type="ConditionRateValue_GFN"/>
   <xsd:element name="ConditionCurrency" minOccurs="0" type="CurrencyCode"/>
   <xsd:element name="ConditionQuantity" minOccurs="0" type="ConditionQuantity"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="PurchasingCategoryCode">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:length value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="PurchasingDocumentTypeCode">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="4"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="Quantity">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="Quantity.Content">
    <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="Quantity.Content">
  <xsd:restriction base="xsd:decimal">
   <xsd:totalDigits value="31"/>
   <xsd:fractionDigits value="14"/>
   <xsd:maxInclusive value="99999999999999999.99999999999999"/>
   <xsd:minInclusive value="-99999999999999999.99999999999999"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="RFQCategory">
  <xsd:restriction base="xsd:string">
   <xsd:length value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="RequestForQuotationID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="RequestForQuotationItemID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="5"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="SimpleTextCollection">
  <xsd:sequence>
   <xsd:element name="ContentText" type="ContentText"/>
   <xsd:element name="TypeCode" minOccurs="0" type="TypeCode"/>
   <xsd:element name="MimeType" minOccurs="0" type="MimeType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="Supplier">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="10"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="SupplierMaterialNumber">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="35"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="SupplierQuotationExternalId">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="70"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="SupplierQuotationExternalItemID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="5"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="SupplierQuotationItemS4">
  <xsd:sequence>
   <xsd:element name="SupplierQuotationExternalItemID" type="SupplierQuotationExternalItemID"/>
   <xsd:element name="RequestForQuotationItemID" minOccurs="0" type="RequestForQuotationItemID"/>
   <xsd:element name="OfferedQuantity" minOccurs="0" type="Quantity"/>
   <xsd:element name="SupplierMaterialNumber" minOccurs="0" type="SupplierMaterialNumber"/>
   <xsd:element name="Manufacturer" minOccurs="0" type="Manufacturer"/>
   <xsd:element name="ManufacturerPartNmbr" minOccurs="0" type="ManufacturerPartNumber"/>
   <xsd:element name="PricingElements" minOccurs="0" maxOccurs="unbounded" type="PricingElement"/>
   <xsd:element name="TextCollection" minOccurs="0" maxOccurs="unbounded"
    type="SimpleTextCollection"/>
   <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="Attachment"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="SupplierQuotationLifecycleStatus">
  <xsd:restriction base="xsd:string">
   <xsd:maxLength value="40"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="SupplierQuotationS4">
  <xsd:sequence>
   <xsd:element name="SupplierQuotationExternalId" type="SupplierQuotationExternalId"/>
   <xsd:element name="RequestForQuotationId" type="RequestForQuotationID"/>
   <xsd:element name="RFQCategory" minOccurs="0" type="RFQCategory"/>
   <xsd:element name="SupplierQuotationExternalStatus" type="SupplierQuotationLifecycleStatus"/>
   <xsd:element name="Supplier" type="Supplier"/>
   <xsd:element name="Language" type="LanguageCode"/>
   <xsd:element name="SupplierQuotationSubmissionDate" type="GLOBAL_DateTime"/>
   <xsd:element name="BindingPeriodEndDate" minOccurs="0" type="GLOBAL_DateTime"/>
   <xsd:element name="FollowOnDocumentCategory" type="PurchasingCategoryCode"/>
   <xsd:element name="FollowOnDocumentType" type="PurchasingDocumentTypeCode"/>
   <xsd:element name="TextCollection" minOccurs="0" maxOccurs="unbounded"
    type="SimpleTextCollection"/>
   <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="Attachment"/>
   <xsd:element name="SupplierQuotationItem" maxOccurs="unbounded" type="SupplierQuotationItemS4"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SupplierQuotationS4Message">
  <xsd:sequence>
   <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
   <xsd:element name="SupplierQuotationS4" type="SupplierQuotationS4"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="TypeCode">
  <xsd:restriction base="xsd:token">
   <xsd:maxLength value="5"/>
   <xsd:minLength value="1"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:complexType name="UUID">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
   <xsd:extension base="UUID.Content">
    <xsd:attribute name="schemeID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="schemeAgencyID">
     <xsd:simpleType>
      <xsd:restriction base="xsd:token">
       <xsd:maxLength value="60"/>
       <xsd:minLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:attribute>
   </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:simpleType name="UUID.Content">
  <xsd:restriction base="xsd:token">
   <xsd:length value="36"/>
   <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
   />
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name="StandardMessageFault">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="standard" type="ExchangeFaultData"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:complexType name="ExchangeFaultData">
  <xsd:sequence>
   <xsd:element name="faultText" type="xsd:string"/>
   <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
   <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ExchangeLogData">
  <xsd:sequence>
   <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
   <xsd:element name="text" type="xsd:string"/>
   <xsd:element name="url" minOccurs="0" type="xsd:string"/>
   <xsd:element name="id" minOccurs="0" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
