XSPEC_HOME/Buyer/schemas/anBuyer/SCHEMA_AddOn_0000_ComponentConsumptionRequest^ComponentConsumption.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ComponentConsumption" type="ComponentConsumptionReqMsg"/>
    <xsd:simpleType name="AribaNetworkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:language">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GLOBAL_DateTime">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MeasureUnitCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryDiallingCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProductInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Quantity.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">QUANTITY is the non-monetary numerical declaration of a
                quantity in a specific unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeInstanceID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier for the instance of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessSystemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyStandardID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the
                identification scheme used is controlled by an agency from the code list DE
                3055</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SerialID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of
                the agency responsible for a code list or identifier scheme,
                respectively</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Indicator">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has
                exactly two mutually exclusive Boolean values.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberAreaID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_DocumentTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessDocumentMessageID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier of a business document in a
                (technical) message that is issued by the sender business
                application</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DeliveryItemID">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="6"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Partition">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Partition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Variant">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Variant</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextFormat">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyInternalID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContactPersonInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextObject">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeTypeCode.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberExtensionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="36"/>
            <xsd:pattern
                value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
            />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ANPayloadID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberSubscriberID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextTDLine">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="132"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PartyID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ComponentConsumptionReqMsg">
        <xsd:sequence>
            <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
            <xsd:element name="ComponentConsumptionHeader" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ConsumptionID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="ReferenceDocumentID"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="CreationDate" type="DateTime" minOccurs="0"/>
                        <xsd:element name="LastChangeDate" type="DateTime" minOccurs="0"/>
                        <xsd:element name="Comments" type="Text" minOccurs="0"/>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ComponentConsumptionItem" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SortKey" type="NOSC_PartyID" minOccurs="0"/>
                        <xsd:element name="orderID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="orderDate" type="DateTime" minOccurs="0"/>
                        <xsd:element name="poLineItem" type="DeliveryItemID" minOccurs="0"/>
                        <xsd:element name="itemQuantity" type="Quantity" minOccurs="0"/>
                        <xsd:element name="ItemSupplierPartID" type="ProductInternalID"
                            minOccurs="0"/>
                        <xsd:element name="ItemBuyerpartID" type="ProductInternalID" minOccurs="0"/>
                        <xsd:element name="ComponentLineNumber" type="DeliveryItemID" minOccurs="0"/>
                        <xsd:element name="ComponentQuantity" type="Quantity" minOccurs="0"/>
                        <xsd:element name="ProductbuyerPartID" type="ProductInternalID"
                            minOccurs="0"/>
                        <xsd:element name="ComponentUOM" type="MeasureUnitCode" minOccurs="0"/>
                        <xsd:element name="ComponentBuyerBatchID"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="ComponentSupplierBatchID"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="SubConBatchID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="SerialID" type="SerialID" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ComponentReferenceDocument" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OrderID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="ItemID" type="DeliveryItemID" minOccurs="0"/>
                        <xsd:element name="ComponentLineNumber" type="DeliveryItemID" minOccurs="0"/>
                        <xsd:element name="ComponentQuantity" type="Quantity" minOccurs="0"/>
                        <xsd:element name="RefDocLinenumber" type="DeliveryItemID" minOccurs="0"/>
                        <xsd:element name="DocumentType" type="NOSC_DocumentTypeCode" minOccurs="0"/>
                        <xsd:element name="DocumentID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="productionStartDate" type="DateTime" minOccurs="0"/>
                        <xsd:element name="productionFinishDate" type="DateTime" minOccurs="0"/>
                        <xsd:element name="productionStartTime" type="DateTime" minOccurs="0"/>
                        <xsd:element name="productionFinishTime" type="DateTime" minOccurs="0"/>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Attachment" type="Attachments" minOccurs="0"/>
            <xsd:element name="AribaComment" type="AribaComment" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneNumber">
        <xsd:sequence>
            <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
            <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
            <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Text">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessDocumentMessageID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EmailURI">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ContactPersonInternalID">
        <xsd:simpleContent>
            <xsd:extension base="ContactPersonInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="DateTime">
        <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime">
                <xsd:attribute name="timeZoneCode" type="TimeZoneCode"/>
                <xsd:attribute name="daylightSavingTimeIndicator" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="UUID">
        <xsd:simpleContent>
            <xsd:extension base="UUID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ProductInternalID">
        <xsd:simpleContent>
            <xsd:extension base="ProductInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyStandardID">
        <xsd:simpleContent>
            <xsd:extension base="PartyStandardID.Content">
                <xsd:attribute name="schemeAgencyID" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AribaComment">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">IDT for Ariba Comments</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TextObject" type="TextObject" minOccurs="0"/>
                        <xsd:element name="TextName" type="TextName" minOccurs="0"/>
                        <xsd:element name="TextID" type="TextID" minOccurs="0"/>
                        <xsd:element name="TextLang" type="LanguageCode" minOccurs="0"/>
                        <xsd:element name="ItemNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="TextDesc" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AribaLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="TextFormat" type="TextFormat" minOccurs="0"/>
                                    <xsd:element name="TextLine" type="TextTDLine" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScope">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Environment from which a message is
                sent</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
            <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
            <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MEDIUM_Name">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeader">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Business information from the perspective of the sender
                application for identifying a business document (instance) within a (technical)
                message</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="UUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="AribaNetworkPayloadID" type="ANPayloadID" minOccurs="0"/>
            <xsd:element name="AribaNetworkID" type="AribaNetworkID" minOccurs="0"/>
            <xsd:element name="CreationDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
            <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
            <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="partition" type="Partition"/>
        <xsd:attribute name="variant" type="Variant"/>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for
                sending or receiving a BusinessDocument</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AribaExtension">
        <xsd:attribute name="objectName" type="xsd:string"/>
        <xsd:attribute name="objectKey" type="xsd:string"/>
        <xsd:attribute name="fieldName" type="xsd:string"/>
        <xsd:attribute name="fieldValue" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="PartyInternalID">
        <xsd:simpleContent>
            <xsd:extension base="PartyInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:simpleContent>
            <xsd:extension base="Quantity.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Attachments">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proxy Attachment Structure for Ariba Cloud
                Integration</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FileName" type="xsd:string"/>
                        <xsd:element name="Charset" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LineNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="ContentId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ContentType" type="xsd:string"/>
                        <xsd:element name="ContentLength" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Content" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderParty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">General information about a party that is responsible
                for sending or receiving a BusinessDocument at business application
                level</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeTypeCode">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeTypeCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeInstanceID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeInstanceID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
