XSPEC_HOME/Buyer/schemas/anBuyer/SCHEMA_AddOn_0000_PaymentBatchRequest^CollectivePaymentOrderBulkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
    xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="PhoneNumberSubscriberID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Measure.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Measure is a physical indication of Measurements
                including the assigned Unit of Measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="19"/>
            <xsd:fractionDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TradeReceivablesPayablesRegisterItemTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentFormCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="2"/>
            <xsd:enumeration value="03"/>
            <xsd:enumeration value="02"/>
            <xsd:enumeration value="01"/>
            <xsd:enumeration value="04"/>
            <xsd:enumeration value="05"/>
            <xsd:enumeration value="06"/>
            <xsd:enumeration value="07"/>
            <xsd:enumeration value="08"/>
            <xsd:enumeration value="09"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContactPersonPartyID">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="60"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountTypeCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a bank account
                (represented according to ANSI X12 569)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DirectDebitMandateCreditorReferenceID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >DirectDebitMandateCreditorReferenceID</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankRoutingID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Routing identification number</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LONG_Description.Content">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentReferenceTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FormOfAddressCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Bank account identifier (Basic Bank Account
                Number)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountStandardID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized bank account identifier (International
                Bank Account Number)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="34"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TIMEZONEINDEPENDENT_DateTime">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GLOBAL_DateTime">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DirectDebitMandateDebtorReferenceID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">DirectDebitMandateDebtorReferenceID</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankStandardID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized bank identifier (SWIFT Bank Identification
                Code)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="8"/>
            <xsd:maxLength value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentProcedureCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Zahlungsverfahren</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyTaxID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountHolderName">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Bank account holder name</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CorrespondenceBankTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AcademicTitleCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContactPersonInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankRoutingIDTypeCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a routing number
                (represented according to SWIFT MT103 Element 52a)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TaxJurisdictionCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MeasureUnitCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneDifferenceValue">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="4"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeTypeCode.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Universally Unique Identifier ( to be used instead of
                GUID !! - GUID will be deleted)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WebURI">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountInternalID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary bank account identifier (used for internal
                communication)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FamilyNamePrefixCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyStandardID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the
                identification scheme used is controlled by an agency from the code list DE
                3055</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PersonNameFormatCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Amount.Content">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="28"/>
            <xsd:fractionDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Indicator">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has
                exactly two mutually exclusive Boolean values.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="TotalNumberValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="999999999"/>
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeInstanceID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier for the instance of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessDocumentMessageID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier of a business document in a
                (technical) message that is issued by the sender business
                application</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentInstructionCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyPartyID">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="60"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CentralBankReportReasonClassificationCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CentralBankReportReasonCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneCode">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="10"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="5"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankChargeBearerCode">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="4"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankAccountIDCheckDigitValue">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Check digit for a bank account
                identifier</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentReferenceID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentDifferenceReasonCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Date">
        <xsd:restriction base="xsd:date">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CurrencyCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PersonNameSupplementCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of
                the agency responsible for a code list or identifier scheme,
                respectively</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberExtensionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RegionCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Text">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Languageindependent Medium Text</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DirectDebitMandateID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">DirectDebitMandateID</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessSystemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryDiallingCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionPriorityCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberAreaID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PaymentBaseBusinessTransactionTypeCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:language">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BankInternalID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary bank identifier (used for internal
                communication)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="MEDIUM_Name">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="FormOfAddressCode">
        <xsd:simpleContent>
            <xsd:extension base="FormOfAddressCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Description">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Natural Language Text</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeTypeCode">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeTypeCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessDocumentMessageID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PaymentOrderCorrespondenceBankDetails">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Bank details of a correspondence bank that should be
                used for forwarding the payment order</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="CorrespondenceBankTypeCode" type="CorrespondenceBankTypeCode"/>
            <xsd:element name="Bank" type="Bank" minOccurs="0"/>
            <xsd:element name="BankAccount" type="BusinessTransactionDocumentBankAccount"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentBaseBusinessTransactionTypeCode">
        <xsd:simpleContent>
            <xsd:extension base="PaymentBaseBusinessTransactionTypeCode.Content">
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="UUID">
        <xsd:simpleContent>
            <xsd:extension base="UUID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PersonNameSupplementCode">
        <xsd:simpleContent>
            <xsd:extension base="PersonNameSupplementCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PaymentOrder">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An instruction to a credit institution to carry out a
                single payment transaction</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessTransactionDocumentID" minOccurs="0"/>
            <xsd:element name="BillOfExchangeDueDate" type="Date" minOccurs="0"/>
            <xsd:element name="NetAmount" type="Amount"/>
            <xsd:element name="GrossAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="CashDiscountAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="WithholdingTaxAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="Note" type="Note" minOccurs="0"/>
            <xsd:element name="BankChargeBearerCode" type="BankChargeBearerCode" minOccurs="0"/>
            <xsd:element name="PriorityCode" type="BusinessTransactionPriorityCode" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="OriginalPaymentTransactionInitiatorParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="FinalPaymentTransactionDestinatedParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedBankAccount"
                type="BusinessTransactionDocumentBankAccount" minOccurs="0"/>
            <xsd:element name="AdditionalBankDetailsText" type="LANGUAGEINDEPENDENT_MEDIUM_Text"
                minOccurs="0"/>
            <xsd:element name="PaymentInstruction" type="PaymentInstruction" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="CorrespondenceBankDetails"
                type="PaymentOrderCorrespondenceBankDetails" minOccurs="0" maxOccurs="3"/>
            <xsd:element name="CentralBankReportItem" type="CentralBankReportItem" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="DirectDebitMandate" type="CollvPaytOrdMsgPaytOrdDirectDebitMandt"
                minOccurs="0"/>
            <xsd:element name="PaymentReference" type="BusinessTransactionDocumentReference"
                minOccurs="0"/>
            <xsd:element name="ChequeReference" type="BusinessTransactionDocumentReference"
                minOccurs="0"/>
            <xsd:element name="BillOfExchangeReference" type="BusinessTransactionDocumentReference"
                minOccurs="0"/>
            <xsd:element name="PaymentExplanationItem" type="PaymentExplanationItem" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyTaxID">
        <xsd:simpleContent>
            <xsd:extension base="PartyTaxID.Content">
                <xsd:attribute name="schemeID" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessTransactionDocumentBankAccount">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Bank account details</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BankAccountID" minOccurs="0"/>
            <xsd:element name="IDCheckDigitValue" type="BankAccountIDCheckDigitValue" minOccurs="0"/>
            <xsd:element name="InternalID" type="BankAccountInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="BankAccountStandardID" minOccurs="0"/>
            <xsd:element name="TypeCode" type="BankAccountTypeCode" minOccurs="0"/>
            <xsd:element name="CurrencyCode" type="CurrencyCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account currency</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HolderName" type="BankAccountHolderName" minOccurs="0"/>
            <xsd:element name="Description" type="Description" minOccurs="0"/>
            <xsd:element name="Bank" type="Bank" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for
                sending or receiving a BusinessDocument</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BankInternalID">
        <xsd:simpleContent>
            <xsd:extension base="BankInternalID.Content">
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Note">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="DateTime">
        <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime">
                <xsd:attribute name="timeZoneCode" type="TimeZoneCode"/>
                <xsd:attribute name="daylightSavingTimeIndicator" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyInternalID">
        <xsd:simpleContent>
            <xsd:extension base="PartyInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BankAccountInternalID">
        <xsd:simpleContent>
            <xsd:extension base="BankAccountInternalID.Content">
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PersonNameFormatCode">
        <xsd:simpleContent>
            <xsd:extension base="PersonNameFormatCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ContactPerson">
        <xsd:sequence>
            <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
            <xsd:element name="BuyerID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="SellerID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="ProductRecipientID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="VendorID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="BillToID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="BillFromID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="BidderID" type="ContactPersonPartyID" minOccurs="0"/>
            <xsd:element name="Address" type="Address" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxJurisdictionCode">
        <xsd:simpleContent>
            <xsd:extension base="TaxJurisdictionCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Measure">
        <xsd:simpleContent>
            <xsd:extension base="Measure.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="CollvPaytOrdMsgPaytOrdDirectDebitMandt">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Direct Debit Mandate reference data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="DirectDebitMandateID"/>
            <xsd:element name="CreditorReferenceID" type="DirectDebitMandateCreditorReferenceID"
                minOccurs="0"/>
            <xsd:element name="CreditorReferenceDescription" type="LONG_Description" minOccurs="0"/>
            <xsd:element name="DebtorReferenceID" type="DirectDebitMandateDebtorReferenceID"
                minOccurs="0"/>
            <xsd:element name="SignatureCityName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="SingleUseIndicator" type="Indicator"/>
            <xsd:element name="SignatureDate" type="Date"/>
            <xsd:element name="ValidityPeriod" type="UPPEROPEN_TIMEZONEINDEPENDENT_DateTimePeriod"
                minOccurs="0"/>
            <xsd:element name="DebtorBankAccount" type="BusinessTransactionDocumentBankAccount"
                minOccurs="0"/>
            <xsd:element name="CreditorParty" type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="DebtorParty" type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="OriginalDirectDebitMandate"
                type="CollvPaytOrdMsgPaytOrdDirectDebitMandtOriglDirectDebitMandt" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactPersonInternalID">
        <xsd:simpleContent>
            <xsd:extension base="ContactPersonInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PersonName" type="PersonName" minOccurs="0"/>
            <xsd:element name="FunctionalTitleName" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DepartmentName" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Office" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BuildingID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="FloorID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RoomID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="InhouseMailID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CorrespondenceShortName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PhysicalAddress" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
                        <xsd:element name="RegionCode" type="RegionCode" minOccurs="0"/>
                        <xsd:element name="StreetPostalCode" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="POBoxPostalCode" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CompanyPostalCode" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CityName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AdditionalCityName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DistrictName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="POBoxID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="POBoxIndicator" type="xsd:boolean" minOccurs="0"/>
                        <xsd:element name="POBoxCountryCode" type="CountryCode" minOccurs="0"/>
                        <xsd:element name="POBoxRegionCode" type="RegionCode" minOccurs="0"/>
                        <xsd:element name="POBoxCityName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="StreetName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="StreetPrefixName" minOccurs="0" maxOccurs="2">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="StreetSuffixName" minOccurs="0" maxOccurs="2">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="HouseID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="AdditionalHouseID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="BuildingID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="20"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="FloorID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="RoomID" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CareOfName" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Description" type="Description" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TaxJurisdictionCode" type="TaxJurisdictionCode" minOccurs="0"/>
            <xsd:element name="TimeZoneDifferenceValue" type="TimeZoneDifferenceValue" minOccurs="0"/>
            <xsd:element name="GeoCoordinates" type="GeoCoordinates" minOccurs="0"/>
            <xsd:element name="Communication" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CorrespondenceLanguageCode" type="LanguageCode"
                            minOccurs="0"/>
                        <xsd:element name="Telephone" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Number" type="PhoneNumber"/>
                                    <xsd:element name="NumberDefaultIndicator" type="xsd:boolean"/>
                                    <xsd:element name="NumberDescription" type="Description"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                    <xsd:element name="NumberUsageDenialIndicator"
                                        type="xsd:boolean" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="MobilePhone" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Number" type="PhoneNumber"/>
                                    <xsd:element name="NumberDefaultIndicator" type="xsd:boolean"/>
                                    <xsd:element name="NumberDescription" type="Description"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                    <xsd:element name="NumberUsageDenialIndicator"
                                        type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Facsimile" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Number" type="PhoneNumber"/>
                                    <xsd:element name="NumberDefaultIndicator" type="xsd:boolean"/>
                                    <xsd:element name="NumberDescription" type="Description"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                    <xsd:element name="NumberUsageDenialIndicator"
                                        type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Email" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="URI" type="EmailURI"/>
                                    <xsd:element name="URIDefaultIndicator" type="xsd:boolean"/>
                                    <xsd:element name="URIDescription" type="Description"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                    <xsd:element name="URIUsageDenialIndicator" type="xsd:boolean"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Web" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="URI" type="WebURI"/>
                                    <xsd:element name="URIDefaultIndicator" type="xsd:boolean"/>
                                    <xsd:element name="URIDescription" type="Description"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmailURI">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="CollvPaytOrdMsgPaytOrdDirectDebitMandtOriglDirectDebitMandt">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Original Direct Debit Mandate reference
                data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="DirectDebitMandateID"/>
            <xsd:element name="CreditorReferenceID" type="DirectDebitMandateCreditorReferenceID"
                minOccurs="0"/>
            <xsd:element name="CreditorReferenceDescription" type="LONG_Description" minOccurs="0"/>
            <xsd:element name="ValidityPeriod" type="UPPEROPEN_TIMEZONEINDEPENDENT_DateTimePeriod"
                minOccurs="0"/>
            <xsd:element name="DebtorBankAccount" type="BusinessTransactionDocumentBankAccount"
                minOccurs="0"/>
            <xsd:element name="CreditorParty" type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="DebtorParty" type="BusinessTransactionDocumentParty" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UPPEROPEN_TIMEZONEINDEPENDENT_DateTimePeriod">
        <xsd:sequence>
            <xsd:element name="StartDateTime" type="TIMEZONEINDEPENDENT_DateTime" minOccurs="0"/>
            <xsd:element name="EndDateTime" type="TIMEZONEINDEPENDENT_DateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LONG_Description">
        <xsd:simpleContent>
            <xsd:extension base="LONG_Description.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PhoneNumber">
        <xsd:sequence>
            <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
            <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
            <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegionCode">
        <xsd:simpleContent>
            <xsd:extension base="RegionCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyStandardID">
        <xsd:simpleContent>
            <xsd:extension base="PartyStandardID.Content">
                <xsd:attribute name="schemeAgencyID" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessTransactionDocumentID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessTransactionDocumentID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeInstanceID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeInstanceID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Amount">
        <xsd:simpleContent>
            <xsd:extension base="Amount.Content">
                <xsd:attribute name="currencyCode" type="CurrencyCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Bank">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Bank details</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="BankInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="BankStandardID" minOccurs="0"/>
            <xsd:element name="RoutingID" type="BankRoutingID" minOccurs="0"/>
            <xsd:element name="RoutingIDTypeCode" type="BankRoutingIDTypeCode" minOccurs="0"/>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank country</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Address" type="Address" minOccurs="0"/>
            <xsd:element name="BranchAdress" type="Address" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentExplanationItem">
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessTransactionDocumentItemID" minOccurs="0"/>
            <xsd:element name="OffsettingIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="BusinessTransactionDocumentDate" type="Date" minOccurs="0"/>
            <xsd:element name="PaymentBaseBusinessTransactionTypeCode"
                type="PaymentBaseBusinessTransactionTypeCode" minOccurs="0"/>
            <xsd:element name="TradeReceivablesPayablesRegisterItemTypeCode"
                type="TradeReceivablesPayablesRegisterItemTypeCode" minOccurs="0"/>
            <xsd:element name="NetAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="GrossAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="TransactionCurrencyGrossAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="CashDiscountAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="TransactionCurrencyCashDiscountAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="WithholdingTaxAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="BankFeeAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="ScandinavianPaymentReferenceID" type="PaymentReferenceID"
                minOccurs="0"/>
            <xsd:element name="SwissPaymentReferenceID" type="PaymentReferenceID" minOccurs="0"/>
            <xsd:element name="PaymentReferenceID" type="PaymentReferenceID" minOccurs="0"/>
            <xsd:element name="PaymentReferenceTypeCode" type="PaymentReferenceTypeCode"
                minOccurs="0"/>
            <xsd:element name="Note" type="Note" minOccurs="0"/>
            <xsd:element name="OriginalPaymentTransactionInitiatorParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="FinalPaymentTransactionDestinatedParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorInvoiceReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedInvoiceReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorContractReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedContractReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorPurchaseOrderReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedPurchaseOrderReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentDifferenceExplanationItem"
                type="PaymentDifferenceExplanationItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessTransactionDocumentReference">
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessTransactionDocumentID"/>
            <xsd:element name="UUID" type="UUID" minOccurs="0"/>
            <xsd:element name="TypeCode" type="BusinessTransactionDocumentTypeCode" minOccurs="0"/>
            <xsd:element name="ItemID" type="BusinessTransactionDocumentItemID" minOccurs="0"/>
            <xsd:element name="ItemUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ItemTypeCode" type="BusinessTransactionDocumentItemTypeCode"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstructionCode">
        <xsd:simpleContent>
            <xsd:extension base="PaymentInstructionCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="DirectDebitMandateID">
        <xsd:simpleContent>
            <xsd:extension base="DirectDebitMandateID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PersonName">
        <xsd:sequence>
            <xsd:element name="FormOfAddressCode" type="FormOfAddressCode" minOccurs="0"/>
            <xsd:element name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="GivenName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="FamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalFamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="InitialsName" type="LANGUAGEINDEPENDENT_SHORT_Name" minOccurs="0"/>
            <xsd:element name="AcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
            <xsd:element name="AcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
            <xsd:element name="NamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NameSupplementCode" type="PersonNameSupplementCode" minOccurs="0"/>
            <xsd:element name="NameSupplementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DeviatingFullName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
            <xsd:element name="NameFormatCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="NameFormatCode" type="PersonNameFormatCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CentralBankReportItem">
        <xsd:sequence>
            <xsd:element name="ReportingCountryCode" type="CountryCode"/>
            <xsd:element name="SupplyingCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="Amount" type="Amount"/>
            <xsd:element name="ReasonClassificationCode"
                type="CentralBankReportReasonClassificationCode" minOccurs="0"/>
            <xsd:element name="ReasonCode" type="CentralBankReportReasonCode" minOccurs="0"/>
            <xsd:element name="ReasonDescription" type="Description" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CollvPaytOrdBulkMsg">
        <xsd:sequence>
            <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
            <xsd:element name="CollectivePaymentOrderRequestMessage"
                type="CollectivePaymentOrderRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="FamilyNamePrefixCode">
        <xsd:simpleContent>
            <xsd:extension base="FamilyNamePrefixCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScope">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Environment from which a message is
                sent</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
            <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
            <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentDifferenceExplanationItem">
        <xsd:sequence>
            <xsd:element name="OffsettingIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="Amount" type="Amount"/>
            <xsd:element name="PaymentDifferenceReasonCode" type="PaymentDifferenceReasonCode"
                minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorInvoiceReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedInvoiceReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorContractReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedContractReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorPurchaseOrderReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedPurchaseOrderReference"
                type="BusinessTransactionDocumentReference" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CollectivePaymentOrderRequest">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">CollectivePaymentOrderMessage</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MessageHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="BusinessDocumentMessageID"/>
                        <xsd:element name="CreationDateTime" type="DateTime"/>
                        <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty"
                            minOccurs="0"/>
                        <xsd:element name="ReceiverParty" type="BusinessDocumentMessageHeaderParty"
                            minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CollectivePaymentOrder" type="CollectivePaymentOrder"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessTransactionDocumentParty">
        <xsd:sequence>
            <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="BuyerID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="SellerID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="ProductRecipientID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="VendorID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="BillToID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="BillFromID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="BidderID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedID" type="PartyPartyID" minOccurs="0"/>
            <xsd:element name="TaxID" type="PartyTaxID" minOccurs="0"/>
            <xsd:element name="Address" type="Address" minOccurs="0"/>
            <xsd:element name="ContactPerson" type="ContactPerson" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CollectivePaymentOrder">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Collection of payment orders</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessTransactionDocumentID" minOccurs="0"/>
            <xsd:element name="PaymentFormCode" type="PaymentFormCode"/>
            <xsd:element name="PaymentProcedureCode" type="PaymentProcedureCode"/>
            <xsd:element name="AccountDebitIndicator" type="Indicator"/>
            <xsd:element name="PaymentExecutionDate" type="Date"/>
            <xsd:element name="PaymentTransactionInitiatorBankAccountValueDate" type="Date"
                minOccurs="0"/>
            <xsd:element name="PaymentTransactionDestinatedBankAccountValueDate" type="Date"
                minOccurs="0"/>
            <xsd:element name="TotalNetAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="PaymentOrderTotalNumberValue" type="TotalNumberValue" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorParty"
                type="BusinessTransactionDocumentParty" minOccurs="0"/>
            <xsd:element name="PaymentTransactionInitiatorBankAccount"
                type="BusinessTransactionDocumentBankAccount" minOccurs="0"/>
            <xsd:element name="BankChargesBankAmount" type="BusinessTransactionDocumentBankAccount"
                minOccurs="0"/>
            <xsd:element name="PaymentOrder" type="PaymentOrder" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderParty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">General information about a party that is responsible
                for sending or receiving a BusinessDocument at business application
                level</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PaymentInstruction">
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessTransactionDocumentID"/>
            <xsd:element name="Code" type="PaymentInstructionCode"/>
            <xsd:element name="CodeDescription" type="Description" minOccurs="0"/>
            <xsd:element name="Note" type="Note" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeoCoordinates">
        <xsd:sequence>
            <xsd:element name="LatitudeMeasure" type="Measure"/>
            <xsd:element name="LongitudeMeasure" type="Measure"/>
            <xsd:element name="AltitudeMeasure" type="Measure" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeader">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Business information from the perspective of the sender
                application for identifying a business document (instance) within a (technical)
                message</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
            <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
            <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AcademicTitleCode">
        <xsd:simpleContent>
            <xsd:extension base="AcademicTitleCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CollectivePaymentOrderBulkRequest" type="CollvPaytOrdBulkMsg"/>
</xsd:schema>
