XSPEC_HOME/Buyer/schemas/anBuyer/SCHEMA_AddOn_0000_PaymentRemittanceCancelStatusUpdate^PaymentRemittanceCancelStatusUpdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:simpleType name="Indicator">
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:attribute name="DeletionIndicator" type="Indicator"/>
  
  <xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns:sapgdt="http://sap.com/xi/SAPGlobal/GDT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1">
   <xsd:simpleType name="ANPayloadID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="AcademicTitleCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AcademicTitleCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AcademicTitleCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Address">
    <xsd:sequence>
     <xsd:element name="OrganisationFormOfAddress" type="FormOfAddress" minOccurs="0"/>
     <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0" maxOccurs="4"/>
     <xsd:element name="PersonName" type="PersonName" minOccurs="0"/>
     <xsd:element name="FunctionalTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="DepartmentName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="Office" type="Office" minOccurs="0"/>
     <xsd:element name="PhysicalAddress" type="PhysicalAddress" minOccurs="0"/>
     <xsd:element name="TaxJurisdictionCode" type="TaxJurisdictionCode" minOccurs="0"/>
     <xsd:element name="TimeZoneDifferenceValue" type="TimeZoneDifferenceValue" minOccurs="0"/>
     <xsd:element name="GeoCoordinates" type="GeoCoordinates" minOccurs="0"/>
     <xsd:element name="Communication" type="Communication" minOccurs="0"/>
     <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="AddressHostTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AribaExtension">
    <xsd:attribute name="objectName" type="xsd:string"/>
    <xsd:attribute name="objectKey" type="xsd:string"/>
    <xsd:attribute name="fieldName" type="xsd:string"/>
    <xsd:attribute name="fieldValue" type="xsd:string"/>
   </xsd:complexType>
   <xsd:simpleType name="BuildingID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessObjectTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessTransactionDocumentParty">
    <xsd:sequence>
     <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
     <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="BuyerID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="SellerID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="ProductRecipientID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="VendorID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="BillToID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="BillFromID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="BidderID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="PaymentTransactionInitiatorID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="PaymentTransactionDestinatedID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="TaxID" type="PartyTaxID" minOccurs="0"/>
     <xsd:element name="ClearingHouseID" type="PartyPartyID" minOccurs="0"/>
     <xsd:element name="TypeCode" type="BusinessObjectTypeCode" minOccurs="0"/>
     <xsd:element name="DeterminationMethodCode" type="LocationDeterminationMethodCode" minOccurs="0"/>
     <xsd:element name="AddressReference" type="PartyAddressReference" minOccurs="0"/>
     <xsd:element name="Address" type="Address" minOccurs="0"/>
     <xsd:element name="ContactPerson" type="ContactPerson" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Communication">
    <xsd:sequence>
     <xsd:element name="CorrespondenceLanguageCode" type="LanguageCode" minOccurs="0"/>
     <xsd:element name="CorrespondenceLanguageName" type="MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="Telephone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="MobilePhone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Facsimile" type="Facsimile" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Email" type="Email" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Web" type="Web" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
     <xsd:element name="BuyerID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="SellerID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="ProductRecipientID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="VendorID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="BillToID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="BillFromID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="BidderID" type="ContactPersonPartyID" minOccurs="0"/>
     <xsd:element name="AddressReference" type="PartyAddressReference" minOccurs="0"/>
     <xsd:element name="Address" type="Address" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ContactPersonPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Description">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="DocumentStatus">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="Email">
    <xsd:sequence>
     <xsd:element name="URI" type="EmailURI"/>
     <xsd:element name="URIDefaultIndicator" type="Indicator"/>
     <xsd:element name="URIDescription" type="Description" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="URIUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Facsimile">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
     <xsd:element name="NumberDescription" type="Description" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FamilyNamePrefixCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FamilyNamePrefixCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FamilyNamePrefixCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="FormOfAddress">
    <xsd:sequence>
     <xsd:element name="Code" type="FormOfAddressCode" minOccurs="0"/>
     <xsd:element name="Name" type="MEDIUM_Name" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FormOfAddressCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FormOfAddressCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="GeoCoordinates">
    <xsd:sequence>
     <xsd:element name="LatitudeMeasure" type="Measure"/>
     <xsd:element name="LongitudeMeasure" type="Measure"/>
     <xsd:element name="AltitudeMeasure" type="Measure" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="HouseID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InhouseMailID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LocationDeterminationMethodCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Measure">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Measure.Content">
      <xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Measure.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="NOSC_DocumentTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Office">
    <xsd:sequence>
     <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
     <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
     <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
     <xsd:element name="InhouseMailID" type="InhouseMailID" minOccurs="0"/>
     <xsd:element name="CorrespondenceShortName" type="LANGUAGEINDEPENDENT_SHORT_Name" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="POBoxID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyAddressReference">
    <xsd:sequence>
     <xsd:element name="AddressHostUUID" type="UUID" minOccurs="0"/>
     <xsd:element name="AddressHostTypeCode" type="AddressHostTypeCode" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PartyPartyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyTaxID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyTaxID.Content">
      <xsd:attribute name="schemeID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyTaxID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PaymentRemittanceUpdateRequest">
    <xsd:sequence>
     <xsd:element name="DocumentReference" minOccurs="0">
      <xsd:complexType>
       <xsd:attribute name="payloadID" use="required" type="ANPayloadID"/>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="PaymentRemittanceStatus" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="type" type="DocumentStatus" minOccurs="0"/>
        <xsd:element name="paymentReferenceNumber" type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
        <xsd:element name="PaymentRemittanceStatusDetail" minOccurs="0">
         <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="code" type="NOSC_DocumentTypeCode" minOccurs="0"/>
           <xsd:element name="Description" nillable="true" minOccurs="0">
            <xsd:complexType>
             <xsd:simpleContent>
              <xsd:extension base="Description">
               <xsd:attribute ref="sapgdt:DeletionIndicator"/>
              </xsd:extension>
             </xsd:simpleContent>
            </xsd:complexType>
           </xsd:element>
          </xsd:sequence>
         </xsd:complexType>
        </xsd:element>
        <xsd:element name="Extension" type="AribaExtension" minOccurs="0"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonName">
    <xsd:sequence>
     <xsd:element name="FormOfAddressCode" type="FormOfAddressCode" minOccurs="0"/>
     <xsd:element name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="GivenName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="FamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="AdditionalFamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="InitialsName" type="LANGUAGEINDEPENDENT_SHORT_Name" minOccurs="0"/>
     <xsd:element name="AcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
     <xsd:element name="AcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="AdditionalAcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
     <xsd:element name="AdditionalAcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="NamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
     <xsd:element name="NamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="AdditionalNamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
     <xsd:element name="AdditionalNamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="NameSupplementCode" type="PersonNameSupplementCode" minOccurs="0"/>
     <xsd:element name="NameSupplementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="DeviatingFullName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
     <xsd:element name="NameFormatCountryCode" type="CountryCode" minOccurs="0"/>
     <xsd:element name="NameFormatCode" type="PersonNameFormatCode" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonNameFormatCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameFormatCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameFormatCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameSupplementCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameSupplementCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameSupplementCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
     <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
     <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
     <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
     <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
     <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhysicalAddress">
    <xsd:sequence>
     <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
     <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="RegionCode" type="RegionCode" minOccurs="0"/>
     <xsd:element name="RegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="StreetPostalCode" type="PostalCode" minOccurs="0"/>
     <xsd:element name="POBoxPostalCode" type="PostalCode" minOccurs="0"/>
     <xsd:element name="CompanyPostalCode" type="PostalCode" minOccurs="0"/>
     <xsd:element name="CityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="AdditionalCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="DistrictName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="POBoxID" type="POBoxID" minOccurs="0"/>
     <xsd:element name="POBoxIndicator" type="Indicator" minOccurs="0"/>
     <xsd:element name="POBoxCountryCode" type="CountryCode" minOccurs="0"/>
     <xsd:element name="POBoxCountryName" type="MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="POBoxRegionCode" type="RegionCode" minOccurs="0"/>
     <xsd:element name="POBoxRegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="POBoxCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="StreetName" type="StreetName" minOccurs="0"/>
     <xsd:element name="StreetPrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0" maxOccurs="2"/>
     <xsd:element name="StreetSuffixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0" maxOccurs="2"/>
     <xsd:element name="HouseID" type="HouseID" minOccurs="0"/>
     <xsd:element name="AdditionalHouseID" type="HouseID" minOccurs="0"/>
     <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
     <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
     <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
     <xsd:element name="CareOfName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
     <xsd:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PostalCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="RegionCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="6"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RemittanceCancelStatus">
    <xsd:sequence>
     <xsd:element name="Header" type="RemittanceHeader" minOccurs="0"/>
     <xsd:element name="Request" type="PaymentRemittanceUpdateRequest" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RemittanceHeader">
    <xsd:sequence>
     <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
     <xsd:element name="VendorDetails" type="BusinessTransactionDocumentParty"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="RoomID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StreetName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="70"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TaxJurisdictionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="TaxJurisdictionCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="TaxJurisdictionCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="15"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Telephone">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="SMSEnabledIndicator" type="Indicator" minOccurs="0"/>
     <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
     <xsd:element name="NumberDescription" type="Description" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="TimeZoneDifferenceValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Web">
    <xsd:sequence>
     <xsd:element name="URI" type="WebURI"/>
     <xsd:element name="URIDefaultIndicator" type="Indicator"/>
     <xsd:element name="URIDescription" type="Description" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="WebURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
   <xsd:element name="PaymentRemittanceCancelStatusUpdate" type="RemittanceCancelStatus"/>
  </xsd:schema>
 </xsd:schema>