XSPEC_HOME/Buyer/schemas/anBuyer/SCHEMA_AddOn_0000_ProductActivityMessage^ProductActivityMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ProductActivityMessage" type="ProductActivityMessage"/>
    <xsd:simpleType name="TimeZoneCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:language">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextFormat">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MeasureUnitCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FormOfAddressCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_BatchID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier of a logistic unit for referencing
                purposes</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextObject">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Date">
        <xsd:restriction base="xsd:date">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Quantity.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">QUANTITY is the non-monetary numerical declaration of a
                quantity in a specific unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Time">
        <xsd:restriction base="xsd:time">
            <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LEN30_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="IntegerValue">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    <xsd:simpleType name="AddressID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier for an address</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MaterialGroup">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SerialID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InvoiceItemID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">InvoiceItemID</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CurrencyCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MaterialLong">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">For MaterialLongText - Length 40
                char</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextTDLine">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="132"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Amount.Content">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="28"/>
            <xsd:fractionDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PlantID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="VersionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="AribaComment">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">IDT for Ariba Comments</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TextObject" type="TextObject" minOccurs="0"/>
                        <xsd:element name="TextName" type="TextName" minOccurs="0"/>
                        <xsd:element name="TextID" type="TextID" minOccurs="0"/>
                        <xsd:element name="TextLang" type="LanguageCode" minOccurs="0"/>
                        <xsd:element name="ItemNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="TextDesc" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AribaLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="TextFormat" type="TextFormat" minOccurs="0"/>
                                    <xsd:element name="TextLine" type="TextTDLine" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MEDIUM_Name">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AribaExtension">
        <xsd:attribute name="objectName" type="xsd:string"/>
        <xsd:attribute name="objectKey" type="xsd:string"/>
        <xsd:attribute name="fieldName" type="xsd:string"/>
        <xsd:attribute name="fieldValue" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Description">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Natural Language Text</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ProductActivityMessage">
        <xsd:sequence>
            <xsd:element name="Header">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                        <xsd:element name="Logical_System" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="VendorID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="SystemID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="RefDocNo" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="CreationDate" type="Date" minOccurs="0"/>
                        <xsd:element name="MessageID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="DocumentID" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="TimeZone" type="TimeZoneCode" minOccurs="0"/>
                        <xsd:element name="DeploymentMode" type="LEN30_Name" minOccurs="0"/>
                        <xsd:element name="EnterTime" type="Time" minOccurs="0"/>
                        <xsd:element name="ProcessType" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="ProductDetails" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="AribaExtension" type="AribaExtension"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                    <xsd:element name="ItemID" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="SupplierPartID"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="BuyerPartID"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="Description" type="Description"
                                                  minOccurs="0"/>
                                                <xsd:element name="Leadtime" type="IntegerValue"
                                                  minOccurs="0"/>
                                                <xsd:element name="MaterialGroup"
                                                  type="MaterialGroup" minOccurs="0"/>
                                                <xsd:element name="MaterialGroupDescription"
                                                  type="Description" minOccurs="0"/>
                                                <xsd:element name="EAN_UPC_Number"
                                                  type="MaterialLong" minOccurs="0"/>
                                                <xsd:element name="ManufacturerPartID"
                                                  type="MaterialLong" minOccurs="0"/>
                                                <xsd:element name="ManufacturerPartNumber"
                                                  type="VersionID" minOccurs="0"/>
                                                <xsd:element name="ManufacturerID" type="VersionID"
                                                  minOccurs="0"/>
                                                <xsd:element name="ManufacturerName"
                                                  type="Description" minOccurs="0"/>
                                                <xsd:element name="Characteristic" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="Domain" type="xsd:string"
                                                  minOccurs="0"/>
                                                  <xsd:element name="Value" type="xsd:string"
                                                  minOccurs="0"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Role" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="PlantID" type="NOSC_PlantID"
                                                  minOccurs="0"/>
                                                <xsd:element name="AddressID" type="AddressID"
                                                  minOccurs="0"/>
                                                <xsd:element name="Name" type="Name" minOccurs="0"/>
                                                <xsd:element name="Deliverto" type="Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="Street" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="CityCode"
                                                  type="NOSC_FormOfAddressCode" minOccurs="0"/>
                                                <xsd:element name="City" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="State" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="IsoStatecode" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="Country" type="MEDIUM_Name"
                                                  minOccurs="0"/>
                                                <xsd:element name="IsoCountrycode"
                                                  type="CountryCode" minOccurs="0"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="Batch" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="ProductionDate" type="Date"
                                                  minOccurs="0"/>
                                                <xsd:element name="ExpirationDate" type="Date"
                                                  minOccurs="0"/>
                                                <xsd:element name="InspectionDate" type="xsd:date"
                                                  minOccurs="0"/>
                                                <xsd:element name="OrigincountryCode"
                                                  type="CountryCode" minOccurs="0"/>
                                                <xsd:element name="PropertyDomain"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="PropertyIDRef" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="Domain"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                  <xsd:element name="Identifier"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                            <xsd:attribute name="BatchID" type="NOSC_BatchID"/>
                                            <xsd:attribute name="SupplierBatchID"
                                                type="NOSC_BatchID"/>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="Inventory" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Quantity" type="Quantity"
                                                  minOccurs="0"/>
                                                <xsd:element name="UoM" type="MeasureUnitCode"
                                                  minOccurs="0"/>
                                                <xsd:element name="MinDays" type="xsd:string"
                                                  minOccurs="0"/>
                                                <xsd:element name="MaxDays" type="xsd:string"
                                                  minOccurs="0"/>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="StockInventory" minOccurs="0"
                                        maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="StockType" type="xsd:string"/>
                                                <xsd:element name="Quantity" type="Quantity"
                                                  minOccurs="0"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="ConsignmentMovement" minOccurs="0"
                                        maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="MovementLineNumber"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="MovementID"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="MovementDate" type="Date"
                                                  minOccurs="0"/>
                                                <xsd:element name="InvoiceLineNumber"
                                                  type="InvoiceItemID" minOccurs="0"/>
                                                <xsd:element name="InvoiceID"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="InvoiceDate" type="Date"
                                                  minOccurs="0"/>
                                                <xsd:element name="MovementQuantity" type="Quantity"
                                                  minOccurs="0"/>
                                                <xsd:element name="Money" type="Amount"
                                                  minOccurs="0"/>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="ForecastTimeSeries" minOccurs="0"
                                        maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Type"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="Forecast" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="StartDate" type="Date"
                                                  minOccurs="0"/>
                                                  <xsd:element name="EndDate" type="Date"
                                                  minOccurs="0"/>
                                                  <xsd:element name="Quantity" type="Quantity"/>
                                                  <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="ConsignmentInventory" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="UnrestrictedUseQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="BlockedQuantity" type="Quantity"
                                                  minOccurs="0"/>
                                                <xsd:element name="QualityInspectionQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="SMIInventory" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="UnrestrictedUseQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="BlockedQuantity" type="Quantity"
                                                  minOccurs="0"/>
                                                <xsd:element name="QualityInspectionQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="RequiredMinimumQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="RequiredMaximumQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="IncrementQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="SubContractStockQuantity"
                                                  type="Quantity" minOccurs="0"/>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="PlanningTimeSeries" minOccurs="0"
                                        maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="type"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="customType" type="xsd:string"
                                                  minOccurs="0"/>
                                                <xsd:element name="TimeSeriesDetails" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="StartDate" type="Date"
                                                  minOccurs="0"/>
                                                  <xsd:element name="EndDate" type="Date"
                                                  minOccurs="0"/>
                                                  <xsd:element name="Quantity" type="Quantity"
                                                  minOccurs="0"/>
                                                  <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                                  <xsd:element name="IdReference" minOccurs="0"
                                                  maxOccurs="unbounded">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element name="Domain" type="xsd:string"
                                                  minOccurs="0"/>
                                                  <xsd:element name="Identifier" type="xsd:string"
                                                  minOccurs="0"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="ReferenceDocumentInfo" minOccurs="0"
                                        maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="lineNumber"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="status"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="documentID"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="documentType"
                                                  type="NOSC_BusinessTransactionDocumentID"
                                                  minOccurs="0"/>
                                                <xsd:element name="AribaExtension"
                                                  type="AribaExtension" minOccurs="0"
                                                  maxOccurs="unbounded"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="PlannedAcceptanceDays" type="IntegerValue"
                                        minOccurs="0"/>
                                    <xsd:element name="ProductHierarchy" type="ProductHierarchy"
                                        minOccurs="0"/>
                                    <xsd:element name="SerialNumber" type="SerialNumberInfo"
                                        minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Attachments" type="Attachments" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AribaComment" type="AribaComment" minOccurs="0" maxOccurs="unbounded"
            />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:simpleContent>
            <xsd:extension base="Quantity.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Amount">
        <xsd:simpleContent>
            <xsd:extension base="Amount.Content">
                <xsd:attribute name="currencyCode" type="CurrencyCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="SerialNumberInfo">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Delivery Item Serial Number</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="SerialID" type="SerialID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Attachments">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proxy Attachment Structure for Ariba Cloud
                Integration</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FileName" type="xsd:string"/>
                        <xsd:element name="Charset" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LineNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="ContentId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ContentType" type="xsd:string"/>
                        <xsd:element name="ContentLength" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Content" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProductHierarchy">
        <xsd:sequence>
            <xsd:element name="Hierarchy" maxOccurs="9">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="Level" type="xsd:string" use="required"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LEN30_Name">
        <xsd:simpleContent>
            <xsd:extension base="LEN30_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Name">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
