XSPEC_HOME/Buyer/schemas/anBuyer/SCHEMA_AddOn_0000_QualityInspectionRequest^QualityInspectionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="QualityInspectionRequest" type="QualityInspectionRequestMsg"/>
    <xsd:simpleType name="GLOBAL_DateTime">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MeasureUnitCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InhouseMailID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RoomID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeInstanceID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier for the instance of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BuildingID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessSystemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TaxJurisdictionCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_DocumentTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyInternalID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeTypeCode.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextObject">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="PersonNameSupplementCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PostalCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="POBoxID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberExtensionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="36"/>
            <xsd:pattern
                value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
            />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DateTime2">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneDifferenceValue">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="4"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FormOfAddressCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FamilyNamePrefixCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Measure.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Measure is a physical indication of Measurements
                including the assigned Unit of Measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AribaNetworkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="FloorID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:language">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryDiallingCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Quantity.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">QUANTITY is the non-monetary numerical declaration of a
                quantity in a specific unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PersonNameFormatCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MaterialInspectionSampleID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyStandardID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the
                identification scheme used is controlled by an agency from the code list DE
                3055</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StreetName">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of
                the agency responsible for a code list or identifier scheme,
                respectively</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Indicator">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has
                exactly two mutually exclusive Boolean values.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberAreaID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessDocumentMessageID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier of a business document in a
                (technical) message that is issued by the sender business
                application</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MaterialLong">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">For MaterialLongText - Length 40
                char</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PlantID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Partition">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Partition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Variant">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Variant</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextFormat">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContactPersonInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="WebURI">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RegionCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="HouseID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ANPayloadID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="AcademicTitleCode.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberSubscriberID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TextTDLine">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="132"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="MaterialInspectionSampleID">
        <xsd:simpleContent>
            <xsd:extension base="MaterialInspectionSampleID.Content">
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="EmailURI">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="QualityInspectionRequestMsg">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Quality Inspection Request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader" minOccurs="0"/>
            <xsd:element name="QualityInspectionRequestHeader" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                        <xsd:element name="InspectionLotId"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="InspectionLotDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="CreatedBy" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="ActionCode" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="PeriodStartDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="PeriodEndDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="MaterialNumber" type="MaterialLong" minOccurs="0"/>
                        <xsd:element name="MaterialDescription" type="Description" minOccurs="0"/>
                        <xsd:element name="Plant" type="NOSC_PlantID" minOccurs="0"/>
                        <xsd:element name="PlantName" type="Description" minOccurs="0"/>
                        <xsd:element name="InspectionLotSize" type="Quantity" minOccurs="0"/>
                        <xsd:element name="InspectionType" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="InspectionTypeDescription" type="Description"
                            minOccurs="0"/>
                        <xsd:element name="PurchaseOrderNumber"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="PurchaseOrderLineNo"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="PurchaseOrderDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="VendorMaterialNumber" type="MaterialLong" minOccurs="0"/>
                        <xsd:element name="QualityManagedProcurement" type="NOSC_DocumentTypeCode"
                            minOccurs="0"/>
                        <xsd:element name="QMControlKeyCode"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="QMControlKey" type="Description" minOccurs="0"/>
                        <xsd:element name="QMCertificateTypeCode"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="QMCertificateType" type="Description" minOccurs="0"/>
                        <xsd:element name="QMCertificateFlag" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="VendorContactInfo" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="InternalID"
                                        type="NOSC_BusinessTransactionDocumentID"/>
                                    <xsd:element name="Address" type="Address"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="CompanyContactInfo" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="InternalId"
                                        type="NOSC_BusinessTransactionDocumentID"/>
                                    <xsd:element name="Address" type="Address"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="BatchId" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="VendorBatchId" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="BatchExpirationDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="BatchProductionDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="BatchInspectionDate" type="DateTime2" minOccurs="0"/>
                        <xsd:element name="BatchOriginCountry"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="BatchCharacteristics" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CharName"
                                        type="NOSC_BusinessTransactionDocumentID"/>
                                    <xsd:element name="CharValueDescription" type="Description"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ShortText" type="Text" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QualityInspectionRequestDetails" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                            maxOccurs="unbounded"/>
                        <xsd:element name="OperationNumber"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="WorkCenter" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="SpecificationStatus"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="ObligatoryConfirmation" type="NOSC_DocumentTypeCode"
                            minOccurs="0"/>
                        <xsd:element name="CharacteristicType" type="NOSC_DocumentTypeCode"
                            minOccurs="0"/>
                        <xsd:element name="InspectionPoint"
                            type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                        <xsd:element name="InspectionCharacteristic" type="NOSC_DocumentTypeCode"
                            minOccurs="0"/>
                        <xsd:element name="InspectionCharDescription" type="Description"
                            minOccurs="0"/>
                        <xsd:element name="TargetValues" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="DecimalPlaces" type="NOSC_BusinessTransactionDocumentID"
                            minOccurs="0"/>
                        <xsd:element name="UpperTotalLimit" type="Quantity" minOccurs="0"/>
                        <xsd:element name="LowerTotalLimit" type="Quantity" minOccurs="0"/>
                        <xsd:element name="CodeList" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="CodeGroup"
                                        type="NOSC_BusinessTransactionDocumentID" minOccurs="0"/>
                                    <xsd:element name="CodeText" type="Text" minOccurs="0"/>
                                    <xsd:element name="Code" type="NOSC_DocumentTypeCode"
                                        minOccurs="0"/>
                                    <xsd:element name="CodeValuation" type="NOSC_DocumentTypeCode"
                                        minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="SingleResult" type="NOSC_DocumentTypeCode" minOccurs="0"/>
                        <xsd:element name="SampleSize" type="MaterialInspectionSampleID"
                            minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Attachments" type="Attachments" minOccurs="0"/>
            <xsd:element name="AribaComment" type="AribaComment" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegionCode">
        <xsd:simpleContent>
            <xsd:extension base="RegionCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ContactPersonInternalID">
        <xsd:simpleContent>
            <xsd:extension base="ContactPersonInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="FormOfAddress">
        <xsd:sequence>
            <xsd:element name="Code" type="FormOfAddressCode" minOccurs="0"/>
            <xsd:element name="Name" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AcademicTitleCode">
        <xsd:simpleContent>
            <xsd:extension base="AcademicTitleCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="UUID">
        <xsd:simpleContent>
            <xsd:extension base="UUID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="OrganisationFormOfAddress" type="FormOfAddress" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonName" type="PersonName" minOccurs="0"/>
            <xsd:element name="FunctionalTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DepartmentName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Office" type="Office" minOccurs="0"/>
            <xsd:element name="PhysicalAddress" type="PhysicalAddress" minOccurs="0"/>
            <xsd:element name="TaxJurisdictionCode" type="TaxJurisdictionCode" minOccurs="0"/>
            <xsd:element name="TimeZoneDifferenceValue" type="TimeZoneDifferenceValue" minOccurs="0"/>
            <xsd:element name="GeoCoordinates" type="GeoCoordinates" minOccurs="0"/>
            <xsd:element name="Communication" type="Communication" minOccurs="0"/>
            <xsd:element name="AribaExtension" type="AribaExtension" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TaxJurisdictionCode">
        <xsd:simpleContent>
            <xsd:extension base="TaxJurisdictionCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScope">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Environment from which a message is
                sent</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
            <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
            <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Measure">
        <xsd:simpleContent>
            <xsd:extension base="Measure.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Description">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Natural Language Text</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyInternalID">
        <xsd:simpleContent>
            <xsd:extension base="PartyInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Attachments">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proxy Attachment Structure for Ariba Cloud
                Integration</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FileName" type="xsd:string"/>
                        <xsd:element name="Charset" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LineNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="ContentId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ContentType" type="xsd:string"/>
                        <xsd:element name="ContentLength" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="Content" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderParty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">General information about a party that is responsible
                for sending or receiving a BusinessDocument at business application
                level</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeInstanceID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeInstanceID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Facsimile">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Telephone</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="PhoneNumber"/>
            <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
            <xsd:element name="NumberDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneNumber">
        <xsd:sequence>
            <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
            <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
            <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Text">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Communication">
        <xsd:sequence>
            <xsd:element name="CorrespondenceLanguageCode" type="LanguageCode" minOccurs="0"/>
            <xsd:element name="CorrespondenceLanguageName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Telephone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MobilePhone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Facsimile" type="Facsimile" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Email" type="Email" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Web" type="Web" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeoCoordinates">
        <xsd:sequence>
            <xsd:element name="LatitudeMeasure" type="Measure"/>
            <xsd:element name="LongitudeMeasure" type="Measure"/>
            <xsd:element name="AltitudeMeasure" type="Measure" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessDocumentMessageID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="FormOfAddressCode">
        <xsd:simpleContent>
            <xsd:extension base="FormOfAddressCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyStandardID">
        <xsd:simpleContent>
            <xsd:extension base="PartyStandardID.Content">
                <xsd:attribute name="schemeAgencyID" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PersonNameFormatCode">
        <xsd:simpleContent>
            <xsd:extension base="PersonNameFormatCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AribaComment">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">IDT for Ariba Comments</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TextObject" type="TextObject" minOccurs="0"/>
                        <xsd:element name="TextName" type="TextName" minOccurs="0"/>
                        <xsd:element name="TextID" type="TextID" minOccurs="0"/>
                        <xsd:element name="TextLang" type="LanguageCode" minOccurs="0"/>
                        <xsd:element name="ItemNumber" type="BusinessTransactionDocumentItemID"
                            minOccurs="0"/>
                        <xsd:element name="TextDesc" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="AribaLine" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="TextFormat" type="TextFormat" minOccurs="0"/>
                                    <xsd:element name="TextLine" type="TextTDLine" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FamilyNamePrefixCode">
        <xsd:simpleContent>
            <xsd:extension base="FamilyNamePrefixCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="MEDIUM_Name">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Web">
        <xsd:sequence>
            <xsd:element name="URI" type="WebURI"/>
            <xsd:element name="URIDefaultIndicator" type="Indicator"/>
            <xsd:element name="URIDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Telephone">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Telephone</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="PhoneNumber"/>
            <xsd:element name="SMSEnabledIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
            <xsd:element name="NumberDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Email">
        <xsd:sequence>
            <xsd:element name="URI" type="EmailURI"/>
            <xsd:element name="URIDefaultIndicator" type="Indicator"/>
            <xsd:element name="URIDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="URIUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonName">
        <xsd:sequence>
            <xsd:element name="FormOfAddressCode" type="FormOfAddressCode" minOccurs="0"/>
            <xsd:element name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="GivenName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="FamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalFamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="InitialsName" type="LANGUAGEINDEPENDENT_SHORT_Name" minOccurs="0"/>
            <xsd:element name="AcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
            <xsd:element name="AcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleCode" type="AcademicTitleCode" minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
            <xsd:element name="NamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixCode" type="FamilyNamePrefixCode" minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NameSupplementCode" type="PersonNameSupplementCode" minOccurs="0"/>
            <xsd:element name="NameSupplementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DeviatingFullName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
            <xsd:element name="NameFormatCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="NameFormatCode" type="PersonNameFormatCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeader">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Business information from the perspective of the sender
                application for identifying a business document (instance) within a (technical)
                message</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="UUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="AribaNetworkPayloadID" type="ANPayloadID" minOccurs="0"/>
            <xsd:element name="AribaNetworkID" type="AribaNetworkID" minOccurs="0"/>
            <xsd:element name="CreationDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
            <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
            <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="partition" type="Partition"/>
        <xsd:attribute name="variant" type="Variant"/>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for
                sending or receiving a BusinessDocument</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AribaExtension">
        <xsd:attribute name="objectName" type="xsd:string"/>
        <xsd:attribute name="objectKey" type="xsd:string"/>
        <xsd:attribute name="fieldName" type="xsd:string"/>
        <xsd:attribute name="fieldValue" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:simpleContent>
            <xsd:extension base="Quantity.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeTypeCode">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeTypeCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PhysicalAddress">
        <xsd:sequence>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="RegionCode" type="RegionCode" minOccurs="0"/>
            <xsd:element name="RegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="StreetPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="POBoxPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="CompanyPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="CityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DistrictName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxID" type="POBoxID" minOccurs="0"/>
            <xsd:element name="POBoxIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="POBoxCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="POBoxCountryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxRegionCode" type="RegionCode" minOccurs="0"/>
            <xsd:element name="POBoxRegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="StreetName" type="StreetName" minOccurs="0"/>
            <xsd:element name="StreetPrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="2"/>
            <xsd:element name="StreetSuffixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="2"/>
            <xsd:element name="HouseID" type="HouseID" minOccurs="0"/>
            <xsd:element name="AdditionalHouseID" type="HouseID" minOccurs="0"/>
            <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
            <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
            <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
            <xsd:element name="CareOfName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonNameSupplementCode">
        <xsd:simpleContent>
            <xsd:extension base="PersonNameSupplementCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Office">
        <xsd:sequence>
            <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
            <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
            <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
            <xsd:element name="InhouseMailID" type="InhouseMailID" minOccurs="0"/>
            <xsd:element name="CorrespondenceShortName" type="LANGUAGEINDEPENDENT_SHORT_Name"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
