XSPEC_HOME/Supplier/schemas/EANCOM_D96A/SCHEMA_EANCOM_22EAN002_CONTRL^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hci="http://sap.com/hci" xmlns="urn:sap.com:typesystem:b2b:9:eancom" targetNamespace="urn:sap.com:typesystem:b2b:9:eancom">
	<xsd:annotation>
		<xsd:appinfo>
			<hci:resourceinfo>
				<hci:info key="typeSystem" value="EANCOM"/>
				<hci:info key="typeSystemVersion" value="1997"/>
				<hci:info key="category" value="Template"/>
				<hci:info key="rootNode" value="M_CONTRL"/>
				<hci:info key="responsibleAgencyName" value="GS1"/>
				<hci:info key="responsibleAgencyCode" value="9"/>
				<hci:info key="messageType" value="CONTRL"/>
				<hci:info key="messageName" value="Control message"/>
				<hci:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:9:eancom"/>
				<hci:info key="documentNumber" value="/M_CONTRL/S_UCI/D_0020"/>
			</hci:resourceinfo>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="M_CONTRL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="S_UNH" type="S_UNH"/>
				<xsd:element name="S_UCI" type="S_UCI"/>
				<xsd:element name="G_SG1" minOccurs="0" maxOccurs="999999">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_UCM" type="S_UCM"/>
							<xsd:element name="G_SG2" minOccurs="0" maxOccurs="999">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_UCS" type="S_UCS"/>
										<xsd:element name="S_UCD" type="S_UCD" minOccurs="0" maxOccurs="99"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="S_UNT" type="S_UNT"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="C_S001">
		<xsd:sequence>
			<xsd:element name="D_0001" type="D_0001"/>
			<xsd:element name="D_0002" type="D_0002"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S002">
		<xsd:sequence>
			<xsd:element name="D_0004" type="D_0004"/>
			<xsd:element name="D_0007" type="D_0007"/>
			<xsd:element name="D_0008" type="D_0008" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S003">
		<xsd:sequence>
			<xsd:element name="D_0010" type="D_0010"/>
			<xsd:element name="D_0007" type="D_0007"/>
			<xsd:element name="D_0014" type="D_0014" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S004">
		<xsd:sequence>
			<xsd:element name="D_0017" type="D_0017"/>
			<xsd:element name="D_0019" type="D_0019"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S005">
		<xsd:sequence>
			<xsd:element name="D_0022" type="D_0022"/>
			<xsd:element name="D_0025" type="D_0025" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S009">
		<xsd:sequence>
			<xsd:element name="D_0065" type="D_0065"/>
			<xsd:element name="D_0052" type="D_0052"/>
			<xsd:element name="D_0054" type="D_0054"/>
			<xsd:element name="D_0051" type="D_0051"/>
			<xsd:element name="D_0057" type="D_0057"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S010">
		<xsd:sequence>
			<xsd:element name="D_0070" type="D_0070"/>
			<xsd:element name="D_0073" type="D_0073" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="C_S011">
		<xsd:sequence>
			<xsd:element name="D_0098" type="D_0098"/>
			<xsd:element name="D_0104" type="D_0104" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UCD">
		<xsd:sequence>
			<xsd:element name="D_0085" type="D_0085"/>
			<xsd:element name="C_S011" type="C_S011"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UCI">
		<xsd:sequence>
			<xsd:element name="D_0020" type="D_0020"/>
			<xsd:element name="C_S002" type="C_S002"/>
			<xsd:element name="C_S003" type="C_S003"/>
			<xsd:element name="D_0083" type="D_0083"/>
			<xsd:element name="D_0085" type="D_0085" minOccurs="0"/>
			<xsd:element name="D_0013" type="D_0013" minOccurs="0"/>
			<xsd:element name="C_S011" type="C_S011" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UCM">
		<xsd:sequence>
			<xsd:element name="D_0062" type="D_0062"/>
			<xsd:element name="C_S009" type="C_S009"/>
			<xsd:element name="D_0083" type="D_0083"/>
			<xsd:element name="D_0085" type="D_0085" minOccurs="0"/>
			<xsd:element name="D_0013" type="D_0013" minOccurs="0"/>
			<xsd:element name="C_S011" type="C_S011" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UCS">
		<xsd:sequence>
			<xsd:element name="D_0096" type="D_0096"/>
			<xsd:element name="D_0085" type="D_0085" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UNH">
		<xsd:sequence>
			<xsd:element name="D_0062" type="D_0062"/>
			<xsd:element name="C_S009" type="C_S009"/>
			<xsd:element name="D_0068" type="D_0068" minOccurs="0"/>
			<xsd:element name="C_S010" type="C_S010" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_UNT">
		<xsd:sequence>
			<xsd:element name="D_0074" type="D_0074"/>
			<xsd:element name="D_0062" type="D_0062"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="D_0001">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="4"/>
			<xsd:enumeration value="UNOA">

			</xsd:enumeration>
			<xsd:enumeration value="UNOB">

			</xsd:enumeration>
			<xsd:enumeration value="UNOC">

			</xsd:enumeration>
			<xsd:enumeration value="UNOD">

			</xsd:enumeration>
			<xsd:enumeration value="UNOE">

			</xsd:enumeration>
			<xsd:enumeration value="UNOF">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0002">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0004">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0007">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0008">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0010">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0013">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0014">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0017">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0019">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0020">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0022">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0025">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
			<xsd:enumeration value="AA">

			</xsd:enumeration>
			<xsd:enumeration value="BB">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0026">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0029">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0031">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0032">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0035">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0036">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0051">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:enumeration value="EN">

			</xsd:enumeration>
			<xsd:enumeration value="UN">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0052">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0054">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0057">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0062">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0065">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="BANSTA">

			</xsd:enumeration>
			<xsd:enumeration value="COACSU">

			</xsd:enumeration>
			<xsd:enumeration value="COMDIS">

			</xsd:enumeration>
			<xsd:enumeration value="CONTRL">

			</xsd:enumeration>
			<xsd:enumeration value="CREMUL">

			</xsd:enumeration>
			<xsd:enumeration value="DEBMUL">

			</xsd:enumeration>
			<xsd:enumeration value="DELFOR">

			</xsd:enumeration>
			<xsd:enumeration value="DESADV">

			</xsd:enumeration>
			<xsd:enumeration value="DIRDEB">

			</xsd:enumeration>
			<xsd:enumeration value="FINCAN">

			</xsd:enumeration>
			<xsd:enumeration value="FINSTA">

			</xsd:enumeration>
			<xsd:enumeration value="GENRAL">

			</xsd:enumeration>
			<xsd:enumeration value="HANMOV">

			</xsd:enumeration>
			<xsd:enumeration value="IFCSUM">

			</xsd:enumeration>
			<xsd:enumeration value="IFTMAN">

			</xsd:enumeration>
			<xsd:enumeration value="IFTMBC">

			</xsd:enumeration>
			<xsd:enumeration value="IFTMBF">

			</xsd:enumeration>
			<xsd:enumeration value="IFTMIN">

			</xsd:enumeration>
			<xsd:enumeration value="IFTSTA">

			</xsd:enumeration>
			<xsd:enumeration value="INSDES">

			</xsd:enumeration>
			<xsd:enumeration value="INVOIC">

			</xsd:enumeration>
			<xsd:enumeration value="INVRPT">

			</xsd:enumeration>
			<xsd:enumeration value="MSCONS">

			</xsd:enumeration>
			<xsd:enumeration value="ORDCHG">

			</xsd:enumeration>
			<xsd:enumeration value="ORDERS">

			</xsd:enumeration>
			<xsd:enumeration value="ORDRSP">

			</xsd:enumeration>
			<xsd:enumeration value="OSTENQ">

			</xsd:enumeration>
			<xsd:enumeration value="OSTRPT">

			</xsd:enumeration>
			<xsd:enumeration value="PARTIN">

			</xsd:enumeration>
			<xsd:enumeration value="PAYMUL">

			</xsd:enumeration>
			<xsd:enumeration value="PRICAT">

			</xsd:enumeration>
			<xsd:enumeration value="PRODAT">

			</xsd:enumeration>
			<xsd:enumeration value="PROINQ">

			</xsd:enumeration>
			<xsd:enumeration value="QALITY">

			</xsd:enumeration>
			<xsd:enumeration value="QUOTES">

			</xsd:enumeration>
			<xsd:enumeration value="RECADV">

			</xsd:enumeration>
			<xsd:enumeration value="REMADV">

			</xsd:enumeration>
			<xsd:enumeration value="REQOTE">

			</xsd:enumeration>
			<xsd:enumeration value="RETANN">

			</xsd:enumeration>
			<xsd:enumeration value="RETINS">

			</xsd:enumeration>
			<xsd:enumeration value="SLSFCT">

			</xsd:enumeration>
			<xsd:enumeration value="SLSRPT">

			</xsd:enumeration>
			<xsd:enumeration value="TAXCON">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0068">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0070">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0073">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
			<xsd:enumeration value="C">

			</xsd:enumeration>
			<xsd:enumeration value="F">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0074">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0083">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="1">

			</xsd:enumeration>
			<xsd:enumeration value="2">

			</xsd:enumeration>
			<xsd:enumeration value="3">

			</xsd:enumeration>
			<xsd:enumeration value="4">

			</xsd:enumeration>
			<xsd:enumeration value="5">

			</xsd:enumeration>
			<xsd:enumeration value="6">

			</xsd:enumeration>
			<xsd:enumeration value="7">

			</xsd:enumeration>
			<xsd:enumeration value="8">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0085">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="2">

			</xsd:enumeration>
			<xsd:enumeration value="7">

			</xsd:enumeration>
			<xsd:enumeration value="12">

			</xsd:enumeration>
			<xsd:enumeration value="13">

			</xsd:enumeration>
			<xsd:enumeration value="14">

			</xsd:enumeration>
			<xsd:enumeration value="15">

			</xsd:enumeration>
			<xsd:enumeration value="16">

			</xsd:enumeration>
			<xsd:enumeration value="17">

			</xsd:enumeration>
			<xsd:enumeration value="18">

			</xsd:enumeration>
			<xsd:enumeration value="19">

			</xsd:enumeration>
			<xsd:enumeration value="20">

			</xsd:enumeration>
			<xsd:enumeration value="21">

			</xsd:enumeration>
			<xsd:enumeration value="22">

			</xsd:enumeration>
			<xsd:enumeration value="23">

			</xsd:enumeration>
			<xsd:enumeration value="24">

			</xsd:enumeration>
			<xsd:enumeration value="25">

			</xsd:enumeration>
			<xsd:enumeration value="26">

			</xsd:enumeration>
			<xsd:enumeration value="27">

			</xsd:enumeration>
			<xsd:enumeration value="28">

			</xsd:enumeration>
			<xsd:enumeration value="29">

			</xsd:enumeration>
			<xsd:enumeration value="30">

			</xsd:enumeration>
			<xsd:enumeration value="32">

			</xsd:enumeration>
			<xsd:enumeration value="33">

			</xsd:enumeration>
			<xsd:enumeration value="37">

			</xsd:enumeration>
			<xsd:enumeration value="39">

			</xsd:enumeration>
			<xsd:enumeration value="40">

			</xsd:enumeration>
			<xsd:enumeration value="41">

			</xsd:enumeration>
			<xsd:enumeration value="42">

			</xsd:enumeration>
			<xsd:enumeration value="43">

			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0096">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0098">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_0104">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
