XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_RemittanceImportAsyncRequest^RemittanceImportAsyncRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemittanceImportAsyncRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="PaymentTransaction_PaymentTransactionWSPull_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:PaymentTransaction_PaymentTransactionWSPull"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0"
                    name="PaymentTransaction_PaymentTransactionWSDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:PaymentTransaction_PaymentTransactionWSDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemittanceImportAsyncReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="PaymentTransaction_PaymentTransactionWSPull">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.payment.core.PaymentTransaction, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="BuyerBankInfo">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentBankLocationInfo,
                            group name FullObject, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="BankAccountID" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The buyer's bank account ID.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="BankID" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The buyer's bank ID.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="BankName" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The name of the buyer's bank.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="ClearedDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The payment date.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CompanyCode">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.core.CompanyCode, group name Reference,
                            variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The unique company code identifier. This value
                                    must match a COMP_CODE value defined in
                                    CompanyCode.csv.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomBoolean" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomString" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="CreatedDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The date the payment transaction was
                        created.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ExternalProcessedState" nillable="true"
                type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>The status of the payment transaction, as reported by the ERP
                        system. Valid values are: 0(indicates paid), 1(indicates
                        cancelled).</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="LookupID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ID used to lookup the payment approvable document. The ID
                        can be a concatenation of several IDs to make it unique in the ERP system.
                        If, for example, values defined in Version column are 001 and 002, these
                        will be appended to LOOKUPID.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaidAmounts">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentAmounts, group name
                            FullObject, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="GrossAmount">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Class name ariba.basic.core.Money, group name
                                        Reference, variant vrealm_40.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Currency">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The gross amount default
                                                  currency.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="NetAmount">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Class name ariba.basic.core.Money, group name
                                        Reference, variant vrealm_40.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:all>
                                    <xsd:element minOccurs="1" name="Amount" nillable="true"
                                        type="xsd:decimal">
                                        <xsd:annotation>
                                            <xsd:documentation>The net amount.</xsd:documentation>
                                            <xsd:documentation>Class name java.math.BigDecimal,
                                                group name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="Currency">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The net amount default
                                                  currency.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="PaymentDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The payment date.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="PaymentDocumentNumber" nillable="true"
                type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The payment document number in SAP.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="PaymentMethodType">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentMethodType, group
                            name Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The payment method type used.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomBoolean" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomInteger" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomString" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="PaymentNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The payment number. For example, this value would be a check
                        number if the payment method is check.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SupplierBankInfo">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentBankLocationInfo,
                            group name FullObject, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="AccountName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The name of bank account
                                    holder.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="BankAccountID" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The supplier's bank account
                                    ID.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="BankID" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The supplier's bank ID.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="BankName" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The name of the supplier's
                                    bank.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="BranchName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The branch name for bank.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="IBanID" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The international bank account
                                    number.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SupplierLocation">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.common.core.SupplierLocation, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="ContactID" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The name of the supplier.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="1" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The name of the supplier.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomDate" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomString" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="SupplierRemitToAddress">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentAddressInfo, group
                            name FullObject, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="Name" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The supplier's name.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    FullObject, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PostalAddress">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Class name ariba.basic.core.PostalAddress,
                                        group name Reference, variant vrealm_40.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:all>
                                    <xsd:element minOccurs="1" name="City" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The city of the supplier's
                                                bank.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="Country">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.basic.core.Country, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The country of the supplier's
                                                  bank.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="Lines" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The street address of the supplier's
                                                bank.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="PostalCode" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The ZIP or postal code of the
                                                supplier's bank.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="State" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The state of the supplier's
                                                bank.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="TransactionType" nillable="true" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>This field is defaulted.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name
                        PaymentTransactionWSPull, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="PaymentTransaction_PaymentTransactionWSDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.payment.core.PaymentTransaction, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.payment.core.PaymentTransactionLineItem,
                            group name Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="1" name="ExternalPayableReferenceNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The accounting document number in
                                                SAP.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1"
                                        name="ExternalSecondaryPayableReferenceNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The purchase order reference number
                                                from the ERP system.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>The line number of the accounting
                                                document.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="PaidAmounts">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.payment.core.PaymentAmounts, group name
                                                  FullObject, variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="DiscountAmount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The discount
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The default currency used for
                                                  all amounts shown.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="GrossAmount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The gross
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The default currency used for
                                                  all amounts shown.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="NetAmount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The net
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The default currency used for
                                                  all amounts shown.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="PayableDate" nillable="true"
                                        type="xsd:dateTime">
                                        <xsd:annotation>
                                            <xsd:documentation>The date of the
                                                invoice.</xsd:documentation>
                                            <xsd:documentation>Class name ariba.util.core.Date,
                                                group name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="PayableReferenceNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The IR number sent from Ariba during
                                                the payment integration. This field can be used in
                                                Ariba to look up the invoice.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="PayableType" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>This field is
                                                defaulted.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1"
                                        name="SecondaryPayableReferenceNumber" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The purchase order reference number
                                                from the ERP system.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="SecondaryPayableType"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>This field is
                                                defaulted.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="SupplierPayableReferenceNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The reference document number on the
                                                invoice. This number corresponds to the supplier
                                                invoice number sent from Ariba.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="LookupID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ID used to look up the payment approvable document. The
                        ID can be a concatenation of several IDs to make it unique in the ERP
                        system. If values defined in column Version, such as 001 and 002, it will be
                        appended to LOOKUPID.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        PaymentTransactionWSDetails, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
