XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_AggregatedRequisitionRevertBudgetRequest^AggregatedRequisitionRevertBudgetAsyncExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AggregatedRequisitionRevertBudgetAsyncExportRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0"
                    name="Requisition_AggregatedRequisitionRevertBudgetAsyncExportDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Requisition_AggregatedRequisitionRevertBudgetAsyncExportDetails"
                            />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AggregatedRequisitionRevertBudgetAsyncExportReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Requisition_AggregatedRequisitionRevertBudgetAsyncExportDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Requisition, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReqLineItem, group name
                            FullObject, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="AggregationWrapper">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.purchasing.core.AggregatableDemand, group
                                                  name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="ReqLineItem">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.purchasing.core.ReqLineItem, group name
                                                  FullObject, variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0"
                                                  name="ERPLineItemNumber" nillable="true"
                                                  type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Describes the ERP Req line
                                                  number of the Aggregated Line
                                                  items.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="Requisition">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.purchasing.core.Requisition, group name
                                                  FullObject, variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="ERPRequisitionID"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Describes the ERP Req ID of the
                                                  Aggregated Requisition.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Describes the serial number of the
                                                line item.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name FullObject, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique ID of the Aggregated
                        requisition.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        AggregatedRequisitionRevertBudgetAsyncExportDetails, variant
                        vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Monetary amount.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted to the reporting currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted into the base currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Conversion date when the amounts were computed in the
                        ApproxAmountInBaseCurrency and the AmountInReportingCurrency
                        fields.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name Reference,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Transaction currency of the amount.</xsd:documentation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Unique three-letter identifier for the currency.
                                    For example, USD, DEM, GBP.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
