XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_AddOn_0000_PurchaseOrderCloseStatusResponse^ARBCIG_BAPI_PO_CLOSE.Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
   <xsd:element name="ARBCIG_BAPI_PO_CLOSE">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ARIBA_POID" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PARTITION" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VARIANT" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PURCHASEORDER">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EXTENSIONIN" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPIPAREX1"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="EXTENSIONOUT" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPIPAREX1"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="POITEM" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPI_CLOSE_POITEM"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="RETURN" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="BAPIRET2"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ARBCIG_BAPI_PO_CLOSE.Response">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ARIBA_POID" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PARTITION" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VARIANT" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EXTENSIONIN" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPIPAREX1"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="EXTENSIONOUT" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPIPAREX1"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="POITEM" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ARBCIG_BAPI_CLOSE_POITEM"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="RETURN" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="BAPIRET2"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="ARBCIG_BAPIPAREX1">
    <xsd:sequence>
     <xsd:element name="STRUCTURE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALUEPART1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALUEPART2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALUEPART3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALUEPART4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ARBCIG_BAPI_CLOSE_POITEM">
    <xsd:sequence>
     <xsd:element name="PO_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DELETE_IND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SHORT_TEXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATERIAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="18"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATERIAL_EXTERNAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATERIAL_GUID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATERIAL_VERSION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EMATERIAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="18"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EMATERIAL_EXTERNAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EMATERIAL_GUID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EMATERIAL_VERSION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PLANT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STGE_LOC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TRACKINGNO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATL_GROUP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="9"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INFO_REC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VEND_MAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="QUANTITY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="13"/>
        <xsd:fractionDigits value="3"/>
        <xsd:maxInclusive value="9999999999.999"/>
        <xsd:minInclusive value="-9999999999.999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PO_UNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PO_UNIT_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORDERPR_UN" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORDERPR_UN_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONV_NUM1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="5"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONV_DEN1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="5"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NET_PRICE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="28"/>
        <xsd:fractionDigits value="9"/>
        <xsd:maxInclusive value="9999999999999999999.999999999"/>
        <xsd:minInclusive value="-9999999999999999999.999999999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRICE_UNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="5"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GR_PR_TIME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TAX_CODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BON_GRP1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="QUAL_INSP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INFO_UPD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRNT_PRICE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EST_PRICE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REMINDER1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REMINDER2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REMINDER3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OVER_DLV_TOL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="1"/>
        <xsd:maxInclusive value="99.9"/>
        <xsd:minInclusive value="-99.9"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UNLIMITED_DLV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UNDER_DLV_TOL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="1"/>
        <xsd:maxInclusive value="99.9"/>
        <xsd:minInclusive value="-99.9"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VAL_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NO_MORE_GR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FINAL_INV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITEM_CAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACCTASSCAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DISTRIB" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PART_INV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GR_IND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GR_NON_VAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IR_IND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FREE_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GR_BASEDIV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACKN_REQD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACKNOWL_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AGREEMENT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AGMT_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SHIPPING" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CUSTOMER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COND_GROUP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NO_DISCT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PLAN_DEL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="3"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NET_WEIGHT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="13"/>
        <xsd:fractionDigits value="3"/>
        <xsd:maxInclusive value="9999999999.999"/>
        <xsd:minInclusive value="-9999999999.999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WEIGHTUNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WEIGHTUNIT_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TAXJURCODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CTRL_KEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONF_CTRL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REV_LEV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNDS_CTR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CMMT_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRICEDATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRICE_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GROSS_WT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="13"/>
        <xsd:fractionDigits value="3"/>
        <xsd:maxInclusive value="9999999999.999"/>
        <xsd:minInclusive value="-9999999999.999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VOLUME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="13"/>
        <xsd:fractionDigits value="3"/>
        <xsd:maxInclusive value="9999999999.999"/>
        <xsd:minInclusive value="-9999999999.999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VOLUMEUNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VOLUMEUNIT_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INCOTERMS1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INCOTERMS2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="28"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRE_VENDOR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VEND_PART" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HL_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GR_TO_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SUPP_VENDOR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SC_VENDOR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="KANBAN_IND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_PROMO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POINTS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="13"/>
        <xsd:fractionDigits value="3"/>
        <xsd:maxInclusive value="9999999999.999"/>
        <xsd:minInclusive value="-9999999999.999"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POINT_UNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POINT_UNIT_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SEASON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SEASON_YR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BON_GRP2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BON_GRP3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SETT_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MINREMLIFE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="4"/>
        <xsd:fractionDigits value="0"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RFQ_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RFQ_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PREQ_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PREQ_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REF_DOC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REF_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SI_CAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RET_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AT_RELEV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORDER_REASON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BRAS_NBM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MATL_USAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MAT_ORIGIN" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IN_HOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INDUS3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INF_INDEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UNTIL_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:date">
        <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DELIV_COMPL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PART_DELIV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SHIP_BLOCKED" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PREQ_NAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PERIOD_IND_EXPIRATION_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INT_OBJ_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="18"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PCKG_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BATCH" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VENDRBATCH" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CALCTYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GRANT_NBR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CMMT_ITEM_LONG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="24"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNC_AREA_LONG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NO_ROUNDING" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PO_PRICE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SUPPL_STLOC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRV_BASED_IV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNDS_RES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RES_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORIG_ACCEPT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ALLOC_TBL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ALLOC_TBL_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRC_STOCK_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REASON_REJ" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRM_SALES_ORDER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRM_SALES_ORDER_ITEM_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRM_REF_SALES_ORDER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRM_REF_SO_ITEM_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRIO_URGENCY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRIO_REQUIREMENT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REASON_CODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ARIBA_ITEM_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARENT_LINE_NUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIRET2">
    <xsd:sequence>
     <xsd:element name="TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="220"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOG_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOG_MSG_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
        <xsd:pattern value="\d+"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSAGE_V1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSAGE_V2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSAGE_V3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSAGE_V4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARAMETER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROW" minOccurs="0" type="xsd:integer"/>
     <xsd:element name="FIELD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SYSTEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
