XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_PaymentAsyncResponsePullRequest^PaymentAsyncResponsePullRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentAsyncResponsePullRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="Payment_PaymentNumberImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Payment_PaymentNumberImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PayablePushError_PaymentErrorImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:PayablePushError_PaymentErrorImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentAsyncResponsePullReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Payment_PaymentNumberImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.payment.core.Payment, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="1" name="ERPPayableNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines an ERP payable number.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentNumberImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines the unique ID for every payment for which it is
                        showing a status.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentNumberImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="PayablePushError_PaymentErrorImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.payment.core.PayablePushError, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="1" name="Date" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>It defines the timestamp.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        PaymentErrorImport, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorMessage" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines an error message.</xsd:documentation>
                    <xsd:documentation>Class name ariba.base.core.MultiLingualString, group name
                        PaymentErrorImport, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines the error number.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPField" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines a field name having an error.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPId" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines an error message ID.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Id" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines the unique ID for every payment for which it is
                        showing a status.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="NumInSet" nillable="true" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>It defines the unique ID which holds the number of error
                        records in a batch</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Type" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines the SAP Message type.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name PaymentErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Monetary amount.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted to the reporting currency of the system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted into the base currency of the system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Conversion date when the amounts were computed in the ApproxAmountInBaseCurrency and the AmountInReportingCurrency fields.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name Reference, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Transaction currency of the amount.</xsd:documentation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Unique three-letter identifier for the currency. For example, USD, DEM, GBP.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>