XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_CancelAdvancePaymentExportRequest^CancelAdvancePaymentExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelAdvancePaymentExportRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="AdvancePayment_CancelAdvancePaymentExportWS_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:AdvancePayment_CancelAdvancePaymentExportWS"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CancelAdvancePaymentExportReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AdvancePayment_CancelAdvancePaymentExportWS">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.payment.core.AdvancePayment, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="CancelReason">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name
                            ariba.payment.core.AdvancePaymentCancelReasonCode, group name Reference,
                            variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="ReasonCode" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>reason for cancelling AP</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_40.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ERPPostingDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Posting date</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        CancelAdvancePaymentExportWS, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ERPRequestID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier of the payment request created in the
                        ERP for the advance payment</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        CancelAdvancePaymentExportWS, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="FiscalYear" nillable="true" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>Fiscal Year</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name
                        CancelAdvancePaymentExportWS, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Name" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Title or name of the advance payment
                        document</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        CancelAdvancePaymentExportWS, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="PurchaseOrder">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.PurchaseOrder, group
                            name CancelAdvancePaymentExportWS, variant
                            vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="CompanyCode">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Class name ariba.core.CompanyCode, group name
                                        Reference, variant vrealm_40.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Company code against which AP is
                                                made</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Unique identifier of the advance payment
                        document</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        CancelAdvancePaymentExportWS, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
