XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_ExportServiceSheetResponseAsyncRequest^ExportServiceSheetResponseAsyncRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:Ariba:Buyer:vsap" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportServiceSheetResponseAsyncRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element
                    name="ServiceSheetAsyncResponseStatus_ServiceSheetAsyncExportResponse_Item"
                    minOccurs="0" form="qualified">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item"
                                type="ServiceSheetAsyncResponseStatus_ServiceSheetAsyncExportResponse"
                                minOccurs="0" maxOccurs="unbounded" form="qualified"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportServiceSheetResponseAsyncReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ServiceSheetAsyncResponseStatus_ServiceSheetAsyncExportResponse">
        <xsd:annotation>
            <xsd:documentation>Name null, type
                ariba.servicesheet.core.ServiceSheetAsyncResponseStatus, variant
                vsap.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="EntityReferenceID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>ERP reference ID.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ServiceSheetAsyncExportResponse, variant vsap.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorMessage" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It provides a description of the error.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ServiceSheetAsyncExportResponse, variant vsap.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the error number for every error that
                        occurs.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ServiceSheetAsyncExportResponse, variant vsap.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceSheet" minOccurs="0" form="qualified">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.servicesheet.core.ServiceSheet, group
                            name Reference, variant vsap.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element name="UniqueName" type="xsd:string" minOccurs="0"
                            form="qualified" nillable="true">
                            <xsd:annotation>
                                <xsd:documentation>The unique internal identifier generated for the
                                    service sheet imported at P2P.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vsap.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomBoolean" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomDate" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomInteger" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomMoney" nillable="true">
                                        <xsd:complexType>
                                            <xsd:complexContent>
                                                <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomString" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
<xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_64.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Monetary amount.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted to the reporting currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted into the base currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Conversion date when the amounts were computed in the
                        ApproxAmountInBaseCurrency and the AmountInReportingCurrency
                        fields.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name Reference,
                        variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Transaction currency of the amount.</xsd:documentation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Unique three-letter identifier for the currency.
                                    For example, USD, DEM, GBP.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_64.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
