XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_DeltaStockRequest^DeltaStockRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DeltaStockRequest">
        <xs:complexType>
            <xs:attribute name="transactionId" type="xs:long" use="required" />
            <xs:attribute name="realmId" type="xs:string" use="required" />
            <xs:attribute name="batchNo" type="xs:unsignedInt" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>