XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_ReservationAsyncExportRequest^ReservationAsyncExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReservationAsyncExportRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="Reservation_ReservationHeaderDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Reservation_ReservationHeaderDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Reservation_ReservationLineDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Reservation_ReservationLineDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Reservation_ReservationAttachmentDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Reservation_ReservationAttachmentDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Reservation_ReservationCommentDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Reservation_ReservationCommentDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReservationAsyncExportReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Reservation_ReservationHeaderDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Reservation, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Accounting">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.common.core.SplitAccountingCollection,
                            group name ReservationHeaderDetails, variant
                            vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="SplitAccountings">
                            <xsd:complexType>
                                <xsd:annotation>
                                    <xsd:documentation>Class name ariba.common.core.SplitAccounting,
                                        group name Reference, variant vrealm_40.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                                        <xsd:complexType>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="Asset">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name ariba.core.Asset,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="SubNumber"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of an asset's SubNumber.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of an asset.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="CostCenter">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.CostCenter, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of a cost center. </xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="GeneralLedger">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.GeneralLedger, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of a general ledger.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="InternalOrder">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.InternalOrder, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of an internal order.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="WBSElement">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.WBSElement, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of a WBS element.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErpReservationNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Specifies the unique reservation Id assigned to a reservation
                        document in the ERP system.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ReservationHeaderDetails, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ReservationDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Defines The date for which reservation for line item is
                        made.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        ReservationHeaderDetails, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the unique ID of a reservation document in SAP Ariba
                        Solution.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ReservationHeaderDetails, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Requester">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.user.core.User, group name Reference,
                            variant vrealm_156.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="1" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The user creating the inventory reservation
                                    request.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_156.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Reservation_ReservationLineDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Reservation, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReservationLineItem,
                            group name Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Action" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Integer value that indicates the
                                                action that caused the reservation line item to be
                                                sent to the external system. 1 indicates 'create', 2
                                                indicates 'change', and 3 indicates
                                                'delete'.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="ErpLineNumber" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of an item in
                                                ERP.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="MaterialNumber" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the Material Number of an
                                                item in Ariba Buyer.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of an item in
                                                the reservation document.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="Quantity" nillable="true"
                                        type="xsd:decimal">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines The quantity of the
                                                item.</xsd:documentation>
                                            <xsd:documentation>Class name java.math.BigDecimal,
                                                group name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="SAPPlant">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name ariba.core.SAPPlant,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the Plant of
                                                  reservation line item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="StorageLocation">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.core.StorageLocation, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the Storage Location of
                                                  reservation line item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="UnitOfMeasure">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Defines the unit of measure for
                                                  the Reservation line.</xsd:documentation>
                                                <xsd:documentation>Class name
                                                  ariba.basic.core.UnitOfMeasure, group name
                                                  Reference, variant vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ShipTo">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>The standard delivery address for
                                                  items in the inventory reservation
                                                  request.</xsd:documentation>
                                                <xsd:documentation>Class name
                                                  ariba.common.core.Address, group name Reference,
                                                  variant vrealm_156.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Unique identifier for the
                                                  object.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="DeliverTo" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The delivery instructions for items
                                                in the inventory reservation
                                                request.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_156.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Reservation_ReservationAttachmentDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Reservation, variant
                vrealm_156.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="ExportedAttachments">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.procure.core.ExportedFileAW, group name
                            Reference, variant vrealm_156.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Attachment">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.approvable.core.AttachmentWrapper, group
                                                  name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="Attachment">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.app.util.Attachment, group name Reference,
                                                  variant vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="ContentLength"
                                                  nillable="true" type="xsd:integer"/>
                                                  <xsd:element minOccurs="0" name="ContentType"
                                                  nillable="true" type="xsd:string"/>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="Date"
                                                  nillable="true" type="xsd:dateTime"/>
                                                <xsd:element minOccurs="0" name="ExternalAttachment"
                                                  nillable="true" type="xsd:boolean"/>
                                                <xsd:element minOccurs="0" name="Filename"
                                                  nillable="true" type="xsd:string"/>
                                                <xsd:element minOccurs="0" name="ReferencedBy">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.approvable.core.LineItemReference, group
                                                  name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="item">
                                                  <xsd:complexType>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="LineItem">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.approvable.core.LineItem, group name None,
                                                  variant vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0"
                                                  name="NumberInCollection" nillable="true"
                                                  type="xsd:integer"/>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="User">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.user.core.User, group name Reference,
                                                  variant vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Unique identifier for the
                                                  object.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="MaskedFileName" nillable="true"
                                        type="xsd:string"/>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Reservation_ReservationCommentDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Reservation, variant
                vrealm_156.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Comments">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReservationComment,
                            group name Reference, variant vrealm_156.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Date" nillable="true"
                                        type="xsd:dateTime">
                                        <xsd:annotation>
                                            <xsd:documentation>The date and time when the comment
                                                was added.</xsd:documentation>
                                            <xsd:documentation>Class name ariba.util.core.Date,
                                                group name Reference, variant
                                                vrealm_156.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="LineItem">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.purchasing.core.ReservationLineItem, group
                                                  name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="NumberInCollection"
                                                  nillable="true" type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The line number of the
                                                  reservation line item for which the comment was
                                                  added.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="Text" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The comment text added by the
                                                user.</xsd:documentation>
                                            <xsd:documentation>Class name
                                                ariba.base.core.LongString, group name Reference,
                                                variant vrealm_156.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="User">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name ariba.user.core.User,
                                                  group name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The name of the user who added
                                                  the comment.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_156.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_156.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Monetary amount.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_156.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted to the reporting currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_156.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal">
                <xsd:annotation>
                    <xsd:documentation>Amount converted into the base currency of the
                        system.</xsd:documentation>
                    <xsd:documentation>Class name java.math.BigDecimal, group name Reference,
                        variant vrealm_156.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Conversion date when the amounts were computed in the
                        ApproxAmountInBaseCurrency and the AmountInReportingCurrency
                        fields.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name Reference,
                        variant vrealm_156.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Transaction currency of the amount.</xsd:documentation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_156.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>Unique three-letter identifier for the currency.
                                    For example, USD, DEM, GBP.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_156.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
