XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_AssetRequisitionExportRequest^AssetRequisitionAsyncExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetRequisitionAsyncExportRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="Requisition_ProcessAssetReqHeaderDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Requisition_ProcessAssetReqHeaderDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Requisition_ProcessAssetReqLineItemDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Requisition_ProcessAssetReqLineItemDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Requisition_ProcessAssetReqAccountingDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Requisition_ProcessAssetReqAccountingDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetRequisitionAsyncExportReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Requisition_ProcessAssetReqHeaderDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Requisition, variant
                vrealm_64.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="CompanyCode">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.core.CompanyCode, group name Reference,
                            variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The unique internal identifier of a company
                                    code.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_64.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomBoolean" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                                        name="CustomString" nillable="true">
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="EventDetails">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.common.core.EventInfo, group name
                            Reference, variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="EventName" nillable="true"
                            type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The action performed on the requisition. The
                                    following are the possible actions Submit - when the user is
                                    submitting the requisition, similarly Approve - when the
                                    requisition is being approved, CheckButton - when the check
                                    button is clicked ApproverEditSave - when Approver edit -
                                    save.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_64.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="Locale" nillable="true" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>The locale of the user who is calling the
                                    validate and enrich API. Error messages sent from the external
                                    system can be in this locale.</xsd:documentation>
                                <xsd:documentation>Class name java.lang.String, group name
                                    Reference, variant vrealm_64.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IsLimitRequisition" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Indicates whether this is a limit requisition where all the
                        line items are of type limit</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Boolean, group name
                        ProcessAssetReqHeaderDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Name" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the title of requisition.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ProcessAssetReqHeaderDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier of the requisition.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ProcessAssetReqHeaderDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ValidityEndDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The validity end date for the limit line item in a
                        Requisition</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        ProcessAssetReqHeaderDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ValidityStartDate" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The validity start date for the limit line item in a
                        Requisition</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        ProcessAssetReqHeaderDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Requisition_ProcessAssetReqLineItemDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Requisition, variant
                vrealm_64.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReqLineItem, group name
                            FullObject, variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="AssetGroup" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Asset group of a line
                                                item.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name FullObject, variant
                                                vrealm_64.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="AssetLineType">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Asset type of a line
                                                  item.</xsd:documentation>
                                                <xsd:documentation>Class name
                                                  ariba.core.AssetLineType, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="Category"
                                                  nillable="true" type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Asset type of a line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Asset category
                                                  key.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="CommodityExportMapEntry">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.common.core.CommodityExportMapEntry, group
                                                  name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="AccountType">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.common.core.AccountType, group name
                                                  Reference, variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique accounting type for
                                                  each line item in the
                                                  requisition.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Indicates the line number of the
                                                corresponding line item.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name FullObject, variant
                                                vrealm_64.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="LineType">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.procure.core.ProcureLineType, group name
                                                  FullObject, variant vrealm_64.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="Category"
                                                  nillable="true" type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>This integer value specifies
                                                  the category of the line item. This value is 1 or
                                                  blank for normal catalog and non-catalog line
                                                  items, it is 2 for tax lines, 4 for charge lines
                                                  with OOTB ShippingCharge, 8 for charge lines with
                                                  OOTB HandlingCharge, 16 for charge lines with
                                                  customer-configured charge types, and 32 for
                                                  discount lines.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier of the requisition.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ProcessAssetReqLineItemDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Requisition_ProcessAssetReqAccountingDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Requisition, variant
                vrealm_64.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReqLineItem, group name
                            FullObject, variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Accountings">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.common.core.SplitAccountingCollection, group
                                                  name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="SplitAccountings">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.common.core.SplitAccounting, group name
                                                  Reference, variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="item">
                                                  <xsd:complexType>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="ActivityNumber">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.ActivityNumber, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>A unique code of the
                                                  ActivityNumber account assignment category for
                                                  that line item. Ariba Buyer does not display this,
                                                  because it is not mandatory for the user to enter
                                                  a value.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Amount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="1" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The amount for each split line
                                                  item in the requisition.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The currency code of each split
                                                  line amount.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Asset">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name ariba.core.Asset,
                                                  group name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="SubNumber"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the sub-number of the
                                                  asset account assignment category for that line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the unique value of the
                                                  Asset account assignment category for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="AssetClass">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.AssetClass, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the unique value of the
                                                  Asset class for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="AssetDescription"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the unique value of the
                                                  Asset Description for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="AssetLocation">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.common.core.Address, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the value of the Asset
                                                  Location for each line item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="CostCenter">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.CostCenter, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation> A unique value of the Cost
                                                  center account assignment category for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="GeneralLedger">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.GeneralLedger, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique value of the General
                                                  ledger acounting type for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="InternalOrder">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.InternalOrder, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Defines the unique value of the
                                                  internal order account assignment category for
                                                  that line item. Ariba Buyer does not display this,
                                                  because it is not mandatory for the user to enter
                                                  a value.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="LineItem">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.approvable.core.LineItem, group name
                                                  Reference, variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0"
                                                  name="NumberInCollection" nillable="true"
                                                  type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The serial number of the line
                                                  item that has this accounting.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Network">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name ariba.core.Network,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation> A unique value of the Network
                                                  account assignment category for each line
                                                  item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0"
                                                  name="NumberInCollection" nillable="true"
                                                  type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The serial number of each split
                                                  line item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="1" name="Quantity"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The quantity for each split
                                                  line item in the requisition.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="WBSElement">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.WBSElement, group name Reference,
                                                  variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>A unique code of the WBS
                                                  element account assignment category for that line
                                                  item. Ariba Buyer does not display this, because
                                                  it is not mandatory for the user to enter a
                                                  value.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="Type">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.common.core.SplitAccountingType, group name
                                                  Reference, variant vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>It defines the type of split
                                                  accounting, for example, percentage or
                                                  quantity.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_64.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier of the requisition.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ProcessAssetReqAccountingDetails, variant vrealm_64.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_64.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_64.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
