XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_AssetResponse^AssetRequisitionAsyncImportPullRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetRequisitionAsyncImportPullRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0"
                    name="Requisition_ProcessReqExtAssetDataResponseImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:Requisition_ProcessReqExtAssetDataResponseImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ValidationError_ValidateErrorImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:ValidationError_ValidateErrorImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetRequisitionAsyncImportPullReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
            </xsd:all>
            <xsd:anyAttribute namespace="##local" processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Requisition_ProcessReqExtAssetDataResponseImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.Requisition, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.ReqLineItem, group name
                            AssetReqLineDetails, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="Accountings">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.common.core.SplitAccountingCollection, group
                                                  name AssetReqLineDetails, variant
                                                  vrealm_40.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="SplitAccountings">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.common.core.SplitAccounting, group name
                                                  AssetLineItemSplitAccounting, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="item">
                                                  <xsd:complexType>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Asset">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name ariba.core.Asset,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="CompanyCode">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.CompanyCode, group name Reference,
                                                  variant vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of the company code for the asset. This value must
                                                  match a company code defined in
                                                  CompanyCode.csv.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="SubNumber"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of an asset. This value must match a subnumber
                                                  field defined in Asset.csv.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The unique internal identifier
                                                  of an asset. This value must match an asset field
                                                  defined in Asset.csv.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name FullObject, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="1"
                                                  name="NumberInCollection" nillable="true"
                                                  type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>The line number of the split
                                                  accounting. The line number must be unique for
                                                  each split per line item.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name AssetLineItemSplitAccounting, variant
                                                  vrealm_40.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="custom">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of an item in
                                                the requisition.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name AssetReqLineDetails, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the unique ID of the requisition</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ProcessReqExtAssetDataResponseImport, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ValidationError_ValidateErrorImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.common.core.ValidationError, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="1" name="Date" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The date when the validation error was
                        created.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        ValidateErrorImport, variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorDetails">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.common.core.DetailError, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="0" name="ErrorCategory" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Field to capture the category
                                                information. i.e. value 0 signifies a header error,
                                                1 signifies a line item error, and 2 signifies a
                                                split accounting error. This will be used to
                                                categorize the error if line number and split number
                                                is not specified.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ErrorCode" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Error code in the external
                                                system.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ErrorMessage" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Field to save the error message sent
                                                from the ERP system.</xsd:documentation>
                                            <xsd:documentation>Class name
                                                ariba.base.core.LongString, group name Reference,
                                                variant vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ErrorType" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Field to capture the error type
                                                information. i.e. value 0 signifies error, value 1
                                                signifies warning.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="FieldName" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>The field name for which this new
                                                error is created.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="LineNumber" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Line number of the line item for
                                                which the error is created.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="SplitNumber" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Split number of the line number for
                                                which the error is created.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_40.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="1" name="Id" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier of the Approvable.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name ValidateErrorImport,
                        variant vrealm_40.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_40.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_40.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
