XSPEC_HOME/Buyer/schemas/p2p/SCHEMA_cXML_0000_PurchaseOrderCloseStatusExportRequest^PurchaseOrderCloseStatusExportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="urn:Ariba:Buyer:vsap" xmlns:typens="urn:Ariba:Buyer:vsap">
    <xsd:element name="Headers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="variant" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="partition" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PurchaseOrderCloseStatusExportRequest">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="ERPOrder_ClosePurchOrdLineDetails_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:ERPOrder_ClosePurchOrdLineDetails"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PurchaseOrderCloseStatusExportReply">
        <xsd:complexType>
            <xsd:all>
                <xsd:element minOccurs="0" name="ERPOrder_ClosePurchaseOrderNumberImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:ERPOrder_ClosePurchaseOrderNumberImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="PurchaseOrderError_ClosePurchOrdErrorImport_Item">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item"
                                type="typens:PurchaseOrderError_ClosePurchOrdErrorImport"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="partition" type="xsd:string"/>
            <xsd:attribute name="variant" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ERPOrder_ClosePurchOrdLineDetails">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.ERPOrder, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="1" name="Closed" nillable="true" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>This field is Deprecated, Please use ClosedState
                        instead.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name
                        ClosePurchOrdLineDetails, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ERPRequisitionID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Describes the ERP Req number</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdLineDetails, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.POLineItem, group name
                            Reference, variant vrealm_350044.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="1" name="Closed" nillable="true"
                                        type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>The Closed state of the purchase
                                                order.Open = 1;ClosedForChange =
                                                2;ClosedForReceiving = 3; ClosedForInvoicing =
                                                4;ClosedForAll = 5;ClosedForReceivingAndAdjust =
                                                6</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="DeliverTo" nillable="true"
                                        type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="ERPLineItemNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Describes the ERP Req line
                                                number</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ExternalLineNumber"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>The line number used externally to
                                                identify this line item. This is the line number of
                                                the requisition line item associated with this order
                                                line item.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="ItemOnReq" nillable="true"
                                        type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of an item in
                                                the requisition.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="LineType">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.procure.core.ProcureLineType, group name
                                                  Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="Category"
                                                  nillable="true" type="xsd:integer">
                                                  <xsd:annotation>
                                                  <xsd:documentation>This integer value specifies
                                                  the category of the line item. This value is 1 or
                                                  blank for normal catalog and non-catalog line
                                                  items, it is 2 for tax lines, 4 for charge lines
                                                  with OOTB ShippingCharge, 8 for charge lines with
                                                  OOTB HandlingCharge, 16 for charge lines with
                                                  customer-configured charge types, and 32 for
                                                  discount lines.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.Integer,
                                                  group name Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of the
                                                corresponding line item in the closed Purchase
                                                Order.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="OriginatingSystemLineNumber"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>This is the Originating System Line
                                                Number.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="OriginatingSystemReferenceID"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>This is the Originating System
                                                Reference ID.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ParentLineNumber"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Line number of the parent of this
                                                line item.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="1" name="RequisitionNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the Req number of the
                                                corresponding closed Purchase
                                                Order.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="SAPPOLineNumber"
                                        nillable="true" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of the
                                                corresponding line item of every Purchase
                                                Order.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.String, group
                                                name Reference, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="MasterAgreement">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.contract.core.Contract, group name
                                                  Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="BillingAddress">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.common.core.Address, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Unique identifier for the
                                                  object.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                </xsd:element>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="ChargeDetail">
                                        <xsd:complexType>
                                            <xsd:annotation>
                                                <xsd:documentation>Class name
                                                  ariba.procure.core.ChargeDetail, group name
                                                  Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:all>
                                                <xsd:element minOccurs="0" name="TaxAmount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Unique three-letter identifier
                                                  for the currency. For example, USD, DEM,
                                                  GBP.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0"
                                                  name="AmountInReportingCurrency" nillable="true"
                                                  type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Amount converted to the
                                                  reporting currency of the
                                                  system.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0"
                                                  name="ApproxAmountInBaseCurrency" nillable="true"
                                                  type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Amount converted into the base
                                                  currency of the system.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Monetary
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="ConversionDate"
                                                  nillable="true" type="xsd:dateTime">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Conversion date when the
                                                  amounts were computed in the
                                                  ApproxAmountInBaseCurrency and the
                                                  AmountInReportingCurrency
                                                  fields.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.util.core.Date, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="TaxCode">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.tax.core.TaxCode, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Country">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Country, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                                  <xsd:element minOccurs="0" name="CompanyCode">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.core.CompanyCode, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="ChargeAmount">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Money, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="Currency">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Transaction currency of the
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.basic.core.Currency, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Unique three-letter identifier
                                                  for the currency. For example, USD, DEM,
                                                  GBP.</xsd:documentation>
                                                  <xsd:documentation>Class name java.lang.String,
                                                  group name Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0"
                                                  name="AmountInReportingCurrency" nillable="true"
                                                  type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Amount converted to the
                                                  reporting currency of the
                                                  system.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0"
                                                  name="ApproxAmountInBaseCurrency" nillable="true"
                                                  type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Amount converted into the base
                                                  currency of the system.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="Amount"
                                                  nillable="true" type="xsd:decimal">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Monetary
                                                  amount.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  java.math.BigDecimal, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  <xsd:element minOccurs="0" name="ConversionDate"
                                                  nillable="true" type="xsd:dateTime">
                                                  <xsd:annotation>
                                                  <xsd:documentation>Conversion date when the
                                                  amounts were computed in the
                                                  ApproxAmountInBaseCurrency and the
                                                  AmountInReportingCurrency
                                                  fields.</xsd:documentation>
                                                  <xsd:documentation>Class name
                                                  ariba.util.core.Date, group name Reference,
                                                  variant vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  </xsd:element>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0" name="ChargeType">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>Class name
                                                  ariba.procure.core.ChargeType, group name
                                                  Reference, variant
                                                  vrealm_350044.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:all>
                                                  <xsd:element minOccurs="0" name="UniqueName"
                                                  nillable="true" type="xsd:string"/>
                                                  </xsd:all>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element minOccurs="0"
                                                  name="ANChargeDescription" nillable="true"
                                                  type="xsd:string"/>
                                                <xsd:element minOccurs="0" name="ANChargeName"
                                                  nillable="true" type="xsd:string"/>
                                                <xsd:element minOccurs="0" name="ANChargeCode"
                                                  nillable="true" type="xsd:string"/>
                                            </xsd:all>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="IsAdHoc" nillable="true"
                                        type="xsd:boolean"/>
                                    <xsd:element minOccurs="0" name="ShortName" nillable="true"
                                        type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="AllCommentsString"
                                        nillable="true" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="IncoTermsDetail"
                                        nillable="true" type="xsd:string"/>
                                    <xsd:element minOccurs="0" name="SupplierPartNumber"
                                        nillable="true" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>"UnderDeliveryToleranceLimit"
                                                  is the name of a flex field that can be imported
                                                  or exported.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomCompanyCode" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>"OrderCompanyCode" is the name
                                                  of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:CompanyCode_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomERPShipTo" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>"ERPShipTo" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:ERPShipTo_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>"OverDeliveryToleranceLimit" is
                                                  the name of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"UnlimitedOverDeliveryAllowedIndicators"
                                                  is the name of a flex field that can be imported
                                                  or exported.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:annotation>
                                                  <xsd:documentation>"City" is the name of a flex
                                                  field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"CommodityCode" is the name of
                                                  a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"Country" is the name of a flex
                                                  field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"ERPMaterialGroup" is the name
                                                  of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"LineType" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"Lines" is the name of a flex
                                                  field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"MALineNumber" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"ManName" is the name of a flex
                                                  field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"ManPartNumber" is the name of
                                                  a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"MaterialNumber" is the name of
                                                  a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"OrderCCode" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"OtherShipTo" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"Postalcode" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"ShipToName" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"State" is the name of a flex
                                                  field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"SupplierPartAuxiliaryID" is
                                                  the name of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"SupplierPartNumber" is the
                                                  name of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"UnitofMeasure" is the name of
                                                  a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"incoTerm" is the name of a
                                                  flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  <xsd:documentation>"incoTermLocation" is the name
                                                  of a flex field that can be imported or
                                                  exported.</xsd:documentation>
                                                  </xsd:annotation>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="OrderID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Describes the ERP Req line number</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdLineDetails, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the unique Purchase Order ID with its version
                        number.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdLineDetails, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="VersionNumber" nillable="true" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>This is a supplemental version number of the original order.
                        Ariba Buyer implements change orders by sending an updated order to the
                        supplier, as a revision of the original order. The order number remains the
                        same, but there is a supplemental version number.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.Integer, group name
                        ClosePurchOrdLineDetails, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ERPOrder_ClosePurchaseOrderNumberImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.purchasing.core.ERPOrder, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="LineItems">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.purchasing.core.POLineItem, group name
                            ClosePurchaseOrderNumberItemImport, variant
                            vrealm_350044.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element minOccurs="1" name="NumberInCollection"
                                        nillable="true" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation>Defines the line number of the
                                                corresponding line item in the closed Purchase
                                                Order.</xsd:documentation>
                                            <xsd:documentation>Class name java.lang.Integer, group
                                                name ClosePurchaseOrderNumberItemImport, variant
                                                vrealm_350044.</xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomBoolean" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:boolean">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomDate" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:dateTime">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomInteger" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:integer">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomMoney" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:complexContent>
                                                  <xsd:extension base="typens:Money_Reference">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:complexContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="CustomString" nillable="true">
                                                  <xsd:complexType>
                                                  <xsd:simpleContent>
                                                  <xsd:extension base="xsd:string">
                                                  <xsd:attribute name="name" type="xsd:string"/>
                                                  </xsd:extension>
                                                  </xsd:simpleContent>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="OrderID" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Describes the ERP Req line number</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchaseOrderNumberImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="UniqueName" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the unique Purchase Order ID with its latest version
                        number.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchaseOrderNumberImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="PurchaseOrderError_ClosePurchOrdErrorImport">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.integration.core.PurchaseOrderError, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="1" name="Date" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>Defines the timestamp of an error.</xsd:documentation>
                    <xsd:documentation>Class name ariba.util.core.Date, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorClient" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the client that corresponds to the
                        error.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorMessage" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It provides a description of the error.</xsd:documentation>
                    <xsd:documentation>Class name ariba.base.core.MultiLingualString, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorNumber" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the error number for every error that
                        occurs.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPField" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the field name that corresponds to the error that has
                        occured in SAP.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPId" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the error ID that is defined in
                        SAP.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPModule" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the SAP module of the error, which is the Dynapro
                        name.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSAPScreen" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the Dynapro number of the error on the
                        screen.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="ErrorSystem" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the System ID of an error.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Id" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the unique Purchase Oeder ID for which it shows a
                        status.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="NumInSet" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Defines the line number of the corresponding line
                        item.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" name="Type" nillable="true" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>It defines the SAP Message type.</xsd:documentation>
                    <xsd:documentation>Class name java.lang.String, group name
                        ClosePurchOrdErrorImport, variant vrealm_350044.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="CompanyCode_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.core.CompanyCode, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="UniqueName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ERPShipTo_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type vrealm_350044.fmd_18.ERPShipTo, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="UniqueName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="custom">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBigDecimal"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:decimal">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomBoolean"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:boolean">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomDate"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:dateTime">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomInteger"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomLong"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:long">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomMoney"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typens:Money_Reference">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomString"
                            nillable="true">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="Money_Reference">
        <xsd:annotation>
            <xsd:documentation>Name null, type ariba.basic.core.Money, variant
                vrealm_350044.</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AmountInReportingCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ApproxAmountInBaseCurrency" nillable="true"
                type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="Currency">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Class name ariba.basic.core.Currency, group name
                            Reference, variant vrealm_350044.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="UniqueName" nillable="true"
                            type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
