XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_940^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hci="http://sap.com/hci"
    xmlns="urn:sap.com:typesystem:b2b:116:asc-x12"
    targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12">
    <xsd:annotation>
        <xsd:appinfo>
            <hci:resourceinfo>
                <hci:info key="typeSystem" value="ASC-X12"/>
                <hci:info key="typeSystemVersion" value="004010"/>
                <hci:info key="category" value="Template"/>
                <hci:info key="rootNode" value="M_940"/>
                <hci:info key="responsibleAgencyName" value="US, ANSI ASC X12"/>
                <hci:info key="responsibleAgencyCode" value="116"/>
                <hci:info key="messageType" value="940"/>
                <hci:info key="messageName" value="Warehouse Shipping Order"/>
                <hci:info key="documentNumber" value=""/>
            </hci:resourceinfo>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="M_940" type="M_940"/>
    <xsd:complexType name="M_940">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="S_ST" type="S_ST"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="S_W05" type="S_W05"/>
            <xsd:element maxOccurs="10" minOccurs="0" name="G_0100">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="S_N1" type="S_N1"/>
                        <xsd:element maxOccurs="2" minOccurs="0" name="S_N2" type="S_N2"/>
                        <xsd:element maxOccurs="2" minOccurs="0" name="S_N3" type="S_N3"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="S_N4" type="S_N4"/>
                        <xsd:element maxOccurs="5" minOccurs="0" name="S_PER" type="S_PER"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="10" minOccurs="0" name="S_N9" type="S_N9"/>
            <xsd:element maxOccurs="3" minOccurs="0" name="S_G61" type="S_G61"/>
            <xsd:element maxOccurs="10" minOccurs="0" name="S_G62" type="S_G62"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="S_NTE" type="S_NTE"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_W09" type="S_W09"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_W66" type="S_W66"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_W6" type="S_W6"/>
            <xsd:element maxOccurs="13" minOccurs="0" name="S_R2" type="S_R2"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_BNX" type="S_BNX"/>
            <xsd:element maxOccurs="10" minOccurs="0" name="G_0200">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="S_LM" type="S_LM"/>
                        <xsd:element maxOccurs="100" minOccurs="1" name="S_LQ" type="S_LQ"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="G_0300">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="S_LX" type="S_LX"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="S_MAN" type="S_MAN"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="S_SDQ" type="S_SDQ"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="S_N1" type="S_N1"/>
                        <xsd:element maxOccurs="10" minOccurs="0" name="S_G62" type="S_G62"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="G_0310">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="S_W01"
                                        type="S_W01"/>
                                    <xsd:element maxOccurs="5" minOccurs="0" name="S_G69"
                                        type="S_G69"/>
                                    <xsd:element maxOccurs="200" minOccurs="0" name="S_N9"
                                        type="S_N9"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="S_NTE"
                                        type="S_NTE"/>
                                    <xsd:element maxOccurs="3" minOccurs="0" name="S_W20"
                                        type="S_W20"/>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="S_QTY"
                                        type="S_QTY"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="S_AMT"
                                        type="S_AMT"/>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="S_G62"
                                        type="S_G62"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="S_G66"
                                        type="S_G66"/>
                                    <xsd:element maxOccurs="3" minOccurs="0" name="S_N1" type="S_N1"/>
                                    <xsd:element maxOccurs="5" minOccurs="0" name="S_PER"
                                        type="S_PER"/>
                                    <xsd:element maxOccurs="6" minOccurs="0" name="S_LH2"
                                        type="S_LH2"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="S_LHR"
                                        type="S_LHR"/>
                                    <xsd:element maxOccurs="5" minOccurs="0" name="S_LH6"
                                        type="S_LH6"/>
                                    <xsd:element maxOccurs="10" minOccurs="0" name="G_0320">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="1" minOccurs="1" name="S_LM"
                                                  type="S_LM"/>
                                                <xsd:element maxOccurs="100" minOccurs="1"
                                                  name="S_LQ" type="S_LQ"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="S_LS" type="S_LS"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="G_0330">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="1" minOccurs="1" name="S_LX"
                                                  type="S_LX"/>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="S_N9" type="S_N9"/>
                                                <xsd:element maxOccurs="10" minOccurs="0"
                                                  name="S_G62" type="S_G62"/>
                                                <xsd:element maxOccurs="1" minOccurs="0" name="S_N1"
                                                  type="S_N1"/>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="S_SDQ" type="S_SDQ"/>
                                                <xsd:element maxOccurs="10" minOccurs="0"
                                                  name="G_0331">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="1" minOccurs="1"
                                                  name="S_LM" type="S_LM"/>
                                                  <xsd:element maxOccurs="100" minOccurs="1"
                                                  name="S_LQ" type="S_LQ"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="G_0332">
                                                  <xsd:complexType>
                                                  <xsd:sequence>
                                                  <xsd:element maxOccurs="1" minOccurs="1"
                                                  name="S_LH1" type="S_LH1"/>
                                                  <xsd:element maxOccurs="4" minOccurs="0"
                                                  name="S_LH2" type="S_LH2"/>
                                                  <xsd:element maxOccurs="10" minOccurs="0"
                                                  name="S_LH3" type="S_LH3"/>
                                                  <xsd:element maxOccurs="20" minOccurs="0"
                                                  name="S_LFH" type="S_LFH"/>
                                                  <xsd:element maxOccurs="3" minOccurs="0"
                                                  name="S_LEP" type="S_LEP"/>
                                                  <xsd:element maxOccurs="1" minOccurs="0"
                                                  name="S_LH4" type="S_LH4"/>
                                                  <xsd:element maxOccurs="3" minOccurs="0"
                                                  name="S_LHT" type="S_LHT"/>
                                                  <xsd:element maxOccurs="5" minOccurs="0"
                                                  name="S_LHR" type="S_LHR"/>
                                                  <xsd:element maxOccurs="5" minOccurs="0"
                                                  name="S_PER" type="S_PER"/>
                                                  </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="S_LE" type="S_LE"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="G_0340">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="1" minOccurs="1"
                                                  name="S_FA1" type="S_FA1"/>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1"
                                                  name="S_FA2" type="S_FA2"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_W76" type="S_W76"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="S_SE" type="S_SE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_ST">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_143" type="D_143"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_329" type="D_329"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W05">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_473" type="D_473"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_285" type="D_285"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_324" type="D_324"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_472" type="D_472"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_474" type="D_474"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_640" type="D_640"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_306" type="D_306"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_N1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_98" type="D_98"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_93" type="D_93"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_66" type="D_66"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_706" type="D_706"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_98_2" type="D_98"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_N2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_93" type="D_93"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_93_2" type="D_93"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_N3">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_166" type="D_166"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_166_2" type="D_166"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_N4">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_19" type="D_19"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_156" type="D_156"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_116" type="D_116"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_26" type="D_26"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_309" type="D_309"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_310" type="D_310"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_PER">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_366" type="D_366"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_93" type="D_93"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_365" type="D_365"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_365_2" type="D_365"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364_2" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_365_3" type="D_365"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364_3" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_443" type="D_443"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_N9">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_128" type="D_128"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_127" type="D_127"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_369" type="D_369"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_373" type="D_373"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_337" type="D_337"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_623" type="D_623"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C040" type="C_C040"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C040">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_128" type="D_128"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_127" type="D_127"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_128_2" type="D_128"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_127_2" type="D_127"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_128_3" type="D_128"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_127_3" type="D_127"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_G61">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_366" type="D_366"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_93" type="D_93"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_365" type="D_365"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_443" type="D_443"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_G62">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_432" type="D_432"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_373" type="D_373"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_176" type="D_176"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_337" type="D_337"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_623" type="D_623"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_NTE">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_363" type="D_363"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_352" type="D_352"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W09">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_40" type="D_40"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_408" type="D_408"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_408_2" type="D_408"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_3" type="D_3"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1122" type="D_1122"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_488" type="D_488"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380" type="D_380"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W66">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_146" type="D_146"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_91" type="D_91"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_399" type="D_399"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_400" type="D_400"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_387" type="D_387"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_433" type="D_433"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_434" type="D_434"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_625" type="D_625"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_610" type="D_610"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_140" type="D_140"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W6">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_152" type="D_152"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_152_2" type="D_152"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_152_3" type="D_152"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_152_4" type="D_152"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_R2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_140" type="D_140"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_133" type="D_133"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_19" type="D_19"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_154" type="D_154"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_177" type="D_177"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_91" type="D_91"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_296" type="D_296"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_296_2" type="D_296"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_76" type="D_76"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_373" type="D_373"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_369" type="D_369"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_56" type="D_56"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_742" type="D_742"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_BNX">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_460" type="D_460"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_129" type="D_129"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_11" type="D_11"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_223" type="D_223"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LM">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_559" type="D_559"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_822" type="D_822"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LQ">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1270" type="D_1270"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1271" type="D_1271"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LX">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_554" type="D_554"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_MAN">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_88" type="D_88"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_87" type="D_87"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_87_2" type="D_87"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_88_2" type="D_88"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_87_3" type="D_87"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_87_4" type="D_87"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_SDQ">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_66" type="D_66"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_67" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_380" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_2" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_2" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_3" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_3" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_4" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_4" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_5" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_5" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_6" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_6" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_7" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_7" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_8" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_8" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_9" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_9" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_67_10" type="D_67"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_10" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_310" type="D_310"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W01">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_330" type="D_330"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_438" type="D_438"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_235" type="D_235"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_234" type="D_234"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_235_2" type="D_235"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_234_2" type="D_234"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_59" type="D_59"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_121" type="D_121"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_23" type="D_23"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_22" type="D_22"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_416" type="D_416"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_451" type="D_451"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_286" type="D_286"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_235_3" type="D_235"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_234_3" type="D_234"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_G69">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_369" type="D_369"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W20">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_356" type="D_356"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_357" type="D_357"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_81" type="D_81"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_187" type="D_187"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_188" type="D_188"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_395" type="D_395"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_183" type="D_183"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_397" type="D_397"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_QTY">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_673" type="D_673"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C001" type="C_C001"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_61" type="D_61"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C001">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1018" type="D_1018"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_649" type="D_649"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1018_2" type="D_1018"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_649_2" type="D_649"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_3" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1018_3" type="D_1018"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_649_3" type="D_649"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_4" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1018_4" type="D_1018"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_649_4" type="D_649"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_5" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1018_5" type="D_1018"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_649_5" type="D_649"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_AMT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_522" type="D_522"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_782" type="D_782"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_478" type="D_478"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_G66">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_146" type="D_146"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_91" type="D_91"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_399" type="D_399"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_400" type="D_400"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_387" type="D_387"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_433" type="D_433"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_434" type="D_434"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LH2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_215" type="D_215"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_983" type="D_983"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_218" type="D_218"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_222" type="D_222"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_759" type="D_759"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_408" type="D_408"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_408_2" type="D_408"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_3" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_408_3" type="D_408"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LHR">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_128" type="D_128"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_127" type="D_127"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_373" type="D_373"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LH6">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_93" type="D_93"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_272" type="D_272"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_273" type="D_273"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_273_2" type="D_273"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LS">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_447" type="D_447"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LH1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_80" type="D_80"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_277" type="D_277"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_200" type="D_200"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_22" type="D_22"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_595" type="D_595"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_665" type="D_665"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_254" type="D_254"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1375" type="D_1375"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LH3">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_224" type="D_224"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_984" type="D_984"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_985" type="D_985"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1073" type="D_1073"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LFH">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_808" type="D_808"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_809" type="D_809"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_809_2" type="D_809"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1023" type="D_1023"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380" type="D_380"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_380_2" type="D_380"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LEP">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_806" type="D_806"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_807" type="D_807"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_156" type="D_156"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_127" type="D_127"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LH4">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_238" type="D_238"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_254" type="D_254"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_230" type="D_230"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_230_2" type="D_230"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_230_3" type="D_230"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_271" type="D_271"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_267" type="D_267"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_805" type="D_805"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_986" type="D_986"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_364_2" type="D_364"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LHT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_215" type="D_215"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_218" type="D_218"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_222" type="D_222"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_LE">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_447" type="D_447"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_FA1">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_559" type="D_559"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1300" type="D_1300"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_248" type="D_248"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_FA2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_1196" type="D_1196"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_1195" type="D_1195"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_W76">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_330" type="D_330"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_81" type="D_81"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_183" type="D_183"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_355_2" type="D_355"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_398" type="D_398"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_SE">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_96" type="D_96"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_329" type="D_329"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="D_1196">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1195">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1073">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_665">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_146">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_267">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_306">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_822">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_140">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_380">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_782">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_387">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_143">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1122">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_19">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_805">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_806">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_649">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_408">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_809">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_807">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="12"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_808">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_416">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_22">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_133">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_23">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_254">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_373">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="8"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_26">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_759">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_522">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_127">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_369">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="45"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_248">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_366">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_488">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_400">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_128">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_129">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_364">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_56">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_640">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_365">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_363">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_59">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_121">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_357">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_478">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_116">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_355">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_234">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="48"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_235">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_356">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_238">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_40">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_474">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="22"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_595">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_472">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_230">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_473">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_352">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1271">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1270">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_742">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_984">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_985">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_223">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_983">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_224">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_625">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_623">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_986">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_460">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_76">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="22"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_183">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_188">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_222">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_187">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_610">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_215">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_218">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="14"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_337">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_61">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_66">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_67">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_177">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_296">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_176">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_330">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_451">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1375">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_324">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="22"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_443">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_91">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_329">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_93">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_447">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_96">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_98">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_11">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_166">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="55"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_200">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_285">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="22"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_286">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1023">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1300">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_706">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_309">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_434">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_432">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_399">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_433">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_554">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_80">
        <xsd:restriction base="xsd:integer">
            <xsd:fractionDigits value="0"/>
            <xsd:totalDigits value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_559">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_438">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="12"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_81">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_272">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_152">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_273">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_87">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="48"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1018">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_88">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_271">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_397">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_156">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_310">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_673">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_277">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="6"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_398">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_395">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_154">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="6"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
