XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_856^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nestor="http://sap.com/nestor" xmlns="urn:sap.com:typesystem:b2b:116:asc-x12:856:004010" targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12:856:004010">
	<xs:annotation>
		<xs:appinfo>
			<nestor:resourceinfo>
				<nestor:info key="typeSystem" value="ASC-X12"/>
				<nestor:info key="typeSystemVersion" value="004010"/>
				<nestor:info key="category" value="Template"/>
				<nestor:info key="rootNode" value="Interchange"/>
				<nestor:info key="responsibleAgencyName" value="ANSI ASC X12"/>
				<nestor:info key="responsibleAgencyCode" value="116"/>
				<nestor:info key="messageType" value="856"/>
				<nestor:info key="messageName" value="Ship Notice/Manifest"/>
				<nestor:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:116:asc-x12:856:004010"/>
			   <nestor:info key="documentNumber" value="/M_856/S_BSN/D_396"/>
			</nestor:resourceinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Interchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_ISA" type="S_ISA"/>
				<xs:element name="FunctionalGroup" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="S_GS" type="S_GS"/>
							<xs:element name="M_856" type="M_856" maxOccurs="unbounded"/>
							<xs:element name="S_GE" type="S_GE"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="S_IEA" type="S_IEA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="C_C001">
		<xs:sequence>
			<xs:element name="D_355_1" type="D_355"/>
			<xs:element name="D_1018_1" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_1" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_2" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_2" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_3" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_3" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_4" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_4" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_5" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_5" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_5" type="D_649" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C002">
		<xs:sequence>
			<xs:element name="D_704_1" type="D_704"/>
			<xs:element name="D_704_2" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_3" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_4" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_5" type="D_704" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C040">
		<xs:sequence>
			<xs:element name="D_128_1" type="D_128"/>
			<xs:element name="D_127_1" type="D_127"/>
			<xs:element name="D_128_2" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_2" type="D_127" minOccurs="0"/>
			<xs:element name="D_128_3" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_3" type="D_127" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_856">
		<xs:sequence>
			<xs:element name="S_ST" type="S_ST"/>
			<xs:element name="S_BSN" type="S_BSN"/>
			<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
			<xs:element name="G_HL" maxOccurs="200000">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_HL" type="S_HL"/>
						<xs:element name="S_LIN" type="S_LIN" minOccurs="0"/>
						<xs:element name="S_SN1" type="S_SN1" minOccurs="0"/>
						<xs:element name="S_SLN" type="S_SLN" minOccurs="0" maxOccurs="1000"/>
						<xs:element name="S_PRF" type="S_PRF" minOccurs="0"/>
						<xs:element name="S_PO4" type="S_PO4" minOccurs="0"/>
						<xs:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="200"/>
						<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="40"/>
						<xs:element name="S_PWK" type="S_PWK" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_TD1" type="S_TD1" minOccurs="0" maxOccurs="20"/>
						<xs:element name="S_TD5" type="S_TD5" minOccurs="0" maxOccurs="12"/>
						<xs:element name="S_TD3" type="S_TD3" minOccurs="0" maxOccurs="12"/>
						<xs:element name="S_TD4" type="S_TD4" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_TSD" type="S_TSD" minOccurs="0"/>
						<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="3"/>
						<xs:element name="G_LH1" minOccurs="0" maxOccurs="100">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LH1" type="S_LH1"/>
									<xs:element name="S_LH2" type="S_LH2" minOccurs="0" maxOccurs="4"/>
									<xs:element name="S_LH3" type="S_LH3" minOccurs="0" maxOccurs="12"/>
									<xs:element name="S_LFH" type="S_LFH" minOccurs="0" maxOccurs="20"/>
									<xs:element name="S_LEP" type="S_LEP" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="S_LH4" type="S_LH4" minOccurs="0"/>
									<xs:element name="S_LHT" type="S_LHT" minOccurs="0" maxOccurs="3"/>
									<xs:element name="S_LHR" type="S_LHR" minOccurs="0" maxOccurs="10"/>
									<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="5"/>
									<xs:element name="S_LHE" type="S_LHE" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_CLD" minOccurs="0" maxOccurs="200">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_CLD" type="S_CLD"/>
									<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="200"/>
									<xs:element name="S_DTP" type="S_DTP" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="S_MAN" type="S_MAN" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_FOB" type="S_FOB" minOccurs="0"/>
						<xs:element name="S_PAL" type="S_PAL" minOccurs="0"/>
						<xs:element name="G_N1" minOccurs="0" maxOccurs="200">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_N1" type="S_N1"/>
									<xs:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
									<xs:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
									<xs:element name="S_N4" type="S_N4" minOccurs="0"/>
									<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
									<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="3"/>
									<xs:element name="S_FOB" type="S_FOB" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="S_SDQ" type="S_SDQ" minOccurs="0" maxOccurs="50"/>
						<xs:element name="S_ETD" type="S_ETD" minOccurs="0"/>
						<xs:element name="S_CUR" type="S_CUR" minOccurs="0"/>
						<xs:element name="G_SAC" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_SAC" type="S_SAC"/>
									<xs:element name="S_CUR" type="S_CUR" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="S_GF" type="S_GF" minOccurs="0"/>
						<xs:element name="S_YNQ" type="S_YNQ" minOccurs="0" maxOccurs="10"/>
						<xs:element name="G_LM" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LM" type="S_LM"/>
									<xs:element name="S_LQ" type="S_LQ" maxOccurs="100"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_V1" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_V1" type="S_V1"/>
									<xs:element name="S_R4" type="S_R4" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_CTT" type="S_CTT" minOccurs="0"/>
			<xs:element name="S_SE" type="S_SE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_BSN">
		<xs:sequence>
			<xs:element name="D_353" type="D_353"/>
			<xs:element name="D_396" type="D_396"/>
			<xs:element name="D_373" type="D_373"/>
			<xs:element name="D_337" type="D_337"/>
			<xs:element name="D_1005" type="D_1005" minOccurs="0"/>
			<xs:element name="D_640" type="D_640" minOccurs="0"/>
			<xs:element name="D_641" type="D_641" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CLD">
		<xs:sequence>
			<xs:element name="D_622" type="D_622"/>
			<xs:element name="D_382" type="D_382"/>
			<xs:element name="D_103" type="D_103" minOccurs="0"/>
			<xs:element name="D_357" type="D_357" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CTT">
		<xs:sequence>
			<xs:element name="D_354" type="D_354"/>
			<xs:element name="D_347" type="D_347" minOccurs="0"/>
			<xs:element name="D_81" type="D_81" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_183" type="D_183" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CUR">
		<xs:sequence>
			<xs:element name="D_98_1" type="D_98"/>
			<xs:element name="D_100_1" type="D_100"/>
			<xs:element name="D_280" type="D_280" minOccurs="0"/>
			<xs:element name="D_98_2" type="D_98" minOccurs="0"/>
			<xs:element name="D_100_2" type="D_100" minOccurs="0"/>
			<xs:element name="D_669" type="D_669" minOccurs="0"/>
			<xs:element name="D_374_1" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_1" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_1" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_2" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_2" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_2" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_3" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_3" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_3" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_4" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_4" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_4" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_5" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_5" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_5" type="D_337" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DTM">
		<xs:sequence>
			<xs:element name="D_374" type="D_374"/>
			<xs:element name="D_373" type="D_373" minOccurs="0"/>
			<xs:element name="D_337" type="D_337" minOccurs="0"/>
			<xs:element name="D_623" type="D_623" minOccurs="0"/>
			<xs:element name="D_1250" type="D_1250" minOccurs="0"/>
			<xs:element name="D_1251" type="D_1251" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DTP">
		<xs:sequence>
			<xs:element name="D_374" type="D_374"/>
			<xs:element name="D_1250" type="D_1250"/>
			<xs:element name="D_1251" type="D_1251"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ETD">
		<xs:sequence>
			<xs:element name="D_626" type="D_626"/>
			<xs:element name="D_627" type="D_627"/>
			<xs:element name="D_128" type="D_128" minOccurs="0"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_743" type="D_743" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FOB">
		<xs:sequence>
			<xs:element name="D_146" type="D_146"/>
			<xs:element name="D_309_1" type="D_309" minOccurs="0"/>
			<xs:element name="D_352_1" type="D_352" minOccurs="0"/>
			<xs:element name="D_334" type="D_334" minOccurs="0"/>
			<xs:element name="D_335" type="D_335" minOccurs="0"/>
			<xs:element name="D_309_2" type="D_309" minOccurs="0"/>
			<xs:element name="D_352_2" type="D_352" minOccurs="0"/>
			<xs:element name="D_54" type="D_54" minOccurs="0"/>
			<xs:element name="D_352_3" type="D_352" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GE">
		<xs:sequence>
			<xs:element name="D_97" type="D_97"/>
			<xs:element name="D_28" type="D_28"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GF">
		<xs:sequence>
			<xs:element name="D_128_1" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_1" type="D_127" minOccurs="0"/>
			<xs:element name="D_367" type="D_367" minOccurs="0"/>
			<xs:element name="D_782" type="D_782" minOccurs="0"/>
			<xs:element name="D_128_2" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_2" type="D_127" minOccurs="0"/>
			<xs:element name="D_328" type="D_328" minOccurs="0"/>
			<xs:element name="D_128_3" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_3" type="D_127" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GS">
		<xs:sequence>
			<xs:element name="D_479" type="D_479"/>
			<xs:element name="D_142" type="D_142"/>
			<xs:element name="D_124" type="D_124"/>
			<xs:element name="D_373" type="D_373"/>
			<xs:element name="D_337" type="D_337"/>
			<xs:element name="D_28" type="D_28"/>
			<xs:element name="D_455" type="D_455"/>
			<xs:element name="D_480" type="D_480"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_HL">
		<xs:sequence>
			<xs:element name="D_628" type="D_628"/>
			<xs:element name="D_734" type="D_734" minOccurs="0"/>
			<xs:element name="D_735" type="D_735"/>
			<xs:element name="D_736" type="D_736" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IEA">
		<xs:sequence>
			<xs:element name="D_I16" type="D_I16"/>
			<xs:element name="D_I12" type="D_I12"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ISA">
		<xs:sequence>
			<xs:element name="D_I01" type="D_I01"/>
			<xs:element name="D_I02" type="D_I02"/>
			<xs:element name="D_I03" type="D_I03"/>
			<xs:element name="D_I04" type="D_I04"/>
			<xs:element name="D_I05_1" type="D_I05"/>
			<xs:element name="D_I06" type="D_I06"/>
			<xs:element name="D_I05_2" type="D_I05"/>
			<xs:element name="D_I07" type="D_I07"/>
			<xs:element name="D_I08" type="D_I08"/>
			<xs:element name="D_I09" type="D_I09"/>
			<xs:element name="D_I10" type="D_I10"/>
			<xs:element name="D_I11" type="D_I11"/>
			<xs:element name="D_I12" type="D_I12"/>
			<xs:element name="D_I13" type="D_I13"/>
			<xs:element name="D_I14" type="D_I14"/>
			<xs:element name="D_I15" type="D_I15"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LEP">
		<xs:sequence>
			<xs:element name="D_806" type="D_806" minOccurs="0"/>
			<xs:element name="D_807" type="D_807" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LFH">
		<xs:sequence>
			<xs:element name="D_808" type="D_808"/>
			<xs:element name="D_809_1" type="D_809"/>
			<xs:element name="D_809_2" type="D_809" minOccurs="0"/>
			<xs:element name="D_1023" type="D_1023" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_380_1" type="D_380" minOccurs="0"/>
			<xs:element name="D_380_2" type="D_380" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LH1">
		<xs:sequence>
			<xs:element name="D_355_1" type="D_355"/>
			<xs:element name="D_80" type="D_80"/>
			<xs:element name="D_277" type="D_277" minOccurs="0"/>
			<xs:element name="D_200" type="D_200" minOccurs="0"/>
			<xs:element name="D_22" type="D_22" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="D_595" type="D_595" minOccurs="0"/>
			<xs:element name="D_665" type="D_665" minOccurs="0"/>
			<xs:element name="D_254" type="D_254" minOccurs="0"/>
			<xs:element name="D_1375" type="D_1375" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LH2">
		<xs:sequence>
			<xs:element name="D_215" type="D_215" minOccurs="0"/>
			<xs:element name="D_983" type="D_983" minOccurs="0"/>
			<xs:element name="D_218" type="D_218" minOccurs="0"/>
			<xs:element name="D_222" type="D_222" minOccurs="0"/>
			<xs:element name="D_759" type="D_759" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_408_1" type="D_408" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_408_2" type="D_408" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_408_3" type="D_408" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LH3">
		<xs:sequence>
			<xs:element name="D_224" type="D_224" minOccurs="0"/>
			<xs:element name="D_984" type="D_984" minOccurs="0"/>
			<xs:element name="D_985" type="D_985" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LH4">
		<xs:sequence>
			<xs:element name="D_238" type="D_238" minOccurs="0"/>
			<xs:element name="D_364_1" type="D_364" minOccurs="0"/>
			<xs:element name="D_254" type="D_254" minOccurs="0"/>
			<xs:element name="D_230_1" type="D_230" minOccurs="0"/>
			<xs:element name="D_230_2" type="D_230" minOccurs="0"/>
			<xs:element name="D_230_3" type="D_230" minOccurs="0"/>
			<xs:element name="D_271" type="D_271" minOccurs="0"/>
			<xs:element name="D_267" type="D_267" minOccurs="0"/>
			<xs:element name="D_805" type="D_805" minOccurs="0"/>
			<xs:element name="D_986" type="D_986" minOccurs="0"/>
			<xs:element name="D_364_2" type="D_364" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LHE">
		<xs:sequence>
			<xs:element name="D_224" type="D_224"/>
			<xs:element name="D_218" type="D_218"/>
			<xs:element name="D_128" type="D_128"/>
			<xs:element name="D_127" type="D_127"/>
			<xs:element name="D_759" type="D_759" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LHR">
		<xs:sequence>
			<xs:element name="D_128" type="D_128"/>
			<xs:element name="D_127" type="D_127"/>
			<xs:element name="D_373" type="D_373" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LHT">
		<xs:sequence>
			<xs:element name="D_215" type="D_215" minOccurs="0"/>
			<xs:element name="D_218" type="D_218" minOccurs="0"/>
			<xs:element name="D_222" type="D_222" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LIN">
		<xs:sequence>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_235_1" type="D_235"/>
			<xs:element name="D_234_1" type="D_234"/>
			<xs:element name="D_235_2" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_2" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_3" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_3" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_4" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_4" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_5" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_5" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_6" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_6" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_7" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_7" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_8" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_8" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_9" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_9" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_10" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_10" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_11" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_11" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_12" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_12" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_13" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_13" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_14" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_14" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_15" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_15" type="D_234" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LM">
		<xs:sequence>
			<xs:element name="D_559" type="D_559"/>
			<xs:element name="D_822" type="D_822" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LQ">
		<xs:sequence>
			<xs:element name="D_1270" type="D_1270" minOccurs="0"/>
			<xs:element name="D_1271" type="D_1271" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MAN">
		<xs:sequence>
			<xs:element name="D_88_1" type="D_88"/>
			<xs:element name="D_87_1" type="D_87"/>
			<xs:element name="D_87_2" type="D_87" minOccurs="0"/>
			<xs:element name="D_88_2" type="D_88" minOccurs="0"/>
			<xs:element name="D_87_3" type="D_87" minOccurs="0"/>
			<xs:element name="D_87_4" type="D_87" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MEA">
		<xs:sequence>
			<xs:element name="D_737" type="D_737" minOccurs="0"/>
			<xs:element name="D_738" type="D_738" minOccurs="0"/>
			<xs:element name="D_739" type="D_739" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_740" type="D_740" minOccurs="0"/>
			<xs:element name="D_741" type="D_741" minOccurs="0"/>
			<xs:element name="D_935" type="D_935" minOccurs="0"/>
			<xs:element name="D_936" type="D_936" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_1373" type="D_1373" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N1">
		<xs:sequence>
			<xs:element name="D_98_1" type="D_98"/>
			<xs:element name="D_93" type="D_93" minOccurs="0"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67" type="D_67" minOccurs="0"/>
			<xs:element name="D_706" type="D_706" minOccurs="0"/>
			<xs:element name="D_98_2" type="D_98" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N2">
		<xs:sequence>
			<xs:element name="D_93_1" type="D_93"/>
			<xs:element name="D_93_2" type="D_93" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N3">
		<xs:sequence>
			<xs:element name="D_166_1" type="D_166"/>
			<xs:element name="D_166_2" type="D_166" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N4">
		<xs:sequence>
			<xs:element name="D_19" type="D_19" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
			<xs:element name="D_116" type="D_116" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_309" type="D_309" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAL">
		<xs:sequence>
			<xs:element name="D_883" type="D_883" minOccurs="0"/>
			<xs:element name="D_884" type="D_884" minOccurs="0"/>
			<xs:element name="D_885" type="D_885" minOccurs="0"/>
			<xs:element name="D_356" type="D_356" minOccurs="0"/>
			<xs:element name="D_395" type="D_395" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_82" type="D_82" minOccurs="0"/>
			<xs:element name="D_189" type="D_189" minOccurs="0"/>
			<xs:element name="D_65" type="D_65" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_384" type="D_384" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_385" type="D_385" minOccurs="0"/>
			<xs:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xs:element name="D_399" type="D_399" minOccurs="0"/>
			<xs:element name="D_810" type="D_810" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PER">
		<xs:sequence>
			<xs:element name="D_366" type="D_366"/>
			<xs:element name="D_93" type="D_93" minOccurs="0"/>
			<xs:element name="D_365_1" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_1" type="D_364" minOccurs="0"/>
			<xs:element name="D_365_2" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_2" type="D_364" minOccurs="0"/>
			<xs:element name="D_365_3" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_3" type="D_364" minOccurs="0"/>
			<xs:element name="D_443" type="D_443" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PID">
		<xs:sequence>
			<xs:element name="D_349" type="D_349"/>
			<xs:element name="D_750" type="D_750" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_751" type="D_751" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_822" type="D_822" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073" minOccurs="0"/>
			<xs:element name="D_819" type="D_819" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PKG">
		<xs:sequence>
			<xs:element name="D_349" type="D_349" minOccurs="0"/>
			<xs:element name="D_753" type="D_753" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_754" type="D_754" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_400" type="D_400" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PO4">
		<xs:sequence>
			<xs:element name="D_356" type="D_356" minOccurs="0"/>
			<xs:element name="D_357" type="D_357" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_103" type="D_103" minOccurs="0"/>
			<xs:element name="D_187" type="D_187" minOccurs="0"/>
			<xs:element name="D_384" type="D_384" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_385" type="D_385" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_82" type="D_82" minOccurs="0"/>
			<xs:element name="D_189" type="D_189" minOccurs="0"/>
			<xs:element name="D_65" type="D_65" minOccurs="0"/>
			<xs:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xs:element name="D_810" type="D_810" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_350_1" type="D_350" minOccurs="0"/>
			<xs:element name="D_350_2" type="D_350" minOccurs="0"/>
			<xs:element name="D_1470" type="D_1470" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PRF">
		<xs:sequence>
			<xs:element name="D_324" type="D_324"/>
			<xs:element name="D_328" type="D_328" minOccurs="0"/>
			<xs:element name="D_327" type="D_327" minOccurs="0"/>
			<xs:element name="D_373" type="D_373" minOccurs="0"/>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_367" type="D_367" minOccurs="0"/>
			<xs:element name="D_92" type="D_92" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PWK">
		<xs:sequence>
			<xs:element name="D_755" type="D_755"/>
			<xs:element name="D_756" type="D_756" minOccurs="0"/>
			<xs:element name="D_757" type="D_757" minOccurs="0"/>
			<xs:element name="D_98" type="D_98" minOccurs="0"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67" type="D_67" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="C_C002" type="C_C002" minOccurs="0"/>
			<xs:element name="D_1525" type="D_1525" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_R4">
		<xs:sequence>
			<xs:element name="D_115" type="D_115"/>
			<xs:element name="D_309" type="D_309" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
			<xs:element name="D_114" type="D_114" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_174" type="D_174" minOccurs="0"/>
			<xs:element name="D_113" type="D_113" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_REF">
		<xs:sequence>
			<xs:element name="D_128" type="D_128"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="C_C040" type="C_C040" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SAC">
		<xs:sequence>
			<xs:element name="D_248" type="D_248"/>
			<xs:element name="D_1300" type="D_1300" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_1301" type="D_1301" minOccurs="0"/>
			<xs:element name="D_610" type="D_610" minOccurs="0"/>
			<xs:element name="D_378" type="D_378" minOccurs="0"/>
			<xs:element name="D_332" type="D_332" minOccurs="0"/>
			<xs:element name="D_118" type="D_118" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_380_1" type="D_380" minOccurs="0"/>
			<xs:element name="D_380_2" type="D_380" minOccurs="0"/>
			<xs:element name="D_331" type="D_331" minOccurs="0"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_770" type="D_770" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_819" type="D_819" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SDQ">
		<xs:sequence>
			<xs:element name="D_355" type="D_355"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67_1" type="D_67"/>
			<xs:element name="D_380_1" type="D_380"/>
			<xs:element name="D_67_2" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_2" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_3" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_3" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_4" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_4" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_5" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_5" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_6" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_6" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_7" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_7" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_8" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_8" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_9" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_9" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_10" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_10" type="D_380" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SE">
		<xs:sequence>
			<xs:element name="D_96" type="D_96"/>
			<xs:element name="D_329" type="D_329"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SLN">
		<xs:sequence>
			<xs:element name="D_350_1" type="D_350"/>
			<xs:element name="D_350_2" type="D_350" minOccurs="0"/>
			<xs:element name="D_662_1" type="D_662"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_212" type="D_212" minOccurs="0"/>
			<xs:element name="D_639" type="D_639" minOccurs="0"/>
			<xs:element name="D_662_2" type="D_662" minOccurs="0"/>
			<xs:element name="D_235_1" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_1" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_2" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_2" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_3" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_3" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_4" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_4" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_5" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_5" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_6" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_6" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_7" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_7" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_8" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_8" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_9" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_9" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_10" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_10" type="D_234" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SN1">
		<xs:sequence>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_382" type="D_382"/>
			<xs:element name="D_355_1" type="D_355"/>
			<xs:element name="D_646" type="D_646" minOccurs="0"/>
			<xs:element name="D_330" type="D_330" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_728" type="D_728" minOccurs="0"/>
			<xs:element name="D_668" type="D_668" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ST">
		<xs:sequence>
			<xs:element name="D_143" type="D_143"/>
			<xs:element name="D_329" type="D_329"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TD1">
		<xs:sequence>
			<xs:element name="D_103" type="D_103" minOccurs="0"/>
			<xs:element name="D_80" type="D_80" minOccurs="0"/>
			<xs:element name="D_23" type="D_23" minOccurs="0"/>
			<xs:element name="D_22" type="D_22" minOccurs="0"/>
			<xs:element name="D_79" type="D_79" minOccurs="0"/>
			<xs:element name="D_187" type="D_187" minOccurs="0"/>
			<xs:element name="D_81" type="D_81" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_183" type="D_183" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TD3">
		<xs:sequence>
			<xs:element name="D_40_1" type="D_40" minOccurs="0"/>
			<xs:element name="D_206" type="D_206" minOccurs="0"/>
			<xs:element name="D_207" type="D_207" minOccurs="0"/>
			<xs:element name="D_187" type="D_187" minOccurs="0"/>
			<xs:element name="D_81" type="D_81" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_102" type="D_102" minOccurs="0"/>
			<xs:element name="D_407" type="D_407" minOccurs="0"/>
			<xs:element name="D_225" type="D_225" minOccurs="0"/>
			<xs:element name="D_24" type="D_24" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TD4">
		<xs:sequence>
			<xs:element name="D_152" type="D_152" minOccurs="0"/>
			<xs:element name="D_208" type="D_208" minOccurs="0"/>
			<xs:element name="D_209" type="D_209" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TD5">
		<xs:sequence>
			<xs:element name="D_133" type="D_133" minOccurs="0"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67" type="D_67" minOccurs="0"/>
			<xs:element name="D_91" type="D_91" minOccurs="0"/>
			<xs:element name="D_387" type="D_387" minOccurs="0"/>
			<xs:element name="D_368" type="D_368" minOccurs="0"/>
			<xs:element name="D_309" type="D_309" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
			<xs:element name="D_731" type="D_731" minOccurs="0"/>
			<xs:element name="D_732" type="D_732" minOccurs="0"/>
			<xs:element name="D_733" type="D_733" minOccurs="0"/>
			<xs:element name="D_284_1" type="D_284" minOccurs="0"/>
			<xs:element name="D_284_2" type="D_284" minOccurs="0"/>
			<xs:element name="D_284_3" type="D_284" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TSD">
		<xs:sequence>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_219" type="D_219" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_V1">
		<xs:sequence>
			<xs:element name="D_597" type="D_597" minOccurs="0"/>
			<xs:element name="D_182" type="D_182" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_55" type="D_55" minOccurs="0"/>
			<xs:element name="D_140" type="D_140" minOccurs="0"/>
			<xs:element name="D_249" type="D_249" minOccurs="0"/>
			<xs:element name="D_854" type="D_854" minOccurs="0"/>
			<xs:element name="D_897" type="D_897" minOccurs="0"/>
			<xs:element name="D_91" type="D_91" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_YNQ">
		<xs:sequence>
			<xs:element name="D_1321" type="D_1321" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073"/>
			<xs:element name="D_1250" type="D_1250" minOccurs="0"/>
			<xs:element name="D_1251" type="D_1251" minOccurs="0"/>
			<xs:element name="D_933_1" type="D_933" minOccurs="0"/>
			<xs:element name="D_933_2" type="D_933" minOccurs="0"/>
			<xs:element name="D_933_3" type="D_933" minOccurs="0"/>
			<xs:element name="D_1270" type="D_1270" minOccurs="0"/>
			<xs:element name="D_1271" type="D_1271" minOccurs="0"/>
			<xs:element name="D_933_4" type="D_933" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="D_100">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1005">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1018">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_102">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1023">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_103">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1073">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_113">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_114">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_115">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_116">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_118">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_124">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1250">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1251">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_127">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1270">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1271">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_128">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1300">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1301">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1321">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_133">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1373">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1375">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_140">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_142">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_143">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_146">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1470">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_152">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1525">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_156">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_166">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_174">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_182">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_183">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_187">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_189">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_19">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_200">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_206">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_207">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_208">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_209">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_212">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_215">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_218">
		<xs:restriction base="xs:string">
			<xs:minLength value="14"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_219">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_22">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_222">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_224">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_225">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_23">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_230">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_234">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_235">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_238">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_24">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_248">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_249">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_254">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_26">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_267">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_271">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_277">
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_28">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_280">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_284">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_309">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_310">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_324">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_327">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_328">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_329">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_330">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_331">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_332">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_334">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_335">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_337">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_347">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_349">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_350">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_352">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_353">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_354">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_355">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_356">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_357">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_364">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_365">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_366">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_367">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_368">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_373">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_374">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_378">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_380">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_382">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_384">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_385">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_387">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_395">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_396">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_399">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_40">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_400">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_407">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_408">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_443">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_455">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_479">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_480">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_54">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_55">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_559">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_595">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_597">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_610">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_622">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_623">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_626">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_627">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_628">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_639">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_640">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_641">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_646">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_649">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_65">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_66">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_662">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_665">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_668">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_669">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_67">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_704">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_706">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_728">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_731">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_732">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_733">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_734">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_735">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_736">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_737">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_738">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_739">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_740">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_741">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_743">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_750">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_751">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_752">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_753">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_754">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_755">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_756">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_757">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_759">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_770">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_782">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_79">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_80">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_805">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_806">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_807">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_808">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_809">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_81">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_810">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_819">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_82">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_822">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_854">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_87">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_88">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_883">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_884">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_885">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_897">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_91">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_92">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_93">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_933">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="264"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_935">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_936">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_96">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_97">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_98">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_983">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_984">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_985">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_986">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I01">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I02">
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I03">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I04">
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I05">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I06">
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I07">
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I08">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I09">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I11">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I12">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I13">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I14">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I15">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I16">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>