XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_832^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- automatically generated by GEFEG.FX -->
<!-- http://www.gefeg.com -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hci="http://sap.com/hci" xmlns="urn:sap.com:typesystem:b2b:116:asc-x12" targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12">
   <xsd:element name="M_832">
      <xsd:annotation>
         <xsd:appinfo>
            <hci:resourceinfo>
               <hci:info key="typeSystem" value="ASC-X12"/>
               <hci:info key="typeSystemVersion" value="004010"/>
               <hci:info key="category" value="Template"/>
               <hci:info key="rootNode" value="M_832"/>
               <hci:info key="responsibleAgencyName" value="Accredited Standards Committee X12"/>
               <hci:info key="responsibleAgencyCode" value="116"/>
               <hci:info key="messageType" value="M_832"/>
               <hci:info key="messageName" value="Price/Sales Catalog"/>
               <hci:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:116:asc-x12"/>
               <hci:info key="documentNumber" value="/M_832/S_BCT/D_352"/>
            </hci:resourceinfo>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="S_ST" type="S_ST"/>
            <xsd:element name="S_BCT" type="S_BCT"/>
            <xsd:element name="S_CTP" type="S_CTP" minOccurs="0" maxOccurs="100"/>
            <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_YNQ" type="S_YNQ" minOccurs="0" maxOccurs="10"/>
            <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
            <xsd:element name="S_CTB" type="S_CTB" minOccurs="0" maxOccurs="25"/>
            <xsd:element name="S_CUR" type="S_CUR" minOccurs="0" maxOccurs="5"/>
            <xsd:element name="S_ITD" type="S_ITD" minOccurs="0" maxOccurs="2"/>
            <xsd:element name="S_LDT" type="S_LDT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_SAC" type="S_SAC" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_TD1" type="S_TD1" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_TD5" type="S_TD5" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_TD3" type="S_TD3" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_TD4" type="S_TD4" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_FOB" type="S_FOB" minOccurs="0"/>
            <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_G93" type="S_G93" minOccurs="0" maxOccurs="50"/>
            <xsd:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_AAA" type="S_AAA" minOccurs="0"/>
            <xsd:element name="G_N1" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_N1" type="S_N1"/>
                     <xsd:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_N4" type="S_N4" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
                     <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_LM" type="S_LM"/>
                     <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_N9" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_N9" type="S_N9"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_LIN" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_LIN" type="S_LIN"/>
                     <xsd:element name="S_PO1" type="S_PO1" minOccurs="0"/>
                     <xsd:element name="S_G53" type="S_G53" minOccurs="0"/>
                     <xsd:element name="S_SI" type="S_SI" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_YNQ" type="S_YNQ" minOccurs="0" maxOccurs="10"/>
                     <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_CRD" type="S_CRD" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_CTB" type="S_CTB" minOccurs="0" maxOccurs="25"/>
                     <xsd:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="200"/>
                     <xsd:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="40"/>
                     <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="25"/>
                     <xsd:element name="S_PO4" type="S_PO4" minOccurs="0"/>
                     <xsd:element name="S_TD1" type="S_TD1" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_TD5" type="S_TD5" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_TD3" type="S_TD3" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_TD4" type="S_TD4" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_ITD" type="S_ITD" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_LDT" type="S_LDT" minOccurs="0"/>
                     <xsd:element name="S_SAC" type="S_SAC" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_FOB" type="S_FOB" minOccurs="0"/>
                     <xsd:element name="S_AAA" type="S_AAA" minOccurs="0"/>
                     <xsd:element name="S_TC2" type="S_TC2" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_G55" type="S_G55" minOccurs="0"/>
                     <xsd:element name="S_G54" type="S_G54" minOccurs="0"/>
                     <xsd:element name="G_CTP" minOccurs="0" maxOccurs="100">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_CTP" type="S_CTP"/>
                              <xsd:element name="S_G40" type="S_G40" minOccurs="0" maxOccurs="99"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
                              <xsd:element name="S_G36" type="S_G36" minOccurs="0"/>
                              <xsd:element name="S_LDT" type="S_LDT" minOccurs="0"/>
                              <xsd:element name="S_CUR" type="S_CUR" minOccurs="0" maxOccurs="5"/>
                              <xsd:element name="S_PO4" type="S_PO4" minOccurs="0"/>
                              <xsd:element name="S_CTB" type="S_CTB" minOccurs="0" maxOccurs="5"/>
                              <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_G43" type="S_G43" minOccurs="0" maxOccurs="9999"/>
                              <xsd:element name="S_SAC" type="S_SAC" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_G26" type="S_G26" minOccurs="0" maxOccurs="99"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_N1" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_N1" type="S_N1"/>
                              <xsd:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
                              <xsd:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
                              <xsd:element name="S_N4" type="S_N4" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
                              <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_G39" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_G39" type="S_G39"/>
                              <xsd:element name="S_CTP" type="S_CTP" minOccurs="0"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_PKL" minOccurs="0" maxOccurs="20">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_PKL" type="S_PKL"/>
                              <xsd:element name="S_CTP" type="S_CTP" minOccurs="0"/>
                              <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="2"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_LFG" minOccurs="0">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_LFG" type="S_LFG"/>
                              <xsd:element name="G_CRC" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_CRC" type="S_CRC"/>
                                       <xsd:element name="S_QTY" type="S_QTY" minOccurs="0"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_LM" type="S_LM"/>
                              <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_SLN" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_SLN" type="S_SLN"/>
                              <xsd:element name="S_SI" type="S_SI" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_CTP" type="S_CTP" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PAM" type="S_PAM" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PO4" type="S_PO4" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_SAC" type="S_SAC" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_MTX" type="S_MTX" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_LM" type="S_LM"/>
                                       <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_N9" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_N9" type="S_N9"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="S_CTT" type="S_CTT" minOccurs="0"/>
            <xsd:element name="S_SE" type="S_SE"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="C_C001">
      <xsd:sequence>
         <xsd:element name="D_355" type="D_355"/>
         <xsd:element name="D_1018" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_2" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_2" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_3" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_3" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_4" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_4" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_5" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_5" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_5" type="D_649" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="C_C040">
      <xsd:sequence>
         <xsd:element name="D_128" type="D_128"/>
         <xsd:element name="D_127" type="D_127"/>
         <xsd:element name="D_128_2" type="D_128" minOccurs="0"/>
         <xsd:element name="D_127_2" type="D_127" minOccurs="0"/>
         <xsd:element name="D_128_3" type="D_128" minOccurs="0"/>
         <xsd:element name="D_127_3" type="D_127" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_AAA">
      <xsd:sequence>
         <xsd:element name="D_1073" type="D_1073"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_901" type="D_901" minOccurs="0"/>
         <xsd:element name="D_889" type="D_889" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_BCT">
      <xsd:sequence>
         <xsd:element name="D_683" type="D_683"/>
         <xsd:element name="D_684" type="D_684" minOccurs="0"/>
         <xsd:element name="D_685" type="D_685" minOccurs="0"/>
         <xsd:element name="D_686" type="D_686" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_684_2" type="D_684" minOccurs="0"/>
         <xsd:element name="D_685_2" type="D_685" minOccurs="0"/>
         <xsd:element name="D_686_2" type="D_686" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_353" type="D_353" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CRC">
      <xsd:sequence>
         <xsd:element name="D_1136" type="D_1136"/>
         <xsd:element name="D_1073" type="D_1073"/>
         <xsd:element name="D_1321" type="D_1321"/>
         <xsd:element name="D_1321_2" type="D_1321" minOccurs="0"/>
         <xsd:element name="D_1321_3" type="D_1321" minOccurs="0"/>
         <xsd:element name="D_1321_4" type="D_1321" minOccurs="0"/>
         <xsd:element name="D_1321_5" type="D_1321" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CRD">
      <xsd:sequence>
         <xsd:element name="D_26" type="D_26"/>
         <xsd:element name="D_522" type="D_522" minOccurs="0"/>
         <xsd:element name="D_782" type="D_782" minOccurs="0"/>
         <xsd:element name="D_488" type="D_488" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CTB">
      <xsd:sequence>
         <xsd:element name="D_688" type="D_688"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_673" type="D_673" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="D_522" type="D_522" minOccurs="0"/>
         <xsd:element name="D_610" type="D_610" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CTP">
      <xsd:sequence>
         <xsd:element name="D_687" type="D_687" minOccurs="0"/>
         <xsd:element name="D_236" type="D_236" minOccurs="0"/>
         <xsd:element name="D_212" type="D_212" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_648" type="D_648" minOccurs="0"/>
         <xsd:element name="D_649" type="D_649" minOccurs="0"/>
         <xsd:element name="D_782" type="D_782" minOccurs="0"/>
         <xsd:element name="D_639" type="D_639" minOccurs="0"/>
         <xsd:element name="D_499" type="D_499" minOccurs="0"/>
         <xsd:element name="D_289" type="D_289" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CTT">
      <xsd:sequence>
         <xsd:element name="D_354" type="D_354"/>
         <xsd:element name="D_347" type="D_347" minOccurs="0"/>
         <xsd:element name="D_81" type="D_81" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_183" type="D_183" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CUR">
      <xsd:sequence>
         <xsd:element name="D_98" type="D_98"/>
         <xsd:element name="D_100" type="D_100"/>
         <xsd:element name="D_280" type="D_280" minOccurs="0"/>
         <xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
         <xsd:element name="D_100_2" type="D_100" minOccurs="0"/>
         <xsd:element name="D_669" type="D_669" minOccurs="0"/>
         <xsd:element name="D_374" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_374_2" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373_2" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337_2" type="D_337" minOccurs="0"/>
         <xsd:element name="D_374_3" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373_3" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337_3" type="D_337" minOccurs="0"/>
         <xsd:element name="D_374_4" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373_4" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337_4" type="D_337" minOccurs="0"/>
         <xsd:element name="D_374_5" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373_5" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337_5" type="D_337" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_DTM">
      <xsd:sequence>
         <xsd:element name="D_374" type="D_374"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_623" type="D_623" minOccurs="0"/>
         <xsd:element name="D_1250" type="D_1250" minOccurs="0"/>
         <xsd:element name="D_1251" type="D_1251" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_FOB">
      <xsd:sequence>
         <xsd:element name="D_146" type="D_146"/>
         <xsd:element name="D_309" type="D_309" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_334" type="D_334" minOccurs="0"/>
         <xsd:element name="D_335" type="D_335" minOccurs="0"/>
         <xsd:element name="D_309_2" type="D_309" minOccurs="0"/>
         <xsd:element name="D_352_2" type="D_352" minOccurs="0"/>
         <xsd:element name="D_54" type="D_54" minOccurs="0"/>
         <xsd:element name="D_352_3" type="D_352" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G26">
      <xsd:sequence>
         <xsd:element name="D_290" type="D_290"/>
         <xsd:element name="D_432" type="D_432" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_292" type="D_292" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G36">
      <xsd:sequence>
         <xsd:element name="D_439" type="D_439"/>
         <xsd:element name="D_440" type="D_440" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373"/>
         <xsd:element name="D_291" type="D_291" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G39">
      <xsd:sequence>
         <xsd:element name="D_438" type="D_438" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234" type="D_234" minOccurs="0"/>
         <xsd:element name="D_152" type="D_152" minOccurs="0"/>
         <xsd:element name="D_395" type="D_395" minOccurs="0"/>
         <xsd:element name="D_187" type="D_187" minOccurs="0"/>
         <xsd:element name="D_188" type="D_188" minOccurs="0"/>
         <xsd:element name="D_65" type="D_65" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_189" type="D_189" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_82" type="D_82" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_183" type="D_183" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_416" type="D_416" minOccurs="0"/>
         <xsd:element name="D_356" type="D_356" minOccurs="0"/>
         <xsd:element name="D_357" type="D_357" minOccurs="0"/>
         <xsd:element name="D_355_5" type="D_355" minOccurs="0"/>
         <xsd:element name="D_397" type="D_397" minOccurs="0"/>
         <xsd:element name="D_398" type="D_398" minOccurs="0"/>
         <xsd:element name="D_876" type="D_876" minOccurs="0"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_187_2" type="D_187" minOccurs="0"/>
         <xsd:element name="D_395_2" type="D_395" minOccurs="0"/>
         <xsd:element name="D_810" type="D_810" minOccurs="0"/>
         <xsd:element name="D_103" type="D_103" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G40">
      <xsd:sequence>
         <xsd:element name="D_417" type="D_417" minOccurs="0"/>
         <xsd:element name="D_418" type="D_418"/>
         <xsd:element name="D_419" type="D_419" minOccurs="0"/>
         <xsd:element name="D_369" type="D_369" minOccurs="0"/>
         <xsd:element name="D_420" type="D_420" minOccurs="0"/>
         <xsd:element name="D_421" type="D_421" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_236" type="D_236" minOccurs="0"/>
         <xsd:element name="D_1470" type="D_1470" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G43">
      <xsd:sequence>
         <xsd:element name="D_771" type="D_771"/>
         <xsd:element name="D_767" type="D_767" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_687" type="D_687" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G53">
      <xsd:sequence>
         <xsd:element name="D_875" type="D_875"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G54">
      <xsd:sequence>
         <xsd:element name="D_380" type="D_380"/>
         <xsd:element name="D_355" type="D_355"/>
         <xsd:element name="D_438" type="D_438" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234" type="D_234" minOccurs="0"/>
         <xsd:element name="D_369" type="D_369" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G55">
      <xsd:sequence>
         <xsd:element name="D_235" type="D_235"/>
         <xsd:element name="D_234" type="D_234"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_65" type="D_65" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_189" type="D_189" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_82" type="D_82" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_183" type="D_183" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_356" type="D_356" minOccurs="0"/>
         <xsd:element name="D_357" type="D_357" minOccurs="0"/>
         <xsd:element name="D_355_5" type="D_355" minOccurs="0"/>
         <xsd:element name="D_878" type="D_878" minOccurs="0"/>
         <xsd:element name="D_878_2" type="D_878" minOccurs="0"/>
         <xsd:element name="D_879" type="D_879" minOccurs="0"/>
         <xsd:element name="D_880" type="D_880" minOccurs="0"/>
         <xsd:element name="D_881" type="D_881" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
         <xsd:element name="D_397" type="D_397" minOccurs="0"/>
         <xsd:element name="D_395" type="D_395" minOccurs="0"/>
         <xsd:element name="D_187" type="D_187" minOccurs="0"/>
         <xsd:element name="D_188" type="D_188" minOccurs="0"/>
         <xsd:element name="D_395_2" type="D_395" minOccurs="0"/>
         <xsd:element name="D_187_2" type="D_187" minOccurs="0"/>
         <xsd:element name="D_188_2" type="D_188" minOccurs="0"/>
         <xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_369" type="D_369" minOccurs="0"/>
         <xsd:element name="D_810" type="D_810" minOccurs="0"/>
         <xsd:element name="D_103" type="D_103" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_G93">
      <xsd:sequence>
         <xsd:element name="D_417" type="D_417" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_369" type="D_369" minOccurs="0"/>
         <xsd:element name="D_91" type="D_91" minOccurs="0"/>
         <xsd:element name="D_236" type="D_236" minOccurs="0"/>
         <xsd:element name="D_306" type="D_306" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_ITD">
      <xsd:sequence>
         <xsd:element name="D_336" type="D_336" minOccurs="0"/>
         <xsd:element name="D_333" type="D_333" minOccurs="0"/>
         <xsd:element name="D_338" type="D_338" minOccurs="0"/>
         <xsd:element name="D_370" type="D_370" minOccurs="0"/>
         <xsd:element name="D_351" type="D_351" minOccurs="0"/>
         <xsd:element name="D_446" type="D_446" minOccurs="0"/>
         <xsd:element name="D_386" type="D_386" minOccurs="0"/>
         <xsd:element name="D_362" type="D_362" minOccurs="0"/>
         <xsd:element name="D_388" type="D_388" minOccurs="0"/>
         <xsd:element name="D_389" type="D_389" minOccurs="0"/>
         <xsd:element name="D_342" type="D_342" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_765" type="D_765" minOccurs="0"/>
         <xsd:element name="D_107" type="D_107" minOccurs="0"/>
         <xsd:element name="D_954" type="D_954" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LDT">
      <xsd:sequence>
         <xsd:element name="D_345" type="D_345"/>
         <xsd:element name="D_380" type="D_380"/>
         <xsd:element name="D_344" type="D_344"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LFG">
      <xsd:sequence>
         <xsd:element name="D_352" type="D_352"/>
         <xsd:element name="D_215" type="D_215"/>
         <xsd:element name="D_277" type="D_277"/>
         <xsd:element name="D_218" type="D_218"/>
         <xsd:element name="D_254" type="D_254" minOccurs="0"/>
         <xsd:element name="D_1577" type="D_1577" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LIN">
      <xsd:sequence>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235"/>
         <xsd:element name="D_234" type="D_234"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_4" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_4" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_5" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_5" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_6" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_6" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_7" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_7" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_8" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_8" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_9" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_9" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_10" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_10" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_11" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_11" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_12" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_12" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_13" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_13" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_14" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_14" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_15" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_15" type="D_234" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LM">
      <xsd:sequence>
         <xsd:element name="D_559" type="D_559"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LQ">
      <xsd:sequence>
         <xsd:element name="D_1270" type="D_1270" minOccurs="0"/>
         <xsd:element name="D_1271" type="D_1271" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_MEA">
      <xsd:sequence>
         <xsd:element name="D_737" type="D_737" minOccurs="0"/>
         <xsd:element name="D_738" type="D_738" minOccurs="0"/>
         <xsd:element name="D_739" type="D_739" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_740" type="D_740" minOccurs="0"/>
         <xsd:element name="D_741" type="D_741" minOccurs="0"/>
         <xsd:element name="D_935" type="D_935" minOccurs="0"/>
         <xsd:element name="D_936" type="D_936" minOccurs="0"/>
         <xsd:element name="D_752" type="D_752" minOccurs="0"/>
         <xsd:element name="D_1373" type="D_1373" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_MTX">
      <xsd:sequence>
         <xsd:element name="D_363" type="D_363" minOccurs="0"/>
         <xsd:element name="D_1551" type="D_1551" minOccurs="0"/>
         <xsd:element name="D_1551_2" type="D_1551" minOccurs="0"/>
         <xsd:element name="D_934" type="D_934" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N1">
      <xsd:sequence>
         <xsd:element name="D_98" type="D_98"/>
         <xsd:element name="D_93" type="D_93" minOccurs="0"/>
         <xsd:element name="D_66" type="D_66" minOccurs="0"/>
         <xsd:element name="D_67" type="D_67" minOccurs="0"/>
         <xsd:element name="D_706" type="D_706" minOccurs="0"/>
         <xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N2">
      <xsd:sequence>
         <xsd:element name="D_93" type="D_93"/>
         <xsd:element name="D_93_2" type="D_93" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N3">
      <xsd:sequence>
         <xsd:element name="D_166" type="D_166"/>
         <xsd:element name="D_166_2" type="D_166" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N4">
      <xsd:sequence>
         <xsd:element name="D_19" type="D_19" minOccurs="0"/>
         <xsd:element name="D_156" type="D_156" minOccurs="0"/>
         <xsd:element name="D_116" type="D_116" minOccurs="0"/>
         <xsd:element name="D_26" type="D_26" minOccurs="0"/>
         <xsd:element name="D_309" type="D_309" minOccurs="0"/>
         <xsd:element name="D_310" type="D_310" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N9">
      <xsd:sequence>
         <xsd:element name="D_128" type="D_128"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_369" type="D_369" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_623" type="D_623" minOccurs="0"/>
         <xsd:element name="C_C040" type="C_C040" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PAM">
      <xsd:sequence>
         <xsd:element name="D_673" type="D_673" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_522" type="D_522" minOccurs="0"/>
         <xsd:element name="D_782" type="D_782" minOccurs="0"/>
         <xsd:element name="D_344" type="D_344" minOccurs="0"/>
         <xsd:element name="D_374" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_374_2" type="D_374" minOccurs="0"/>
         <xsd:element name="D_373_2" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337_2" type="D_337" minOccurs="0"/>
         <xsd:element name="D_1004" type="D_1004" minOccurs="0"/>
         <xsd:element name="D_954" type="D_954" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PER">
      <xsd:sequence>
         <xsd:element name="D_366" type="D_366"/>
         <xsd:element name="D_93" type="D_93" minOccurs="0"/>
         <xsd:element name="D_365" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364" type="D_364" minOccurs="0"/>
         <xsd:element name="D_365_2" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364_2" type="D_364" minOccurs="0"/>
         <xsd:element name="D_365_3" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364_3" type="D_364" minOccurs="0"/>
         <xsd:element name="D_443" type="D_443" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PID">
      <xsd:sequence>
         <xsd:element name="D_349" type="D_349"/>
         <xsd:element name="D_750" type="D_750" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_751" type="D_751" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_752" type="D_752" minOccurs="0"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
         <xsd:element name="D_819" type="D_819" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PKG">
      <xsd:sequence>
         <xsd:element name="D_349" type="D_349" minOccurs="0"/>
         <xsd:element name="D_753" type="D_753" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_754" type="D_754" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_400" type="D_400" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PKL">
      <xsd:sequence>
         <xsd:element name="D_235" type="D_235"/>
         <xsd:element name="D_234" type="D_234"/>
         <xsd:element name="D_355" type="D_355"/>
         <xsd:element name="D_380" type="D_380"/>
         <xsd:element name="D_65" type="D_65" minOccurs="0"/>
         <xsd:element name="D_189" type="D_189" minOccurs="0"/>
         <xsd:element name="D_677" type="D_677" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_384" type="D_384" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_385" type="D_385" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PO1">
      <xsd:sequence>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_330" type="D_330" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_212" type="D_212" minOccurs="0"/>
         <xsd:element name="D_639" type="D_639" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_4" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_4" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_5" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_5" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_6" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_6" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_7" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_7" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_8" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_8" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_9" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_9" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_10" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_10" type="D_234" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PO4">
      <xsd:sequence>
         <xsd:element name="D_356" type="D_356" minOccurs="0"/>
         <xsd:element name="D_357" type="D_357" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_103" type="D_103" minOccurs="0"/>
         <xsd:element name="D_187" type="D_187" minOccurs="0"/>
         <xsd:element name="D_384" type="D_384" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_385" type="D_385" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_82" type="D_82" minOccurs="0"/>
         <xsd:element name="D_189" type="D_189" minOccurs="0"/>
         <xsd:element name="D_65" type="D_65" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_810" type="D_810" minOccurs="0"/>
         <xsd:element name="D_752" type="D_752" minOccurs="0"/>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_350_2" type="D_350" minOccurs="0"/>
         <xsd:element name="D_1470" type="D_1470" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_QTY">
      <xsd:sequence>
         <xsd:element name="D_673" type="D_673"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_61" type="D_61" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_REF">
      <xsd:sequence>
         <xsd:element name="D_128" type="D_128"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="C_C040" type="C_C040" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SAC">
      <xsd:sequence>
         <xsd:element name="D_248" type="D_248"/>
         <xsd:element name="D_1300" type="D_1300" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_1301" type="D_1301" minOccurs="0"/>
         <xsd:element name="D_610" type="D_610" minOccurs="0"/>
         <xsd:element name="D_378" type="D_378" minOccurs="0"/>
         <xsd:element name="D_332" type="D_332" minOccurs="0"/>
         <xsd:element name="D_118" type="D_118" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="D_380_2" type="D_380" minOccurs="0"/>
         <xsd:element name="D_331" type="D_331" minOccurs="0"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_770" type="D_770" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_819" type="D_819" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SE">
      <xsd:sequence>
         <xsd:element name="D_96" type="D_96"/>
         <xsd:element name="D_329" type="D_329"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SI">
      <xsd:sequence>
         <xsd:element name="D_559" type="D_559"/>
         <xsd:element name="D_1000" type="D_1000"/>
         <xsd:element name="D_234" type="D_234"/>
         <xsd:element name="D_1000_2" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_3" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_4" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_4" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_5" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_5" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_6" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_6" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_7" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_7" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_8" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_8" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_9" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_9" type="D_234" minOccurs="0"/>
         <xsd:element name="D_1000_10" type="D_1000" minOccurs="0"/>
         <xsd:element name="D_234_10" type="D_234" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SLN">
      <xsd:sequence>
         <xsd:element name="D_350" type="D_350"/>
         <xsd:element name="D_350_2" type="D_350" minOccurs="0"/>
         <xsd:element name="D_662" type="D_662"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_212" type="D_212" minOccurs="0"/>
         <xsd:element name="D_639" type="D_639" minOccurs="0"/>
         <xsd:element name="D_662_2" type="D_662" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_4" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_4" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_5" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_5" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_6" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_6" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_7" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_7" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_8" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_8" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_9" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_9" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_10" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_10" type="D_234" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_ST">
      <xsd:sequence>
         <xsd:element name="D_143" type="D_143"/>
         <xsd:element name="D_329" type="D_329"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TC2">
      <xsd:sequence>
         <xsd:element name="D_23" type="D_23"/>
         <xsd:element name="D_22" type="D_22"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TD1">
      <xsd:sequence>
         <xsd:element name="D_103" type="D_103" minOccurs="0"/>
         <xsd:element name="D_80" type="D_80" minOccurs="0"/>
         <xsd:element name="D_23" type="D_23" minOccurs="0"/>
         <xsd:element name="D_22" type="D_22" minOccurs="0"/>
         <xsd:element name="D_79" type="D_79" minOccurs="0"/>
         <xsd:element name="D_187" type="D_187" minOccurs="0"/>
         <xsd:element name="D_81" type="D_81" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_183" type="D_183" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TD3">
      <xsd:sequence>
         <xsd:element name="D_40" type="D_40" minOccurs="0"/>
         <xsd:element name="D_206" type="D_206" minOccurs="0"/>
         <xsd:element name="D_207" type="D_207" minOccurs="0"/>
         <xsd:element name="D_187" type="D_187" minOccurs="0"/>
         <xsd:element name="D_81" type="D_81" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_102" type="D_102" minOccurs="0"/>
         <xsd:element name="D_407" type="D_407" minOccurs="0"/>
         <xsd:element name="D_225" type="D_225" minOccurs="0"/>
         <xsd:element name="D_24" type="D_24" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TD4">
      <xsd:sequence>
         <xsd:element name="D_152" type="D_152" minOccurs="0"/>
         <xsd:element name="D_208" type="D_208" minOccurs="0"/>
         <xsd:element name="D_209" type="D_209" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TD5">
      <xsd:sequence>
         <xsd:element name="D_133" type="D_133" minOccurs="0"/>
         <xsd:element name="D_66" type="D_66" minOccurs="0"/>
         <xsd:element name="D_67" type="D_67" minOccurs="0"/>
         <xsd:element name="D_91" type="D_91" minOccurs="0"/>
         <xsd:element name="D_387" type="D_387" minOccurs="0"/>
         <xsd:element name="D_368" type="D_368" minOccurs="0"/>
         <xsd:element name="D_309" type="D_309" minOccurs="0"/>
         <xsd:element name="D_310" type="D_310" minOccurs="0"/>
         <xsd:element name="D_731" type="D_731" minOccurs="0"/>
         <xsd:element name="D_732" type="D_732" minOccurs="0"/>
         <xsd:element name="D_733" type="D_733" minOccurs="0"/>
         <xsd:element name="D_284" type="D_284" minOccurs="0"/>
         <xsd:element name="D_284_2" type="D_284" minOccurs="0"/>
         <xsd:element name="D_284_3" type="D_284" minOccurs="0"/>
         <xsd:element name="D_26" type="D_26" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TXI">
      <xsd:sequence>
         <xsd:element name="D_963" type="D_963"/>
         <xsd:element name="D_782" type="D_782" minOccurs="0"/>
         <xsd:element name="D_954" type="D_954" minOccurs="0"/>
         <xsd:element name="D_955" type="D_955" minOccurs="0"/>
         <xsd:element name="D_956" type="D_956" minOccurs="0"/>
         <xsd:element name="D_441" type="D_441" minOccurs="0"/>
         <xsd:element name="D_662" type="D_662" minOccurs="0"/>
         <xsd:element name="D_828" type="D_828" minOccurs="0"/>
         <xsd:element name="D_325" type="D_325" minOccurs="0"/>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_YNQ">
      <xsd:sequence>
         <xsd:element name="D_1321" type="D_1321" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073"/>
         <xsd:element name="D_1250" type="D_1250" minOccurs="0"/>
         <xsd:element name="D_1251" type="D_1251" minOccurs="0"/>
         <xsd:element name="D_933" type="D_933" minOccurs="0"/>
         <xsd:element name="D_933_2" type="D_933" minOccurs="0"/>
         <xsd:element name="D_933_3" type="D_933" minOccurs="0"/>
         <xsd:element name="D_1270" type="D_1270" minOccurs="0"/>
         <xsd:element name="D_1271" type="D_1271" minOccurs="0"/>
         <xsd:element name="D_933_4" type="D_933" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="D_100">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1000">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1004">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1018">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
         <xsd:pattern value="\d{1,15}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_102">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_103">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="3"/>
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_107">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1073">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1136">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_116">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="3"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_118">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_124">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1250">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1251">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_127">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1270">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1271">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_128">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1300">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1301">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1321">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_133">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1373">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_142">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_143">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_146">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1470">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_152">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1551">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="4096"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_156">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1577">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_166">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="55"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_183">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_187">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_188">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_189">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_19">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_206">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_207">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_208">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_209">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_212">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="17"/>
         <xsd:pattern value="\d{1,17}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_215">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_218">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="14"/>
         <xsd:maxLength value="40"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_22">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_225">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_23">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_234">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="48"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_235">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_236">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_24">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_248">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_254">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_26">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_277">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_28">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_280">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{4,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_284">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_289">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
         <xsd:pattern value="\d{1,2}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_290">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_291">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_292">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_306">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_309">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_310">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_325">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_329">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="4"/>
         <xsd:maxLength value="9"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_330">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
         <xsd:pattern value="\d{1,15}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_331">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_332">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_333">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_334">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_335">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_336">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_337">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="4"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_338">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_342">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
         <xsd:pattern value="\d{1,5}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_344">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_345">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_347">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_349">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_350">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_351">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
         <xsd:pattern value="\d{1,3}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_352">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_353">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_354">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_355">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_356">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_357">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_362">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_363">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_364">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_365">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_366">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_368">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_369">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="45"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_370">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_373">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_374">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_378">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_380">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
         <xsd:pattern value="\d{1,15}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_384">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_385">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_386">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
         <xsd:pattern value="\d{1,3}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_387">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_388">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_389">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_395">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_397">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_398">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_40">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_400">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_407">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_416">
      <xsd:restriction base="xsd:string">
         <xsd:length value="6"/>
         <xsd:pattern value="\d{6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_417">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_418">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_419">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_420">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="7"/>
         <xsd:pattern value="\d{2,7}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_421">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="7"/>
         <xsd:pattern value="\d{2,7}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_432">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_438">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_439">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="16"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_440">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="16"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_441">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_443">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_446">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_455">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_479">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_480">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_488">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
         <xsd:pattern value="\d{1,3}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_499">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_522">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_54">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_559">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_61">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_610">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
         <xsd:pattern value="\d{1,15}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_623">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_639">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_648">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_649">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_65">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_66">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_662">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_669">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_67">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_673">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_677">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_683">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_684">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_685">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_686">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_687">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_688">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_706">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_731">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_732">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_733">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
         <xsd:pattern value="\d{1,4}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_737">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_738">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_739">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
         <xsd:pattern value="\d{1,20}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_740">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
         <xsd:pattern value="\d{1,20}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_741">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="20"/>
         <xsd:pattern value="\d{1,20}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_750">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_751">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_752">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_753">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_754">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="7"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_765">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
         <xsd:pattern value="\d{1,2}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_767">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_770">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_771">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_782">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="18"/>
         <xsd:pattern value="\d{1,18}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_79">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="50"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_80">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="7"/>
         <xsd:pattern value="\d{1,7}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_81">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_810">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_819">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_82">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_822">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_828">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="9"/>
         <xsd:pattern value="\d{1,9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_875">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_876">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_878">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_879">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_880">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4"/>
         <xsd:pattern value="\d{1,4}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_881">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="8"/>
         <xsd:pattern value="\d{1,8}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_889">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_901">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_91">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_93">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="60"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_933">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="264"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_934">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_935">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_936">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_954">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_955">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_956">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_96">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="10"/>
         <xsd:pattern value="\d{1,10}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_963">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_97">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="6"/>
         <xsd:pattern value="\d{1,6}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_98">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I01">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I02">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I03">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I04">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I05">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I06">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I07">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I08">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I09">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I10">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I11">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I12">
      <xsd:restriction base="xsd:string">
         <xsd:length value="9"/>
         <xsd:pattern value="\d{9}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I13">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I14">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I15">
      <xsd:restriction base="xsd:string">
         <xsd:whiteSpace value="preserve"/>
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_I16">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="5"/>
         <xsd:pattern value="\d{1,5}"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>