XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_997^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nestor="http://sap.com/nestor"
           xmlns="urn:sap.com:typesystem:b2b:116:asc-x12:997:004010"
           targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12:997:004010">
   <xs:annotation>
      <xs:appinfo>
         <nestor:resourceinfo>
            <nestor:info key="typeSystem" value="ASC-X12"/>
            <nestor:info key="typeSystemVersion" value="004010"/>
            <nestor:info key="category" value="Template"/>
            <nestor:info key="rootNode" value="Interchange"/>
            <nestor:info key="responsibleAgencyName" value="ANSI ASC X12"/>
            <nestor:info key="responsibleAgencyCode" value="116"/>
            <nestor:info key="messageType" value="997"/>
            <nestor:info key="messageName" value="Functional Acknowledgment"/>
            <nestor:info key="targetNamespace"
                         value="urn:sap.com:typesystem:b2b:116:asc-x12:997:004010"/>
            <nestor:info key="documentNumber" value="/M_997/S_AK1/D_28"/>            
         </nestor:resourceinfo>
      </xs:appinfo>
   </xs:annotation>
   <xs:element name="Interchange">
		    <xs:complexType>
			      <xs:sequence>
				        <xs:element name="S_ISA" type="S_ISA"/>
				        <xs:element name="FunctionalGroup" maxOccurs="unbounded">
					          <xs:complexType>
						            <xs:sequence>
							              <xs:element name="S_GS" type="S_GS"/>
							              <xs:element name="M_997" type="M_997" maxOccurs="unbounded"/>
							              <xs:element name="S_GE" type="S_GE"/>
						            </xs:sequence>
					          </xs:complexType>
				        </xs:element>
				        <xs:element name="S_IEA" type="S_IEA"/>
			      </xs:sequence>
		    </xs:complexType>
	  </xs:element>
   <xs:complexType name="S_GE">
		    <xs:sequence>
			      <xs:element name="D_97" type="D_97"/>
			      <xs:element name="D_28" type="D_28"/>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="S_GS">
		    <xs:sequence>
			      <xs:element name="D_479" type="D_479"/>
			      <xs:element name="D_142" type="D_142"/>
			      <xs:element name="D_124" type="D_124"/>
			      <xs:element name="D_373" type="D_373"/>
			      <xs:element name="D_337" type="D_337"/>
			      <xs:element name="D_28" type="D_28"/>
			      <xs:element name="D_455" type="D_455"/>
			      <xs:element name="D_480" type="D_480"/>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="S_IEA">
		    <xs:sequence>
			      <xs:element name="D_I16" type="D_I16"/>
			      <xs:element name="D_I12" type="D_I12"/>
		    </xs:sequence>
	  </xs:complexType>
   <xs:complexType name="S_ISA">
		    <xs:sequence>
			      <xs:element name="D_I01" type="D_I01"/>
			      <xs:element name="D_I02" type="D_I02"/>
			      <xs:element name="D_I03" type="D_I03"/>
			      <xs:element name="D_I04" type="D_I04"/>
			      <xs:element name="D_I05_1" type="D_I05"/>
			      <xs:element name="D_I06" type="D_I06"/>
			      <xs:element name="D_I05_2" type="D_I05"/>
			      <xs:element name="D_I07" type="D_I07"/>
			      <xs:element name="D_I08" type="D_I08"/>
			      <xs:element name="D_I09" type="D_I09"/>
			      <xs:element name="D_I10" type="D_I10"/>
			      <xs:element name="D_I11" type="D_I11"/>
			      <xs:element name="D_I12" type="D_I12"/>
			      <xs:element name="D_I13" type="D_I13"/>
			      <xs:element name="D_I14" type="D_I14"/>
			      <xs:element name="D_I15" type="D_I15"/>
		    </xs:sequence>
	  </xs:complexType>
   <xs:simpleType name="D_124">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="15"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_142">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="15"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_28">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="9"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_337">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="4"/>
			      <xs:maxLength value="8"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_373">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="8"/>
			      <xs:maxLength value="8"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_455">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="2"/>
			
			
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_479">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="2"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_480">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="12"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_97">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="6"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I01">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="2"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I02">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="10"/>
			      <xs:maxLength value="10"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I03">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="2"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I04">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="10"/>
			      <xs:maxLength value="10"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I05">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="2"/>
			      <xs:maxLength value="2"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I06">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="15"/>
			      <xs:maxLength value="15"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I07">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="15"/>
			      <xs:maxLength value="15"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I08">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="6"/>
			      <xs:maxLength value="6"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I09">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="4"/>
			      <xs:maxLength value="4"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I10">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="1"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I11">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="5"/>
			      <xs:maxLength value="5"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I12">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="9"/>
			      <xs:maxLength value="9"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I13">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="1"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I14">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="1"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I15">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="1"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:simpleType name="D_I16">
		    <xs:restriction base="xs:string">
			      <xs:minLength value="1"/>
			      <xs:maxLength value="5"/>
		    </xs:restriction>
	  </xs:simpleType>
   <xs:complexType name="M_997">
      <xs:sequence>
         <xs:element name="S_ST" type="S_ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="S_AK1" type="S_AK1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="G_AK2" minOccurs="0" maxOccurs="999999">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="S_AK2" type="S_AK2"/>
                  <xs:element name="G_AK3" minOccurs="0" maxOccurs="999999">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="S_AK3" type="S_AK3"/>
                           <xs:element name="S_AK4" type="S_AK4" minOccurs="0" maxOccurs="99"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="S_AK5" type="S_AK5" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="S_AK9" type="S_AK9" minOccurs="1" maxOccurs="1"/>
         <xs:element name="S_SE" type="S_SE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK1">
      <xs:sequence>
         <xs:element name="D_479" type="D_479" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_28" type="D_28" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK2">
      <xs:sequence>
         <xs:element name="D_143" type="D_143" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_329" type="D_329" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK3">
      <xs:sequence>
         <xs:element name="D_721" type="D_721" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_719" type="D_719" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_447" type="D_447" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_720" type="D_720" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK4">
      <xs:sequence>
         <xs:element name="C_C030" type="C_C030" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_725" type="D_725" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_723" type="D_723" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_724" type="D_724" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK5">
      <xs:sequence>
         <xs:element name="D_717" type="D_717" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_718_1" type="D_718" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_718_2" type="D_718" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_718_3" type="D_718" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_718_4" type="D_718" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_718_5" type="D_718" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_AK9">
      <xs:sequence>
         <xs:element name="D_715" type="D_715" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_97" type="D_97" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_123" type="D_123" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_2" type="D_2" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_716_1" type="D_716" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_716_2" type="D_716" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_716_3" type="D_716" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_716_4" type="D_716" minOccurs="0" maxOccurs="1"/>
         <xs:element name="D_716_5" type="D_716" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_SE">
      <xs:sequence>
         <xs:element name="D_96" type="D_96" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_329" type="D_329" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="S_ST">
      <xs:sequence>
         <xs:element name="D_143" type="D_143" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_329" type="D_329" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="C_C030">
      <xs:sequence>
         <xs:element name="D_722" type="D_722" minOccurs="1" maxOccurs="1"/>
         <xs:element name="D_1528" type="D_1528" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="D_123">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_143">
      <xs:restriction base="xs:string">
         <xs:length value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_1528">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_2">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_329">
      <xs:restriction base="xs:string">
         <xs:minLength value="4"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_447">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_715">
      <xs:restriction base="xs:string">
         <xs:length value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_716">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_717">
      <xs:restriction base="xs:string">
         <xs:length value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_718">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_719">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_720">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_721">
      <xs:restriction base="xs:string">
         <xs:minLength value="2"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_722">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_723">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_724">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="99"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_725">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="D_96">
      <xs:restriction base="xs:integer">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>