XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_810^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nestor="http://sap.com/nestor" xmlns="urn:sap.com:typesystem:b2b:116:asc-x12:810:004010" targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12:810:004010">
	<xs:annotation>
		<xs:appinfo>
			<nestor:resourceinfo>
				<nestor:info key="typeSystem" value="ASC-X12"/>
				<nestor:info key="typeSystemVersion" value="004010"/>
				<nestor:info key="category" value="Template"/>
				<nestor:info key="rootNode" value="Interchange"/>
				<nestor:info key="responsibleAgencyName" value="ANSI ASC X12"/>
				<nestor:info key="responsibleAgencyCode" value="116"/>
				<nestor:info key="messageType" value="810"/>
				<nestor:info key="messageName" value="Invoice"/>
				<nestor:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:116:asc-x12:810:004010"/>
				<nestor:info key="documentNumber" value="/M_810/S_BIG/D_76_1"/>
			</nestor:resourceinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="Interchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_ISA" type="S_ISA"/>
				<xs:element name="FunctionalGroup" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="S_GS" type="S_GS"/>
							<xs:element name="M_810" type="M_810" maxOccurs="unbounded"/>
							<xs:element name="S_GE" type="S_GE"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="S_IEA" type="S_IEA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="C_C001">
		<xs:sequence>
			<xs:element name="D_355_1" type="D_355"/>
			<xs:element name="D_1018_1" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_1" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_2" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_2" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_3" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_3" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_4" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_4" type="D_649" minOccurs="0"/>
			<xs:element name="D_355_5" type="D_355" minOccurs="0"/>
			<xs:element name="D_1018_5" type="D_1018" minOccurs="0"/>
			<xs:element name="D_649_5" type="D_649" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C002">
		<xs:sequence>
			<xs:element name="D_704_1" type="D_704"/>
			<xs:element name="D_704_2" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_3" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_4" type="D_704" minOccurs="0"/>
			<xs:element name="D_704_5" type="D_704" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_C040">
		<xs:sequence>
			<xs:element name="D_128_1" type="D_128"/>
			<xs:element name="D_127_1" type="D_127"/>
			<xs:element name="D_128_2" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_2" type="D_127" minOccurs="0"/>
			<xs:element name="D_128_3" type="D_128" minOccurs="0"/>
			<xs:element name="D_127_3" type="D_127" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_810">
		<xs:sequence>
			<xs:element name="S_ST" type="S_ST"/>
			<xs:element name="S_BIG" type="S_BIG"/>
			<xs:element name="S_NTE" type="S_NTE" minOccurs="0" maxOccurs="100"/>
			<xs:element name="S_CUR" type="S_CUR" minOccurs="0"/>
			<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
			<xs:element name="S_YNQ" type="S_YNQ" minOccurs="0" maxOccurs="10"/>
			<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="3"/>
			<xs:element name="G_N1" minOccurs="0" maxOccurs="200">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_N1" type="S_N1"/>
						<xs:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
						<xs:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
						<xs:element name="S_N4" type="S_N4" minOccurs="0"/>
						<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
						<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="3"/>
						<xs:element name="S_DMG" type="S_DMG" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_ITD" type="S_ITD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
			<xs:element name="S_FOB" type="S_FOB" minOccurs="0"/>
			<xs:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="200"/>
			<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="40"/>
			<xs:element name="S_PWK" type="S_PWK" minOccurs="0" maxOccurs="25"/>
			<xs:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="25"/>
			<xs:element name="S_L7" type="S_L7" minOccurs="0"/>
			<xs:element name="S_BAL" type="S_BAL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="S_INC" type="S_INC" minOccurs="0"/>
			<xs:element name="S_PAM" type="S_PAM" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="G_LM" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_LM" type="S_LM"/>
						<xs:element name="S_LQ" type="S_LQ" maxOccurs="100"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_N9" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_N9" type="S_N9"/>
						<xs:element name="S_MSG" type="S_MSG" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_V1" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_V1" type="S_V1"/>
						<xs:element name="S_R4" type="S_R4" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_FA1" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_FA1" type="S_FA1"/>
						<xs:element name="S_FA2" type="S_FA2" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_IT1" minOccurs="0" maxOccurs="200000">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_IT1" type="S_IT1"/>
						<xs:element name="S_CRC" type="S_CRC" minOccurs="0"/>
						<xs:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_CUR" type="S_CUR" minOccurs="0"/>
						<xs:element name="S_IT3" type="S_IT3" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_CTP" type="S_CTP" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_PAM" type="S_PAM" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="40"/>
						<xs:element name="G_PID" minOccurs="0" maxOccurs="1000">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_PID" type="S_PID"/>
									<xs:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="S_PWK" type="S_PWK" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_PKG" type="S_PKG" minOccurs="0" maxOccurs="25"/>
						<xs:element name="S_PO4" type="S_PO4" minOccurs="0"/>
						<xs:element name="S_ITD" type="S_ITD" minOccurs="0" maxOccurs="2"/>
						<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_YNQ" type="S_YNQ" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="5"/>
						<xs:element name="S_SDQ" type="S_SDQ" minOccurs="0" maxOccurs="500"/>
						<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="10"/>
						<xs:element name="S_CAD" type="S_CAD" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_L7" type="S_L7" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="S_SR" type="S_SR" minOccurs="0"/>
						<xs:element name="G_SAC" minOccurs="0" maxOccurs="25">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_SAC" type="S_SAC"/>
									<xs:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_SLN" minOccurs="0" maxOccurs="1000">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_SLN" type="S_SLN"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0"/>
									<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="1000"/>
									<xs:element name="S_SAC" type="S_SAC" minOccurs="0" maxOccurs="25"/>
									<xs:element name="S_TC2" type="S_TC2" minOccurs="0" maxOccurs="2"/>
									<xs:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_N1" minOccurs="0" maxOccurs="200">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_N1" type="S_N1"/>
									<xs:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
									<xs:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
									<xs:element name="S_N4" type="S_N4" minOccurs="0"/>
									<xs:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="12"/>
									<xs:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="3"/>
									<xs:element name="S_DMG" type="S_DMG" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_LM" minOccurs="0" maxOccurs="10">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_LM" type="S_LM"/>
									<xs:element name="S_LQ" type="S_LQ" maxOccurs="100"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_V1" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_V1" type="S_V1"/>
									<xs:element name="S_R4" type="S_R4" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="G_FA1" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="S_FA1" type="S_FA1"/>
									<xs:element name="S_FA2" type="S_FA2" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_TDS" type="S_TDS"/>
			<xs:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="10"/>
			<xs:element name="S_CAD" type="S_CAD" minOccurs="0"/>
			<xs:element name="S_AMT" type="S_AMT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="G_SAC" minOccurs="0" maxOccurs="25">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_SAC" type="S_SAC"/>
						<xs:element name="S_TXI" type="S_TXI" minOccurs="0" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="G_ISS" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="S_ISS" type="S_ISS"/>
						<xs:element name="S_PID" type="S_PID" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="S_CTT" type="S_CTT" minOccurs="0"/>
			<xs:element name="S_SE" type="S_SE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_AMT">
		<xs:sequence>
			<xs:element name="D_522" type="D_522"/>
			<xs:element name="D_782" type="D_782"/>
			<xs:element name="D_478" type="D_478" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_BAL">
		<xs:sequence>
			<xs:element name="D_951" type="D_951"/>
			<xs:element name="D_522" type="D_522"/>
			<xs:element name="D_782" type="D_782"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_BIG">
		<xs:sequence>
			<xs:element name="D_373_1" type="D_373"/>
			<xs:element name="D_76_1" type="D_76"/>
			<xs:element name="D_373_2" type="D_373" minOccurs="0"/>
			<xs:element name="D_324" type="D_324" minOccurs="0"/>
			<xs:element name="D_328" type="D_328" minOccurs="0"/>
			<xs:element name="D_327" type="D_327" minOccurs="0"/>
			<xs:element name="D_640" type="D_640" minOccurs="0"/>
			<xs:element name="D_353" type="D_353" minOccurs="0"/>
			<xs:element name="D_306" type="D_306" minOccurs="0"/>
			<xs:element name="D_76_2" type="D_76" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CAD">
		<xs:sequence>
			<xs:element name="D_91" type="D_91" minOccurs="0"/>
			<xs:element name="D_206" type="D_206" minOccurs="0"/>
			<xs:element name="D_207" type="D_207" minOccurs="0"/>
			<xs:element name="D_140" type="D_140" minOccurs="0"/>
			<xs:element name="D_387" type="D_387" minOccurs="0"/>
			<xs:element name="D_368" type="D_368" minOccurs="0"/>
			<xs:element name="D_128" type="D_128" minOccurs="0"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_284" type="D_284" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CRC">
		<xs:sequence>
			<xs:element name="D_1136" type="D_1136"/>
			<xs:element name="D_1073" type="D_1073"/>
			<xs:element name="D_1321_1" type="D_1321"/>
			<xs:element name="D_1321_2" type="D_1321" minOccurs="0"/>
			<xs:element name="D_1321_3" type="D_1321" minOccurs="0"/>
			<xs:element name="D_1321_4" type="D_1321" minOccurs="0"/>
			<xs:element name="D_1321_5" type="D_1321" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CTP">
		<xs:sequence>
			<xs:element name="D_687" type="D_687" minOccurs="0"/>
			<xs:element name="D_236" type="D_236" minOccurs="0"/>
			<xs:element name="D_212" type="D_212" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_648" type="D_648" minOccurs="0"/>
			<xs:element name="D_649" type="D_649" minOccurs="0"/>
			<xs:element name="D_782" type="D_782" minOccurs="0"/>
			<xs:element name="D_639" type="D_639" minOccurs="0"/>
			<xs:element name="D_499" type="D_499" minOccurs="0"/>
			<xs:element name="D_289" type="D_289" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CTT">
		<xs:sequence>
			<xs:element name="D_354" type="D_354"/>
			<xs:element name="D_347" type="D_347" minOccurs="0"/>
			<xs:element name="D_81" type="D_81" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_183" type="D_183" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_CUR">
		<xs:sequence>
			<xs:element name="D_98_1" type="D_98"/>
			<xs:element name="D_100_1" type="D_100"/>
			<xs:element name="D_280" type="D_280" minOccurs="0"/>
			<xs:element name="D_98_2" type="D_98" minOccurs="0"/>
			<xs:element name="D_100_2" type="D_100" minOccurs="0"/>
			<xs:element name="D_669" type="D_669" minOccurs="0"/>
			<xs:element name="D_374_1" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_1" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_1" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_2" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_2" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_2" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_3" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_3" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_3" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_4" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_4" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_4" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_5" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_5" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_5" type="D_337" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DMG">
		<xs:sequence>
			<xs:element name="D_1250" type="D_1250" minOccurs="0"/>
			<xs:element name="D_1251" type="D_1251" minOccurs="0"/>
			<xs:element name="D_1068" type="D_1068" minOccurs="0"/>
			<xs:element name="D_1067" type="D_1067" minOccurs="0"/>
			<xs:element name="D_1109" type="D_1109" minOccurs="0"/>
			<xs:element name="D_1066" type="D_1066" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_659" type="D_659" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_DTM">
		<xs:sequence>
			<xs:element name="D_374" type="D_374"/>
			<xs:element name="D_373" type="D_373" minOccurs="0"/>
			<xs:element name="D_337" type="D_337" minOccurs="0"/>
			<xs:element name="D_623" type="D_623" minOccurs="0"/>
			<xs:element name="D_1250" type="D_1250" minOccurs="0"/>
			<xs:element name="D_1251" type="D_1251" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FA1">
		<xs:sequence>
			<xs:element name="D_559" type="D_559"/>
			<xs:element name="D_1300" type="D_1300" minOccurs="0"/>
			<xs:element name="D_248" type="D_248" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FA2">
		<xs:sequence>
			<xs:element name="D_1196" type="D_1196"/>
			<xs:element name="D_1195" type="D_1195"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_FOB">
		<xs:sequence>
			<xs:element name="D_146" type="D_146"/>
			<xs:element name="D_309_1" type="D_309" minOccurs="0"/>
			<xs:element name="D_352_1" type="D_352" minOccurs="0"/>
			<xs:element name="D_334" type="D_334" minOccurs="0"/>
			<xs:element name="D_335" type="D_335" minOccurs="0"/>
			<xs:element name="D_309_2" type="D_309" minOccurs="0"/>
			<xs:element name="D_352_2" type="D_352" minOccurs="0"/>
			<xs:element name="D_54" type="D_54" minOccurs="0"/>
			<xs:element name="D_352_3" type="D_352" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GE">
		<xs:sequence>
			<xs:element name="D_97" type="D_97"/>
			<xs:element name="D_28" type="D_28"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_GS">
		<xs:sequence>
			<xs:element name="D_479" type="D_479"/>
			<xs:element name="D_142" type="D_142"/>
			<xs:element name="D_124" type="D_124"/>
			<xs:element name="D_373" type="D_373"/>
			<xs:element name="D_337" type="D_337"/>
			<xs:element name="D_28" type="D_28"/>
			<xs:element name="D_455" type="D_455"/>
			<xs:element name="D_480" type="D_480"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IEA">
		<xs:sequence>
			<xs:element name="D_I16" type="D_I16"/>
			<xs:element name="D_I12" type="D_I12"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_INC">
		<xs:sequence>
			<xs:element name="D_336" type="D_336"/>
			<xs:element name="C_C001" type="C_C001"/>
			<xs:element name="D_380_1" type="D_380"/>
			<xs:element name="D_380_2" type="D_380"/>
			<xs:element name="D_782" type="D_782" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ISA">
		<xs:sequence>
			<xs:element name="D_I01" type="D_I01"/>
			<xs:element name="D_I02" type="D_I02"/>
			<xs:element name="D_I03" type="D_I03"/>
			<xs:element name="D_I04" type="D_I04"/>
			<xs:element name="D_I05_1" type="D_I05"/>
			<xs:element name="D_I06" type="D_I06"/>
			<xs:element name="D_I05_2" type="D_I05"/>
			<xs:element name="D_I07" type="D_I07"/>
			<xs:element name="D_I08" type="D_I08"/>
			<xs:element name="D_I09" type="D_I09"/>
			<xs:element name="D_I10" type="D_I10"/>
			<xs:element name="D_I11" type="D_I11"/>
			<xs:element name="D_I12" type="D_I12"/>
			<xs:element name="D_I13" type="D_I13"/>
			<xs:element name="D_I14" type="D_I14"/>
			<xs:element name="D_I15" type="D_I15"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ISS">
		<xs:sequence>
			<xs:element name="D_382" type="D_382" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_81_1" type="D_81" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_183" type="D_183" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="D_81_2" type="D_81" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IT1">
		<xs:sequence>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_358" type="D_358" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_212" type="D_212" minOccurs="0"/>
			<xs:element name="D_639" type="D_639" minOccurs="0"/>
			<xs:element name="D_235_1" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_1" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_2" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_2" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_3" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_3" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_4" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_4" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_5" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_5" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_6" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_6" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_7" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_7" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_8" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_8" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_9" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_9" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_10" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_10" type="D_234" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_IT3">
		<xs:sequence>
			<xs:element name="D_382" type="D_382" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_368" type="D_368" minOccurs="0"/>
			<xs:element name="D_383" type="D_383" minOccurs="0"/>
			<xs:element name="D_371" type="D_371" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ITD">
		<xs:sequence>
			<xs:element name="D_336" type="D_336" minOccurs="0"/>
			<xs:element name="D_333" type="D_333" minOccurs="0"/>
			<xs:element name="D_338" type="D_338" minOccurs="0"/>
			<xs:element name="D_370" type="D_370" minOccurs="0"/>
			<xs:element name="D_351" type="D_351" minOccurs="0"/>
			<xs:element name="D_446" type="D_446" minOccurs="0"/>
			<xs:element name="D_386" type="D_386" minOccurs="0"/>
			<xs:element name="D_362" type="D_362" minOccurs="0"/>
			<xs:element name="D_388" type="D_388" minOccurs="0"/>
			<xs:element name="D_389" type="D_389" minOccurs="0"/>
			<xs:element name="D_342" type="D_342" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_765" type="D_765" minOccurs="0"/>
			<xs:element name="D_107" type="D_107" minOccurs="0"/>
			<xs:element name="D_954" type="D_954" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_L7">
		<xs:sequence>
			<xs:element name="D_213" type="D_213" minOccurs="0"/>
			<xs:element name="D_168" type="D_168" minOccurs="0"/>
			<xs:element name="D_171" type="D_171" minOccurs="0"/>
			<xs:element name="D_172" type="D_172" minOccurs="0"/>
			<xs:element name="D_169" type="D_169" minOccurs="0"/>
			<xs:element name="D_170" type="D_170" minOccurs="0"/>
			<xs:element name="D_59" type="D_59" minOccurs="0"/>
			<xs:element name="D_173" type="D_173" minOccurs="0"/>
			<xs:element name="D_46" type="D_46" minOccurs="0"/>
			<xs:element name="D_373_1" type="D_373" minOccurs="0"/>
			<xs:element name="D_119" type="D_119" minOccurs="0"/>
			<xs:element name="D_227" type="D_227" minOccurs="0"/>
			<xs:element name="D_294" type="D_294" minOccurs="0"/>
			<xs:element name="D_295" type="D_295" minOccurs="0"/>
			<xs:element name="D_19" type="D_19" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LM">
		<xs:sequence>
			<xs:element name="D_559" type="D_559"/>
			<xs:element name="D_822" type="D_822" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_LQ">
		<xs:sequence>
			<xs:element name="D_1270" type="D_1270" minOccurs="0"/>
			<xs:element name="D_1271" type="D_1271" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MEA">
		<xs:sequence>
			<xs:element name="D_737" type="D_737" minOccurs="0"/>
			<xs:element name="D_738" type="D_738" minOccurs="0"/>
			<xs:element name="D_739" type="D_739" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_740" type="D_740" minOccurs="0"/>
			<xs:element name="D_741" type="D_741" minOccurs="0"/>
			<xs:element name="D_935" type="D_935" minOccurs="0"/>
			<xs:element name="D_936" type="D_936" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_1373" type="D_1373" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_MSG">
		<xs:sequence>
			<xs:element name="D_933" type="D_933"/>
			<xs:element name="D_934" type="D_934" minOccurs="0"/>
			<xs:element name="D_1470" type="D_1470" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N1">
		<xs:sequence>
			<xs:element name="D_98_1" type="D_98"/>
			<xs:element name="D_93" type="D_93" minOccurs="0"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67" type="D_67" minOccurs="0"/>
			<xs:element name="D_706" type="D_706" minOccurs="0"/>
			<xs:element name="D_98_2" type="D_98" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N2">
		<xs:sequence>
			<xs:element name="D_93_1" type="D_93"/>
			<xs:element name="D_93_2" type="D_93" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N3">
		<xs:sequence>
			<xs:element name="D_166_1" type="D_166"/>
			<xs:element name="D_166_2" type="D_166" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N4">
		<xs:sequence>
			<xs:element name="D_19" type="D_19" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
			<xs:element name="D_116" type="D_116" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_309" type="D_309" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_N9">
		<xs:sequence>
			<xs:element name="D_128" type="D_128"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_369" type="D_369" minOccurs="0"/>
			<xs:element name="D_373" type="D_373" minOccurs="0"/>
			<xs:element name="D_337" type="D_337" minOccurs="0"/>
			<xs:element name="D_623" type="D_623" minOccurs="0"/>
			<xs:element name="C_C040" type="C_C040" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_NTE">
		<xs:sequence>
			<xs:element name="D_363" type="D_363" minOccurs="0"/>
			<xs:element name="D_352" type="D_352"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PAM">
		<xs:sequence>
			<xs:element name="D_673" type="D_673" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_522" type="D_522" minOccurs="0"/>
			<xs:element name="D_782" type="D_782" minOccurs="0"/>
			<xs:element name="D_344" type="D_344" minOccurs="0"/>
			<xs:element name="D_374_1" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_1" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_1" type="D_337" minOccurs="0"/>
			<xs:element name="D_374_2" type="D_374" minOccurs="0"/>
			<xs:element name="D_373_2" type="D_373" minOccurs="0"/>
			<xs:element name="D_337_2" type="D_337" minOccurs="0"/>
			<xs:element name="D_1004" type="D_1004" minOccurs="0"/>
			<xs:element name="D_954" type="D_954" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PER">
		<xs:sequence>
			<xs:element name="D_366" type="D_366"/>
			<xs:element name="D_93" type="D_93" minOccurs="0"/>
			<xs:element name="D_365_1" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_1" type="D_364" minOccurs="0"/>
			<xs:element name="D_365_2" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_2" type="D_364" minOccurs="0"/>
			<xs:element name="D_365_3" type="D_365" minOccurs="0"/>
			<xs:element name="D_364_3" type="D_364" minOccurs="0"/>
			<xs:element name="D_443" type="D_443" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PID">
		<xs:sequence>
			<xs:element name="D_349" type="D_349"/>
			<xs:element name="D_750" type="D_750" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_751" type="D_751" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_822" type="D_822" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073" minOccurs="0"/>
			<xs:element name="D_819" type="D_819" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PKG">
		<xs:sequence>
			<xs:element name="D_349" type="D_349" minOccurs="0"/>
			<xs:element name="D_753" type="D_753" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_754" type="D_754" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_400" type="D_400" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PO4">
		<xs:sequence>
			<xs:element name="D_356" type="D_356" minOccurs="0"/>
			<xs:element name="D_357" type="D_357" minOccurs="0"/>
			<xs:element name="D_355_1" type="D_355" minOccurs="0"/>
			<xs:element name="D_103" type="D_103" minOccurs="0"/>
			<xs:element name="D_187" type="D_187" minOccurs="0"/>
			<xs:element name="D_384" type="D_384" minOccurs="0"/>
			<xs:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xs:element name="D_385" type="D_385" minOccurs="0"/>
			<xs:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xs:element name="D_82" type="D_82" minOccurs="0"/>
			<xs:element name="D_189" type="D_189" minOccurs="0"/>
			<xs:element name="D_65" type="D_65" minOccurs="0"/>
			<xs:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xs:element name="D_810" type="D_810" minOccurs="0"/>
			<xs:element name="D_752" type="D_752" minOccurs="0"/>
			<xs:element name="D_350_1" type="D_350" minOccurs="0"/>
			<xs:element name="D_350_2" type="D_350" minOccurs="0"/>
			<xs:element name="D_1470" type="D_1470" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_PWK">
		<xs:sequence>
			<xs:element name="D_755" type="D_755"/>
			<xs:element name="D_756" type="D_756" minOccurs="0"/>
			<xs:element name="D_757" type="D_757" minOccurs="0"/>
			<xs:element name="D_98" type="D_98" minOccurs="0"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67" type="D_67" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="C_C002" type="C_C002" minOccurs="0"/>
			<xs:element name="D_1525" type="D_1525" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_QTY">
		<xs:sequence>
			<xs:element name="D_673" type="D_673"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_61" type="D_61" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_R4">
		<xs:sequence>
			<xs:element name="D_115" type="D_115"/>
			<xs:element name="D_309" type="D_309" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
			<xs:element name="D_114" type="D_114" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_174" type="D_174" minOccurs="0"/>
			<xs:element name="D_113" type="D_113" minOccurs="0"/>
			<xs:element name="D_156" type="D_156" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_REF">
		<xs:sequence>
			<xs:element name="D_128" type="D_128"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="C_C040" type="C_C040" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SAC">
		<xs:sequence>
			<xs:element name="D_248" type="D_248"/>
			<xs:element name="D_1300" type="D_1300" minOccurs="0"/>
			<xs:element name="D_559" type="D_559" minOccurs="0"/>
			<xs:element name="D_1301" type="D_1301" minOccurs="0"/>
			<xs:element name="D_610" type="D_610" minOccurs="0"/>
			<xs:element name="D_378" type="D_378" minOccurs="0"/>
			<xs:element name="D_332" type="D_332" minOccurs="0"/>
			<xs:element name="D_118" type="D_118" minOccurs="0"/>
			<xs:element name="D_355" type="D_355" minOccurs="0"/>
			<xs:element name="D_380_1" type="D_380" minOccurs="0"/>
			<xs:element name="D_380_2" type="D_380" minOccurs="0"/>
			<xs:element name="D_331" type="D_331" minOccurs="0"/>
			<xs:element name="D_127" type="D_127" minOccurs="0"/>
			<xs:element name="D_770" type="D_770" minOccurs="0"/>
			<xs:element name="D_352" type="D_352" minOccurs="0"/>
			<xs:element name="D_819" type="D_819" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SDQ">
		<xs:sequence>
			<xs:element name="D_355" type="D_355"/>
			<xs:element name="D_66" type="D_66" minOccurs="0"/>
			<xs:element name="D_67_1" type="D_67"/>
			<xs:element name="D_380_1" type="D_380"/>
			<xs:element name="D_67_2" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_2" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_3" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_3" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_4" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_4" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_5" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_5" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_6" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_6" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_7" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_7" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_8" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_8" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_9" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_9" type="D_380" minOccurs="0"/>
			<xs:element name="D_67_10" type="D_67" minOccurs="0"/>
			<xs:element name="D_380_10" type="D_380" minOccurs="0"/>
			<xs:element name="D_310" type="D_310" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SE">
		<xs:sequence>
			<xs:element name="D_96" type="D_96"/>
			<xs:element name="D_329" type="D_329"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SLN">
		<xs:sequence>
			<xs:element name="D_350_1" type="D_350"/>
			<xs:element name="D_350_2" type="D_350" minOccurs="0"/>
			<xs:element name="D_662_1" type="D_662"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xs:element name="D_212" type="D_212" minOccurs="0"/>
			<xs:element name="D_639" type="D_639" minOccurs="0"/>
			<xs:element name="D_662_2" type="D_662" minOccurs="0"/>
			<xs:element name="D_235_1" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_1" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_2" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_2" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_3" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_3" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_4" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_4" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_5" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_5" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_6" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_6" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_7" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_7" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_8" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_8" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_9" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_9" type="D_234" minOccurs="0"/>
			<xs:element name="D_235_10" type="D_235" minOccurs="0"/>
			<xs:element name="D_234_10" type="D_234" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_SR">
		<xs:sequence>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
			<xs:element name="D_1430" type="D_1430" minOccurs="0"/>
			<xs:element name="D_337_1" type="D_337" minOccurs="0"/>
			<xs:element name="D_337_2" type="D_337" minOccurs="0"/>
			<xs:element name="D_3_4" type="D_3" minOccurs="0"/>
			<xs:element name="D_212" type="D_212" minOccurs="0"/>
			<xs:element name="D_380" type="D_380" minOccurs="0"/>
			<xs:element name="D_373_1" type="D_373" minOccurs="0"/>
			<xs:element name="D_373_2" type="D_373" minOccurs="0"/>
			<xs:element name="D_234_1" type="D_234" minOccurs="0"/>
			<xs:element name="D_234_2" type="D_234" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_ST">
		<xs:sequence>
			<xs:element name="D_143" type="D_143"/>
			<xs:element name="D_329" type="D_329"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TC2">
		<xs:sequence>
			<xs:element name="D_23" type="D_23"/>
			<xs:element name="D_22" type="D_22"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TDS">
		<xs:sequence>
			<xs:element name="D_610_1" type="D_610"/>
			<xs:element name="D_610_2" type="D_610" minOccurs="0"/>
			<xs:element name="D_610_3" type="D_610" minOccurs="0"/>
			<xs:element name="D_610_4" type="D_610" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_TXI">
		<xs:sequence>
			<xs:element name="D_963" type="D_963"/>
			<xs:element name="D_782" type="D_782" minOccurs="0"/>
			<xs:element name="D_954" type="D_954" minOccurs="0"/>
			<xs:element name="D_955" type="D_955" minOccurs="0"/>
			<xs:element name="D_956" type="D_956" minOccurs="0"/>
			<xs:element name="D_441" type="D_441" minOccurs="0"/>
			<xs:element name="D_662" type="D_662" minOccurs="0"/>
			<xs:element name="D_828" type="D_828" minOccurs="0"/>
			<xs:element name="D_325" type="D_325" minOccurs="0"/>
			<xs:element name="D_350" type="D_350" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_V1">
		<xs:sequence>
			<xs:element name="D_597" type="D_597" minOccurs="0"/>
			<xs:element name="D_182" type="D_182" minOccurs="0"/>
			<xs:element name="D_26" type="D_26" minOccurs="0"/>
			<xs:element name="D_55" type="D_55" minOccurs="0"/>
			<xs:element name="D_140" type="D_140" minOccurs="0"/>
			<xs:element name="D_249" type="D_249" minOccurs="0"/>
			<xs:element name="D_854" type="D_854" minOccurs="0"/>
			<xs:element name="D_897" type="D_897" minOccurs="0"/>
			<xs:element name="D_91" type="D_91" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S_YNQ">
		<xs:sequence>
			<xs:element name="D_1321" type="D_1321" minOccurs="0"/>
			<xs:element name="D_1073" type="D_1073"/>
			<xs:element name="D_1250" type="D_1250" minOccurs="0"/>
			<xs:element name="D_1251" type="D_1251" minOccurs="0"/>
			<xs:element name="D_933_1" type="D_933" minOccurs="0"/>
			<xs:element name="D_933_2" type="D_933" minOccurs="0"/>
			<xs:element name="D_933_3" type="D_933" minOccurs="0"/>
			<xs:element name="D_1270" type="D_1270" minOccurs="0"/>
			<xs:element name="D_1271" type="D_1271" minOccurs="0"/>
			<xs:element name="D_933_4" type="D_933" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="D_100">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1004">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1018">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_103">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1066">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1067">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1068">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_107">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1073">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1109">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_113">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1136">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_114">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_115">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_116">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_118">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_119">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1195">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1196">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_124">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1250">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1251">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_127">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1270">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1271">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_128">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1300">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1301">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1321">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1373">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_140">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_142">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_143">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1430">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_146">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1470">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_1525">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_156">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_166">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_168">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_169">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_170">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_171">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_172">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_173">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_174">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_182">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_183">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_187">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_189">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_19">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_206">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_207">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_212">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_213">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_22">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_227">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_23">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_234">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="48"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_235">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_236">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_248">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_249">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_26">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_28">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_280">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_284">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_289">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_294">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_295">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_3">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_306">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_309">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_310">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_324">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_325">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_327">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_328">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_329">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_331">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_332">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_333">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_334">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_335">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_336">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_337">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_338">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_342">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_344">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_347">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_349">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_350">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_351">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_352">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_353">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_354">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_355">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_356">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_357">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_358">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_362">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_363">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_364">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_365">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_366">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_368">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_369">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_370">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="D_371">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_373">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_374">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_378">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_380">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_382">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_383">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_384">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_385">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_386">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_387">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_388">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="D_389">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_400">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_441">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_443">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_446">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="D_455">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_46">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_478">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_479">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_480">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_499">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_522">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_54">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_55">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_559">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_59">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_597">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_61">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_610">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_623">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_639">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_640">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_648">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_649">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_65">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_659">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_66">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_662">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_669">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_67">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_673">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_687">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_704">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_706">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_737">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_738">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_739">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_740">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_741">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_750">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_751">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_752">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_753">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_754">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_755">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_756">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_757">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_76">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_765">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_770">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_782">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_81">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_810">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_819">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_82">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_822">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_828">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_854">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_897">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_91">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_93">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_933">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="264"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_934">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_935">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_936">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_951">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_954">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_955">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_956">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_96">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_963">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_97">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_98">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I01">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I02">
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I03">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I04">
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I05">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I06">
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I07">
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I08">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I09">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I11">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I12">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I13">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I14">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I15">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="D_I16">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>