XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_214^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hci="http://sap.com/hci" xmlns="urn:sap.com:typesystem:b2b:116:asc-x12" targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12">
	<xsd:element name="M_214">
		<xsd:annotation>
			<xsd:appinfo>
				<hci:resourceinfo>
					<hci:info key="typeSystem" value="ASC-X12"/>
					<hci:info key="typeSystemVersion" value="004010"/>
					<hci:info key="category" value="Template"/>
					<hci:info key="rootNode" value="M_214"/>
					<hci:info key="responsibleAgencyName" value="Accredited Standards Committee X12"/>
					<hci:info key="responsibleAgencyCode" value="116"/>
					<hci:info key="messageType" value="214"/>
					<hci:info key="messageName" value="Price/Sales Catalog"/>
					<hci:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:116:asc-x12"/>
					<hci:info key="documentNumber" value="M_214/S_B10/D_145"/>
				</hci:resourceinfo>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="S_ST" type="S_ST"/>
				<xsd:element name="S_B10" type="S_B10"/>
				<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
				<xsd:element name="S_MAN" type="S_MAN" minOccurs="0"/>
				<xsd:element name="S_K1" type="S_K1" minOccurs="0"/>
				<xsd:element name="G_0100" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_N1" type="S_N1"/>
							<xsd:element name="S_N2" type="S_N2" minOccurs="0"/>
							<xsd:element name="S_N3" type="S_N3" minOccurs="0"/>
							<xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
							<xsd:element name="S_G61" type="S_G61" minOccurs="0"/>
							<xsd:element name="S_G62" type="S_G62" minOccurs="0"/>
							<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="S_MS3" type="S_MS3" minOccurs="0"/>
				<xsd:element name="G_0200" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_LX" type="S_LX"/>
							<xsd:element name="G_0205" minOccurs="0" maxOccurs="10">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_AT7" type="S_AT7"/>
										<xsd:element name="S_MS1" type="S_MS1" minOccurs="0"/>
										<xsd:element name="S_MS2" type="S_MS2" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="S_L11" type="S_L11" minOccurs="0" maxOccurs="10"/>
							<xsd:element name="S_MAN" type="S_MAN" minOccurs="0"/>
							<xsd:element name="S_Q7" type="S_Q7" minOccurs="0"/>
							<xsd:element name="S_K1" type="S_K1" minOccurs="0"/>
							<xsd:element name="S_AT5" type="S_AT5" minOccurs="0"/>
							<xsd:element name="S_AT8" type="S_AT8" minOccurs="0" maxOccurs="10"/>
							<xsd:element name="G_0210" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_CD3" type="S_CD3"/>
										<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
										<xsd:element name="G_0215" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_AT7" type="S_AT7"/>
													<xsd:element name="S_MS1" type="S_MS1" minOccurs="0"/>
													<xsd:element name="S_MS2" type="S_MS2" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="S_NM1" type="S_NM1" minOccurs="0"/>
										<xsd:element name="S_Q7" type="S_Q7" minOccurs="0"/>
										<xsd:element name="S_AT8" type="S_AT8" minOccurs="0"/>
										<xsd:element name="S_MAN" type="S_MAN" minOccurs="0"/>
										<xsd:element name="G_0220" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_N1" type="S_N1"/>
													<xsd:element name="S_N2" type="S_N2" minOccurs="0"/>
													<xsd:element name="S_N3" type="S_N3" minOccurs="0"/>
													<xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
													<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0230" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_PRF" type="S_PRF"/>
										<xsd:element name="G_0231" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_N1" type="S_N1"/>
													<xsd:element name="S_N2" type="S_N2" minOccurs="0"/>
													<xsd:element name="S_N3" type="S_N3" minOccurs="0"/>
													<xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
													<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="G_0233" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_CD3" type="S_CD3"/>
													<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
													<xsd:element name="G_0240" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="S_AT7" type="S_AT7"/>
																<xsd:element name="S_MS1" type="S_MS1" minOccurs="0"/>
																<xsd:element name="S_MS2" type="S_MS2" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="S_MAN" type="S_MAN" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0250" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_SPO" type="S_SPO"/>
										<xsd:element name="S_SDQ" type="S_SDQ" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0260" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_EFI" type="S_EFI"/>
										<xsd:element name="S_BIN" type="S_BIN"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="S_SE" type="S_SE"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="S_AT5">
		<xsd:sequence>
			<xsd:element name="D_152" type="D_152" minOccurs="0"/>
			<xsd:element name="D_560" type="D_560" minOccurs="0"/>
			<xsd:element name="D_153" type="D_153" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_AT7">
		<xsd:sequence>
			<xsd:element name="D_1650" type="D_1650" minOccurs="0"/>
			<xsd:element name="D_1651" type="D_1651" minOccurs="0"/>
			<xsd:element name="D_1652" type="D_1652" minOccurs="0"/>
			<xsd:element name="D_1651_2" type="D_1651" minOccurs="0"/>
			<xsd:element name="D_373" type="D_373" minOccurs="0"/>
			<xsd:element name="D_337" type="D_337" minOccurs="0"/>
			<xsd:element name="D_623" type="D_623" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_AT8">
		<xsd:sequence>
			<xsd:element name="D_187" type="D_187" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_80" type="D_80" minOccurs="0"/>
			<xsd:element name="D_80_2" type="D_80" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_B10">
		<xsd:sequence>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
			<xsd:element name="D_145" type="D_145" minOccurs="0"/>
			<xsd:element name="D_140" type="D_140"/>
			<xsd:element name="D_71" type="D_71" minOccurs="0"/>
			<xsd:element name="D_128" type="D_128" minOccurs="0"/>
			<xsd:element name="D_127_2" type="D_127" minOccurs="0"/>
			<xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_BIN">
		<xsd:sequence>
			<xsd:element name="D_784" type="D_784"/>
			<xsd:element name="D_785" type="D_785"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_CD3">
		<xsd:sequence>
			<xsd:element name="D_187" type="D_187" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_619" type="D_619" minOccurs="0"/>
			<xsd:element name="D_34" type="D_34" minOccurs="0"/>
			<xsd:element name="D_284" type="D_284" minOccurs="0"/>
			<xsd:element name="D_108" type="D_108" minOccurs="0"/>
			<xsd:element name="D_122" type="D_122" minOccurs="0"/>
			<xsd:element name="D_58" type="D_58" minOccurs="0"/>
			<xsd:element name="D_122_2" type="D_122" minOccurs="0"/>
			<xsd:element name="D_58_2" type="D_58" minOccurs="0"/>
			<xsd:element name="D_284_2" type="D_284" minOccurs="0"/>
			<xsd:element name="D_284_3" type="D_284" minOccurs="0"/>
			<xsd:element name="D_591" type="D_591" minOccurs="0"/>
			<xsd:element name="D_26" type="D_26" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_EFI">
		<xsd:sequence>
			<xsd:element name="D_786" type="D_786"/>
			<xsd:element name="D_933" type="D_933" minOccurs="0"/>
			<xsd:element name="D_797" type="D_797" minOccurs="0"/>
			<xsd:element name="D_799" type="D_799" minOccurs="0"/>
			<xsd:element name="D_802" type="D_802" minOccurs="0"/>
			<xsd:element name="D_799_2" type="D_799" minOccurs="0"/>
			<xsd:element name="D_801" type="D_801" minOccurs="0"/>
			<xsd:element name="D_799_3" type="D_799" minOccurs="0"/>
			<xsd:element name="D_800" type="D_800" minOccurs="0"/>
			<xsd:element name="D_789" type="D_789" minOccurs="0"/>
			<xsd:element name="D_803" type="D_803" minOccurs="0"/>
			<xsd:element name="D_804" type="D_804" minOccurs="0"/>
			<xsd:element name="D_787" type="D_787" minOccurs="0"/>
			<xsd:element name="D_788" type="D_788" minOccurs="0"/>
			<xsd:element name="D_799_4" type="D_799" minOccurs="0"/>
			<xsd:element name="D_1570" type="D_1570" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_G61">
		<xsd:sequence>
			<xsd:element name="D_366" type="D_366"/>
			<xsd:element name="D_93" type="D_93"/>
			<xsd:element name="D_365" type="D_365" minOccurs="0"/>
			<xsd:element name="D_364" type="D_364" minOccurs="0"/>
			<xsd:element name="D_443" type="D_443" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_G62">
		<xsd:sequence>
			<xsd:element name="D_432" type="D_432" minOccurs="0"/>
			<xsd:element name="D_373" type="D_373" minOccurs="0"/>
			<xsd:element name="D_176" type="D_176" minOccurs="0"/>
			<xsd:element name="D_337" type="D_337" minOccurs="0"/>
			<xsd:element name="D_623" type="D_623" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_K1">
		<xsd:sequence>
			<xsd:element name="D_61" type="D_61"/>
			<xsd:element name="D_61_2" type="D_61" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_L11">
		<xsd:sequence>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
			<xsd:element name="D_128" type="D_128" minOccurs="0"/>
			<xsd:element name="D_352" type="D_352" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LX">
		<xsd:sequence>
			<xsd:element name="D_554" type="D_554"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MAN">
		<xsd:sequence>
			<xsd:element name="D_88" type="D_88"/>
			<xsd:element name="D_87" type="D_87"/>
			<xsd:element name="D_87_2" type="D_87" minOccurs="0"/>
			<xsd:element name="D_88_2" type="D_88" minOccurs="0"/>
			<xsd:element name="D_87_3" type="D_87" minOccurs="0"/>
			<xsd:element name="D_87_4" type="D_87" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MS1">
		<xsd:sequence>
			<xsd:element name="D_19" type="D_19" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
			<xsd:element name="D_26" type="D_26" minOccurs="0"/>
			<xsd:element name="D_1654" type="D_1654" minOccurs="0"/>
			<xsd:element name="D_1655" type="D_1655" minOccurs="0"/>
			<xsd:element name="D_1280" type="D_1280" minOccurs="0"/>
			<xsd:element name="D_1280_2" type="D_1280" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MS2">
		<xsd:sequence>
			<xsd:element name="D_140" type="D_140" minOccurs="0"/>
			<xsd:element name="D_207" type="D_207" minOccurs="0"/>
			<xsd:element name="D_40" type="D_40" minOccurs="0"/>
			<xsd:element name="D_761" type="D_761" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MS3">
		<xsd:sequence>
			<xsd:element name="D_140" type="D_140"/>
			<xsd:element name="D_133" type="D_133"/>
			<xsd:element name="D_19" type="D_19" minOccurs="0"/>
			<xsd:element name="D_91" type="D_91" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N1">
		<xsd:sequence>
			<xsd:element name="D_98" type="D_98"/>
			<xsd:element name="D_93" type="D_93" minOccurs="0"/>
			<xsd:element name="D_66" type="D_66" minOccurs="0"/>
			<xsd:element name="D_67" type="D_67" minOccurs="0"/>
			<xsd:element name="D_706" type="D_706" minOccurs="0"/>
			<xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N2">
		<xsd:sequence>
			<xsd:element name="D_93" type="D_93"/>
			<xsd:element name="D_93_2" type="D_93" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N3">
		<xsd:sequence>
			<xsd:element name="D_166" type="D_166"/>
			<xsd:element name="D_166_2" type="D_166" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N4">
		<xsd:sequence>
			<xsd:element name="D_19" type="D_19" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
			<xsd:element name="D_116" type="D_116" minOccurs="0"/>
			<xsd:element name="D_26" type="D_26" minOccurs="0"/>
			<xsd:element name="D_309" type="D_309" minOccurs="0"/>
			<xsd:element name="D_310" type="D_310" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_NM1">
		<xsd:sequence>
			<xsd:element name="D_98" type="D_98"/>
			<xsd:element name="D_1065" type="D_1065"/>
			<xsd:element name="D_1035" type="D_1035" minOccurs="0"/>
			<xsd:element name="D_1036" type="D_1036" minOccurs="0"/>
			<xsd:element name="D_1037" type="D_1037" minOccurs="0"/>
			<xsd:element name="D_1038" type="D_1038" minOccurs="0"/>
			<xsd:element name="D_1039" type="D_1039" minOccurs="0"/>
			<xsd:element name="D_66" type="D_66" minOccurs="0"/>
			<xsd:element name="D_67" type="D_67" minOccurs="0"/>
			<xsd:element name="D_706" type="D_706" minOccurs="0"/>
			<xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_PRF">
		<xsd:sequence>
			<xsd:element name="D_324" type="D_324"/>
			<xsd:element name="D_328" type="D_328" minOccurs="0"/>
			<xsd:element name="D_327" type="D_327" minOccurs="0"/>
			<xsd:element name="D_373" type="D_373" minOccurs="0"/>
			<xsd:element name="D_350" type="D_350" minOccurs="0"/>
			<xsd:element name="D_367" type="D_367" minOccurs="0"/>
			<xsd:element name="D_92" type="D_92" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_Q7">
		<xsd:sequence>
			<xsd:element name="D_33" type="D_33"/>
			<xsd:element name="D_211" type="D_211" minOccurs="0"/>
			<xsd:element name="D_80" type="D_80" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_SDQ">
		<xsd:sequence>
			<xsd:element name="D_355" type="D_355"/>
			<xsd:element name="D_66" type="D_66" minOccurs="0"/>
			<xsd:element name="D_67" type="D_67"/>
			<xsd:element name="D_380" type="D_380"/>
			<xsd:element name="D_67_2" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_2" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_3" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_3" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_4" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_4" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_5" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_5" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_6" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_6" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_7" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_7" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_8" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_8" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_9" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_9" type="D_380" minOccurs="0"/>
			<xsd:element name="D_67_10" type="D_67" minOccurs="0"/>
			<xsd:element name="D_380_10" type="D_380" minOccurs="0"/>
			<xsd:element name="D_310" type="D_310" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_SE">
		<xsd:sequence>
			<xsd:element name="D_96" type="D_96"/>
			<xsd:element name="D_329" type="D_329"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_SPO">
		<xsd:sequence>
			<xsd:element name="D_324" type="D_324"/>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
			<xsd:element name="D_380" type="D_380" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_647" type="D_647" minOccurs="0"/>
			<xsd:element name="D_127_2" type="D_127" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_ST">
		<xsd:sequence>
			<xsd:element name="D_143" type="D_143"/>
			<xsd:element name="D_329" type="D_329"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="D_1035">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1036">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1037">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1038">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1039">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1065">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1073">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_108">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_116">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="3"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_122">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_127">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_128">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1280">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_133">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_140">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_143">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_145">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_152">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_153">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_156">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1570">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1650">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1651">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1652">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1654">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1655">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_166">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="55"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_176">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_183">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_184">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_187">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_188">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_19">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_207">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_211">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_26">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_284">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_309">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_310">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_324">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_327">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_328">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_329">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_33">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_337">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_34">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="\d{1,4}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:pattern value="-\d{1,4}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_350">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_352">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_355">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_364">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_365">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_366">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_367">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_373">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_380">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="-\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="17"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_40">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_432">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_443">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_554">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="-\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_560">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_58">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="\d{1,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="13"/>
					<xsd:pattern value="-\d{1,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_591">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_61">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_619">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_623">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_647">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_66">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_67">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_706">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_71">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_761">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
					<xsd:pattern value="\d{1}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:length value="2"/>
					<xsd:pattern value="-\d{1}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_784">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="-\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_785">
		<xsd:restriction base="xsd:base64Binary">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2147483647"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_786">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_787">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="-\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_788">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:pattern value="\d{1,5}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="-\d{1,5}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_789">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_797">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_799">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_80">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="\d{1,7}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="-\d{1,7}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_800">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_801">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_802">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_803">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_804">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_81">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_87">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="48"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_88">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_91">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_92">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_93">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_933">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="264"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_96">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_98">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>