XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_842^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hci="http://sap.com/hci"
            xmlns="urn:sap.com:ica:typesystem:116:asc_x12:004010"
            xmlns:ica="http://www.sap.com/ica/metameta_schema/metainfo"
            targetNamespace="urn:sap.com:ica:typesystem:116:asc_x12:004010">
   <xsd:element name="M_842">
      <xsd:annotation>
         <xsd:appinfo>
            <hci:resourceinfo>
               <hci:info key="typeSystem" value="ASC-X12"/>
               <hci:info key="typeSystemVersion" value="004010"/>
               <hci:info key="category" value="Template"/>
               <hci:info key="rootNode" value="M_842"/>
               <hci:info key="responsibleAgencyName" value="Accredited Standards Committee X12"/>
               <hci:info key="responsibleAgencyCode" value="116"/>
               <hci:info key="messageType" value="842"/>
               <hci:info key="messageName" value=""/>
               <hci:info key="targetNamespace"
                         value="urn:sap.com:ica:typesystem:116:asc_x12:004010"/>
               <hci:info key="documentNumber" value="/M_842/S_BGN/D_127"/>
            </hci:resourceinfo>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="S_ST" type="S_ST"/>
            <xsd:element name="S_BNR" type="S_BNR"/>
            <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="G_MEA" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_MEA" type="S_MEA"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_PWK" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_PWK" type="S_PWK"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_N1" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_N1" type="S_N1"/>
                     <xsd:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
                     <xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_HL" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="S_HL" type="S_HL"/>
                     <xsd:element name="S_LIN" type="S_LIN" minOccurs="0"/>
                     <xsd:element name="S_PID" type="S_PID" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_PRS" type="S_PRS" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_CID" type="S_CID" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_CS" type="S_CS" minOccurs="0"/>
                     <xsd:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="S_TMD" type="S_TMD" minOccurs="0"/>
                     <xsd:element name="S_PSD" type="S_PSD" minOccurs="0"/>
                     <xsd:element name="S_PWK" type="S_PWK" minOccurs="0" maxOccurs="unbounded"/>
                     <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_LM" type="S_LM"/>
                              <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_MEA" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_MEA" type="S_MEA"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_FA1" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_FA1" type="S_FA1"/>
                              <xsd:element name="S_FA2" type="S_FA2" maxOccurs="unbounded"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_SPS" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_SPS" type="S_SPS"/>
                              <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_PSD" type="S_PSD" minOccurs="0"/>
                              <xsd:element name="G_MEA" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_MEA" type="S_MEA"/>
                                       <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="G_STA" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_STA" type="S_STA"/>
                                       <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="G_NCD" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="S_NCD" type="S_NCD"/>
                              <xsd:element name="S_NTE" type="S_NTE" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_QTY" type="S_QTY" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_AMT" type="S_AMT" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_MEA" type="S_MEA" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="S_RC" type="S_RC" minOccurs="0" maxOccurs="unbounded"/>
                              <xsd:element name="G_EFI" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_EFI" type="S_EFI"/>
                                       <xsd:element name="S_BIN" type="S_BIN"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="G_N1" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_N1" type="S_N1"/>
                                       <xsd:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
                                       <xsd:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
                                       <xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
                                       <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_LM" type="S_LM"/>
                                       <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="G_NCA" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_NCA" type="S_NCA"/>
                                       <xsd:element name="S_NTE" type="S_NTE" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                       <xsd:element name="G_PWK" minOccurs="0" maxOccurs="unbounded">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="S_PWK" type="S_PWK"/>
                                                <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                                <xsd:element name="S_DTM" type="S_DTM" minOccurs="0" maxOccurs="unbounded"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="G_N1" minOccurs="0" maxOccurs="unbounded">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="S_N1" type="S_N1"/>
                                                <xsd:element name="S_N2" type="S_N2" minOccurs="0" maxOccurs="2"/>
                                                <xsd:element name="S_N3" type="S_N3" minOccurs="0" maxOccurs="2"/>
                                                <xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
                                                <xsd:element name="S_REF" type="S_REF" minOccurs="0" maxOccurs="unbounded"/>
                                                <xsd:element name="S_PER" type="S_PER" minOccurs="0" maxOccurs="unbounded"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="G_LM" minOccurs="0" maxOccurs="unbounded">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="S_LM" type="S_LM"/>
                                                <xsd:element name="S_LQ" type="S_LQ" maxOccurs="unbounded"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="G_FA1" minOccurs="0" maxOccurs="unbounded">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="S_FA1" type="S_FA1"/>
                                       <xsd:element name="S_FA2" type="S_FA2" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="S_SE" type="S_SE"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="S_ST">
      <xsd:sequence>
         <xsd:element name="D_143" type="D_143"/>
         <xsd:element name="D_329" type="D_329"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_BNR">
      <xsd:sequence>
         <xsd:element name="D_353" type="D_353"/>
         <xsd:element name="D_127" type="D_127"/>
         <xsd:element name="D_373" type="D_373"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_886" type="D_886" minOccurs="0"/>
         <xsd:element name="D_640" type="D_640" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_REF">
      <xsd:sequence>
         <xsd:element name="D_128" type="D_128"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="C_C040" type="C_C040" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_DTM">
      <xsd:sequence>
         <xsd:element name="D_374" type="D_374"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_337" type="D_337" minOccurs="0"/>
         <xsd:element name="D_623" type="D_623" minOccurs="0"/>
         <xsd:element name="D_1250" type="D_1250" minOccurs="0"/>
         <xsd:element name="D_1251" type="D_1251" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PID">
      <xsd:sequence>
         <xsd:element name="D_349" type="D_349"/>
         <xsd:element name="D_750" type="D_750" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_751" type="D_751" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_752" type="D_752" minOccurs="0"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
         <xsd:element name="D_819" type="D_819" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_MEA">
      <xsd:sequence>
         <xsd:element name="D_737" type="D_737" minOccurs="0"/>
         <xsd:element name="D_738" type="D_738" minOccurs="0"/>
         <xsd:element name="D_739" type="D_739" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_740" type="D_740" minOccurs="0"/>
         <xsd:element name="D_741" type="D_741" minOccurs="0"/>
         <xsd:element name="D_935" type="D_935" minOccurs="0"/>
         <xsd:element name="D_936" type="D_936" minOccurs="0"/>
         <xsd:element name="D_752" type="D_752" minOccurs="0"/>
         <xsd:element name="D_1373" type="D_1373" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PWK">
      <xsd:sequence>
         <xsd:element name="D_755" type="D_755"/>
         <xsd:element name="D_756" type="D_756" minOccurs="0"/>
         <xsd:element name="D_757" type="D_757" minOccurs="0"/>
         <xsd:element name="D_98" type="D_98" minOccurs="0"/>
         <xsd:element name="D_66" type="D_66" minOccurs="0"/>
         <xsd:element name="D_67" type="D_67" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="C_C002" type="C_C002" minOccurs="0"/>
         <xsd:element name="D_1525" type="D_1525" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N1">
      <xsd:sequence>
         <xsd:element name="D_98" type="D_98"/>
         <xsd:element name="D_93" type="D_93" minOccurs="0"/>
         <xsd:element name="D_66" type="D_66" minOccurs="0"/>
         <xsd:element name="D_67" type="D_67" minOccurs="0"/>
         <xsd:element name="D_706" type="D_706" minOccurs="0"/>
         <xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N2">
      <xsd:sequence>
         <xsd:element name="D_93" type="D_93"/>
         <xsd:element name="D_93_2" type="D_93" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N3">
      <xsd:sequence>
         <xsd:element name="D_166" type="D_166"/>
         <xsd:element name="D_166_2" type="D_166" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_N4">
      <xsd:sequence>
         <xsd:element name="D_19" type="D_19" minOccurs="0"/>
         <xsd:element name="D_156" type="D_156" minOccurs="0"/>
         <xsd:element name="D_116" type="D_116" minOccurs="0"/>
         <xsd:element name="D_26" type="D_26" minOccurs="0"/>
         <xsd:element name="D_309" type="D_309" minOccurs="0"/>
         <xsd:element name="D_310" type="D_310" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PER">
      <xsd:sequence>
         <xsd:element name="D_366" type="D_366"/>
         <xsd:element name="D_93" type="D_93" minOccurs="0"/>
         <xsd:element name="D_365" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364" type="D_364" minOccurs="0"/>
         <xsd:element name="D_365_2" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364_2" type="D_364" minOccurs="0"/>
         <xsd:element name="D_365_3" type="D_365" minOccurs="0"/>
         <xsd:element name="D_364_3" type="D_364" minOccurs="0"/>
         <xsd:element name="D_443" type="D_443" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_HL">
      <xsd:sequence>
         <xsd:element name="D_628" type="D_628"/>
         <xsd:element name="D_734" type="D_734" minOccurs="0"/>
         <xsd:element name="D_735" type="D_735"/>
         <xsd:element name="D_736" type="D_736" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LIN">
      <xsd:sequence>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_235" type="D_235"/>
         <xsd:element name="D_234" type="D_234"/>
         <xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_4" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_4" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_5" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_5" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_6" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_6" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_7" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_7" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_8" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_8" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_9" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_9" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_10" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_10" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_11" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_11" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_12" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_12" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_13" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_13" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_14" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_14" type="D_234" minOccurs="0"/>
         <xsd:element name="D_235_15" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234_15" type="D_234" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PRS">
      <xsd:sequence>
         <xsd:element name="D_682" type="D_682"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CID">
      <xsd:sequence>
         <xsd:element name="D_738" type="D_738" minOccurs="0"/>
         <xsd:element name="D_750" type="D_750" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_751" type="D_751" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_CS">
      <xsd:sequence>
         <xsd:element name="D_367" type="D_367" minOccurs="0"/>
         <xsd:element name="D_327" type="D_327" minOccurs="0"/>
         <xsd:element name="D_328" type="D_328" minOccurs="0"/>
         <xsd:element name="D_128" type="D_128" minOccurs="0"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_324" type="D_324" minOccurs="0"/>
         <xsd:element name="D_560" type="D_560" minOccurs="0"/>
         <xsd:element name="D_433" type="D_433" minOccurs="0"/>
         <xsd:element name="D_954" type="D_954" minOccurs="0"/>
         <xsd:element name="D_954_2" type="D_954" minOccurs="0"/>
         <xsd:element name="D_782" type="D_782" minOccurs="0"/>
         <xsd:element name="D_336" type="D_336" minOccurs="0"/>
         <xsd:element name="D_560_2" type="D_560" minOccurs="0"/>
         <xsd:element name="D_355" type="D_355" minOccurs="0"/>
         <xsd:element name="D_212" type="D_212" minOccurs="0"/>
         <xsd:element name="D_336_2" type="D_336" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
         <xsd:element name="D_1073_2" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_QTY">
      <xsd:sequence>
         <xsd:element name="D_673" type="D_673"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_61" type="D_61" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_TMD">
      <xsd:sequence>
         <xsd:element name="D_750" type="D_750" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_751" type="D_751" minOccurs="0"/>
         <xsd:element name="D_937" type="D_937" minOccurs="0"/>
         <xsd:element name="D_938" type="D_938" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_373" type="D_373" minOccurs="0"/>
         <xsd:element name="D_127" type="D_127" minOccurs="0"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_PSD">
      <xsd:sequence>
         <xsd:element name="D_939" type="D_939" minOccurs="0"/>
         <xsd:element name="D_940" type="D_940" minOccurs="0"/>
         <xsd:element name="D_942" type="D_942" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_943" type="D_943" minOccurs="0"/>
         <xsd:element name="D_944" type="D_944" minOccurs="0"/>
         <xsd:element name="D_945" type="D_945" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_1167" type="D_1167" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LM">
      <xsd:sequence>
         <xsd:element name="D_559" type="D_559"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_LQ">
      <xsd:sequence>
         <xsd:element name="D_1270" type="D_1270" minOccurs="0"/>
         <xsd:element name="D_1271" type="D_1271" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_FA1">
      <xsd:sequence>
         <xsd:element name="D_559" type="D_559"/>
         <xsd:element name="D_1300" type="D_1300" minOccurs="0"/>
         <xsd:element name="D_248" type="D_248" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_FA2">
      <xsd:sequence>
         <xsd:element name="D_1196" type="D_1196"/>
         <xsd:element name="D_1195" type="D_1195"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SPS">
      <xsd:sequence>
         <xsd:element name="D_609" type="D_609" minOccurs="0"/>
         <xsd:element name="D_609_2" type="D_609" minOccurs="0"/>
         <xsd:element name="D_609_3" type="D_609" minOccurs="0"/>
         <xsd:element name="D_949" type="D_949" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_942" type="D_942" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_STA">
      <xsd:sequence>
         <xsd:element name="D_950" type="D_950"/>
         <xsd:element name="D_739" type="D_739"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
         <xsd:element name="D_738" type="D_738" minOccurs="0"/>
         <xsd:element name="D_737" type="D_737" minOccurs="0"/>
         <xsd:element name="D_740" type="D_740" minOccurs="0"/>
         <xsd:element name="D_741" type="D_741" minOccurs="0"/>
         <xsd:element name="D_935" type="D_935" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_NCD">
      <xsd:sequence>
         <xsd:element name="D_936" type="D_936" minOccurs="0"/>
         <xsd:element name="D_888" type="D_888" minOccurs="0"/>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_750" type="D_750" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_751" type="D_751" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_NTE">
      <xsd:sequence>
         <xsd:element name="D_363" type="D_363" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_AMT">
      <xsd:sequence>
         <xsd:element name="D_522" type="D_522"/>
         <xsd:element name="D_782" type="D_782"/>
         <xsd:element name="D_478" type="D_478" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_RC">
      <xsd:sequence>
         <xsd:element name="D_235" type="D_235" minOccurs="0"/>
         <xsd:element name="D_234" type="D_234" minOccurs="0"/>
         <xsd:element name="D_93" type="D_93" minOccurs="0"/>
         <xsd:element name="D_559" type="D_559" minOccurs="0"/>
         <xsd:element name="D_822" type="D_822" minOccurs="0"/>
         <xsd:element name="D_1228" type="D_1228" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_933" type="D_933" minOccurs="0"/>
         <xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_EFI">
      <xsd:sequence>
         <xsd:element name="D_786" type="D_786"/>
         <xsd:element name="D_933" type="D_933" minOccurs="0"/>
         <xsd:element name="D_797" type="D_797" minOccurs="0"/>
         <xsd:element name="D_799" type="D_799" minOccurs="0"/>
         <xsd:element name="D_802" type="D_802" minOccurs="0"/>
         <xsd:element name="D_799_2" type="D_799" minOccurs="0"/>
         <xsd:element name="D_801" type="D_801" minOccurs="0"/>
         <xsd:element name="D_799_3" type="D_799" minOccurs="0"/>
         <xsd:element name="D_800" type="D_800" minOccurs="0"/>
         <xsd:element name="D_789" type="D_789" minOccurs="0"/>
         <xsd:element name="D_803" type="D_803" minOccurs="0"/>
         <xsd:element name="D_804" type="D_804" minOccurs="0"/>
         <xsd:element name="D_787" type="D_787" minOccurs="0"/>
         <xsd:element name="D_788" type="D_788" minOccurs="0"/>
         <xsd:element name="D_799_4" type="D_799" minOccurs="0"/>
         <xsd:element name="D_1570" type="D_1570" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_BIN">
      <xsd:sequence>
         <xsd:element name="D_784" type="D_784"/>
         <xsd:element name="D_785" type="D_785"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_NCA">
      <xsd:sequence>
         <xsd:element name="D_350" type="D_350" minOccurs="0"/>
         <xsd:element name="D_887" type="D_887" minOccurs="0"/>
         <xsd:element name="D_352" type="D_352" minOccurs="0"/>
         <xsd:element name="D_380" type="D_380" minOccurs="0"/>
         <xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="S_SE">
      <xsd:sequence>
         <xsd:element name="D_96" type="D_96"/>
         <xsd:element name="D_329" type="D_329"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="C_C040">
      <xsd:sequence>
         <xsd:element name="D_128" type="D_128"/>
         <xsd:element name="D_127" type="D_127"/>
         <xsd:element name="D_128_2" type="D_128" minOccurs="0"/>
         <xsd:element name="D_127_2" type="D_127" minOccurs="0"/>
         <xsd:element name="D_128_3" type="D_128" minOccurs="0"/>
         <xsd:element name="D_127_3" type="D_127" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="C_C001">
      <xsd:sequence>
         <xsd:element name="D_355" type="D_355"/>
         <xsd:element name="D_1018" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_2" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_2" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_3" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_3" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_4" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_4" type="D_649" minOccurs="0"/>
         <xsd:element name="D_355_5" type="D_355" minOccurs="0"/>
         <xsd:element name="D_1018_5" type="D_1018" minOccurs="0"/>
         <xsd:element name="D_649_5" type="D_649" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="C_C002">
      <xsd:sequence>
         <xsd:element name="D_704" type="D_704"/>
         <xsd:element name="D_704_2" type="D_704" minOccurs="0"/>
         <xsd:element name="D_704_3" type="D_704" minOccurs="0"/>
         <xsd:element name="D_704_4" type="D_704" minOccurs="0"/>
         <xsd:element name="D_704_5" type="D_704" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="D_143">
      <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_329">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="4"/>
         <xsd:maxLength value="9"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_353">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_127">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_373">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_337">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_886">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_640">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_128">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_352">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_374">
      <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_623">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1250">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1251">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_349">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_750">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_559">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_751">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_752">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_822">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1073">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_819">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_737">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_738">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_739">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_740">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_741">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_935">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_936">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1373">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_755">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_756">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_757">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_98">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_66">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_67">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1525">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_93">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="60"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_706">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_166">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="55"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_19">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_156">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_116">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="3"/>
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_26">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_309">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_310">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_366">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_365">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_364">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_443">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_628">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_734">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_735">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_736">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_350">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="20"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_235">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_234">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="48"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_682">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_367">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_327">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_328">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_324">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="22"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_560">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="2"/>
         <xsd:maxLength value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_433">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_954">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_782">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="18"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_336">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_355">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_212">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="17"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_673">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_380">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_61">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_937">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_938">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_939">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_940">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_942">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_943">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_944">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_945">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1167">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="6"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1270">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1271">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1300">
      <xsd:restriction base="xsd:token">
         <xsd:length value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_248">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1196">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1195">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="80"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_609">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_949">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_950">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_888">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_363">
      <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_522">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_478">
      <xsd:restriction base="xsd:token">
         <xsd:length value="1"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_1228">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_933">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="264"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_786">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_797">
      <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_799">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_802">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_801">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_800">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="30"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_789">
      <xsd:restriction base="xsd:string">
         <xsd:length value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_803">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="64"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_804">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_787">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_788">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_1570">
      <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_784">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_785">
      <xsd:restriction base="xsd:base64Binary"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_887">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_96">
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="D_1018">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_649">
      <xsd:restriction base="xsd:decimal">
         <xsd:totalDigits value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="D_704">
      <xsd:restriction base="xsd:token">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
