XSPEC_HOME/Supplier/schemas/X12/SCHEMA_ASC-X12_004010_204^.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hci="http://sap.com/hci" xmlns="urn:sap.com:typesystem:b2b:116:asc-x12" targetNamespace="urn:sap.com:typesystem:b2b:116:asc-x12">
	<xsd:element name="M_204">
		<xsd:annotation>
			<xsd:appinfo>
				<hci:resourceinfo>
					<hci:info key="typeSystem" value="ASC-X12"/>
					<hci:info key="typeSystemVersion" value="004010"/>
					<hci:info key="category" value="Template"/>
					<hci:info key="rootNode" value="M_204"/>
					<hci:info key="responsibleAgencyName" value="Accredited Standards Committee X12"/>
					<hci:info key="responsibleAgencyCode" value="116"/>
					<hci:info key="messageType" value="204"/>
					<hci:info key="messageName" value="Price/Sales Catalog"/>
					<hci:info key="targetNamespace" value="urn:sap.com:typesystem:b2b:116:asc-x12"/>
					<hci:info key="documentNumber" value="M_204/S_B2/D_145"/>
				</hci:resourceinfo>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="S_ST" type="S_ST"/>
				<xsd:element name="S_B2" type="S_B2"/>
				<xsd:element name="S_B2A" type="S_B2A"/>
				<xsd:element name="S_L11" type="S_L11" minOccurs="0" maxOccurs="50"/>
				<xsd:element name="S_G62" type="S_G62" minOccurs="0"/>
				<xsd:element name="S_MS3" type="S_MS3" minOccurs="0"/>
				<xsd:element name="S_AT5" type="S_AT5" minOccurs="0" maxOccurs="6"/>
				<xsd:element name="S_PLD" type="S_PLD" minOccurs="0"/>
				<xsd:element name="S_LH6" type="S_LH6" minOccurs="0"/>
				<xsd:element name="S_NTE" type="S_NTE" minOccurs="0" maxOccurs="10"/>
				<xsd:element name="G_0100" minOccurs="0" maxOccurs="5">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_N1" type="S_N1"/>
							<xsd:element name="S_N2" type="S_N2" minOccurs="0"/>
							<xsd:element name="S_N3" type="S_N3" minOccurs="0"/>
							<xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
							<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
							<xsd:element name="S_G61" type="S_G61" minOccurs="0" maxOccurs="3"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="G_0200" minOccurs="0" maxOccurs="10">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_N7" type="S_N7"/>
							<xsd:element name="S_N7A" type="S_N7A" minOccurs="0"/>
							<xsd:element name="S_N7B" type="S_N7B" minOccurs="0"/>
							<xsd:element name="S_MEA" type="S_MEA" minOccurs="0"/>
							<xsd:element name="S_M7" type="S_M7" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="G_0300" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="S_S5" type="S_S5"/>
							<xsd:element name="S_L11" type="S_L11" minOccurs="0" maxOccurs="50"/>
							<xsd:element name="S_G62" type="S_G62" minOccurs="0" maxOccurs="2"/>
							<xsd:element name="S_AT8" type="S_AT8" minOccurs="0"/>
							<xsd:element name="S_LAD" type="S_LAD" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="S_AT5" type="S_AT5" minOccurs="0" maxOccurs="6"/>
							<xsd:element name="S_PLD" type="S_PLD" minOccurs="0"/>
							<xsd:element name="S_NTE" type="S_NTE" minOccurs="0" maxOccurs="20"/>
							<xsd:element name="G_0310" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_N1" type="S_N1"/>
										<xsd:element name="S_N2" type="S_N2" minOccurs="0"/>
										<xsd:element name="S_N3" type="S_N3" minOccurs="0"/>
										<xsd:element name="S_N4" type="S_N4" minOccurs="0"/>
										<xsd:element name="S_G61" type="S_G61" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0320" minOccurs="0" maxOccurs="99">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_L5" type="S_L5"/>
										<xsd:element name="S_AT8" type="S_AT8" minOccurs="0"/>
										<xsd:element name="G_0325" minOccurs="0" maxOccurs="99">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_G61" type="S_G61"/>
													<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
													<xsd:element name="S_LH6" type="S_LH6" minOccurs="0"/>
													<xsd:element name="G_0330" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="S_LH1" type="S_LH1"/>
																<xsd:element name="S_LH2" type="S_LH2" minOccurs="0"/>
																<xsd:element name="S_LH3" type="S_LH3" minOccurs="0"/>
																<xsd:element name="S_LFH" type="S_LFH" minOccurs="0"/>
																<xsd:element name="S_LEP" type="S_LEP" minOccurs="0"/>
																<xsd:element name="S_LH4" type="S_LH4" minOccurs="0"/>
																<xsd:element name="S_LHT" type="S_LHT" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0350" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_OID" type="S_OID"/>
										<xsd:element name="S_G62" type="S_G62" minOccurs="0"/>
										<xsd:element name="S_LAD" type="S_LAD" minOccurs="0"/>
										<xsd:element name="G_0360" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="S_L5" type="S_L5"/>
													<xsd:element name="S_AT8" type="S_AT8" minOccurs="0"/>
													<xsd:element name="G_0365" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="S_G61" type="S_G61"/>
																<xsd:element name="S_L11" type="S_L11" minOccurs="0"/>
																<xsd:element name="S_LH6" type="S_LH6" minOccurs="0"/>
																<xsd:element name="G_0370" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="S_LH1" type="S_LH1"/>
																			<xsd:element name="S_LH2" type="S_LH2" minOccurs="0"/>
																			<xsd:element name="S_LH3" type="S_LH3" minOccurs="0"/>
																			<xsd:element name="S_LFH" type="S_LFH" minOccurs="0"/>
																			<xsd:element name="S_LEP" type="S_LEP" minOccurs="0"/>
																			<xsd:element name="S_LH4" type="S_LH4" minOccurs="0"/>
																			<xsd:element name="S_LHT" type="S_LHT" minOccurs="0"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="G_0380" minOccurs="0" maxOccurs="10">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="S_N7" type="S_N7"/>
										<xsd:element name="S_N7A" type="S_N7A" minOccurs="0"/>
										<xsd:element name="S_N7B" type="S_N7B" minOccurs="0"/>
										<xsd:element name="S_MEA" type="S_MEA" minOccurs="0"/>
										<xsd:element name="S_M7" type="S_M7" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="S_L3" type="S_L3" minOccurs="0"/>
				<xsd:element name="S_SE" type="S_SE"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="C_C001">
		<xsd:sequence>
			<xsd:element name="D_355" type="D_355"/>
			<xsd:element name="D_1018" type="D_1018" minOccurs="0"/>
			<xsd:element name="D_649" type="D_649" minOccurs="0"/>
			<xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xsd:element name="D_1018_2" type="D_1018" minOccurs="0"/>
			<xsd:element name="D_649_2" type="D_649" minOccurs="0"/>
			<xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xsd:element name="D_1018_3" type="D_1018" minOccurs="0"/>
			<xsd:element name="D_649_3" type="D_649" minOccurs="0"/>
			<xsd:element name="D_355_4" type="D_355" minOccurs="0"/>
			<xsd:element name="D_1018_4" type="D_1018" minOccurs="0"/>
			<xsd:element name="D_649_4" type="D_649" minOccurs="0"/>
			<xsd:element name="D_355_5" type="D_355" minOccurs="0"/>
			<xsd:element name="D_1018_5" type="D_1018" minOccurs="0"/>
			<xsd:element name="D_649_5" type="D_649" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_AT5">
		<xsd:sequence>
			<xsd:element name="D_152" type="D_152" minOccurs="0"/>
			<xsd:element name="D_560" type="D_560" minOccurs="0"/>
			<xsd:element name="D_153" type="D_153" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_AT8">
		<xsd:sequence>
			<xsd:element name="D_187" type="D_187" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_80" type="D_80" minOccurs="0"/>
			<xsd:element name="D_80_2" type="D_80" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_B2">
		<xsd:sequence>
			<xsd:element name="D_375" type="D_375" minOccurs="0"/>
			<xsd:element name="D_140" type="D_140" minOccurs="0"/>
			<xsd:element name="D_154" type="D_154" minOccurs="0"/>
			<xsd:element name="D_145" type="D_145" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_146" type="D_146"/>
			<xsd:element name="D_147" type="D_147" minOccurs="0"/>
			<xsd:element name="D_86" type="D_86" minOccurs="0"/>
			<xsd:element name="D_460" type="D_460" minOccurs="0"/>
			<xsd:element name="D_501" type="D_501" minOccurs="0"/>
			<xsd:element name="D_335" type="D_335" minOccurs="0"/>
			<xsd:element name="D_591" type="D_591" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_B2A">
		<xsd:sequence>
			<xsd:element name="D_353" type="D_353"/>
			<xsd:element name="D_346" type="D_346" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_G61">
		<xsd:sequence>
			<xsd:element name="D_366" type="D_366"/>
			<xsd:element name="D_93" type="D_93"/>
			<xsd:element name="D_365" type="D_365" minOccurs="0"/>
			<xsd:element name="D_364" type="D_364" minOccurs="0"/>
			<xsd:element name="D_443" type="D_443" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_G62">
		<xsd:sequence>
			<xsd:element name="D_432" type="D_432" minOccurs="0"/>
			<xsd:element name="D_373" type="D_373" minOccurs="0"/>
			<xsd:element name="D_176" type="D_176" minOccurs="0"/>
			<xsd:element name="D_337" type="D_337" minOccurs="0"/>
			<xsd:element name="D_623" type="D_623" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_L11">
		<xsd:sequence>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
			<xsd:element name="D_128" type="D_128" minOccurs="0"/>
			<xsd:element name="D_352" type="D_352" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_L3">
		<xsd:sequence>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_187" type="D_187" minOccurs="0"/>
			<xsd:element name="D_60" type="D_60" minOccurs="0"/>
			<xsd:element name="D_122" type="D_122" minOccurs="0"/>
			<xsd:element name="D_58" type="D_58" minOccurs="0"/>
			<xsd:element name="D_191" type="D_191" minOccurs="0"/>
			<xsd:element name="D_117" type="D_117" minOccurs="0"/>
			<xsd:element name="D_150" type="D_150" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_80" type="D_80" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_171" type="D_171" minOccurs="0"/>
			<xsd:element name="D_74" type="D_74" minOccurs="0"/>
			<xsd:element name="D_122_2" type="D_122" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_L5">
		<xsd:sequence>
			<xsd:element name="D_213" type="D_213" minOccurs="0"/>
			<xsd:element name="D_79" type="D_79" minOccurs="0"/>
			<xsd:element name="D_22" type="D_22" minOccurs="0"/>
			<xsd:element name="D_23" type="D_23" minOccurs="0"/>
			<xsd:element name="D_103" type="D_103" minOccurs="0"/>
			<xsd:element name="D_87" type="D_87" minOccurs="0"/>
			<xsd:element name="D_88" type="D_88" minOccurs="0"/>
			<xsd:element name="D_23_2" type="D_23" minOccurs="0"/>
			<xsd:element name="D_22_2" type="D_22" minOccurs="0"/>
			<xsd:element name="D_595" type="D_595" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LAD">
		<xsd:sequence>
			<xsd:element name="D_211" type="D_211" minOccurs="0"/>
			<xsd:element name="D_80" type="D_80" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_395" type="D_395" minOccurs="0"/>
			<xsd:element name="D_188_2" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_235" type="D_235" minOccurs="0"/>
			<xsd:element name="D_234" type="D_234" minOccurs="0"/>
			<xsd:element name="D_235_2" type="D_235" minOccurs="0"/>
			<xsd:element name="D_234_2" type="D_234" minOccurs="0"/>
			<xsd:element name="D_235_3" type="D_235" minOccurs="0"/>
			<xsd:element name="D_234_3" type="D_234" minOccurs="0"/>
			<xsd:element name="D_79" type="D_79" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LEP">
		<xsd:sequence>
			<xsd:element name="D_806" type="D_806" minOccurs="0"/>
			<xsd:element name="D_807" type="D_807" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LFH">
		<xsd:sequence>
			<xsd:element name="D_808" type="D_808"/>
			<xsd:element name="D_809" type="D_809"/>
			<xsd:element name="D_809_2" type="D_809" minOccurs="0"/>
			<xsd:element name="D_1023" type="D_1023" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
			<xsd:element name="D_380" type="D_380" minOccurs="0"/>
			<xsd:element name="D_380_2" type="D_380" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LH1">
		<xsd:sequence>
			<xsd:element name="D_355" type="D_355"/>
			<xsd:element name="D_80" type="D_80"/>
			<xsd:element name="D_277" type="D_277" minOccurs="0"/>
			<xsd:element name="D_200" type="D_200" minOccurs="0"/>
			<xsd:element name="D_22" type="D_22" minOccurs="0"/>
			<xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xsd:element name="D_380" type="D_380" minOccurs="0"/>
			<xsd:element name="D_595" type="D_595" minOccurs="0"/>
			<xsd:element name="D_665" type="D_665" minOccurs="0"/>
			<xsd:element name="D_254" type="D_254" minOccurs="0"/>
			<xsd:element name="D_1375" type="D_1375" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LH2">
		<xsd:sequence>
			<xsd:element name="D_215" type="D_215" minOccurs="0"/>
			<xsd:element name="D_983" type="D_983" minOccurs="0"/>
			<xsd:element name="D_218" type="D_218" minOccurs="0"/>
			<xsd:element name="D_222" type="D_222" minOccurs="0"/>
			<xsd:element name="D_759" type="D_759" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
			<xsd:element name="D_408" type="D_408" minOccurs="0"/>
			<xsd:element name="D_355_2" type="D_355" minOccurs="0"/>
			<xsd:element name="D_408_2" type="D_408" minOccurs="0"/>
			<xsd:element name="D_355_3" type="D_355" minOccurs="0"/>
			<xsd:element name="D_408_3" type="D_408" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LH3">
		<xsd:sequence>
			<xsd:element name="D_224" type="D_224" minOccurs="0"/>
			<xsd:element name="D_984" type="D_984" minOccurs="0"/>
			<xsd:element name="D_985" type="D_985" minOccurs="0"/>
			<xsd:element name="D_1073" type="D_1073" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LH4">
		<xsd:sequence>
			<xsd:element name="D_238" type="D_238" minOccurs="0"/>
			<xsd:element name="D_364" type="D_364" minOccurs="0"/>
			<xsd:element name="D_254" type="D_254" minOccurs="0"/>
			<xsd:element name="D_230" type="D_230" minOccurs="0"/>
			<xsd:element name="D_230_2" type="D_230" minOccurs="0"/>
			<xsd:element name="D_230_3" type="D_230" minOccurs="0"/>
			<xsd:element name="D_271" type="D_271" minOccurs="0"/>
			<xsd:element name="D_267" type="D_267" minOccurs="0"/>
			<xsd:element name="D_805" type="D_805" minOccurs="0"/>
			<xsd:element name="D_986" type="D_986" minOccurs="0"/>
			<xsd:element name="D_364_2" type="D_364" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LH6">
		<xsd:sequence>
			<xsd:element name="D_93" type="D_93" minOccurs="0"/>
			<xsd:element name="D_272" type="D_272" minOccurs="0"/>
			<xsd:element name="D_273" type="D_273" minOccurs="0"/>
			<xsd:element name="D_273_2" type="D_273" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_LHT">
		<xsd:sequence>
			<xsd:element name="D_215" type="D_215" minOccurs="0"/>
			<xsd:element name="D_218" type="D_218" minOccurs="0"/>
			<xsd:element name="D_222" type="D_222" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_M7">
		<xsd:sequence>
			<xsd:element name="D_225" type="D_225"/>
			<xsd:element name="D_225_2" type="D_225" minOccurs="0"/>
			<xsd:element name="D_225_3" type="D_225" minOccurs="0"/>
			<xsd:element name="D_225_4" type="D_225" minOccurs="0"/>
			<xsd:element name="D_98" type="D_98" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MEA">
		<xsd:sequence>
			<xsd:element name="D_737" type="D_737" minOccurs="0"/>
			<xsd:element name="D_738" type="D_738" minOccurs="0"/>
			<xsd:element name="D_739" type="D_739" minOccurs="0"/>
			<xsd:element name="C_C001" type="C_C001" minOccurs="0"/>
			<xsd:element name="D_740" type="D_740" minOccurs="0"/>
			<xsd:element name="D_741" type="D_741" minOccurs="0"/>
			<xsd:element name="D_935" type="D_935" minOccurs="0"/>
			<xsd:element name="D_936" type="D_936" minOccurs="0"/>
			<xsd:element name="D_752" type="D_752" minOccurs="0"/>
			<xsd:element name="D_1373" type="D_1373" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_MS3">
		<xsd:sequence>
			<xsd:element name="D_140" type="D_140"/>
			<xsd:element name="D_133" type="D_133"/>
			<xsd:element name="D_19" type="D_19" minOccurs="0"/>
			<xsd:element name="D_91" type="D_91" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N1">
		<xsd:sequence>
			<xsd:element name="D_98" type="D_98"/>
			<xsd:element name="D_93" type="D_93" minOccurs="0"/>
			<xsd:element name="D_66" type="D_66" minOccurs="0"/>
			<xsd:element name="D_67" type="D_67" minOccurs="0"/>
			<xsd:element name="D_706" type="D_706" minOccurs="0"/>
			<xsd:element name="D_98_2" type="D_98" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N2">
		<xsd:sequence>
			<xsd:element name="D_93" type="D_93"/>
			<xsd:element name="D_93_2" type="D_93" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N3">
		<xsd:sequence>
			<xsd:element name="D_166" type="D_166"/>
			<xsd:element name="D_166_2" type="D_166" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N4">
		<xsd:sequence>
			<xsd:element name="D_19" type="D_19" minOccurs="0"/>
			<xsd:element name="D_156" type="D_156" minOccurs="0"/>
			<xsd:element name="D_116" type="D_116" minOccurs="0"/>
			<xsd:element name="D_26" type="D_26" minOccurs="0"/>
			<xsd:element name="D_309" type="D_309" minOccurs="0"/>
			<xsd:element name="D_310" type="D_310" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N7">
		<xsd:sequence>
			<xsd:element name="D_206" type="D_206" minOccurs="0"/>
			<xsd:element name="D_207" type="D_207"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_187" type="D_187" minOccurs="0"/>
			<xsd:element name="D_167" type="D_167" minOccurs="0"/>
			<xsd:element name="D_232" type="D_232" minOccurs="0"/>
			<xsd:element name="D_205" type="D_205" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_102" type="D_102" minOccurs="0"/>
			<xsd:element name="D_40" type="D_40" minOccurs="0"/>
			<xsd:element name="D_140" type="D_140" minOccurs="0"/>
			<xsd:element name="D_319" type="D_319" minOccurs="0"/>
			<xsd:element name="D_219" type="D_219" minOccurs="0"/>
			<xsd:element name="D_567" type="D_567" minOccurs="0"/>
			<xsd:element name="D_571" type="D_571" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_761" type="D_761" minOccurs="0"/>
			<xsd:element name="D_56_2" type="D_56" minOccurs="0"/>
			<xsd:element name="D_65" type="D_65" minOccurs="0"/>
			<xsd:element name="D_189" type="D_189" minOccurs="0"/>
			<xsd:element name="D_24" type="D_24" minOccurs="0"/>
			<xsd:element name="D_140_2" type="D_140" minOccurs="0"/>
			<xsd:element name="D_301" type="D_301" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N7A">
		<xsd:sequence>
			<xsd:element name="D_1042" type="D_1042" minOccurs="0"/>
			<xsd:element name="D_82" type="D_82" minOccurs="0"/>
			<xsd:element name="D_1043" type="D_1043" minOccurs="0"/>
			<xsd:element name="D_1044" type="D_1044" minOccurs="0"/>
			<xsd:element name="D_1043_2" type="D_1043" minOccurs="0"/>
			<xsd:element name="D_1043_3" type="D_1043" minOccurs="0"/>
			<xsd:element name="D_1045" type="D_1045" minOccurs="0"/>
			<xsd:element name="D_1046" type="D_1046" minOccurs="0"/>
			<xsd:element name="D_1047" type="D_1047" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_N7B">
		<xsd:sequence>
			<xsd:element name="D_1024" type="D_1024" minOccurs="0"/>
			<xsd:element name="D_1025" type="D_1025" minOccurs="0"/>
			<xsd:element name="D_1026" type="D_1026" minOccurs="0"/>
			<xsd:element name="D_1030" type="D_1030" minOccurs="0"/>
			<xsd:element name="D_1031" type="D_1031" minOccurs="0"/>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_NTE">
		<xsd:sequence>
			<xsd:element name="D_363" type="D_363" minOccurs="0"/>
			<xsd:element name="D_352" type="D_352"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_OID">
		<xsd:sequence>
			<xsd:element name="D_127" type="D_127" minOccurs="0"/>
			<xsd:element name="D_324" type="D_324" minOccurs="0"/>
			<xsd:element name="D_127_2" type="D_127" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
			<xsd:element name="D_380" type="D_380" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_PLD">
		<xsd:sequence>
			<xsd:element name="D_406" type="D_406"/>
			<xsd:element name="D_399" type="D_399" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_S5">
		<xsd:sequence>
			<xsd:element name="D_165" type="D_165"/>
			<xsd:element name="D_163" type="D_163"/>
			<xsd:element name="D_81" type="D_81" minOccurs="0"/>
			<xsd:element name="D_188" type="D_188" minOccurs="0"/>
			<xsd:element name="D_382" type="D_382" minOccurs="0"/>
			<xsd:element name="D_355" type="D_355" minOccurs="0"/>
			<xsd:element name="D_183" type="D_183" minOccurs="0"/>
			<xsd:element name="D_184" type="D_184" minOccurs="0"/>
			<xsd:element name="D_352" type="D_352" minOccurs="0"/>
			<xsd:element name="D_154" type="D_154" minOccurs="0"/>
			<xsd:element name="D_190" type="D_190" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_SE">
		<xsd:sequence>
			<xsd:element name="D_96" type="D_96"/>
			<xsd:element name="D_329" type="D_329"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="S_ST">
		<xsd:sequence>
			<xsd:element name="D_143" type="D_143"/>
			<xsd:element name="D_329" type="D_329"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="D_1018">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="-\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="17"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_102">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1023">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1024">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:pattern value="\d{1,2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="-\d{1,2}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_1025">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1026">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_103">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="3"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1030">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1031">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1042">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1043">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:pattern value="\d{1,2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="-\d{1,2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_1044">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1045">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1046">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1047">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1073">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_116">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="3"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_117">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_122">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_127">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_128">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_133">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1373">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_1375">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_140">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_143">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_145">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_146">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_147">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_150">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_152">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_153">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_154">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="6"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_156">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_163">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_165">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_166">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="55"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_167">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{3,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{3,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_171">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_176">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_183">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_184">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_187">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_188">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_189">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_19">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_190">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_191">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_200">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_205">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="-\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_206">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_207">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_211">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_213">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_215">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_218">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="14"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_219">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_22">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_222">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_224">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_225">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_23">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_230">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_232">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="\d{2,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="-\d{2,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_234">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="48"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_235">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_238">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_24">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_254">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_26">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_267">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="-\d{1,6}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_271">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_272">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_273">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_277">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_301">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_309">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_310">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_319">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="3"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_324">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_329">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_335">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_337">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_346">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_352">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_353">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_355">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_363">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_364">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_365">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_366">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_373">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_375">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_380">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="-\d{1,15}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="16"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="17"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_382">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_395">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_399">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_40">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_406">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_408">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="\d{1,4}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:pattern value="-\d{1,4}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_432">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_443">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_460">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_501">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_56">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_560">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_567">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:pattern value="\d{4,5}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
					<xsd:pattern value="-\d{4,5}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_571">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_58">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="\d{1,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="13"/>
					<xsd:pattern value="-\d{1,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_591">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_595">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_60">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d{1,9}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_623">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_649">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_65">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_66">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_665">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_67">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_706">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_737">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_738">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_739">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:pattern value="\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="-\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="22"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_74">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="\d{2,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="13"/>
					<xsd:pattern value="-\d{2,12}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_740">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:pattern value="\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="-\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="22"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_741">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:pattern value="\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="-\d{1,20}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="21"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="22"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_752">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_759">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_761">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
					<xsd:pattern value="\d{1}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:length value="2"/>
					<xsd:pattern value="-\d{1}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_79">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_80">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="7"/>
					<xsd:pattern value="\d{1,7}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="-\d{1,7}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_805">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_806">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="4"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_807">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="12"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_808">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_809">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_81">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="12"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_82">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="8"/>
					<xsd:pattern value="\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="-\d{1,8}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="9"/>
					<xsd:pattern value="\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="-\d+[.,]\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_86">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:pattern value="\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:pattern value="-\d{1,3}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_87">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="48"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_88">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_91">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_93">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_935">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_936">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_96">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="11"/>
					<xsd:pattern value="-\d{1,10}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="D_98">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_983">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_984">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_985">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="D_986">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>