XSPEC_HOME/Buyer/schemas/s4/SCHEMA_AddOn_0000_BankMasterCreate^ARBCIG_BANK_CREATE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="ARBCIG_BANK_CREATE">
  <xsd:annotation>
   <xsd:documentation>Bank master create</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc control record for the interface to the external system</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
           <xsd:annotation>
            <xsd:documentation>Name of Table Structure</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Client</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>IDoc number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>SAP Release for IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Status of IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Direction</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Outbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Inbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Output mode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Overriding in inbound processing</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Test flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="ARBCIG_BANK_CREATE">
           <xsd:annotation>
            <xsd:documentation>Name of basic type</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
           <xsd:annotation>
            <xsd:documentation>Extension (defined by customer)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESTYP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message Function</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, version and release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Sender port (SAP System, external subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partner type of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Function of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Sender address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Receiver port</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Type of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner function of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Recipient address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created On</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created at</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Key for external message archive</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Serialization</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1BANK_CREATE" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
         <xsd:documentation>Header segment</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="BANK_CTRY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Bank Country Key</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_KEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Bank Keys</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="15"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_METHOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Check digit calculation method</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_FORMATTING" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Format of File with Bank Data</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_IBAN_RULE" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>IBAN Rule</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_B2B_SUPPORTED" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Support of SEPA B2B Direct Debit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_COR1_SUPPORTED" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Support of SEPA COR1 Direct Debit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_R_TRANSACTION_SUPPORTED" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Support of SEPA Returned Debits (R Transactions)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BANK_INTERNAL_BANK" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Internal bank category</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="E1BP1011_ADDRESS" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Transfer structure object 1011: Bank address</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="BANK_NAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name of bank</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="REGION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Region (State, Province, County)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STREET" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street and House Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CITY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SWIFT_CODE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>SWIFT/BIC for International Payments</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BANK_GROUP" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Bank group (bank network)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="POBK_CURAC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Post Office Bank Current Account</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BANK_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Bank Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="POST_BANK" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Post office bank current account number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BANK_BRANCH" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Bank Branch</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ADDR_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Address Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1BP1011_DETAIL" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Transfer structure object 1011: Bank detail</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="CREAT_DATE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Date on which the record was created</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CREATOR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name of person who created the object</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="METHOD" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Check digit calculation method</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FORMATTING" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Format of File with Bank Data</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BANK_DELETE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Deletion Indicator</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="IBAN_RULE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>IBAN Rule</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="B2B_SUPPORTED" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Support of SEPA B2B Direct Debit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COR1_SUPPORTED" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Support of SEPA COR1 Direct Debit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="R_TRANSACTION_SUPPORTED" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Support of SEPA Returned Debits (R Transactions)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="INTERNAL_BANK" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Internal bank category</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1BPADR1" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>BAPI Reference Structure for Addresses (Org./Company)</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="ADDR_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Address Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FORMOFADDR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Form of address text</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name 1</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NAME_2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name 2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NAME_3" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name 3</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NAME_4" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Name 4</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="C_O_NAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>c/o name</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CITY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DISTRICT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>District</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CITY_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City code for city/street file</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="POSTL_COD1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City postal code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="POSTL_COD2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>PO Box Postal Code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="POSTL_COD3" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Company Postal Code (for Large Customers)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PO_BOX" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>PO Box</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PO_BOX_CIT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>PO Box city</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DELIV_DIS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>(Not Supported) Post Delivery District</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STREET" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STREET_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street Number for City/Street File</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STR_ABBR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>(Not Supported) Abbreviation of Street Name</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="HOUSE_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>House Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STR_SUPPL1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street 2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STR_SUPPL2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street 3</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="LOCATION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street 5</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="BUILDING" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>old: building (no. or abbreviation)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FLOOR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Floor in building</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ROOM_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Room or Appartment Number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COUNTRY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Country Key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="LANGU" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Language Key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="REGION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Region (State, Province, County)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SORT1" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Search Term 1</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="SORT2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Search Term 2</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TIME_ZONE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Address time zone</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TAXJURCODE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Tax Jurisdiction</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ADR_NOTES" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Address notes</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="COMM_TYPE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Communication Method (Key) (Business Address Services)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TEL1_NUMBR" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>First telephone no.: dialling code+number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TEL1_EXT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>First Telephone No.: Extension</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FAX_NUMBER" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>First fax no.: dialling code+number</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FAX_EXTENS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>First fax no.: extension</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="STREET_LNG" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Street</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="DISTRCT_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>District code for City and Street file</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CHCKSTATUS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City file test status</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PBOXCIT_NO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>City PO box code (City file)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="TRANSPZONE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Transportation zone to or from which the goods are delivered</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="HOUSE_NO2" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>House number supplement</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="E1BPADR11" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>BAPI Reference Structure for Addresses (Org./Company)</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="E_MAIL" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Email Address</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="241"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="STR_SUPPL3" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Street 4</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TITLE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Title text</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTRYISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Country ISO code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LANGU_ISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="BUILD_LONG" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Building (Number or Code)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="REGIOGROUP" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Regional structure grouping</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="HOME_CITY" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>City (different from postal city)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="HOMECITYNO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Different city for city/street file</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="12"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PCODE1_EXT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>(Not Supported)City Postal Code Extension, e.g. ZIP+4+2 Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PCODE2_EXT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>(Not Supported) PO Box Postal Code Extension</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PCODE3_EXT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>(Not Supported) Major Customer Postal Code Extension</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PO_W_O_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Flag: PO Box Without Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PO_BOX_REG" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Region for PO Box (Country, State, Province, ...)</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="POBOX_CTRY" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>PO box country</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PO_CTRYISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Country ISO code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="HOMEPAGE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>URI, e.g. Homepage or ftp Address</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="132"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DONT_USE_S" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Street Address Undeliverable Flag</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DONT_USE_P" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>PO Box Address Undeliverable Flag</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="HOUSE_NO3" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>(Not supported) House Number Range</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LANGU_CR" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Address record creation original language</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LANGUCRISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PO_BOX_LOBBY" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>PO Box Lobby</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DELI_SERV_TYPE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Type of Delivery Service</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DELI_SERV_NUMBER" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Number of Delivery Service</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="URI_TYPE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>URI type flag</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTY_CODE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>County code for county</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="COUNTY" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>County</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TOWNSHIP_CODE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Township code for Township</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TOWNSHIP" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Township</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1ARBCIG_HDREXTN" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Ariba Idoc Header Extension</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="OBJNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Object Name in Object Directory</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJKEY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Object key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FIELDNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Field Name</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FIELDVALUE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Field value</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="132"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1IDOCENHANCEMENT" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
         <xsd:documentation>Segment for Dynamic Enhancement of IDoc Types</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="IDENTIFIER" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Containers for Enhancement of IDoc Types</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DATA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Container for IDoc Enhancement</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="970"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
