XSPEC_HOME/Buyer/schemas/s4/SCHEMA_AddOn_0000_QuoteMessageConfirmation^QuoteMsgConfirmation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/ARBCIG1" xmlns="http://sap.com/xi/ARBCIG1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="QuoteMsgConfirmation" type="PurgContrERPCrtConfMsg"/>
    <xsd:simpleType name="NOSC_AccountingCodingBlockTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentProcessingTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ShippingTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SHORT_Description.Content">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InhouseMailID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FullPaymentCashDiscountTermsDueDaysValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="999"/>
            <xsd:minInclusive value="-999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeInstanceID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier for the instance of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IntervalBoundaryTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ScaleAxisBaseCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation for the base of a scale
                axis</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
            <xsd:enumeration value="7"/>
            <xsd:enumeration value="8"/>
            <xsd:enumeration value="9"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
            <xsd:enumeration value="12"/>
            <xsd:enumeration value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementPurposeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Amount.Content">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="28"/>
            <xsd:fractionDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_GrantID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PersonNameSupplementCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementPropertyDefinitionClassCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PartyInternalID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_TaxJurisdictionCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PostalCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberExtensionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductTaxationCharacteristicsCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductCategoryID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProjectID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Measure.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Measure is a physical indication of Measurements
                including the assigned Unit of Measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FloorID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_AccountingBusinessAreaCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_LogItemCategoryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IncotermsTransferLocationName">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="28"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementCategoryCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryDiallingCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CashDiscountDayOfMonthValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="99"/>
            <xsd:minInclusive value="-99"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Quantity.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">QUANTITY is the non-monetary numerical declaration of a
                quantity in a specific unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DecimalValue">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="31"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProjectElementTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LogItemTypeID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identification of the type of a log
                entry</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyStandardID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the
                identification scheme used is controlled by an agency from the code list DE
                3055</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PurchaseContractItemID">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="5"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PurchaseContractID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_UserAccountID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LogItemNote">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">A short text for the log message</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductProcurementArrangementID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductInternalID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_RegionCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Duration">
        <xsd:restriction base="xsd:duration">
            <xsd:pattern value=".{1,20}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementPropertyValueCode">
        <xsd:restriction base="xsd:token"/>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PlantID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Partition">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Partition</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Variant">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Variant</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CashDiscountMonthOffsetValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="99"/>
            <xsd:minInclusive value="-99"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Date">
        <xsd:restriction base="xsd:date">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_WebURI">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="Percent">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="16"/>
            <xsd:fractionDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CountryCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FullPaymentCashDiscountTermsDayOfMonthValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="99"/>
            <xsd:minInclusive value="-99"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_IdentifiedStockID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An IdentifiedStockID is a unique identifier for an
                identified stock.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ReleaseStatusCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CurrencyCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PersonNameFormatCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AccountDeterminationExpenseGroupCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SourcingEventID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Ariba Sourcing Event ID</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="LogItemSeverityCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_AcademicTitleCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProcessingResultCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GLOBAL_DateTime">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FormOfAddressCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MeasureUnitCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CashDiscountPercent">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="5"/>
            <xsd:fractionDigits value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OrdinalNumberValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="999999999"/>
            <xsd:minInclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AcceptanceStatusCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="2"/>
            <xsd:enumeration value="AJ"/>
            <xsd:enumeration value="AP"/>
            <xsd:enumeration value="RE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RoomID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IncotermsClassificationCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BuildingID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessSystemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ExpenseClassificationFunctionalAreaCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProductPartyID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FamilyNamePrefixCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductCategoryInternalID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_AddressGroupCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_QuantityTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyInternalID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FollowUpMessageRequirementCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_OrganisationalCentreID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessScopeTypeCode.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the type of a
                BusinessScope</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Time">
        <xsd:restriction base="xsd:time">
            <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProductStandardID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PromotionID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemProcessingTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IntegerValue">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    <xsd:simpleType name="POBoxID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="36"/>
            <xsd:pattern
                value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
            />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_InventoryValuationTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_EmailURI">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="TimeZoneDifferenceValue">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="4"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CashDiscountDaysValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="999"/>
            <xsd:minInclusive value="-999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MEDIUM_Description.Content">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AribaNetworkID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCode">
        <xsd:restriction base="xsd:language">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemHierarchyRelationshipTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
            <xsd:enumeration value="001"/>
            <xsd:enumeration value="002"/>
            <xsd:enumeration value="003"/>
            <xsd:enumeration value="006"/>
            <xsd:enumeration value="007"/>
            <xsd:enumeration value="008"/>
            <xsd:enumeration value="009"/>
            <xsd:enumeration value="010"/>
            <xsd:enumeration value="011"/>
            <xsd:enumeration value="012"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ATTRIBUTEINDEPENDENT_UUID">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Universally Unique Identifier (without
                attributes)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FundsManagementFundID">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FundsManagementAccountID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="24"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementPropertyID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LEN30_Name.Content">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PartyRoleCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MaterialMerchandiseTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ScaleAxisStepIntervalBoundaryTypeCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Coded representation of the typing of the discrete
                values in a scale axis as interval boundaries.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:length value="1"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StreetName">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of
                the agency responsible for a code list or identifier scheme,
                respectively</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Indicator">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has
                exactly two mutually exclusive Boolean values.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="SupplierQuoteItemID">
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="5"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberAreaID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessDocumentMessageID.Content">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Unique identifier of a business document in a
                (technical) message that is issued by the sender business
                application</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_SupplierQuoteID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ActionCode">
        <xsd:restriction base="xsd:token">
            <xsd:length value="2"/>
            <xsd:enumeration value="01"/>
            <xsd:enumeration value="02"/>
            <xsd:enumeration value="03"/>
            <xsd:enumeration value="04"/>
            <xsd:enumeration value="05"/>
            <xsd:enumeration value="06"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_ProjectElementID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_TextCollectionTextTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_InternalOrderID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PurchasingDocumentItemConfirmationTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ContactPersonInternalID.Content">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="32"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FullPaymentCashDiscountTermsMonthOffsetValue">
        <xsd:restriction base="xsd:int">
            <xsd:maxInclusive value="99"/>
            <xsd:minInclusive value="-99"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_LocationInternalID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="WebURI">
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_FundsManagementCentreID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BusinessTransactionDocumentItemID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ExchangeRateRate">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="28"/>
            <xsd:fractionDigits value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="HouseID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ANPayloadID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="PhoneNumberSubscriberID">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_PriceSpecificationElementPropertyValueID">
        <xsd:restriction base="xsd:token"/>
    </xsd:simpleType>
    <xsd:simpleType name="NOSC_CashDiscountTermsCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TimePointTypeCode">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="NOSC_TextCollectionText">
        <xsd:sequence>
            <xsd:element name="TypeCode" type="NOSC_TextCollectionTextTypeCode" minOccurs="0"/>
            <xsd:element name="CreationDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
            <xsd:element name="ContentText" type="Text"/>
        </xsd:sequence>
        <xsd:attribute name="actionCode" type="ActionCode"/>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PriceSpecificationElementPropertyReference">
        <xsd:sequence>
            <xsd:element name="PriceSpecificationElementPropertyID"
                type="NOSC_PriceSpecificationElementPropertyID"/>
            <xsd:element name="PriceSpecificationElementPropertyDefinitionClassCode"
                type="NOSC_PriceSpecificationElementPropertyDefinitionClassCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sAcctgCodgBlkDistr">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >PurgContrERPCrtConf_sAcctgCodgBlkDistr</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AccountingCodingBlockAssignment"
                type="PurgContrERPCrtConf_sAcctgCodgBlkAssgmt" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sProd">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sProd</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_ProductInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="NOSC_ProductStandardID" minOccurs="0"/>
            <xsd:element name="BuyerID" type="ProductPartyID" minOccurs="0"/>
            <xsd:element name="SellerID" type="ProductPartyID" minOccurs="0"/>
            <xsd:element name="ManufacturerID" type="ProductPartyID" minOccurs="0"/>
            <xsd:element name="InventoryValuationTypeCode" type="NOSC_InventoryValuationTypeCode"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sPurgContr">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sPurgContr</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="NOSC_PurchaseContractID"/>
            <xsd:element name="NetworkID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AribaContractID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="64"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AribaSourcingEventID" type="SourcingEventID" minOccurs="0"/>
            <xsd:element name="SystemID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Operation" type="ActionCode" minOccurs="0"/>
            <xsd:element name="Language" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:language">
                        <xsd:minLength value="2"/>
                        <xsd:maxLength value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CompanyID" type="NOSC_OrganisationalCentreID"/>
            <xsd:element name="CompanyName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="CreationUserAccountID" type="NOSC_UserAccountID"/>
            <xsd:element name="SupplyingPlantID" type="NOSC_PlantID" minOccurs="0"/>
            <xsd:element name="SupplyingPlantName" type="LEN30_Name" minOccurs="0"/>
            <xsd:element name="CreationDate" type="Date"/>
            <xsd:element name="BuyerPostingDate" type="Date"/>
            <xsd:element name="ProcessingTypeCode"
                type="BusinessTransactionDocumentProcessingTypeCode"/>
            <xsd:element name="ProcessingTypeName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ReleaseStatusCode" type="ReleaseStatusCode" minOccurs="0"/>
            <xsd:element name="ReleaseStatusName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ValidityPeriod" type="UPPEROPEN_DatePeriod"/>
            <xsd:element name="ExchangeRate" type="PurgContrERPCrtConf_sExchRate" minOccurs="0"/>
            <xsd:element name="TargetAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="SellerParty" type="PurgContrERPCrtConf_sSlrPty"/>
            <xsd:element name="VendorParty" type="PurgContrERPCrtConf_sVndrPty" minOccurs="0"/>
            <xsd:element name="BillFromParty" type="PurgContrERPCrtConf_sBlFromPty" minOccurs="0"/>
            <xsd:element name="ResponsiblePurchasingOrganisationParty"
                type="PurgContrERPCrtConf_sRespPurgOrgPty"/>
            <xsd:element name="ResponsiblePurchasingGroupParty"
                type="PurgContrERPCrtConf_sRespPurgGrpPty"/>
            <xsd:element name="Party" type="PurgContrERPCrtConf_sPty" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="DeliveryTerms" type="PurgContrERPCrtConf_sDelivTrms" minOccurs="0"/>
            <xsd:element name="CashDiscountTerms" type="NOSC_CashDiscountTerms" minOccurs="0"/>
            <xsd:element name="PriceSpecificationElement" type="NOSC_PriceSpecificationElement"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TextCollection" type="NOSC_TextCollection" minOccurs="0"/>
            <xsd:element name="Item" type="PurgContrERPCrtConf_sItm" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmailURI">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anyURI">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PriceSpecificationElementScaleLine">
        <xsd:sequence>
            <xsd:element name="ScaleAxisStep" type="NOSC_ScaleAxisStep" maxOccurs="2"/>
            <xsd:element name="Rate" type="Rate" minOccurs="0"/>
            <xsd:element name="RateQuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
            <xsd:element name="RateBaseQuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
            <xsd:element name="Percent" type="Percent" minOccurs="0"/>
            <xsd:element name="FixedAmount" type="Amount" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sHierRelshp">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sHierRelshp</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ParentItemID" type="PurchaseContractItemID"/>
            <xsd:element name="TypeCode"
                type="BusinessTransactionDocumentItemHierarchyRelationshipTypeCode"/>
            <xsd:element name="TypeName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Amount">
        <xsd:simpleContent>
            <xsd:extension base="Amount.Content">
                <xsd:attribute name="currencyCode" type="CurrencyCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PhysicalAddress">
        <xsd:sequence>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="RegionCode" type="NOSC_RegionCode" minOccurs="0"/>
            <xsd:element name="RegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="StreetPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="POBoxPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="CompanyPostalCode" type="PostalCode" minOccurs="0"/>
            <xsd:element name="CityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DistrictName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxID" type="POBoxID" minOccurs="0"/>
            <xsd:element name="POBoxIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="POBoxCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="POBoxCountryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxRegionCode" type="NOSC_RegionCode" minOccurs="0"/>
            <xsd:element name="POBoxRegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="POBoxCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="StreetName" type="StreetName" minOccurs="0"/>
            <xsd:element name="StreetPrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="2"/>
            <xsd:element name="StreetSuffixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="2"/>
            <xsd:element name="HouseID" type="HouseID" minOccurs="0"/>
            <xsd:element name="AdditionalHouseID" type="HouseID" minOccurs="0"/>
            <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
            <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
            <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
            <xsd:element name="CareOfName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConfMsg">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConfMsg</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
            <xsd:element name="PurchasingContract" type="PurgContrERPCrtConf_sPurgContr"
                minOccurs="0"/>
            <xsd:element name="Log" type="NOSC_Log"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UUID">
        <xsd:simpleContent>
            <xsd:extension base="UUID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sBlFromPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sBlFromPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sDelivTrms">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sDelivTrms</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Incoterms" type="Incoterms" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CashDiscount">
        <xsd:sequence>
            <xsd:element name="DaysValue" type="CashDiscountDaysValue" minOccurs="0"/>
            <xsd:element name="DayOfMonthValue" type="CashDiscountDayOfMonthValue" minOccurs="0"/>
            <xsd:element name="MonthOffsetValue" type="CashDiscountMonthOffsetValue" minOccurs="0"/>
            <xsd:element name="EndDate" type="Date" minOccurs="0"/>
            <xsd:element name="Percent" type="CashDiscountPercent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_LogItem">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">protocol message issued by an
                application</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0"/>
            <xsd:element name="CategoryCode" type="NOSC_LogItemCategoryCode" minOccurs="0"/>
            <xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
            <xsd:element name="Note" type="LogItemNote"/>
            <xsd:element name="WebURI" type="WebURI" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Description">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Natural Language Text</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PartyInternalID">
        <xsd:simpleContent>
            <xsd:extension base="PartyInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmShipToLoc">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sItmShipToLoc</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Address" type="NOSC_Address" minOccurs="0"/>
            <xsd:element name="AddressGroupCode" type="NOSC_AddressGroupCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Facsimile">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Telephone</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="PhoneNumber"/>
            <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
            <xsd:element name="NumberDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PersonName">
        <xsd:sequence>
            <xsd:element name="FormOfAddressCode" type="NOSC_FormOfAddressCode" minOccurs="0"/>
            <xsd:element name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="GivenName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="FamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalFamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="InitialsName" type="LANGUAGEINDEPENDENT_SHORT_Name" minOccurs="0"/>
            <xsd:element name="AcademicTitleCode" type="NOSC_AcademicTitleCode" minOccurs="0"/>
            <xsd:element name="AcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleCode" type="NOSC_AcademicTitleCode"
                minOccurs="0"/>
            <xsd:element name="AdditionalAcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NamePrefixCode" type="NOSC_FamilyNamePrefixCode" minOccurs="0"/>
            <xsd:element name="NamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixCode" type="NOSC_FamilyNamePrefixCode"
                minOccurs="0"/>
            <xsd:element name="AdditionalNamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="NameSupplementCode" type="NOSC_PersonNameSupplementCode"
                minOccurs="0"/>
            <xsd:element name="NameSupplementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DeviatingFullName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
            <xsd:element name="NameFormatCountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="NameFormatCode" type="NOSC_PersonNameFormatCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sInvtryMngdLoc">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sInvtryMngdLoc</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_LocationInternalID"/>
            <xsd:element name="InternalName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneNumber">
        <xsd:sequence>
            <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
            <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
            <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
            <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
            <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
            <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItm">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sItm</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="PurchaseContractItemID"/>
            <xsd:element name="AribaItemID" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="64"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PromotionID" type="PromotionID" minOccurs="0"/>
            <xsd:element name="PromotionName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="SupplierProductCategoryID" type="NOSC_ProductCategoryID"
                minOccurs="0"/>
            <xsd:element name="SupplierProductCategoryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ProductProcurementArrangmentID"
                type="NOSC_ProductProcurementArrangementID" minOccurs="0"/>
            <xsd:element name="ProcessingTypeCode"
                type="BusinessTransactionDocumentItemProcessingTypeCode" minOccurs="0"/>
            <xsd:element name="ProcessingTypeName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="MaterialMerchandiseTypeCode" type="MaterialMerchandiseTypeCode"
                minOccurs="0"/>
            <xsd:element name="MaterialMerchandiseTypeName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ExpectedPurchasingDocumentItemConfirmationTypeCode"
                type="NOSC_PurchasingDocumentItemConfirmationTypeCode" minOccurs="0"/>
            <xsd:element name="ExpectedPurchasingDocumentItemConfirmationTypeName"
                type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="DeliveryBasedInvoiceVerificationIndicator" type="Indicator"/>
            <xsd:element name="TargetQuantity" type="Quantity" minOccurs="0"/>
            <xsd:element name="ReleaseOrderQuantity" type="Quantity" minOccurs="0"/>
            <xsd:element name="HierarchyRelationship" type="PurgContrERPCrtConf_sHierRelshp"
                minOccurs="0"/>
            <xsd:element name="Product" type="PurgContrERPCrtConf_sProd" minOccurs="0"/>
            <xsd:element name="ProductCategory" type="PurgContrERPCrtConf_sProdCat" minOccurs="0"/>
            <xsd:element name="Batch" type="PurgContrERPCrtConf_sBat" minOccurs="0"/>
            <xsd:element name="Price" type="PurgContrERPCrtConf_sItmPr" minOccurs="0"/>
            <xsd:element name="PriceSpecificationElement" type="NOSC_PriceSpecificationElement"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TaxCalculation" type="PurgContrERPCrtConf_sItmTaxCalc" minOccurs="0"/>
            <xsd:element name="InventoryManagedLocation" type="PurgContrERPCrtConf_sInvtryMngdLoc"
                minOccurs="0"/>
            <xsd:element name="ShipToLocation" type="PurgContrERPCrtConf_sItmShipToLoc"
                minOccurs="0"/>
            <xsd:element name="ReceivingPlantID" type="NOSC_PlantID" minOccurs="0"/>
            <xsd:element name="ReceivingPlantName" type="LEN30_Name" minOccurs="0"/>
            <xsd:element name="DeliveryTerms" type="PurgContrERPCrtConf_sItmDelivTrms" minOccurs="0"/>
            <xsd:element name="TransportationTerms" type="PurgContrERPCrtConf_sItmTranspTrms"
                minOccurs="0"/>
            <xsd:element name="TextCollection" type="NOSC_TextCollection" minOccurs="0"/>
            <xsd:element name="SupplierQuoteReference" type="PurgContrERPCrtConf_sSuplrQteRef"
                minOccurs="0"/>
            <xsd:element name="AccountingCodingBlockDistribution"
                type="PurgContrERPCrtConf_sAcctgCodgBlkDistr" minOccurs="0"/>
            <xsd:element name="Description" type="Description" minOccurs="0"/>
            <xsd:element name="FollowUpPurchaseOrderConfirmation"
                type="PurgContrERPCrtConf_sFllwUpPurOrdConf" minOccurs="0"/>
            <xsd:element name="FollowUpInvoiceRequest" type="PurgContrERPCrtConf_sFllwUpInvcReq"
                minOccurs="0"/>
            <xsd:element name="FollowUpGoodsReceiptRequest"
                type="PurgContrERPCrtConf_sFllwUpGdsRcptReq" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_ScaleAxisStep">
        <xsd:sequence>
            <xsd:element name="ScaleAxisBaseCode" type="ScaleAxisBaseCode"/>
            <xsd:element name="IntervalBoundaryTypeCode"
                type="ScaleAxisStepIntervalBoundaryTypeCode"/>
            <xsd:element name="Amount" type="Amount" minOccurs="0"/>
            <xsd:element name="Quantity" type="Quantity" minOccurs="0"/>
            <xsd:element name="QuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
            <xsd:element name="DecimalValue" type="DecimalValue" minOccurs="0"/>
            <xsd:element name="IntegerValue" type="IntegerValue" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimePointPeriod">
        <xsd:sequence>
            <xsd:element name="IntervalBoundaryTypeCode" type="IntervalBoundaryTypeCode"/>
            <xsd:element name="StartTimePoint" type="TimePoint" minOccurs="0"/>
            <xsd:element name="EndTimePoint" type="TimePoint" minOccurs="0"/>
            <xsd:element name="Duration" type="Duration" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sSuplrQteRef">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sSuplrQteRef</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="NOSC_SupplierQuoteID"/>
            <xsd:element name="ItemID" type="SupplierQuoteItemID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeoCoordinates">
        <xsd:sequence>
            <xsd:element name="LatitudeMeasure" type="Measure"/>
            <xsd:element name="LongitudeMeasure" type="Measure"/>
            <xsd:element name="AltitudeMeasure" type="Measure" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sRespPurgOrgPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sRespPurgOrgPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Email">
        <xsd:sequence>
            <xsd:element name="URI" type="NOSC_EmailURI"/>
            <xsd:element name="URIDefaultIndicator" type="Indicator"/>
            <xsd:element name="URIDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="URIUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimePoint">
        <xsd:sequence>
            <xsd:element name="TypeCode" type="TimePointTypeCode"/>
            <xsd:element name="Date" type="Date" minOccurs="0"/>
            <xsd:element name="Time" type="Time" minOccurs="0"/>
            <xsd:element name="DateTime" type="DateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PriceSpecificationElementPropertyValue">
        <xsd:sequence>
            <xsd:element name="Code" type="NOSC_PriceSpecificationElementPropertyValueCode"
                minOccurs="0"/>
            <xsd:element name="ID" type="NOSC_PriceSpecificationElementPropertyValueID"
                minOccurs="0"/>
            <xsd:element name="IntegerValue" type="IntegerValue" minOccurs="0"/>
            <xsd:element name="Date" type="Date" minOccurs="0"/>
            <xsd:element name="Time" type="Time" minOccurs="0"/>
            <xsd:element name="Indicator" type="Indicator" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Communication">
        <xsd:sequence>
            <xsd:element name="CorrespondenceLanguageCode" type="LanguageCode" minOccurs="0"/>
            <xsd:element name="CorrespondenceLanguageName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Telephone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MobilePhone" type="Telephone" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Facsimile" type="Facsimile" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Email" type="NOSC_Email" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Web" type="NOSC_Web" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sFllwUpGdsRcptReq">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >PurgContrERPCrtConf_sFllwUpGdsRcptReq</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RequirementCode" type="FollowUpMessageRequirementCode"/>
            <xsd:element name="RequirementName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Telephone">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Telephone</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="PhoneNumber"/>
            <xsd:element name="SMSEnabledIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="NumberDefaultIndicator" type="Indicator"/>
            <xsd:element name="NumberDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="NumberUsageDenialIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeader">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Business information from the perspective of the sender
                application for identifying a business document (instance) within a (technical)
                message</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="UUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
            <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="AribaNetworkPayloadID" type="ANPayloadID" minOccurs="0"/>
            <xsd:element name="AribaNetworkID" type="AribaNetworkID" minOccurs="0"/>
            <xsd:element name="CreationDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
            <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
            <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
            <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="partition" type="Partition"/>
        <xsd:attribute name="variant" type="Variant"/>
    </xsd:complexType>
    <xsd:complexType name="NOSC_BusinessTransactionDocumentReference">
        <xsd:sequence>
            <xsd:element name="ID" type="NOSC_BusinessTransactionDocumentID"/>
            <xsd:element name="UUID" type="ATTRIBUTEINDEPENDENT_UUID" minOccurs="0"/>
            <xsd:element name="TypeCode" type="BusinessTransactionDocumentTypeCode" minOccurs="0"/>
            <xsd:element name="ItemID" type="BusinessTransactionDocumentItemID" minOccurs="0"/>
            <xsd:element name="ItemUUID" type="ATTRIBUTEINDEPENDENT_UUID" minOccurs="0"/>
            <xsd:element name="ItemTypeCode" type="BusinessTransactionDocumentItemTypeCode"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmTaxCalc">
        <xsd:sequence>
            <xsd:element name="ProductTaxDetails" type="PurgContrERPCrtConf_sItmTaxCalcProdTaxDets"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmTranspTrms">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sItmTranspTrms</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ShippingTypeCode" type="NOSC_ShippingTypeCode" minOccurs="0"/>
            <xsd:element name="ShippingTypeName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MEDIUM_Description">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Description.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Quantity">
        <xsd:simpleContent>
            <xsd:extension base="Quantity.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmTaxCalcProdTaxDets">
        <xsd:sequence>
            <xsd:element name="TaxationCharacteristicsCode"
                type="NOSC_ProductTaxationCharacteristicsCode" minOccurs="0"/>
            <xsd:element name="TaxationCharacteristicsName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeTypeCode">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeTypeCode.Content">
                <xsd:attribute name="listID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listVersionID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="15"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sProdCat">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sProdCat</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_ProductCategoryInternalID"/>
            <xsd:element name="InternalName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sFllwUpInvcReq">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sFllwUpInvcReq</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RequirementCode" type="FollowUpMessageRequirementCode"/>
            <xsd:element name="RequirementName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sAcctgCodgBlkAssgmt">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >PurgContrERPCrtConf_sAcctgCodgBlkAssgmt</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="OrdinalNumberValue" type="OrdinalNumberValue" minOccurs="0"/>
            <xsd:element name="Percent" type="Percent" minOccurs="0"/>
            <xsd:element name="Amount" type="Amount" minOccurs="0"/>
            <xsd:element name="Quantity" type="Quantity" minOccurs="0"/>
            <xsd:element name="ProfitCentreID" type="NOSC_OrganisationalCentreID" minOccurs="0"/>
            <xsd:element name="CostCentreID" type="NOSC_OrganisationalCentreID" minOccurs="0"/>
            <xsd:element name="ProjectReference" type="NOSC_ProjectReference" minOccurs="0"/>
            <xsd:element name="FundsManagementCentreID" type="NOSC_FundsManagementCentreID"
                minOccurs="0"/>
            <xsd:element name="InternalOrderID" type="NOSC_InternalOrderID" minOccurs="0"/>
            <xsd:element name="SalesOrderReference" type="NOSC_BusinessTransactionDocumentReference"
                minOccurs="0"/>
            <xsd:element name="ProductionOrderReference"
                type="NOSC_BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="MaintenanceOrderReference"
                type="NOSC_BusinessTransactionDocumentReference" minOccurs="0"/>
            <xsd:element name="FundsManagementFundID" type="NOSC_FundsManagementFundID"
                minOccurs="0"/>
            <xsd:element name="FundsManagementAccountID" type="NOSC_FundsManagementAccountID"
                minOccurs="0"/>
            <xsd:element name="GrantID" type="NOSC_GrantID" minOccurs="0"/>
            <xsd:element name="AccountingCodingBlockTypeCode"
                type="NOSC_AccountingCodingBlockTypeCode" minOccurs="0"/>
            <xsd:element name="AccountDeterminationExpenseGroupCode"
                type="AccountDeterminationExpenseGroupCode" minOccurs="0"/>
            <xsd:element name="AccountingBusinessAreaCode" type="NOSC_AccountingBusinessAreaCode"
                minOccurs="0"/>
            <xsd:element name="ExpenseClassificationFunctionalAreaCode"
                type="NOSC_ExpenseClassificationFunctionalAreaCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExchangeRate">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">p</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="UnitCurrency" type="CurrencyCode"/>
            <xsd:element name="QuotedCurrency" type="CurrencyCode"/>
            <xsd:element name="Rate" type="ExchangeRateRate"/>
            <xsd:element name="QuotationDateTime" type="GLOBAL_DateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactPersonInternalID">
        <xsd:simpleContent>
            <xsd:extension base="ContactPersonInternalID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sPtyRespPurgOrgPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >PurgContrERPCrtConf_sPtyRespPurgOrgPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sFllwUpPurOrdConf">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN"
                >PurgContrERPCrtConf_sFllwUpPurOrdConf</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RequirementCode" type="FollowUpMessageRequirementCode"/>
            <xsd:element name="RequirementName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rate">
        <xsd:sequence>
            <xsd:element name="DecimalValue" type="DecimalValue"/>
            <xsd:element name="MeasureUnitCode" type="MeasureUnitCode" minOccurs="0"/>
            <xsd:element name="CurrencyCode" type="CurrencyCode" minOccurs="0"/>
            <xsd:element name="BaseDecimalValue" type="DecimalValue" minOccurs="0"/>
            <xsd:element name="BaseMeasureUnitCode" type="MeasureUnitCode" minOccurs="0"/>
            <xsd:element name="BaseCurrencyCode" type="CurrencyCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SHORT_Description">
        <xsd:simpleContent>
            <xsd:extension base="SHORT_Description.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sRespPurgGrpPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sRespPurgGrpPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScope">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Environment from which a message is
                sent</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
            <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
            <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sExchRate">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sExchRate</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ExchangeRate" type="ExchangeRate"/>
            <xsd:element name="ExchangeRateFixedIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Measure">
        <xsd:simpleContent>
            <xsd:extension base="Measure.Content">
                <xsd:attribute name="unitCode" type="MeasureUnitCode" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="QuantityTolerance">
        <xsd:sequence>
            <xsd:element name="OverPercent" type="Percent" minOccurs="0"/>
            <xsd:element name="OverPercentUnlimitedIndicator" type="Indicator" minOccurs="0"/>
            <xsd:element name="UnderPercent" type="Percent" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmDelivTrms">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sItmDelivTrms</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Incoterms" type="Incoterms" minOccurs="0"/>
            <xsd:element name="QuantityTolerance" type="QuantityTolerance" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ResponsiblePurchasingOrganisationParty"
                type="PurgContrERPCrtConf_sPtyRespPurgOrgPty"/>
            <xsd:element name="SupplierProductCategoryID" type="NOSC_ProductCategoryID"
                minOccurs="0"/>
            <xsd:element name="SupplierProductCategoryName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ReceivingPlantID" type="NOSC_PlantID" minOccurs="0"/>
            <xsd:element name="ReceivingPlantName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="RoleCode" type="PartyRoleCode"/>
            <xsd:element name="RoleName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="DefaultIndicator" type="Indicator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderParty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">General information about a party that is responsible
                for sending or receiving a BusinessDocument at business application
                level</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
            <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessScopeInstanceID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessScopeInstanceID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PriceSpecificationElement">
        <xsd:sequence>
            <xsd:element name="AcceptanceStatusCode" type="AcceptanceStatusCode" minOccurs="0"/>
            <xsd:element name="TypeCode" type="NOSC_PriceSpecificationElementTypeCode" minOccurs="0"/>
            <xsd:element name="CategoryCode" type="NOSC_PriceSpecificationElementCategoryCode"
                minOccurs="0"/>
            <xsd:element name="PurposeCode" type="NOSC_PriceSpecificationElementPurposeCode"
                minOccurs="0"/>
            <xsd:element name="ValidityPeriod" type="TimePointPeriod"/>
            <xsd:element name="PropertyDefinitionClassCode"
                type="NOSC_PriceSpecificationElementPropertyDefinitionClassCode" minOccurs="0"/>
            <xsd:element name="PropertyValuation"
                type="NOSC_PriceSpecificationElementPropertyValuation" maxOccurs="unbounded"/>
            <xsd:element name="Rate" type="Rate" minOccurs="0"/>
            <xsd:element name="RateQuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
            <xsd:element name="RateBaseQuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
            <xsd:element name="Percent" type="Percent" minOccurs="0"/>
            <xsd:element name="FixedAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="ScaleLine" type="NOSC_PriceSpecificationElementScaleLine"
                minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Description" type="SHORT_Description" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="actionCode" type="ActionCode"/>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Address">
        <xsd:sequence>
            <xsd:element name="OrganisationFormOfAddress" type="NOSC_FormOfAddress" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonName" type="NOSC_PersonName" minOccurs="0"/>
            <xsd:element name="FunctionalTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0"/>
            <xsd:element name="DepartmentName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="Office" type="Office" minOccurs="0"/>
            <xsd:element name="PhysicalAddress" type="NOSC_PhysicalAddress" minOccurs="0"/>
            <xsd:element name="TaxJurisdictionCode" type="NOSC_TaxJurisdictionCode" minOccurs="0"/>
            <xsd:element name="TimeZoneDifferenceValue" type="TimeZoneDifferenceValue" minOccurs="0"/>
            <xsd:element name="GeoCoordinates" type="GeoCoordinates" minOccurs="0"/>
            <xsd:element name="Communication" type="NOSC_Communication" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UPPEROPEN_DatePeriod">
        <xsd:sequence>
            <xsd:element name="StartDate" type="Date" minOccurs="0"/>
            <xsd:element name="EndDate" type="Date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_FormOfAddress">
        <xsd:sequence>
            <xsd:element name="Code" type="NOSC_FormOfAddressCode" minOccurs="0"/>
            <xsd:element name="Name" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Text">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Incoterms">
        <xsd:sequence>
            <xsd:element name="ClassificationCode" type="IncotermsClassificationCode"/>
            <xsd:element name="TransferLocationName" type="IncotermsTransferLocationName"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageID">
        <xsd:simpleContent>
            <xsd:extension base="BusinessDocumentMessageID.Content">
                <xsd:attribute name="schemeID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencyID">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="60"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_ProjectReference">
        <xsd:sequence>
            <xsd:element name="ProjectID" type="NOSC_ProjectID" minOccurs="0"/>
            <xsd:element name="ProjectUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ProjectName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ProjectElementID" type="NOSC_ProjectElementID" minOccurs="0"/>
            <xsd:element name="ProjectElementUUID" type="UUID" minOccurs="0"/>
            <xsd:element name="ProjectElementName" type="MEDIUM_Name" minOccurs="0"/>
            <xsd:element name="ProjectElementTypeCode" type="ProjectElementTypeCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_PriceSpecificationElementPropertyValuation">
        <xsd:sequence>
            <xsd:element name="IdentifyingIndicator" type="Indicator"/>
            <xsd:element name="PriceSpecificationElementPropertyReference"
                type="NOSC_PriceSpecificationElementPropertyReference"/>
            <xsd:element name="PriceSpecificationElementPropertyValue"
                type="NOSC_PriceSpecificationElementPropertyValue"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DateTime">
        <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime">
                <xsd:attribute name="timeZoneCode" type="TimeZoneCode"/>
                <xsd:attribute name="daylightSavingTimeIndicator" type="xsd:boolean"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="LEN30_Name">
        <xsd:simpleContent>
            <xsd:extension base="LEN30_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sItmPr">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sItmPr</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="NetAmount" type="Amount" minOccurs="0"/>
            <xsd:element name="NetUnitPrice" type="NOSC_Price" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyStandardID">
        <xsd:simpleContent>
            <xsd:extension base="PartyStandardID.Content">
                <xsd:attribute name="schemeAgencyID" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="3"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sSlrPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sSlrPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Log">
        <xsd:sequence>
            <xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"
                minOccurs="0"/>
            <xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
            <xsd:element name="Item" type="NOSC_LogItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MEDIUM_Name">
        <xsd:simpleContent>
            <xsd:extension base="MEDIUM_Name.Content">
                <xsd:attribute name="languageCode" type="LanguageCode"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Price">
        <xsd:sequence>
            <xsd:element name="Amount" type="Amount"/>
            <xsd:element name="BaseQuantity" type="Quantity"/>
            <xsd:element name="BaseQuantityTypeCode" type="NOSC_QuantityTypeCode" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_Web">
        <xsd:sequence>
            <xsd:element name="URI" type="NOSC_WebURI"/>
            <xsd:element name="URIDefaultIndicator" type="Indicator"/>
            <xsd:element name="URIDescription" type="Description" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for
                sending or receiving a BusinessDocument</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
            <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
                minOccurs="0" maxOccurs="4"/>
            <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_CashDiscountTerms">
        <xsd:sequence>
            <xsd:element name="Code" type="NOSC_CashDiscountTermsCode" minOccurs="0"/>
            <xsd:element name="PaymentBaselineDate" type="Date" minOccurs="0"/>
            <xsd:element name="MaximumCashDiscount" type="CashDiscount" minOccurs="0"/>
            <xsd:element name="NormalCashDiscount" type="CashDiscount" minOccurs="0"/>
            <xsd:element name="FullPaymentDueDaysValue"
                type="FullPaymentCashDiscountTermsDueDaysValue" minOccurs="0"/>
            <xsd:element name="FullPaymentDayOfMonthValue"
                type="FullPaymentCashDiscountTermsDayOfMonthValue" minOccurs="0"/>
            <xsd:element name="FullPaymentMonthOffsetValue"
                type="FullPaymentCashDiscountTermsMonthOffsetValue" minOccurs="0"/>
            <xsd:element name="FullPaymentEndDate" type="Date" minOccurs="0"/>
            <xsd:element name="Description" type="MEDIUM_Description" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sVndrPty">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sVndrPty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
            <xsd:element name="FormattedName" type="MEDIUM_Name" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PurgContrERPCrtConf_sBat">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">PurgContrERPCrtConf_sBat</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BuyerID" type="NOSC_IdentifiedStockID"/>
            <xsd:element name="SellerID" type="NOSC_IdentifiedStockID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NOSC_TextCollection">
        <xsd:sequence>
            <xsd:element name="Text" type="NOSC_TextCollectionText" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="actionCode" type="ActionCode"/>
    </xsd:complexType>
    <xsd:complexType name="Office">
        <xsd:sequence>
            <xsd:element name="BuildingID" type="BuildingID" minOccurs="0"/>
            <xsd:element name="FloorID" type="FloorID" minOccurs="0"/>
            <xsd:element name="RoomID" type="RoomID" minOccurs="0"/>
            <xsd:element name="InhouseMailID" type="InhouseMailID" minOccurs="0"/>
            <xsd:element name="CorrespondenceShortName" type="LANGUAGEINDEPENDENT_SHORT_Name"
                minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
