XSPEC_HOME/Buyer/schemas/s4/SCHEMA_AddOn_0000_MerchandiseCategory^ARBCIGR_WMERCAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="ARBCIGR_WMERCAT">
  <xsd:annotation>
   <xsd:documentation>Merchandise Category and associated data IDoc</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc control record for the interface to the external system</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
           <xsd:annotation>
            <xsd:documentation>Name of Table Structure</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Client</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>IDoc number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>SAP Release for IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Status of IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Direction</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Outbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Inbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Output mode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Overriding in inbound processing</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Test flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="ARBCIGR_WMERCAT">
           <xsd:annotation>
            <xsd:documentation>Name of basic type</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
           <xsd:annotation>
            <xsd:documentation>Extension (defined by customer)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESTYP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message Function</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, version and release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Sender port (SAP System, external subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partner type of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Function of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Sender address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Receiver port</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Type of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner function of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Recipient address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created On</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created at</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Key for external message archive</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Serialization</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1ARBCIG_MSG_HDR" minOccurs="0">
        <xsd:annotation>
         <xsd:documentation>Message Header</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="EXTERNAL_SID" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>ABAP: Selection Value (LOW or HIGH Value, External Format)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="45"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1MC_HDR">
        <xsd:annotation>
         <xsd:documentation>Merchandise category segment</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="FUNCTION" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Function</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MERCH_CATEG" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Material Group</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="18"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DEPARTMENT_NO" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Department number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIVISION" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Division</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RESET_FLAG" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Reset flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="E1ARBCIG_HDREXTN" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Ariba Idoc Header Extension</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="OBJNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Object Name in Object Directory</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJKEY" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Object key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FIELDNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Field Name</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="FIELDVALUE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Field value</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="132"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1MC_TEXT" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Merchandise Category description segment</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="FUNCTION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Function</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="LANGU" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Language Key</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="LANGU_ISO" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MC_DESCR_SHORT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Material Group Description</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="MC_DESCR_LONG" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Description of the Material Group</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1ARBCIGR_REFM" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Merchandise Category Reference Material</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="REF_MATERIAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Material group reference material</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="WWSKZ" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Merchandize management system class type</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1MC_CABNM" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Characteristic (for MC) segment</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="FUNCTION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Function</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CHARACT_NAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Characteristic Name</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CHARACT_DTYPE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Data type of characteristic</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NB_CHARS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Number of Characters</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="NB_DEC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Number of Decimal Places</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CHARACT_GROUP" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Characteristics Group</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="ISOCODE_UNIT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="VALID_DATE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Valid-From Date</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CASE_SENSITIVE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Case Sensitive</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="E1ARBCIGR_KSMLM" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>Master Characteristic Relevence Indicator</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="RELEV" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Relevancy Indicator</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="E1CABTM" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>Master Characteristic Language-Dependent Name</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="MSGFN" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Function</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SPRAS" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Language Key</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ATBEZ" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic description</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ATUE1" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>First Line of Heading</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ATUE2" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Second line of heading</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DATUV" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Valid-From Date</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="AENNR" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Change Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="12"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LKENZ" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Deletion Indicator</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SPRAS_ISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="E1MC_CAWNM" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>Characteristic value (for MC) segment</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="FUNCTION" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Function</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="VALUE_ID" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Int counter</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CHAR_VALUE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic Value</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="FLT_VALUE_FROM" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Internal Floating Point From</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="22"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="FLT_VALUE_TO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Internal Floating Point Value To</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="22"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="VALUE_CODE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Code for value dependency</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LANGU" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Language Key</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LANGU_ISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="VALID_DATE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Valid-From Date</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CHAR_VALUE_LONG" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic Value</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="70"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="E1CAWTM" minOccurs="0" maxOccurs="unbounded">
                 <xsd:annotation>
                  <xsd:documentation>Master Characteristic Value Language-Dependent Name</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="MSGFN" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Function</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATNAM" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic Name</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATZHL" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Int counter</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SPRAS" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Language Key</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATWTB" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic Value Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="DATUV" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Valid-From Date</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="AENNR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Change Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="LKENZ" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Deletion Indicator</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SPRAS_ISO" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATWTB_LONG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic value description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="70"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1MC_CP" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Characteristic Profile segment</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="FUNCTION" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Function</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="CHARACT_PROFILE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Characteristic profile</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="E1SWORM" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>Master Class Keywords</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="MSGFN" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Function</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SPRAS" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Language Key</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="KLPOS" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Item Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="KSCHL" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Keywords</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="40"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SPRAS_ISO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="2"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="E1MC_CP_CABNM" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
               <xsd:documentation>Characteristic (for CP) segment</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="FUNCTION" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Function</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CHARACT_NAME" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic Name</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CHARACT_DTYPE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Data type of characteristic</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="4"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NB_CHARS" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Number of Characters</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="6"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="NB_DEC" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Number of Decimal Places</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="6"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CHARACT_GROUP" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Characteristics Group</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ISOCODE_UNIT" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>ISO code for unit of measurement</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="VALID_DATE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Valid-From Date</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="8"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CASE_SENSITIVE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Case Sensitive</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="E1MC_CP_CABTM" maxOccurs="unbounded">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic lang.-dep. name (for CP) segment</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="MSGFN" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Function</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SPRAS" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Language Key</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATBEZ" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATUE1" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>First Line of Heading</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ATUE2" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Second line of heading</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="DATUV" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Valid-From Date</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="AENNR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Change Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="12"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="LKENZ" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Deletion Indicator</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SPRAS_ISO" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
                <xsd:element name="E1MC_CP_CAWNM" minOccurs="0" maxOccurs="unbounded">
                 <xsd:annotation>
                  <xsd:documentation>Characteristic value (for CP) segment</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="FUNCTION" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Function</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="3"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="VALUE_ID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Int counter</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CHAR_VALUE" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic Value</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="FLT_VALUE_FROM" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Internal Floating Point From</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="22"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="FLT_VALUE_TO" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Internal Floating Point Value To</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="22"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="VALUE_CODE" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Code for value dependency</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="LANGU" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Language Key</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="LANGU_ISO" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="VALID_DATE" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Valid-From Date</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="8"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CHAR_VALUE_LONG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic Value</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="70"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="E1MC_CP_CAWTM" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                     <xsd:documentation>Characteristic value lang.-dep.name (for CP) segment</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                     <xsd:sequence>
                      <xsd:element name="MSGFN" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Function</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="3"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATNAM" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Characteristic Name</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="30"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATZHL" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Int counter</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="4"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SPRAS" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Language Key</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATWTB" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Characteristic Value Description</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="30"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="DATUV" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Valid-From Date</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="8"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="AENNR" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Change Number</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="12"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="LKENZ" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Deletion Indicator</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SPRAS_ISO" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>2-Character SAP Language Code</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="2"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ATWTB_LONG" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Characteristic value description</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="70"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                     </xsd:sequence>
                     <xsd:attribute name="SEGMENT" use="required">
                      <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="1"/>
                       </xsd:restriction>
                      </xsd:simpleType>
                     </xsd:attribute>
                    </xsd:complexType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1ARBCIGR_HIER" minOccurs="0" maxOccurs="unbounded">
           <xsd:annotation>
            <xsd:documentation>Hierarchy Segment</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="NAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Hierarchy Material</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="HIER_DESC" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Description of a hierarchy material</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="PARENT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Hierarchy Material</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1IDOCENHANCEMENT" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
         <xsd:documentation>Segment for Dynamic Enhancement of IDoc Types</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="IDENTIFIER" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Containers for Enhancement of IDoc Types</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DATA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Container for IDoc Enhancement</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="970"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
